Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-3069-add-missing-tests-for-header-and-action-grou
  branch/kby-3069-add-missing-tests-for-header-and-action-gro/404.html
  branch/kby-3069-add-missing-tests-for-header-and-action-gro/index.html
  branch/kby-3069-add-missing-tests-for-header-and-action-gro/main.650ebd264a79aea5.js
Due: prettier --write

Add swiper as peer dependency
  libs/designsystem/package.json
Due: prettier --write

Release: kby-2606-data-table-sorting
  branch/kby-2606-data-table-sorting/404.html
  branch/kby-2606-data-table-sorting/index.html
  branch/kby-2606-data-table-sorting/main.ef0ee156ff97b9a7.js
  branch/kby-2606-data-table-sorting/styles.51abff2c8aa5ae36.css
Due: prettier --write

Add swiper peer dependency (#3107)
  libs/designsystem/package.json
Due: prettier --write

adds temp example
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.html
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.ts
  libs/designsystem/data-table/src/table/table.component.scss
  libs/designsystem/src/lib/components/data-table/table-head/table-head.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

adds clickable headers to table
  libs/designsystem/data-table/src/data-table.module.ts
  libs/designsystem/data-table/src/public_api.ts
  libs/designsystem/data-table/src/table-row/table-row.component.ts
  libs/designsystem/data-table/src/table/table.component.scss
  libs/designsystem/data-table/src/table/table.component.ts
  libs/designsystem/src/lib/components/data-table/table-head/table-head.component.spec.ts
  libs/designsystem/src/lib/components/data-table/table-head/table-head.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

adds more mockData & hostbinding to text-alignment
  apps/cookbook/src/app/examples/data-table-example/examples/card.ts
  apps/cookbook/src/app/examples/data-table-example/table_example_data.ts
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.html
  libs/designsystem/data-table/src/table/table.component.scss
  libs/designsystem/src/lib/components/data-table/table-head/table-head.component.spec.ts
  libs/designsystem/src/lib/components/data-table/table-head/table-head.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

adds active state to headers
  apps/cookbook/src/app/examples/data-table-example/examples/card.ts
  apps/cookbook/src/app/examples/data-table-example/table_example_data.ts
  libs/designsystem/data-table/src/table/table.component.scss
  libs/designsystem/src/lib/components/data-table/table-head/table-head.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Move all table styles into global styling and add deprecation warnings for the table components
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_html-table.scss
  libs/designsystem/data-table/src/table-row/table-row.component.ts
  libs/designsystem/data-table/src/table/table.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add option for aligning the icon
  libs/designsystem/data-table/src/sortable/sortable.component.html
  libs/designsystem/data-table/src/sortable/sortable.component.spec.ts
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix

corrects showcase
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.html
Due: prettier --write

Create the sortable component
  libs/designsystem/data-table/src/data-table.module.ts
  libs/designsystem/data-table/src/sortable/sortable.component.html
  libs/designsystem/data-table/src/sortable/sortable.component.spec.ts
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix

Rename the table head component and move it to the data-table secondary entry
  apps/cookbook/src/app/examples/data-table-example/examples/card.ts
  libs/designsystem/data-table/src/data-table.module.ts
  libs/designsystem/data-table/src/sortable/sortable.component.spec.ts
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix

Update documentation
  apps/cookbook/src/app/examples/data-table-example/examples/card.ts
  apps/cookbook/src/app/examples/data-table-example/examples/default.ts
  apps/cookbook/src/app/examples/data-table-example/examples/sortable.ts
  apps/cookbook/src/app/examples/data-table-example/table-example.module.ts
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-api.ts
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.html
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix

Fix broken styling
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Scope the table components to prevent global styles
  libs/designsystem/data-table/src/table/table.component.scss
Due: prettier --write, stylelint --fix

Refactor styles
  libs/core/src/scss/base/_html-table.scss
  libs/designsystem/data-table/src/sortable/sortable.component.html
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix wrong import paths
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Add logic to only show the icon, when the header is active
  apps/cookbook/src/app/examples/data-table-example/examples/sortable.ts
  apps/cookbook/src/app/examples/data-table-example/table_example_data.ts
  libs/core/src/scss/base/_html-table.scss
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Use the new icons instead of placeholders
  libs/designsystem/data-table/src/sortable/sortable.component.html
  libs/designsystem/data-table/src/sortable/sortable.component.spec.ts
Due: prettier --write, eslint --fix

Write additional tests
  libs/designsystem/data-table/src/sortable/sortable.component.spec.ts
Due: prettier --write, eslint --fix

Add new arrow and calculator icons
  libs/designsystem/icon/src/icons/svg/arrow-down-fill.svg
  libs/designsystem/icon/src/icons/svg/arrow-up-fill.svg
  libs/designsystem/icon/src/icons/svg/calculator.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Prevent layout shift when the header text is bold
  libs/core/src/scss/base/_html-table.scss
  libs/designsystem/data-table/src/sortable/sortable.component.html
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove temp test code from the docs
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.ts
Due: prettier --write, eslint --fix

Add missing exports of table components
  libs/designsystem/data-table/src/public_api.ts
Due: prettier --write, eslint --fix

Change divider line color
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Change visibility to hidden
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Add convenience classes for aligning text content
  apps/cookbook/src/app/examples/data-table-example/examples/sortable.ts
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, eslint --fix, stylelint --fix

Update the API description
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-api.ts
Due: prettier --write, eslint --fix

Add comment to explain solution for layout shift
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Remove redundant example data
  apps/cookbook/src/app/examples/data-table-example/examples/card.ts
  apps/cookbook/src/app/examples/data-table-example/examples/default.ts
  apps/cookbook/src/app/examples/data-table-example/examples/sortable.ts
  apps/cookbook/src/app/examples/data-table-example/table_example_data.ts
Due: prettier --write, eslint --fix

Refactor the component template
  libs/core/src/scss/base/_html-table.scss
  libs/designsystem/data-table/src/sortable/sortable.component.html
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Update the documentation
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.html
Due: prettier --write

Rename CSS classes
  libs/core/src/scss/base/_html-table.scss
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Refactor naming of inputs and methods in the component
  libs/designsystem/data-table/src/sortable/sortable.component.ts
Due: prettier --write, eslint --fix

Update deprecation warnings
  libs/designsystem/data-table/src/table-row/table-row.component.ts
  libs/designsystem/data-table/src/table/table.component.ts
Due: prettier --write, eslint --fix

Remove all sortable styles from table.component.scss
  libs/designsystem/data-table/src/table/table.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
