Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Migraate exctension components
  libs/extensions/angular/combobox/src/combobox.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-item-list/menu-item-list.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-submenu-item/menu-submenu-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/sidebar-menu/sidebar-menu.component.scss
Due: prettier --write, stylelint --fix

Handle colors
  .stylelintrc
  tools/stylelint-plugin-design-tokens/index.mjs
Due: none

fixed focus transition for radio checkbox toggle
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/radio/src/radio.component.scss
  libs/designsystem/toggle/src/toggle.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/chunk-5NHQ4OJF.js
  branch/kby-3840-enhancement-focus-state/chunk-6HE2D7J5.js
  branch/kby-3840-enhancement-focus-state/chunk-7SHP6M3Y.js
  branch/kby-3840-enhancement-focus-state/chunk-BLFVCOXE.js
  branch/kby-3840-enhancement-focus-state/chunk-DZPRC6MR.js
  branch/kby-3840-enhancement-focus-state/chunk-HQUAN5C3.js
  branch/kby-3840-enhancement-focus-state/chunk-IMECNYUX.js
  branch/kby-3840-enhancement-focus-state/chunk-J6JBUZF7.js
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/main-FHMV575Q.js
  branch/kby-3840-enhancement-focus-state/main-I2JNJUKT.js
Due: prettier --write

fixed toggle click transition for background
  libs/designsystem/toggle/src/toggle.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/chunk-3R2DAYTS.js
  branch/kby-3840-enhancement-focus-state/chunk-65QIAMC7.js
  branch/kby-3840-enhancement-focus-state/chunk-AGLNMYTH.js
  branch/kby-3840-enhancement-focus-state/chunk-J6JBUZF7.js
  branch/kby-3840-enhancement-focus-state/chunk-MTO52U2I.js
  branch/kby-3840-enhancement-focus-state/chunk-O5GVY76F.js
  branch/kby-3840-enhancement-focus-state/chunk-RETKQKX6.js
  branch/kby-3840-enhancement-focus-state/chunk-ZNNCXCGN.js
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/main-7HIT2DXQ.js
  branch/kby-3840-enhancement-focus-state/main-I2JNJUKT.js
Due: prettier --write

null check in story-helpers
  libs/designsystem/.storybook/story-helpers.ts
Due: prettier --write, eslint --fix

added spacing around focussed component stories
  libs/designsystem/accordion/src/accordion-item.component.stories.ts
  libs/designsystem/button/src/button.component.stories.ts
  libs/designsystem/card/src/card.component.stories.ts
  libs/designsystem/checkbox/src/checkbox.component.stories.ts
  libs/designsystem/dropdown/src/dropdown.component.stories.ts
  libs/designsystem/form-field/src/form-field.component.stories.ts
  libs/designsystem/radio/src/radio-group/radio-group.component.stories.ts
  libs/designsystem/range/src/range.component.stories.ts
  libs/designsystem/segmented-control/src/segmented-control.component.stories.ts
  libs/designsystem/slide-button/src/slide-button.component.stories.ts
  libs/designsystem/tab-navigation/src/tab-navigation/tab-navigation.component.stories.ts
  libs/designsystem/toggle/src/toggle.component.stories.ts
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
Due: prettier --write, eslint --fix

WIP - icon font size needs to be added as css custom props
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/designsystem/avatar/src/avatar.component.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/calendar/src/calendar.component.scss
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/empty-state/src/empty-state.component.scss
  libs/designsystem/icon/src/icon.component.scss
  libs/designsystem/loading-overlay/src/loading-overlay.component.scss
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/radio/src/radio.component.scss
  libs/designsystem/toggle/src/toggle.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/sidebar-menu/sidebar-menu.component.scss
Due: prettier --write, stylelint --fix

focus ring on tab navigation
  libs/designsystem/tab-navigation/src/tab-navigation-item/tab-navigation-item.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/chunk-A3NJKA5L.js
  branch/kby-3840-enhancement-focus-state/chunk-CIII3U4Q.js
  branch/kby-3840-enhancement-focus-state/chunk-K5NSSDV5.js
  branch/kby-3840-enhancement-focus-state/chunk-KLEHHULU.js
  branch/kby-3840-enhancement-focus-state/chunk-MTO52U2I.js
  branch/kby-3840-enhancement-focus-state/chunk-QIELSDDL.js
  branch/kby-3840-enhancement-focus-state/chunk-TVKVJNI2.js
  branch/kby-3840-enhancement-focus-state/chunk-ZQCOFNEZ.js
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/main-7HIT2DXQ.js
  branch/kby-3840-enhancement-focus-state/main-IG27Y6AG.js
Due: prettier --write

Release: kby-3586-resize-text-accessibility-success-criterion
  branch/kby-3586-resize-text-accessibility-success-criterion/404.html
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-4LGUE36W.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-57V4H44Y.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-6OLOA6M3.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-ECL5RRXO.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-HGEEJN34.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-HJQSMB35.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-L5HS2RKU.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-MACQ7CEF.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-PVP3TW67.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-PXW5HP2X.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-Q5CS5IGP.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-RM4CI3ZG.js
  branch/kby-3586-resize-text-accessibility-success-criterion/index.html
  branch/kby-3586-resize-text-accessibility-success-criterion/main-CFSSA22G.js
  branch/kby-3586-resize-text-accessibility-success-criterion/main-KCERLCKG.js
Due: prettier --write

updated focus ring color to follow design
  libs/core/src/scss/themes/_colors.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/chunk-A3NJKA5L.js
  branch/kby-3840-enhancement-focus-state/chunk-BK6GLI3B.js
  branch/kby-3840-enhancement-focus-state/chunk-D2ORKTDO.js
  branch/kby-3840-enhancement-focus-state/chunk-F5RBFAYB.js
  branch/kby-3840-enhancement-focus-state/chunk-LUMOCG6K.js
  branch/kby-3840-enhancement-focus-state/chunk-RHOTHUND.js
  branch/kby-3840-enhancement-focus-state/chunk-SDCCHF4N.js
  branch/kby-3840-enhancement-focus-state/chunk-VS3SKO7L.js
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/main-IG27Y6AG.js
  branch/kby-3840-enhancement-focus-state/main-MXUSNXZF.js
  branch/kby-3840-enhancement-focus-state/styles-7DL6CJ5Y.css
  branch/kby-3840-enhancement-focus-state/styles-PRQQHCX6.css
Due: prettier --write

replace #fff with kirby white
  libs/core/src/scss/base/_design-tokens.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/styles-PRQQHCX6.css
  branch/kby-3840-enhancement-focus-state/styles-UJX6FPUD.css
Due: prettier --write

added usage comments for each ring
  libs/core/src/scss/base/_design-tokens.scss
Due: prettier --write, stylelint --fix

reduced redundant dual selector to single selector
  libs/designsystem/range/src/range.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/chunk-4BBMOS57.js
  branch/kby-3840-enhancement-focus-state/chunk-5ZFYTXCJ.js
  branch/kby-3840-enhancement-focus-state/chunk-F5RBFAYB.js
  branch/kby-3840-enhancement-focus-state/chunk-NCYBFWSA.js
  branch/kby-3840-enhancement-focus-state/chunk-ORYHJOXW.js
  branch/kby-3840-enhancement-focus-state/chunk-QV57YJJN.js
  branch/kby-3840-enhancement-focus-state/chunk-WCHA3SOA.js
  branch/kby-3840-enhancement-focus-state/chunk-WITY4MA2.js
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/main-7UBA5ZCG.js
  branch/kby-3840-enhancement-focus-state/main-MXUSNXZF.js
Due: prettier --write

comment and removed unneeded border-radius in focus for checkbox
  libs/designsystem/checkbox/src/checkbox.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/chunk-ALONJR2J.js
  branch/kby-3840-enhancement-focus-state/chunk-CAWIHQPF.js
  branch/kby-3840-enhancement-focus-state/chunk-CZJYL5NU.js
  branch/kby-3840-enhancement-focus-state/chunk-NJ3V44OX.js
  branch/kby-3840-enhancement-focus-state/chunk-RKY7HR4B.js
  branch/kby-3840-enhancement-focus-state/chunk-RPXAPGU7.js
  branch/kby-3840-enhancement-focus-state/chunk-VAT4WSBP.js
  branch/kby-3840-enhancement-focus-state/chunk-WCHA3SOA.js
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/main-7UBA5ZCG.js
  branch/kby-3840-enhancement-focus-state/main-L674YYCP.js
Due: prettier --write

Item: support text resize layout for Android WebView
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.spec.ts
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.ts
Due: prettier --write, eslint --fix

Enhance combobox styling and update storybook configuration on FormField
  libs/extensions/angular/combobox/src/combobox.component.scss
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

linting
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

More fixing
  apps/cookbook/src/app/examples/card-example/examples/card-example-variant.scss
  libs/extensions/angular/combobox/src/combobox.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

fixed unit test by waiting for box-shadow transition to complete before expecting
  libs/designsystem/radio/src/radio.component.spec.ts
Due: prettier --write, eslint --fix

fixed focus ring for image banner and added focused story
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Page & Section Header: fix alignment in landscape with safe area left (#4523)
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/section-header/src/section-header.component.scss
Due: prettier --write, stylelint --fix

Item: support text resize layout for Android WebView (#4541)
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.spec.ts
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.ts
Due: prettier --write, eslint --fix

Release: kby-3586-resize-text-accessibility-success-criterion
  branch/kby-3586-resize-text-accessibility-success-criterion/404.html
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-4FWCFN75.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-AARXNCWY.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-D5ZLP45Z.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-LPLKQ3VQ.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-PVP3TW67.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-VEDAUWPX.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-WBI6HS3G.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-YXZB7LEJ.js
  branch/kby-3586-resize-text-accessibility-success-criterion/index.html
  branch/kby-3586-resize-text-accessibility-success-criterion/main-ABLRDRUX.js
  branch/kby-3586-resize-text-accessibility-success-criterion/main-KCERLCKG.js
Due: prettier --write

Item: border radius now set by context (#4449)
  libs/designsystem/.storybook/story-helpers.ts
  libs/designsystem/card/src/card-header/card-header.component.scss
  libs/designsystem/card/src/card.component.scss
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/item/src/item.component.stories.ts
  libs/designsystem/list/src/list.component.scss
  libs/designsystem/list/src/list.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
