Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

💡 Update comment
  libs/designsystem/src/lib/components/list/list.component.ts
Due: prettier --write, tslint --fix

📝 Update Modal showcase
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-popout.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.scss
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

fix: is touch device query (#1168)
  libs/designsystem/src/lib/components/list/list.component.ts
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark: Bumping version to 1.2.87
  package-lock.json
  package.json
Due: prettier --write

📦 Initialise modal routing
  libs/designsystem/src/lib/app-initialize.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

✅ Fix tests
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/alert.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

fix(modal-wrapper): document why backdrop is done in ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

fix(modal-wrapper): add check for ionModalElement
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

refactor(modal-wrapper): remove inline style of ion-content to scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

✅ Fix tests
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/alert.helper.spec.ts
Due: prettier --write, tslint --fix

:ok_hand: Changes from review
  apps/cookbook/src/app/app-routing.module.ts
Due: prettier --write, tslint --fix

constructor cleanup
  libs/designsystem/src/lib/components/icon/icon-registry.service.ts
Due: prettier --write, tslint --fix

Iconregistry only provide in root (#1167)
  libs/designsystem/src/lib/components/icon/icon-registry.service.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

:bookmark: Bumping version to 1.2.88
  package-lock.json
  package.json
Due: prettier --write

refactor(modal): add min-height of 300px
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

doc(modal): add drawer example with footer
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
Due: prettier --write, tslint --fix

fix(modal-wrapper): drawer with footer
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

refactor(modal-wrapper): adjust modal-wrapper after review
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

fix(modal-wrapper): if content is less than min-height and have a footer
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

💄 Fix stacked modal backdrops
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

✅ Fix tests
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

💄 ✨ Add ModalAnimationBuilderService
  libs/designsystem/src/lib/animation/kirby-animation.ts
  libs/designsystem/src/lib/components/modal/services/modal-animation-builder.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/scss/base/_variables.scss
Due: prettier --write, tslint --fix, stylelint --fix

🐛💄 Ensure backdrop opacity is consistent
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

🔇 Remove logs
  libs/designsystem/src/lib/components/modal/services/modal-animation-builder.service.ts
Due: prettier --write, tslint --fix

✅ 🔇 Remove logs
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

test(modal): fix specs
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

fix(modal-wrapper): failing spec
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

chore: update ionic
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: update ionic (#1172)
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

:bookmark: Bumping version to 1.2.89
  package-lock.json
  package.json
Due: prettier --write

added scrollToTop
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.html
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, tslint --fix

🔥 Remove appInitialize
  libs/designsystem/src/lib/app-initialize.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

♻️ Refactor ModalNavigationService
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
Due: prettier --write, tslint --fix

✅ Fix tests
  libs/designsystem/src/lib/components/modal/services/modal.controller.spec.ts
Due: prettier --write, tslint --fix

♻️ Replace modalRouteDeactivated$ with modalRouteDeactivatedFor
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

🐛 Fix modal activation
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

📝 Remove obsolete app routes
  apps/cookbook/src/app/app.routes.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

⚡️ Clean up modal outlet activation
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/modal-config.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix
