Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

removed useless async test
  libs/designsystem/src/lib/components/list/list.component.spec.ts
Due: prettier --write, tslint --fix

:sparkles: Make bg color accessible via themeColor prop
  libs/designsystem/src/lib/components/chip/chip.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:clown_face: Update segmented control mock
  libs/designsystem/testing-base/src/lib/components/mock.segmented-control.component.ts
Due: prettier --write, tslint --fix

test HG asdf hook
  .github/workflows/build.yml
  .tool-versions
Due: none

:memo: Add 'Theme Color' to Configuration fieldset
  apps/cookbook/src/app/examples/segmented-control-example/default/default.scss
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
Due: prettier --write, tslint --fix, stylelint --fix

Use correct nodeversion everywhere in CI
  .github/workflows/build.yml
Due: none

:memo: Add 'themeColor' to properties table
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
Due: prettier --write, tslint --fix

node version in publish
  .github/workflows/publish.yml
Due: none

:white_check_mark: Add test checking if 'transparent' class is set
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

:fire: Remove accidentally left in 'fdescribe'
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, tslint --fix

removed premature tool-versions
  .tool-versions
Due: none

:recycle: Group input properties together
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

:clown_face: Update mock
  libs/designsystem/testing-base/src/lib/components/mock.segmented-control.component.ts
Due: prettier --write, tslint --fix

:memo: Change example chips to say 'chip-{id}' again
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
Due: prettier --write, tslint --fix

✅ Improve readability of tests
  libs/designsystem/src/lib/components/progress-circle/progress-circle-ring.component.spec.ts
Due: prettier --write, tslint --fix

fixes
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
  libs/designsystem/src/lib/components/chart/chart-helper.ts
  libs/designsystem/src/lib/components/chart/chart.component.ts
  libs/designsystem/src/lib/components/chart/options/timeseries.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/form-field/form-field-message/form-field-message.component.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.ts
  libs/designsystem/src/lib/components/icon/icon.component.ts
  libs/designsystem/src/lib/components/list/helpers/list-helper.ts
  libs/designsystem/src/lib/components/list/list.component.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.ts
  libs/designsystem/src/lib/components/modal/services/alert.helper.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/shared/resize-observer/types/resize-observer.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
  libs/designsystem/src/lib/components/stock-chart/options/stock-chart-options.ts
  libs/designsystem/src/lib/components/stock-chart/stock-chart.component.ts
  libs/designsystem/src/lib/helpers/color-helper.ts
  libs/designsystem/src/lib/helpers/deep-merge.ts
  tsconfig.base.json
Due: prettier --write, tslint --fix

Update mock.chart.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.chart.component.ts
Due: prettier --write, tslint --fix

fixes after review
  .tool-versions
  libs/designsystem/src/lib/components/list/list.component.html
  libs/designsystem/src/lib/components/list/list.component.spec.ts
  libs/designsystem/src/lib/components/list/list.component.ts
Due: prettier --write, tslint --fix

fixed null check
  libs/designsystem/src/lib/components/list/list.component.ts
Due: prettier --write, tslint --fix

:recycle: Change how 'chip-mode' class is set
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

:recycle: Rename 'default' class to 'default-mode'
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.segmented-control.component.ts
Due: prettier --write, tslint --fix

:sparkles: Add 'compactChip' as possible mode
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

:clown_face: Add 'compactChip' as possible mode to mock
  libs/designsystem/testing-base/src/lib/components/mock.segmented-control.component.ts
Due: prettier --write, tslint --fix

:memo: Add 'compactChip' to configuration
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
Due: prettier --write, tslint --fix

:recycle: Use 'Mode' enum instead of union type for mode
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

:clown_face: Add 'Mode' enum to mock
  libs/designsystem/testing-base/src/lib/components/mock.segmented-control.component.ts
Due: prettier --write, tslint --fix

:white_check_mark: Have test used 'Mode' enum to set chip mode
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

:lipstick: Add styling for 'compactChip'-mode
  libs/designsystem/src/lib/components/chip/chip.component.scss
Due: prettier --write, stylelint --fix

Revert "Update mock.chart.component.ts"
  libs/designsystem/testing-base/src/lib/components/mock.chart.component.ts
Due: prettier --write, tslint --fix

Revert "fixes"
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
  libs/designsystem/src/lib/components/chart/chart-helper.ts
  libs/designsystem/src/lib/components/chart/chart.component.ts
  libs/designsystem/src/lib/components/chart/options/timeseries.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/form-field/form-field-message/form-field-message.component.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.ts
  libs/designsystem/src/lib/components/icon/icon.component.ts
  libs/designsystem/src/lib/components/list/helpers/list-helper.ts
  libs/designsystem/src/lib/components/list/list.component.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.ts
  libs/designsystem/src/lib/components/modal/services/alert.helper.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/shared/resize-observer/types/resize-observer.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
  libs/designsystem/src/lib/components/stock-chart/options/stock-chart-options.ts
  libs/designsystem/src/lib/components/stock-chart/stock-chart.component.ts
  libs/designsystem/src/lib/helpers/color-helper.ts
  libs/designsystem/src/lib/helpers/deep-merge.ts
  tsconfig.base.json
Due: prettier --write, tslint --fix

removed unused params and imports
  apps/cookbook/src/app/changelog/changelog.component.ts
  apps/cookbook/src/app/examples/calendar-example/calendar-example.component.ts
  apps/cookbook/src/app/examples/divider-example/divider-example.component.ts
  apps/cookbook/src/app/examples/flag-example/flag-example.component.ts
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/radio-example/radio-example.component.ts
  apps/cookbook/src/app/examples/reorder-list-example/reorder-list-example.component.ts
  apps/cookbook/src/app/examples/slides-example/example-card-content.ts
  apps/cookbook/src/app/examples/stock-chart-example/stock-chart-example.component.ts
  apps/cookbook/src/app/examples/tabs-example/tab/tab-example.component.ts
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/showcase/showcase.component.ts
  libs/designsystem/src/lib/components/chart/chart-helper.ts
  libs/designsystem/src/lib/components/chart/chart.component.ts
  libs/designsystem/src/lib/components/chart/options/timeseries.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/form-field/form-field-message/form-field-message.component.ts
  libs/designsystem/src/lib/components/list/helpers/list-helper.ts
  libs/designsystem/src/lib/components/list/list.component.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
  libs/designsystem/src/lib/components/stock-chart/stock-chart.component.ts
  tools/sass-to-ts/sass-to-ts-webpack.plugin.ts
  tsconfig.base.json
Due: prettier --write, tslint --fix

:memo: Add 'compactChip to properties & update api desc
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
Due: prettier --write, tslint --fix

removed params and unused imports in tests
  libs/designsystem/src/lib/components/chart/chart.component.spec.ts
  libs/designsystem/src/lib/components/list/helpers/list-helper.spec.ts
  libs/designsystem/src/lib/components/list/list.component.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.spec.ts
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.spec.ts
  libs/designsystem/src/lib/components/radio/radio.component.integration.spec.ts
  libs/designsystem/src/lib/components/slides/slides.component.spec.ts
  libs/designsystem/src/lib/testing/test-helper.ts
Due: prettier --write, tslint --fix

:white_check_mark: Add UTs for segmented control in 'compact chip'
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, tslint --fix

🔧 Add configuration for probot-stale
  .github/stale.yml
Due: none

:white_check_mark: Remove accidentally left in fdescribe and import
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, tslint --fix

Added config for stale issue bot (#1552)
  .github/stale.yml
Due: none

:white_check_mark: Add tests for Chip in Seg Ctrl in compact mode
  libs/designsystem/src/lib/components/chip/chip.component.integration.spec.ts
Due: prettier --write, tslint --fix

readded stencil deps
  .tool-versions
  package-lock.json
  package.json
Due: prettier --write

:bug: Add 'Mode" import to segmented control mock
  libs/designsystem/testing-base/src/lib/components/mock.segmented-control.component.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
