Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

💄 Use descriptive custom properties for fontsizes
  libs/designsystem/src/lib/scss/print/generic/_typography.scss
Due: prettier --write, stylelint --fix

♻️ Streamline components directory
  libs/designsystem/src/lib/scss/print/components/_app-containers.scss
  libs/designsystem/src/lib/scss/print/components/_index.scss
  libs/designsystem/src/lib/scss/print/components/_ion-content.scss
  libs/designsystem/src/lib/scss/print/components/_ion-header.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-page.scss
Due: prettier --write, stylelint --fix

🔥 Remove unused table styles
  libs/designsystem/src/lib/scss/print/elements/_index.scss
  libs/designsystem/src/lib/scss/print/elements/_table.scss
Due: prettier --write, stylelint --fix

♻️ 🔥 Clean up utilities
  libs/designsystem/src/lib/scss/print/utilities/_index.scss
  libs/designsystem/src/lib/scss/print/utilities/_ion-page-hidden.scss
Due: prettier --write, stylelint --fix

🚚 Rename ion-tabbar to ion-tab-bar
  libs/designsystem/src/lib/scss/print/components/_index.scss
  libs/designsystem/src/lib/scss/print/components/_ion-tab-bar.scss
Due: prettier --write, stylelint --fix

🔥 Do not include print styles in global-styles
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

🚚 Rename virtual-scroll to kirby-list
  libs/designsystem/src/lib/scss/print/components/_index.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-list.scss
Due: prettier --write, stylelint --fix

:memo: Add documentation for annotations functionality
  apps/cookbook/src/app/examples/chart-wip-example/chart-wip-example.module.ts
  apps/cookbook/src/app/examples/chart-wip-example/examples/chart-wip-example-annotations.component.ts
  apps/cookbook/src/app/showcase/chart-wip-showcase/chart-wip-showcase.component.html
Due: prettier --write, tslint --fix

🚚 Move app-containers from components to objects
  libs/designsystem/src/lib/scss/print/_index.scss
  libs/designsystem/src/lib/scss/print/components/_index.scss
  libs/designsystem/src/lib/scss/print/objects/_app-containers.scss
  libs/designsystem/src/lib/scss/print/objects/_index.scss
Due: prettier --write, stylelint --fix

Exempt bugs from being marked stale
  .github/stale.yml
Due: none

Exempt bugs from being marked stale (#1672)
  .github/stale.yml
Due: none

♻️ Streamline components directory
  libs/designsystem/src/lib/scss/print/_index.scss
  libs/designsystem/src/lib/scss/print/components/_index.scss
  libs/designsystem/src/lib/scss/print/components/_ion-content.scss
  libs/designsystem/src/lib/scss/print/components/_ion-header.scss
  libs/designsystem/src/lib/scss/print/components/_ion-tab-bar.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-app.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-list.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-modal-wrapper.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-page.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-router-outlet.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-tab-bar.scss
  libs/designsystem/src/lib/scss/print/objects/_app-containers.scss
  libs/designsystem/src/lib/scss/print/objects/_index.scss
  libs/designsystem/src/lib/scss/print/utilities/_index.scss
  libs/designsystem/src/lib/scss/print/utilities/_ion-page-hidden.scss
Due: prettier --write, stylelint --fix

💡🔥 Update comments and do minor cleanup
  libs/designsystem/src/lib/scss/print/generic/_colors.scss
  libs/designsystem/src/lib/scss/print/generic/_index.scss
  libs/designsystem/src/lib/scss/print/generic/_reset.scss
  libs/designsystem/src/lib/scss/print/generic/_typography.scss
Due: prettier --write, stylelint --fix

:recycle: Cast existing annotations in a separate function
  libs/designsystem/src/lib/components/chart-wip/chart-js/chart-js.service.ts
Due: prettier --write, tslint --fix

:memo: Add annotations to API description
  apps/cookbook/src/app/showcase/chart-wip-showcase/chart-wip-showcase.component.ts
Due: prettier --write, tslint --fix

🔥 Delete redundant file
  libs/designsystem/src/lib/scss/print/components/_ion-item.scss
Due: prettier --write, stylelint --fix

:memo: Update column example to have more bars
  apps/cookbook/src/app/examples/chart-wip-example/examples/chart-wip-example-column-chart.component.ts
  apps/cookbook/src/app/showcase/chart-wip-showcase/chart-wip-showcase.component.html
Due: prettier --write, tslint --fix

🎨 Format markdown
  readme.md
Due: prettier --write

📝 Add print stylesheet instructions to README
  readme.md
Due: prettier --write

Update readme.md
  readme.md
Due: prettier --write

♻️ Prefix CSS custom properties with 'kirby'
  libs/designsystem/src/lib/scss/print/generic/_typography.scss
Due: prettier --write, stylelint --fix

Added print styles (#1667)
  libs/designsystem/src/lib/scss/print/_index.scss
  libs/designsystem/src/lib/scss/print/components/_index.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-app.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-fab-sheet.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-list.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-modal-wrapper.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-page.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-router-outlet.scss
  libs/designsystem/src/lib/scss/print/components/_kirby-tab-bar.scss
  libs/designsystem/src/lib/scss/print/elements/_button.scss
  libs/designsystem/src/lib/scss/print/elements/_index.scss
  libs/designsystem/src/lib/scss/print/elements/_page.scss
  libs/designsystem/src/lib/scss/print/elements/_preformatted-text.scss
  libs/designsystem/src/lib/scss/print/generic/_colors.scss
  libs/designsystem/src/lib/scss/print/generic/_index.scss
  libs/designsystem/src/lib/scss/print/generic/_page.scss
  libs/designsystem/src/lib/scss/print/generic/_reset.scss
  libs/designsystem/src/lib/scss/print/generic/_typography.scss
  readme.md
Due: prettier --write, stylelint --fix

:bookmark:Bumping version to 2.0.15
  package-lock.json
  package.json
Due: prettier --write

:lipstick: Set barPercentage for bar & column charts
  libs/designsystem/src/lib/components/chart-wip/chart-wip.configs.ts
Due: prettier --write, tslint --fix

🎉 Do boilerplate work for GridLayoutExampleComponent
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🔨 Handle barrel file type assertions during mock generation
  tools/generate-mocks/generate-mocks.ts
Due: prettier --write, tslint --fix

🚧 Add markup and styles from PoC in Codepen
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Use kirby-card components in example
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.scss
Due: prettier --write, stylelint --fix

♻️ Rename layout context helpers and restructure
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.scss
Due: prettier --write, stylelint --fix

🚧 Add safe-area layout context helper
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.scss
Due: prettier --write, stylelint --fix

🚧 Rearrange example layout
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.scss
Due: prettier --write, stylelint --fix

:lipstick: Add sensible defaults for box & ellipse annotations
  libs/designsystem/src/lib/components/chart-wip/chart-wip.configs.ts
Due: prettier --write, tslint --fix

:memo: Update example to exclude point & different drawtime
  apps/cookbook/src/app/examples/chart-wip-example/examples/chart-wip-example-annotations.component.ts
  apps/cookbook/src/app/showcase/chart-wip-showcase/chart-wip-showcase.component.html
Due: prettier --write, tslint --fix

🚧 Prepare for demonstration
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.scss
Due: prettier --write, stylelint --fix

🚚 Rename to grid-layout-extended
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.component.ts
  apps/cookbook/src/app/examples/grid-layout-extended-example/grid-layout-extended-example.component.html
  apps/cookbook/src/app/examples/grid-layout-extended-example/grid-layout-extended-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-extended-example/grid-layout-extended-example.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Disable debug color bonanza
  apps/cookbook/src/app/examples/grid-layout-extended-example/grid-layout-extended-example.component.html
Due: prettier --write

♻️ Restructure grid layout examples (core + extended)
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🔥 Clean up core example
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.scss
Due: prettier --write, stylelint --fix

:memo: Add note regarding point annotation bug
  apps/cookbook/src/app/showcase/chart-wip-showcase/chart-wip-showcase.component.html
Due: prettier --write
