Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

test: fix failing tests
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix

docs: improve tabs examples
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/page-example/fixed-footer-tabs/fixed-footer-tabs-example.component.ts
  apps/cookbook/src/app/examples/tabs-example/tab/tab-example-menu.component.ts
  apps/cookbook/src/app/examples/tabs-example/tab/tab-example.component.ts
  apps/cookbook/src/app/examples/tabs-example/tabs-example.component.html
  apps/cookbook/src/app/examples/tabs-example/tabs-example.component.ts
Due: prettier --write, eslint --fix

fix: add missing change detection
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

test: add tests for icon
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix

test: remove unused import
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix

test: fix failing tests (modal open after test)
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix

ci: fix failing tests
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
  libs/designsystem/tabs/src/tabs.component.spec.ts
Due: prettier --write, eslint --fix

test: typo (flip condition)
  libs/designsystem/tabs/src/tabs.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3086-tabs-navigation-layout
  branch/kby-3086-tabs-navigation-layout/1648.6842256ffdef4579.js
  branch/kby-3086-tabs-navigation-layout/404.html
  branch/kby-3086-tabs-navigation-layout/5565.095eaa8940b1efb4.js
  branch/kby-3086-tabs-navigation-layout/index.html
  branch/kby-3086-tabs-navigation-layout/main.dbdc218f9b61a475.js
  branch/kby-3086-tabs-navigation-layout/runtime.e6d37f88a7ba9d6b.js
Due: prettier --write

Update tabs navigation layout to new design spec (#3126)
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/page-example/fixed-footer-tabs/fixed-footer-tabs-example.component.ts
  apps/cookbook/src/app/examples/tabs-example/tab/tab-example-menu.component.ts
  apps/cookbook/src/app/examples/tabs-example/tab/tab-example.component.ts
  apps/cookbook/src/app/examples/tabs-example/tabs-example.component.html
  apps/cookbook/src/app/examples/tabs-example/tabs-example.component.ts
  libs/designsystem/icon/src/icons/svg/menu-no-decoration.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/tabs/src/tab-button/tab-button.component.html
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
  libs/designsystem/tabs/src/tabs.component.scss
  libs/designsystem/tabs/src/tabs.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-2901-animation-on-disclosure-icon
  branch/kby-2901-animation-on-disclosure-icon/1648.6842256ffdef4579.js
  branch/kby-2901-animation-on-disclosure-icon/404.html
  branch/kby-2901-animation-on-disclosure-icon/5565.095eaa8940b1efb4.js
  branch/kby-2901-animation-on-disclosure-icon/assets/kirby/icons/svg/menu-no-decoration.svg
  branch/kby-2901-animation-on-disclosure-icon/index.html
  branch/kby-2901-animation-on-disclosure-icon/main.5f619821199746a7.js
  branch/kby-2901-animation-on-disclosure-icon/runtime.e6d37f88a7ba9d6b.js
Due: prettier --write

fix: ensure correct spacing
  libs/designsystem/page/src/page.component.spec.ts
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Ensure correct spacing on page actions buttons (#3128)
  libs/designsystem/page/src/page.component.spec.ts
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

fix: remove obsolete Ionic shims (input, scroll)
  libs/designsystem/kirby-ionic-module/src/kirby-ionic.module.ts
Due: prettier --write, eslint --fix

revert: sass.math removal
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
Due: prettier --write, stylelint --fix

Remove obsolete Ionic shims (#3129)
  libs/designsystem/kirby-ionic-module/src/kirby-ionic.module.ts
Due: prettier --write, eslint --fix

Revert sass.math removal (#3131)
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
Due: prettier --write, stylelint --fix

Bump designsystem package version
  package-lock.json
  package.json
Due: prettier --write

Release v8.9.0 (#3134)
  package-lock.json
  package.json
Due: prettier --write

Fix wrong padding for small breakpoints on kirby-page
  libs/designsystem/page/src/page.component.scss
Due: prettier --write, stylelint --fix

Merge the two breakpoint maps
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/components/_grid.scss
Due: prettier --write, stylelint --fix

Update the breakpoints map and adjust the grid styles accordingly
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/components/_grid.scss
Due: prettier --write, stylelint --fix

Adjust breakpoints
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/components/_grid.scss
Due: prettier --write, stylelint --fix

Re-implement the xxlarge breakpoint
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Update the extra large breakpoint on the cookbook page
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.html
Due: prettier --write

Release: designsystem
  1648.6842256ffdef4579.js
  404.html
  5565.095eaa8940b1efb4.js
  assets/kirby/icons/svg/menu-no-decoration.svg
  index.html
  main.aaf1d480f7f2342b.js
  runtime.e6d37f88a7ba9d6b.js
Due: prettier --write

Refactor _grid.scss to use loops where applicable
  libs/core/src/scss/components/_grid.scss
Due: prettier --write, stylelint --fix

Update internal implementations to use xsmall instead of small
  apps/cookbook/src/app/examples/badge-example/badge-example.component.scss
  apps/cookbook/src/app/examples/button-example/button-example.component.scss
  apps/cookbook/src/app/examples/dropdown-example/examples/dropdown-examples.shared.scss
  apps/cookbook/src/app/examples/list-no-shape-example/list-no-shape-example.component.scss
Due: prettier --write, stylelint --fix

Loop through the sizes inside the column-style mixin
  libs/core/src/scss/components/_grid.scss
Due: prettier --write, stylelint --fix

Release: kby-2998-grid-and-layout-margin-and-breakpoints
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/1648.6842256ffdef4579.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/3rdpartylicenses.txt
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/404.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/5565.2ab5f7dfa55871f7.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/assets/kirby/icons/svg/arrow-down-fill.svg
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/assets/kirby/icons/svg/arrow-up-fill.svg
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/assets/kirby/icons/svg/calculator.svg
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/assets/kirby/icons/svg/menu-no-decoration.svg
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/common.19d5dca630ff1397.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/index.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/main.4c97034f5e77767b.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/runtime.9599b9d9842c530f.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/styles.9efaec8600b6b44f.css
Due: prettier --write

Add functionality to rotate disclosure icon
  libs/designsystem/item/src/item.component.html
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/item/src/item.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
