Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-page-fix-max-width
  branch/kby-page-fix-max-width/404.html
  branch/kby-page-fix-max-width/index.html
  branch/kby-page-fix-max-width/main.b2dc5e93037e5967.js
Due: prettier --write

Insert linebreak for readability
  MIGRATION.md
Due: prettier --write

Clarify text
  MIGRATION.md
Due: prettier --write

Revert unrelated changes
  apps/cookbook/src/app/examples/menu-example/examples/portal.ts
  apps/cookbook/src/app/examples/menu-example/examples/portalConfig.ts
Due: prettier --write, eslint --fix

Update libs/designsystem/tab-navigation/src/tab-navigation/tab-navigation.component.scss
  libs/designsystem/tab-navigation/src/tab-navigation/tab-navigation.component.scss
Due: prettier --write, stylelint --fix

Update libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.scss
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.scss
Due: prettier --write, stylelint --fix

Update libs/designsystem/page/src/page-footer/page-footer.component.scss
  libs/designsystem/page/src/page-footer/page-footer.component.scss
Due: prettier --write, stylelint --fix

Make 'standard' the default maxWidth option for Page (#2979)
  MIGRATION.md
  apps/cookbook/src/app/examples/page-example/content-width/page-content-width-example.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
  libs/core/src/helpers/design-token-helper.ts
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/page/src/page-footer/page-footer.component.scss
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/page/src/page.component.spec.ts
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.scss
  libs/designsystem/tab-navigation/src/tab-navigation/tab-navigation.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add new icons
  libs/designsystem/icon/src/icons/svg/bs-logo.svg
  libs/designsystem/icon/src/icons/svg/company.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Release: kby-3193-clean-up-warning-logs-in-test-suites-regardi
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/404.html
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/index.html
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/main.b2dc5e93037e5967.js
Due: prettier --write

fix: kirby-header not allowing nested flag component
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add new icons to kirby (#3218)
  libs/designsystem/icon/src/icons/svg/bs-logo.svg
  libs/designsystem/icon/src/icons/svg/company.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Add IconModule as secondary entry
  libs/designsystem/card/src/card-as-button/card-as-button.directive.spec.ts
  libs/designsystem/checkbox/src/checkbox.component.integration.spec.ts
  libs/designsystem/modal/v2/src/wrapper/wrapper.component.spec.ts
Due: prettier --write, eslint --fix

docs: fix broken link
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

docs: fix broken link
  .github/ISSUE_TEMPLATE/component-request.md
Due: prettier --write

docs: fix broken link
  .github/ISSUE_TEMPLATE/enhancement-request.md
Due: prettier --write

Release: kby-3193-clean-up-warning-logs-in-test-suites-regardi
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/404.html
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/assets/kirby/icons/svg/bs-logo.svg
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/assets/kirby/icons/svg/company.svg
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/index.html
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/main.e44ac832fff110f0.js
Due: prettier --write

Add describe block to top level describe
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Github: fix broken links in issue templates (#3219)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/component-request.md
  .github/ISSUE_TEMPLATE/enhancement-request.md
Due: prettier --write

Release: kby-2991-smaller-checkboxes
  branch/kby-2991-smaller-checkboxes/404.html
  branch/kby-2991-smaller-checkboxes/assets/kirby/icons/svg/bs-logo.svg
  branch/kby-2991-smaller-checkboxes/assets/kirby/icons/svg/company.svg
  branch/kby-2991-smaller-checkboxes/index.html
  branch/kby-2991-smaller-checkboxes/main.c8ab0bdb3d0b0ff8.js
Due: prettier --write

Change description for checkbox sizes
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
Due: prettier --write

Release: kby-2991-smaller-checkboxes
  branch/kby-2991-smaller-checkboxes/404.html
  branch/kby-2991-smaller-checkboxes/index.html
  branch/kby-2991-smaller-checkboxes/main.5669858ada68fdc8.js
Due: prettier --write

Release: kby-1897-deprecate-icon-component-custom-name-input-p
  branch/kby-1897-deprecate-icon-component-custom-name-input/404.html
  branch/kby-1897-deprecate-icon-component-custom-name-input/5565.50e24f6d043a269a.js
  branch/kby-1897-deprecate-icon-component-custom-name-input/6514.92277db0c94041d3.js
  branch/kby-1897-deprecate-icon-component-custom-name-input/assets/kirby/icons/svg/adjust.svg
  branch/kby-1897-deprecate-icon-component-custom-name-input/assets/kirby/icons/svg/bs-logo.svg
  branch/kby-1897-deprecate-icon-component-custom-name-input/assets/kirby/icons/svg/company.svg
  branch/kby-1897-deprecate-icon-component-custom-name-input/common.1aaf12e050d9c061.js
  branch/kby-1897-deprecate-icon-component-custom-name-input/index.html
  branch/kby-1897-deprecate-icon-component-custom-name-input/main.b2372d4a9d35f9b9.js
  branch/kby-1897-deprecate-icon-component-custom-name-input/runtime.b705328b8d40764a.js
  branch/kby-1897-deprecate-icon-component-custom-name-input/styles.9efaec8600b6b44f.css
Due: prettier --write

Release: kby-2804-kirby-checkbox-does-not-trigger-changes-with
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/404.html
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/assets/kirby/icons/svg/bs-logo.svg
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/assets/kirby/icons/svg/company.svg
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/index.html
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/main.89003488c5078e8c.js
Due: prettier --write

fix: not being able to provide nested avatar to kirby-header
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove unused imports
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix

fix: failing test due to scss issue
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

Remove test
  libs/designsystem/slide/src/slides.component.spec.ts
Due: prettier --write, eslint --fix

Revert action sheet deprecation
  libs/designsystem/modal/src/modal/action-sheet/action-sheet.component.ts
Due: prettier --write, eslint --fix

Release: kby-announce-additional-deprecations-v9
  branch/kby-announce-additional-deprecations-v9/404.html
  branch/kby-announce-additional-deprecations-v9/assets/kirby/icons/svg/bs-logo.svg
  branch/kby-announce-additional-deprecations-v9/assets/kirby/icons/svg/company.svg
  branch/kby-announce-additional-deprecations-v9/index.html
  branch/kby-announce-additional-deprecations-v9/main.4ae5194650d48175.js
Due: prettier --write

Update libs/designsystem/checkbox/src/checkbox.component.spec.ts
  libs/designsystem/checkbox/src/checkbox.component.spec.ts
Due: prettier --write, eslint --fix

Update libs/designsystem/checkbox/src/checkbox.component.ts
  libs/designsystem/checkbox/src/checkbox.component.ts
Due: prettier --write, eslint --fix

Slides: remove selectedSlide event emitter (#3214)
  MIGRATION.md
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/slide/src/slides.component.spec.ts
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
