Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-4539-combobox-grouping
  branch/kby-4539-combobox-grouping/404.html
  branch/kby-4539-combobox-grouping/chunk-2EXUGBTZ.js
  branch/kby-4539-combobox-grouping/chunk-CXT7QJMX.js
  branch/kby-4539-combobox-grouping/chunk-LBWVP4OP.js
  branch/kby-4539-combobox-grouping/chunk-LUXU4P6P.js
  branch/kby-4539-combobox-grouping/chunk-M6RLMODZ.js
  branch/kby-4539-combobox-grouping/chunk-T3HZUGEM.js
  branch/kby-4539-combobox-grouping/chunk-TNEP7M33.js
  branch/kby-4539-combobox-grouping/chunk-VSDTORTV.js
  branch/kby-4539-combobox-grouping/chunk-YNY4RHJE.js
  branch/kby-4539-combobox-grouping/index.html
  branch/kby-4539-combobox-grouping/main-6NL5BS5X.js
  branch/kby-4539-combobox-grouping/main-GB457EL6.js
  branch/kby-4539-combobox-grouping/styles-BMCZ4J7O.css
  branch/kby-4539-combobox-grouping/styles-OKQGG4AM.css
Due: prettier --write

handle new focus styles
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

fixed tests
  libs/extensions/angular/combobox/src/combobox.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-4507-custom-menu-content-in-sidebar-component
  branch/kby-4507-custom-menu-content-in-sidebar-component/404.html
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-2EXUGBTZ.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-CXT7QJMX.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-LBWVP4OP.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-LUXU4P6P.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-M6RLMODZ.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-T3HZUGEM.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-TNEP7M33.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-VSDTORTV.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-YNY4RHJE.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/index.html
  branch/kby-4507-custom-menu-content-in-sidebar-component/main-6NL5BS5X.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/main-GB457EL6.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/styles-BMCZ4J7O.css
  branch/kby-4507-custom-menu-content-in-sidebar-component/styles-OKQGG4AM.css
Due: prettier --write

fix: remove fixed itemSize binding from combobox virtual scroll viewport
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/discovery/.gitkeep
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/research/.gitkeep
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/roadmap.md
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/slices/.gitkeep
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/slices/01-remove-fixed-itemsize-binding.md
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

Revert "fix: remove fixed itemSize binding from combobox virtual scroll viewport"
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/discovery/.gitkeep
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/research/.gitkeep
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/roadmap.md
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/slices/.gitkeep
  .github/copilot/tasks/fix-combobox-virtual-scroll-grouping/slices/01-remove-fixed-itemsize-binding.md
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

fixed header
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.scss
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

fixed headers
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.ts
Due: prettier --write, eslint --fix

updated documentation text
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-4511-fit-content-to-card-size
  branch/kby-4511-fit-content-to-card-size/404.html
  branch/kby-4511-fit-content-to-card-size/chunk-2EXUGBTZ.js
  branch/kby-4511-fit-content-to-card-size/chunk-CXT7QJMX.js
  branch/kby-4511-fit-content-to-card-size/chunk-KZOR3RDQ.js
  branch/kby-4511-fit-content-to-card-size/chunk-LBWVP4OP.js
  branch/kby-4511-fit-content-to-card-size/chunk-LUXU4P6P.js
  branch/kby-4511-fit-content-to-card-size/chunk-M6RLMODZ.js
  branch/kby-4511-fit-content-to-card-size/chunk-UM7NJMQ4.js
  branch/kby-4511-fit-content-to-card-size/chunk-VSDTORTV.js
  branch/kby-4511-fit-content-to-card-size/chunk-YNY4RHJE.js
  branch/kby-4511-fit-content-to-card-size/index.html
  branch/kby-4511-fit-content-to-card-size/main-6NL5BS5X.js
  branch/kby-4511-fit-content-to-card-size/main-Z3YKTBVA.js
Due: prettier --write

add safe-area inset for modal drawer and action sheet
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal/action-sheet/action-sheet.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Sidebar: allow custom loading menu content in sidebar component (#4508)
  libs/extensions/angular/sidebar-menu/src/components/sidebar-container/index.ts
  libs/extensions/angular/sidebar-menu/src/components/sidebar-container/sidebar-container.component.html
  libs/extensions/angular/sidebar-menu/src/components/sidebar-container/sidebar-container.component.scss
  libs/extensions/angular/sidebar-menu/src/components/sidebar-container/sidebar-container.component.ts
  libs/extensions/angular/sidebar-menu/src/index.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-menu-loader/index.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-menu-loader/sidebar-menu-loader.component.html
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-menu-loader/sidebar-menu-loader.component.scss
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-menu-loader/sidebar-menu-loader.component.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-menu/index.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-menu/sidebar-menu.component.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Better divider color for "none shape" lists in outlined cards
  libs/designsystem/list/src/list.component.scss
Due: prettier --write, stylelint --fix

Add test
  libs/designsystem/list/src/list.component.integration.spec.ts
Due: prettier --write, eslint --fix

wrap subtitles
  apps/cookbook/src/app/examples/header-example/examples/default.ts
  libs/designsystem/header/src/header.component.spec.ts
Due: prettier --write, eslint --fix

adjust template
  apps/cookbook/src/app/examples/header-example/examples/default.ts
Due: prettier --write, eslint --fix

Release: kby-4535-bug-header-subtitles-are-truncated-on-200-zo
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/404.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-5CJUEUVP.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-6245BUDL.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-6HQD4QNC.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-6KCWQBEV.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-FR65XNUQ.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-IF5AIUIK.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-K7JBH6QS.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-OZZR542M.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-SUBZNABU.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/index.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-2BEFIMUB.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-GEUYGKOZ.js
Due: prettier --write

Release: kby-4535-bug-header-subtitles-are-truncated-on-200-zo
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/404.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-3YEPGMYW.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-4L7OYYW3.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-GROYDHFK.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-M7WLQF26.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-OZZR542M.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/index.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-2BEFIMUB.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-SFE7XLWD.js
Due: prettier --write

Divider in shape="none" lists in outlined card (#4581)
  libs/designsystem/list/src/list.component.integration.spec.ts
  libs/designsystem/list/src/list.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-B3IJ3VZQ.js
  branch/kby-develop/chunk-B5UDABZQ.js
  branch/kby-develop/chunk-CXT7QJMX.js
  branch/kby-develop/chunk-HV656UUO.js
  branch/kby-develop/chunk-JK5R5HGO.js
  branch/kby-develop/chunk-PUGKDCM2.js
  branch/kby-develop/chunk-RW77UYOT.js
  branch/kby-develop/chunk-UMSL2SCG.js
  branch/kby-develop/index.html
  branch/kby-develop/main-6NL5BS5X.js
  branch/kby-develop/main-EPEV2TYJ.js
Due: prettier --write

Fix unhandled error on shutdown if modal is open or was recently closed
  libs/designsystem/modal/src/modal-navigation.service.ts
Due: prettier --write, eslint --fix

Modal: Prevent router subscription during Angular teardown (#4582)
  libs/designsystem/modal/src/modal-navigation.service.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-7YAQPOJD.js
  branch/kby-develop/chunk-B3IJ3VZQ.js
  branch/kby-develop/chunk-B5UDABZQ.js
  branch/kby-develop/chunk-H5P36PJD.js
  branch/kby-develop/chunk-HPGCIHJL.js
  branch/kby-develop/chunk-LO6LGB7O.js
  branch/kby-develop/chunk-STZFQ4RQ.js
  branch/kby-develop/chunk-WH2B4CNK.js
  branch/kby-develop/chunk-YMKJJAJ4.js
  branch/kby-develop/index.html
  branch/kby-develop/main-EPEV2TYJ.js
  branch/kby-develop/main-ZGHP3LMW.js
Due: prettier --write

Release: designsystem
  404.html
  chunk-7YAQPOJD.js
  chunk-H5P36PJD.js
  chunk-HPGCIHJL.js
  chunk-LO6LGB7O.js
  chunk-STZFQ4RQ.js
  chunk-T3HZUGEM.js
  chunk-TNEP7M33.js
  chunk-WH2B4CNK.js
  chunk-YMKJJAJ4.js
  index.html
  main-GB457EL6.js
  main-ZGHP3LMW.js
  styles-BMCZ4J7O.css
  styles-OKQGG4AM.css
Due: prettier --write

added migration guide for extensions containing v5.0.0
  libs/extensions/angular/MIGRATION.md
  libs/extensions/angular/README.md
Due: prettier --write

add max fontsize for kirby-text-xsmall
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  libs/designsystem/progress-circle/src/progress-circle.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

v5.0.0-extensions-angular
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write

Docs: added migration guide for extensions containing migration steps for sidebar (v5.0.0) (#4584)
  libs/extensions/angular/MIGRATION.md
  libs/extensions/angular/README.md
Due: prettier --write

Release: Extensions v5.0.0 (#4585)
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write
