Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Simplify segmented control color example component
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.component.html
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
Due: prettier --write, eslint --fix

Update segmented control interaction state design
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/form-field/src/input/input.component.scss
  libs/designsystem/shared/src/theme-color/theme-color.directive.integration.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Default state tweaks
  apps/cookbook/src/app/examples/form-field-example/examples/input/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
Due: prettier --write, eslint --fix

Add segmented control color example
  apps/cookbook/src/app/examples/segmented-control-example/color/color.scss
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.module.ts
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove unnecessary default values.
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Fix breaking build by removing wrong function call
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
Due: prettier --write, eslint --fix

Update designtokens name and use across theme-enabled components
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/form-field/src/input/input.component.scss
  libs/designsystem/shared/src/theme-color/theme-color.directive.integration.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add form field color example
  apps/cookbook/src/app/examples/form-field-example/examples/input/color.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.scss
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write, eslint --fix, stylelint --fix

Add new theme css custom props and use in seg ctrl
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Tweaks for interaction states
  libs/core/src/scss/themes/_component-themes.scss
Due: prettier --write, stylelint --fix

fixed import errors
  apps/cookbook/src/app/examples/charts-example/examples/chart-example-column-stacked.component.ts
  apps/cookbook/src/app/examples/charts-example/examples/chart-example-interaction.component.ts
  libs/designsystem/chart/src/chart/chart.component.spec.ts
  libs/designsystem/chart/src/chart/chart.component.ts
  libs/designsystem/chart/src/chart/index.ts
  libs/designsystem/chart/src/charts.module.ts
  libs/designsystem/chart/src/public_api.ts
  libs/designsystem/chart/src/shared/chart-js-service/chart-js.service.spec.ts
  package.json
Due: prettier --write, eslint --fix

Release: kby-2620-add-theming-segmented-control-form-field
  branch/kby-2620-add-theming-segmented-control-form-field/404.html
  branch/kby-2620-add-theming-segmented-control-form-field/537.62b2c20f0aed1ba3.js
  branch/kby-2620-add-theming-segmented-control-form-field/common.953cb2252a31abb8.js
  branch/kby-2620-add-theming-segmented-control-form-field/index.html
  branch/kby-2620-add-theming-segmented-control-form-field/main.80e0dc92acb1b09f.js
  branch/kby-2620-add-theming-segmented-control-form-field/runtime.89608a03a5dba43a.js
Due: prettier --write

self review
  apps/cookbook/tsconfig.json
  libs/designsystem/chart/src/public_api.ts
  libs/designsystem/src/lib/index.ts
Due: prettier --write, eslint --fix

Only apply box shadow for att. lvl. 3
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Allow box shadow on no decoration button
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

verified
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/fab-sheet/index.ts
  libs/designsystem/fab-sheet/ng-package.json
  libs/designsystem/fab-sheet/src/fab-sheet.component.html
  libs/designsystem/fab-sheet/src/fab-sheet.component.scss
  libs/designsystem/fab-sheet/src/fab-sheet.component.spec.ts
  libs/designsystem/fab-sheet/src/fab-sheet.component.ts
  libs/designsystem/fab-sheet/src/index.ts
  libs/designsystem/fab-sheet/src/public_api.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

verified
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/helpers/scss/index.ts
  libs/designsystem/helpers/scss/ng-package.json
  libs/designsystem/helpers/scss/src/index.ts
  libs/designsystem/helpers/scss/src/link.spec.ts
  libs/designsystem/helpers/scss/src/public_api.ts
  libs/designsystem/helpers/scss/src/scss-helper.ts
  libs/designsystem/helpers/scss/src/typography.spec.ts
  libs/designsystem/src/lib/components/grid/grid.component.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix

fab-sheet as secondary entry (#2841)
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/fab-sheet/index.ts
  libs/designsystem/fab-sheet/ng-package.json
  libs/designsystem/fab-sheet/src/fab-sheet.component.html
  libs/designsystem/fab-sheet/src/fab-sheet.component.scss
  libs/designsystem/fab-sheet/src/fab-sheet.component.spec.ts
  libs/designsystem/fab-sheet/src/fab-sheet.component.ts
  libs/designsystem/fab-sheet/src/index.ts
  libs/designsystem/fab-sheet/src/public_api.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-scss-helper-as-secondary-entry
  branch/kby-scss-helper-as-secondary-entry/404.html
  branch/kby-scss-helper-as-secondary-entry/537.bc93bc32987ee4ba.js
  branch/kby-scss-helper-as-secondary-entry/index.html
  branch/kby-scss-helper-as-secondary-entry/main.40717dc568c15f61.js
  branch/kby-scss-helper-as-secondary-entry/runtime.61783f41d67598c2.js
Due: prettier --write

Remove polyfills that were accidentally reintroduced in #2707
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill-loader.min.js
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill.min.js
Due: none

ScssHelper as secondary entry (#2842)
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/helpers/scss/index.ts
  libs/designsystem/helpers/scss/ng-package.json
  libs/designsystem/helpers/scss/src/index.ts
  libs/designsystem/helpers/scss/src/link.spec.ts
  libs/designsystem/helpers/scss/src/public_api.ts
  libs/designsystem/helpers/scss/src/scss-helper.ts
  libs/designsystem/helpers/scss/src/typography.spec.ts
  libs/designsystem/src/lib/components/grid/grid.component.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix

verified
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/data-table/index.ts
  libs/designsystem/data-table/ng-package.json
  libs/designsystem/data-table/src/data-table.module.ts
  libs/designsystem/data-table/src/index.ts
  libs/designsystem/data-table/src/public_api.ts
  libs/designsystem/data-table/src/table-row/table-row.component.spec.ts
  libs/designsystem/data-table/src/table-row/table-row.component.ts
  libs/designsystem/data-table/src/table/table.component.scss
  libs/designsystem/data-table/src/table/table.component.spec.ts
  libs/designsystem/data-table/src/table/table.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.table.component.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

data-table as secondary entry (#2839)
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/data-table/index.ts
  libs/designsystem/data-table/ng-package.json
  libs/designsystem/data-table/src/data-table.module.ts
  libs/designsystem/data-table/src/index.ts
  libs/designsystem/data-table/src/public_api.ts
  libs/designsystem/data-table/src/table-row/table-row.component.spec.ts
  libs/designsystem/data-table/src/table-row/table-row.component.ts
  libs/designsystem/data-table/src/table/table.component.scss
  libs/designsystem/data-table/src/table/table.component.spec.ts
  libs/designsystem/data-table/src/table/table.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.table.component.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

moved
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/reorder-list/index.ts
  libs/designsystem/reorder-list/ng-package.json
  libs/designsystem/reorder-list/src/index.ts
  libs/designsystem/reorder-list/src/public_api.ts
  libs/designsystem/reorder-list/src/reorder-event.ts
  libs/designsystem/reorder-list/src/reorder-list.component.html
  libs/designsystem/reorder-list/src/reorder-list.component.scss
  libs/designsystem/reorder-list/src/reorder-list.component.spec.ts
  libs/designsystem/reorder-list/src/reorder-list.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

Remove reintroduced polyfills (#2845)
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill-loader.min.js
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill.min.js
Due: none

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
