Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Remove migrations json
  migrations.json
Due: prettier --write

Tooling: Kirby agent skill (#4671)
  skills/consumer/SKILL.md
  skills/consumer/references/styling.md
Due: prettier --write

Add new page story for slide integration testing
  libs/designsystem/page/src/page.component.stories.ts
Due: prettier --write, eslint --fix

Fix start/end margins and paddings
  libs/designsystem/slide/src/slides.component.scss
Due: prettier --write, stylelint --fix

Release: kby-bump-swiper-js-v-14
  branch/kby-bump-swiper-js-v-14/404.html
  branch/kby-bump-swiper-js-v-14/chunk-2BHWOGC7.js
  branch/kby-bump-swiper-js-v-14/chunk-GQUAWO53.js
  branch/kby-bump-swiper-js-v-14/chunk-H6E6GDKA.js
  branch/kby-bump-swiper-js-v-14/chunk-MIORQHQW.js
  branch/kby-bump-swiper-js-v-14/chunk-PXYEXREH.js
  branch/kby-bump-swiper-js-v-14/chunk-QNBOIQKQ.js
  branch/kby-bump-swiper-js-v-14/chunk-TIRQ7VVW.js
  branch/kby-bump-swiper-js-v-14/chunk-TS6PG3I2.js
  branch/kby-bump-swiper-js-v-14/index.html
  branch/kby-bump-swiper-js-v-14/main-S2TUSG4T.js
  branch/kby-bump-swiper-js-v-14/main-TIO5TDE6.js
Due: prettier --write

Remove pre push. Waste of time
  package.json
Due: prettier --write

Tooling: Remove pre push (#4675)
  package.json
Due: prettier --write

Release: kby-fast-uri-3-1-7
  branch/kby-fast-uri-3-1-7/404.html
  branch/kby-fast-uri-3-1-7/chunk-5EZR4G5Q.js
  branch/kby-fast-uri-3-1-7/chunk-DSGDZWH2.js
  branch/kby-fast-uri-3-1-7/chunk-EKFIUEVQ.js
  branch/kby-fast-uri-3-1-7/chunk-KHBGM6WJ.js
  branch/kby-fast-uri-3-1-7/chunk-KU6N23TE.js
  branch/kby-fast-uri-3-1-7/chunk-LYZUX3VS.js
  branch/kby-fast-uri-3-1-7/chunk-NI5TD5FP.js
  branch/kby-fast-uri-3-1-7/chunk-OOLNNHRR.js
  branch/kby-fast-uri-3-1-7/chunk-Y4X2TQ2O.js
  branch/kby-fast-uri-3-1-7/index.html
  branch/kby-fast-uri-3-1-7/main-TTPHGAZS.js
  branch/kby-fast-uri-3-1-7/main-XSLVVZ6I.js
Due: prettier --write

Release: kby-browserslist-4-28-8
  branch/kby-browserslist-4-28-8/404.html
  branch/kby-browserslist-4-28-8/chunk-5EZR4G5Q.js
  branch/kby-browserslist-4-28-8/chunk-DSGDZWH2.js
  branch/kby-browserslist-4-28-8/chunk-EKFIUEVQ.js
  branch/kby-browserslist-4-28-8/chunk-KHBGM6WJ.js
  branch/kby-browserslist-4-28-8/chunk-KU6N23TE.js
  branch/kby-browserslist-4-28-8/chunk-LYZUX3VS.js
  branch/kby-browserslist-4-28-8/chunk-NI5TD5FP.js
  branch/kby-browserslist-4-28-8/chunk-OOLNNHRR.js
  branch/kby-browserslist-4-28-8/chunk-Y4X2TQ2O.js
  branch/kby-browserslist-4-28-8/index.html
  branch/kby-browserslist-4-28-8/main-TTPHGAZS.js
  branch/kby-browserslist-4-28-8/main-XSLVVZ6I.js
Due: prettier --write

Slides: update swiperjs to v14 (#4638)
  libs/designsystem/package.json
  libs/designsystem/page/src/page.component.stories.ts
  libs/designsystem/slide/src/slides.component.scss
  libs/designsystem/slide/src/slides.component.spec.ts
  libs/designsystem/slide/src/slides.component.ts
  package-lock.json
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-2BHWOGC7.js
  branch/kby-develop/chunk-EKFIUEVQ.js
  branch/kby-develop/chunk-GQUAWO53.js
  branch/kby-develop/chunk-H6E6GDKA.js
  branch/kby-develop/chunk-NI5TD5FP.js
  branch/kby-develop/chunk-PXYEXREH.js
  branch/kby-develop/chunk-QNBOIQKQ.js
  branch/kby-develop/chunk-TIRQ7VVW.js
  branch/kby-develop/chunk-TS6PG3I2.js
  branch/kby-develop/index.html
  branch/kby-develop/main-TIO5TDE6.js
  branch/kby-develop/main-XSLVVZ6I.js
Due: prettier --write

Release: kby-fast-uri-3-1-7
  branch/kby-fast-uri-3-1-7/404.html
  branch/kby-fast-uri-3-1-7/chunk-2BHWOGC7.js
  branch/kby-fast-uri-3-1-7/chunk-EKFIUEVQ.js
  branch/kby-fast-uri-3-1-7/chunk-GQUAWO53.js
  branch/kby-fast-uri-3-1-7/chunk-H6E6GDKA.js
  branch/kby-fast-uri-3-1-7/chunk-NI5TD5FP.js
  branch/kby-fast-uri-3-1-7/chunk-PXYEXREH.js
  branch/kby-fast-uri-3-1-7/chunk-QNBOIQKQ.js
  branch/kby-fast-uri-3-1-7/chunk-TIRQ7VVW.js
  branch/kby-fast-uri-3-1-7/chunk-TS6PG3I2.js
  branch/kby-fast-uri-3-1-7/index.html
  branch/kby-fast-uri-3-1-7/main-TIO5TDE6.js
  branch/kby-fast-uri-3-1-7/main-XSLVVZ6I.js
Due: prettier --write

Release: kby-ionic-9
  branch/kby-ionic-9/404.html
  branch/kby-ionic-9/chunk-53TPB6ET.js
  branch/kby-ionic-9/chunk-5KHQU23F.js
  branch/kby-ionic-9/chunk-BZTT3NET.js
  branch/kby-ionic-9/chunk-CGB54QFS.js
  branch/kby-ionic-9/chunk-GGF3S5TO.js
  branch/kby-ionic-9/chunk-LIHTIOH6.js
  branch/kby-ionic-9/chunk-OQPP7LFQ.js
  branch/kby-ionic-9/chunk-U5MEZINV.js
  branch/kby-ionic-9/chunk-XJ3PIAPA.js
  branch/kby-ionic-9/index.html
  branch/kby-ionic-9/main-5XSRTKRI.js
  branch/kby-ionic-9/main-DX6TBZVT.js
Due: prettier --write

misspelling adjusted
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.html
Due: prettier --write

Release: kby-4556-bug-resize-zoom-bug-on-progress-circle-steps
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/404.html
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-2UCAE7XS.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-BMLB2ECC.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-BR5UYLY2.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-CQ4WJI56.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-DK62MAGX.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-DUTQJ7JD.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-IUWNFMV5.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-R3N5XOEI.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-ZBFYSRHN.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/index.html
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/main-7C7N7YAP.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/main-HB26JBWJ.js
Due: prettier --write

Progress circle: size sm grow to fit fontsize (#4583)
  apps/cookbook/src/app/examples/progress-circle-example/examples/avatar.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/card.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/default.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/progress-circle-examples.shared.scss
  apps/cookbook/src/app/examples/progress-circle-example/examples/sizes.ts
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.html
  libs/designsystem/progress-circle/src/progress-circle-ring.component.html
  libs/designsystem/progress-circle/src/progress-circle-ring.component.scss
  libs/designsystem/progress-circle/src/progress-circle-ring.component.spec.ts
  libs/designsystem/progress-circle/src/progress-circle-ring.component.ts
  libs/designsystem/progress-circle/src/progress-circle.component.html
  libs/designsystem/progress-circle/src/progress-circle.component.scss
  libs/designsystem/progress-circle/src/progress-circle.component.spec.ts
  libs/designsystem/progress-circle/src/progress-circle.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-2UCAE7XS.js
  branch/kby-develop/chunk-BMLB2ECC.js
  branch/kby-develop/chunk-BR5UYLY2.js
  branch/kby-develop/chunk-DK62MAGX.js
  branch/kby-develop/chunk-DUTQJ7JD.js
  branch/kby-develop/chunk-GQUAWO53.js
  branch/kby-develop/chunk-R3N5XOEI.js
  branch/kby-develop/chunk-TS6PG3I2.js
  branch/kby-develop/chunk-ZBFYSRHN.js
  branch/kby-develop/index.html
  branch/kby-develop/main-HB26JBWJ.js
  branch/kby-develop/main-TIO5TDE6.js
Due: prettier --write

Change to use npmjs registry
  package-lock.json
Due: prettier --write

Move export to angular
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Release: kby-ionic-9
  branch/kby-ionic-9/404.html
  branch/kby-ionic-9/chunk-5ANNANJR.js
  branch/kby-ionic-9/chunk-5VCRMQRJ.js
  branch/kby-ionic-9/chunk-AY3MODPY.js
  branch/kby-ionic-9/chunk-CGB54QFS.js
  branch/kby-ionic-9/chunk-GGF3S5TO.js
  branch/kby-ionic-9/chunk-MXZ6UUO3.js
  branch/kby-ionic-9/chunk-YSHVQLNZ.js
  branch/kby-ionic-9/chunk-Z2KMNKHU.js
  branch/kby-ionic-9/chunk-ZVKQ54UR.js
  branch/kby-ionic-9/index.html
  branch/kby-ionic-9/main-DX6TBZVT.js
  branch/kby-ionic-9/main-EKBNDZ6R.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
