Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

⚗️ Continue experiment with state layer
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💄 Fix icon positioning in buttons
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.html
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/button/button.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 separate hover styles from generic layer styles
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🔥 Do not use parenthesis with argument-less mixins
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🚧 separate button specific styles for content from generic layer styles
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💡 add todo comments
  libs/core/src/scss/interaction-state/_hover.scss
Due: prettier --write, stylelint --fix

🔥 Do not use parenthesis with argument-less mixins
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💡 Add comments
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🔥 Clean up
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

♻️ Extract generic interaction state layer styles
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_state-layer.scss
Due: prettier --write, stylelint --fix

🚚 Rename mixins
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_state-layer.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🔥 Clean up
  libs/core/src/scss/interaction-state/_hover.scss
Due: prettier --write, stylelint --fix

♻️ Extract state layer styles for all states
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_state-layer.scss
Due: prettier --write, stylelint --fix

♻️ Rename module
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_layer.scss
Due: prettier --write, stylelint --fix

✅ Update tests to match new template structure
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
Due: prettier --write, tslint --fix

💄 Apply hover for ionic components (item)
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_layer.scss
  libs/core/src/scss/interaction-state/ionic/_active.scss
  libs/core/src/scss/interaction-state/ionic/_hover.scss
  libs/core/src/scss/interaction-state/ionic/_index.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/item/item.component.scss
Due: prettier --write, stylelint --fix

💄 Use loudness names as parameters
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_layer.scss
  libs/core/src/scss/interaction-state/ionic/_active.scss
  libs/core/src/scss/interaction-state/ionic/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
  libs/designsystem/src/lib/components/item/item.component.scss
Due: prettier --write, stylelint --fix

💄 Hide apply-state mixin in module
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_layer.scss
Due: prettier --write, stylelint --fix

🔥 Clean up
  libs/core/src/scss/interaction-state/ionic/_active.scss
  libs/core/src/scss/interaction-state/ionic/_index.scss
Due: prettier --write, stylelint --fix

Release: kby-interaction-state-layer
  branch/kby-interaction-state-layer/404.html
  branch/kby-interaction-state-layer/index.html
  branch/kby-interaction-state-layer/main-es2017.32d25d73e655cd5b0f2f.js
  branch/kby-interaction-state-layer/main-es5.32d25d73e655cd5b0f2f.js
Due: prettier --write

Add "backgroundImageUrl" and custom css properties for controlling background of the card component (#2047)
  apps/cookbook/src/app/examples/card-example/card-example.module.ts
  apps/cookbook/src/app/examples/card-example/examples/card-background-image-example.component.ts
  apps/cookbook/src/app/examples/card-example/examples/card-clickable-example/card-clickable-example.component.html
  apps/cookbook/src/app/examples/card-example/examples/card-clickable-example/card-clickable-example.component.scss
  apps/cookbook/src/app/examples/card-example/examples/card-clickable-example/card-clickable-example.component.ts
  apps/cookbook/src/app/examples/card-example/examples/card-css-background-image-example/card-css-background-image-example.component.scss
  apps/cookbook/src/app/examples/card-example/examples/card-css-background-image-example/card-css-background-image-example.component.ts
  apps/cookbook/src/app/examples/card-example/examples/card-elevations-example/card-elevations-example.component.html
  apps/cookbook/src/app/examples/card-example/examples/card-elevations-example/card-elevations-example.component.scss
  apps/cookbook/src/app/examples/card-example/examples/card-elevations-example/card-elevations-example.component.ts
  apps/cookbook/src/app/examples/card-example/examples/card-themecolor-example/card-themecolor-example.component.html
  apps/cookbook/src/app/examples/card-example/examples/card-themecolor-example/card-themecolor-example.component.scss
  apps/cookbook/src/app/examples/card-example/examples/card-themecolor-example/card-themecolor-example.component.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.html
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
  libs/designsystem/src/lib/components/card/card.component.scss
  libs/designsystem/src/lib/components/card/card.component.spec.ts
  libs/designsystem/src/lib/components/card/card.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

💄 Move state layer on top of content layer
  libs/core/src/scss/interaction-state/_layer.scss
Due: prettier --write, stylelint --fix

💄 Use kirby-black as state layer bg color
  libs/core/src/scss/interaction-state/_layer.scss
Due: prettier --write, stylelint --fix

💄 Make z-index for layers configurable
  libs/core/src/scss/interaction-state/_layer.scss
Due: prettier --write, stylelint --fix

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.14491493fc05480593d8.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.14491493fc05480593d8.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.9c8e755ded16062bca29.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.9c8e755ded16062bca29.js
Due: prettier --write

:alembic: Use ionics collapsible title for modal title
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

Release: kby-1863-desktop-ready-keyboard-focus
  branch/kby-1863-desktop-ready-keyboard-focus/404.html
  branch/kby-1863-desktop-ready-keyboard-focus/index.html
  branch/kby-1863-desktop-ready-keyboard-focus/main-es2017.8ac2d57938a9c52dffe8.js
  branch/kby-1863-desktop-ready-keyboard-focus/main-es5.8ac2d57938a9c52dffe8.js
  branch/kby-1863-desktop-ready-keyboard-focus/styles.b77eea01d19b1b5c1430.css
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.33417873806b4c656b4f.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.33417873806b4c656b4f.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.82ba76dc20df84f63684.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.82ba76dc20df84f63684.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.4c3b7fe7fb273afdf212.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.4c3b7fe7fb273afdf212.js
Due: prettier --write

Release: kby-811-subtitle-on-page-title
  branch/kby-811-subtitle-on-page-title/2-es2017.8a9de42b3a402ebece1f.js
  branch/kby-811-subtitle-on-page-title/2-es5.8a9de42b3a402ebece1f.js
  branch/kby-811-subtitle-on-page-title/404.html
  branch/kby-811-subtitle-on-page-title/index.html
  branch/kby-811-subtitle-on-page-title/main-es2017.6d81d2e66fb322327918.js
  branch/kby-811-subtitle-on-page-title/main-es5.6d81d2e66fb322327918.js
  branch/kby-811-subtitle-on-page-title/runtime-es2017.a9f2a22efdd4db4edd64.js
  branch/kby-811-subtitle-on-page-title/runtime-es5.a9f2a22efdd4db4edd64.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.57d7f85005d82263f0fa.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.57d7f85005d82263f0fa.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.ea60fecd866660c13549.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.ea60fecd866660c13549.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.5240ebb48a17abb51319.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.5240ebb48a17abb51319.js
Due: prettier --write

:recycle: Use switch in moveChild & add todo comment
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
