Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Delete index.md
  index.md
Due: prettier --write

Delete .keep
  .keep
Due: none

fix url
  .github/workflows/build.yml
Due: none

remove test
  .github/workflows/build.yml
Due: none

Release: kby-ghpages
  branch/kby-ghpages/index.html
Due: prettier --write

test med master
  .github/workflows/build.yml
Due: none

404 test
  .github/workflows/build.yml
Due: none

remove master test
  .github/workflows/build.yml
Due: none

master test
  .github/workflows/build.yml
Due: none

Release: kby-ghpages
  branch/kby-ghpages/404.html
Due: prettier --write

added default styling to lists (ul/ol)
  libs/designsystem/src/lib/scss/base/_typography.scss
Due: prettier --write, stylelint --fix

showcase skeleton
  apps/cookbook/src/app/showcase/default-list-showcase/default-list-showcase.html
  apps/cookbook/src/app/showcase/default-list-showcase/default-list-showcase.ts
Due: prettier --write, tslint --fix

Create test.txt
  branch/testbranch/test.txt
Due: none

completed default list showcase
  apps/cookbook/src/app/showcase/default-list-showcase/default-list-showcase.html
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix

fix slet option
  .github/workflows/build.yml
Due: none

x
  .github/workflows/build.yml
Due: none

fix clean-up job
  .github/workflows/build.yml
Due: none

remove test data
  .github/workflows/build.yml
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none
