Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

🚧 Add placeholder content and style table
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.scss
Due: prettier --write, stylelint --fix

📝 Add layout showcase
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.scss
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Add sub showcase components (recipes)
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.ts
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-core-showcase/grid-layout-core-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-core-showcase/grid-layout-core-showcase.component.scss
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-core-showcase/grid-layout-core-showcase.component.ts
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-extended-showcase/grid-layout-extended-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-extended-showcase/grid-layout-extended-showcase.component.scss
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-extended-showcase/grid-layout-extended-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Add layout recipes navigation item
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.scss
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.ts
  apps/cookbook/src/app/page/header/header.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Add content to layout recipes page
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.scss
Due: prettier --write, stylelint --fix

🚧 Introduce grid layout example module
  apps/cookbook/src/app/examples/examples-routing.module.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.module.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.scss
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.ts
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.scss
  apps/cookbook/src/app/showcase/layout-showcase/layout-showcase.component.ts
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-core-showcase/grid-layout-core-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-core-showcase/grid-layout-core-showcase.component.scss
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-core-showcase/grid-layout-core-showcase.component.ts
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-extended-showcase/grid-layout-extended-showcase.component.html
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-extended-showcase/grid-layout-extended-showcase.component.scss
  apps/cookbook/src/app/showcase/layout-showcase/recipes/grid-layout-extended-showcase/grid-layout-extended-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.module.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Add LayoutRecipesComponent to showcase.common
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/showcase/showcase.common.ts
Due: prettier --write, tslint --fix

Enhancement/1669 fix modules (#1708)
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.module.ts
  apps/cookbook/src/app/shared/code-viewer/code-viewer.module.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.module.ts
Due: prettier --write, tslint --fix

⚗️ Try to add grid layout subpage
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout.component.html
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout.component.scss
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout.component.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

🔥 Remove ExampleViewerComponent
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.module.ts
Due: prettier --write, tslint --fix

⚗️ Play around with links
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
Due: prettier --write

💬 Add short descriptions for layout examples
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
Due: prettier --write

💄 Style width and height of table cells
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.scss
Due: prettier --write, stylelint --fix

♻️ Separate core example into two examples
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.module.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
Due: prettier --write, tslint --fix, stylelint --fix

🔥 Remove core example
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-core-example/grid-layout-core-example.component.ts
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-example.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

📝 Add sub-views for displaying HTML and CSS
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-multiple-containers/grid-layout-multiple-containers.component.html
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-multiple-containers/grid-layout-multiple-containers.component.scss
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-multiple-containers/grid-layout-multiple-containers.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-single-container/grid-layout-single-container.component.html
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-single-container/grid-layout-single-container.component.scss
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-single-container/grid-layout-single-container.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout.component.html
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout.component.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

📝 Add sub-view for extented example code
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-extended/grid-layout-extended.component.html
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-extended/grid-layout-extended.component.scss
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-extended/grid-layout-extended.component.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

💄 Apply more space around text and links
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.scss
Due: prettier --write, stylelint --fix

💬 Change wording in link texts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
Due: prettier --write

🔨 Copy core scss to angular package on publish
  scripts/publish.js
Due: none

🔧 Copy scss folder to root of core package
  .gitignore
  libs/core/package.json
  libs/core/stencil.config.ts
Due: prettier --write, tslint --fix

🔧 Allow package to be published, and edit description
  libs/core/package.json
Due: prettier --write

💡 Make comments better for displaying in cookbook
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.scss
Due: prettier --write, stylelint --fix

🔥 Remove empty stylesheets
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-extended/grid-layout-extended.component.scss
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-extended/grid-layout-extended.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-multiple-containers/grid-layout-multiple-containers.component.scss
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-multiple-containers/grid-layout-multiple-containers.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-single-container/grid-layout-single-container.component.scss
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-single-container/grid-layout-single-container.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🔥 Remove unused import
  apps/cookbook/src/app/app.routes.ts
Due: prettier --write, tslint --fix

💬 Change heading text for clarity
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.html
Due: prettier --write

💄 Change CSS class selectors to not use @ character
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.html
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.scss
Due: prettier --write, stylelint --fix

💬 Add introductory description
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.html
Due: prettier --write

🏷️ Add node as type to compilerOptions
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-extended/grid-layout-extended.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-multiple-containers/grid-layout-multiple-containers.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-single-container/grid-layout-single-container.component.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.ts
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.ts
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.ts
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
  apps/cookbook/src/app/showcase/divider-showcase/divider-showcase.component.ts
  apps/cookbook/src/app/showcase/empty-state-showcase/empty-state-showcase.component.ts
  apps/cookbook/src/app/showcase/fab-sheet-showcase/fab-sheet-showcase.component.ts
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.ts
  apps/cookbook/src/app/showcase/list-no-shape-showcase/list-no-shape-showcase.component.ts
  apps/cookbook/src/app/showcase/list-showcase/list-showcase.component.ts
  apps/cookbook/src/app/showcase/list-swipe-showcase/list-swipe-showcase.component.ts
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.ts
  apps/cookbook/src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.ts
  apps/cookbook/src/app/showcase/slide-button-showcase/slide-button-showcase.component.ts
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  apps/cookbook/src/app/showcase/spinner-showcase/spinner-showcase.component.ts
  apps/cookbook/src/app/showcase/tabs-showcase/tabs-showcase.component.ts
  apps/cookbook/src/app/showcase/toast-showcase/toast-showcase.component.ts
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.ts
  apps/cookbook/tsconfig.app.json
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated-helper.ts
Due: prettier --write, tslint --fix

⏪ Revert changes
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated-helper.ts
Due: prettier --write, tslint --fix

Add node as type to compilerOptions (#1717)
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-extended/grid-layout-extended.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-multiple-containers/grid-layout-multiple-containers.component.ts
  apps/cookbook/src/app/layout-recipes/grid-layout/grid-layout-single-container/grid-layout-single-container.component.ts
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.ts
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.ts
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.ts
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
  apps/cookbook/src/app/showcase/divider-showcase/divider-showcase.component.ts
  apps/cookbook/src/app/showcase/empty-state-showcase/empty-state-showcase.component.ts
  apps/cookbook/src/app/showcase/fab-sheet-showcase/fab-sheet-showcase.component.ts
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.ts
  apps/cookbook/src/app/showcase/list-no-shape-showcase/list-no-shape-showcase.component.ts
  apps/cookbook/src/app/showcase/list-showcase/list-showcase.component.ts
  apps/cookbook/src/app/showcase/list-swipe-showcase/list-swipe-showcase.component.ts
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.ts
  apps/cookbook/src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.ts
  apps/cookbook/src/app/showcase/slide-button-showcase/slide-button-showcase.component.ts
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  apps/cookbook/src/app/showcase/spinner-showcase/spinner-showcase.component.ts
  apps/cookbook/src/app/showcase/tabs-showcase/tabs-showcase.component.ts
  apps/cookbook/src/app/showcase/toast-showcase/toast-showcase.component.ts
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.ts
  apps/cookbook/tsconfig.app.json
Due: prettier --write, tslint --fix

Fixed bug causing an error to be thrown when updating customOptions in the ChartComponent (#1710)
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 3.0.8
  package-lock.json
  package.json
Due: prettier --write

🚧 Add Github Actions workflow for core publish
  .github/workflows/core-publish-test.yml
Due: none

🚧 Fix workflow error
  .github/workflows/core-publish-test.yml
Due: none

🐛 Utilize usePopover on Calendar year selector
  libs/designsystem/src/lib/components/calendar/calendar.component.html
Due: prettier --write

:bug: Make dropdown with popover work in safari
  libs/designsystem/src/lib/components/dropdown/dropdown.component.html
Due: prettier --write

:label: Extend 'ChartType' with 'line'
  libs/designsystem/src/lib/components/chart/chart.types.ts
Due: prettier --write, tslint --fix

:sparkles: Extend config with options for a 'line' chart
  libs/designsystem/src/lib/components/chart/chart.configs.ts
Due: prettier --write, tslint --fix
