Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-1863-desktop-ready-keyboard-focus
  branch/kby-1863-desktop-ready-keyboard-focus/404.html
  branch/kby-1863-desktop-ready-keyboard-focus/index.html
  branch/kby-1863-desktop-ready-keyboard-focus/main-es2017.f264628f51d0964873bd.js
  branch/kby-1863-desktop-ready-keyboard-focus/main-es5.f264628f51d0964873bd.js
  branch/kby-1863-desktop-ready-keyboard-focus/styles.3d470759914811f3d5be.css
Due: prettier --write

Release: kby-1863-desktop-ready-keyboard-focus
  branch/kby-1863-desktop-ready-keyboard-focus/404.html
  branch/kby-1863-desktop-ready-keyboard-focus/index.html
  branch/kby-1863-desktop-ready-keyboard-focus/main-es2017.11d7c4220ea8c508aadb.js
  branch/kby-1863-desktop-ready-keyboard-focus/main-es5.11d7c4220ea8c508aadb.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.6991c097625dc120d229.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.6991c097625dc120d229.js
Due: prettier --write

:recycle: Remove '_truncate'; use ionics own functionality
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

:lipstick: Position title properly by removing padding
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

:bulb: Add a todo comment with error message
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

Release: kby-843-ionic-collapsible-title-solution
  branch/kby-843-ionic-collapsible-title-solution/404.html
  branch/kby-843-ionic-collapsible-title-solution/index.html
  branch/kby-843-ionic-collapsible-title-solution/main-es2017.87fe465f48e620844886.js
  branch/kby-843-ionic-collapsible-title-solution/main-es5.87fe465f48e620844886.js
Due: prettier --write

Release: kby-843-ionic-collapsible-title-solution
  branch/kby-843-ionic-collapsible-title-solution/404.html
  branch/kby-843-ionic-collapsible-title-solution/index.html
  branch/kby-843-ionic-collapsible-title-solution/main-es2017.57e7a0f3c565869e5c51.js
  branch/kby-843-ionic-collapsible-title-solution/main-es5.57e7a0f3c565869e5c51.js
Due: prettier --write

:fire: Remove østkyst hustlers lyrics
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, tslint --fix

Release: kby-843-ionic-collapsible-title-solution
  branch/kby-843-ionic-collapsible-title-solution/404.html
  branch/kby-843-ionic-collapsible-title-solution/index.html
  branch/kby-843-ionic-collapsible-title-solution/main-es2017.0ca96717a67e9b465f02.js
  branch/kby-843-ionic-collapsible-title-solution/main-es5.0ca96717a67e9b465f02.js
Due: prettier --write

:fire: Remove chart-deprecated components folder
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated-helper.ts
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated-type.ts
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated.component.scss
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated.component.spec.ts
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated.component.ts
  libs/designsystem/src/lib/components/chart-deprecated/index.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/activitygauge.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/areaspline.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/bar.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/column.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/donut.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/timeseries.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove ChartDeprecated mocks
  libs/designsystem/testing-base/src/lib/components/mock.chart-deprecated.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

:fire: Remove deprecated chart examples
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.component.html
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.component.scss
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.module.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-activity-gauge.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-areaspline.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-bar.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-column.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-donut.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-pie.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-timeseries.component.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove deprecated chart showcase
  apps/cookbook/src/app/showcase/chart-deprecated-showcase/chart-deprecated-showcase.component.html
  apps/cookbook/src/app/showcase/chart-deprecated-showcase/chart-deprecated-showcase.component.scss
  apps/cookbook/src/app/showcase/chart-deprecated-showcase/chart-deprecated-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove deprecated stock chart component
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/index.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/options/stock-chart-deprecated-options.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/stock-chart-deprecated.component.scss
  libs/designsystem/src/lib/components/stock-chart-deprecated/stock-chart-deprecated.component.spec.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/stock-chart-deprecated.component.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove deprecated stock chart examples
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/stock-chart-deprecated-example/stock-chart-deprecated-example.component.html
  apps/cookbook/src/app/examples/stock-chart-deprecated-example/stock-chart-deprecated-example.component.scss
  apps/cookbook/src/app/examples/stock-chart-deprecated-example/stock-chart-deprecated-example.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove deprecated stock chart showcase
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  apps/cookbook/src/app/showcase/stock-chart-deprecated-showcase/stock-chart-deprecated-showcase.component.html
  apps/cookbook/src/app/showcase/stock-chart-deprecated-showcase/stock-chart-deprecated-showcase.component.scss
  apps/cookbook/src/app/showcase/stock-chart-deprecated-showcase/stock-chart-deprecated-showcase.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:heavy_minus_sign: Remove dependency to highcharts
  libs/designsystem/ng-package.json
  libs/designsystem/ngcc.config.js
  libs/designsystem/package.json
  package.json
Due: prettier --write

:pushpin: Generate new lock file
  package-lock.json
Due: prettier --write

Release: kby-1863-desktop-ready-keyboard-focus
  branch/kby-1863-desktop-ready-keyboard-focus/404.html
  branch/kby-1863-desktop-ready-keyboard-focus/index.html
  branch/kby-1863-desktop-ready-keyboard-focus/main-es2017.88a982eae36ab2042deb.js
  branch/kby-1863-desktop-ready-keyboard-focus/main-es5.88a982eae36ab2042deb.js
Due: prettier --write

:memo: Remove highcharts license notice
  readme.md
Due: prettier --write

💚 Rename master to stable in Github actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

📝 Rename master to stable in markdown files
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/component-request.md
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  readme.md
Due: prettier --write

💚 Rename master to stable in cookbook links
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, tslint --fix

💚 Rename master to stable in misc build scripts
  .scripts/deploy-helm-branch.sh
  nx.json
  scripts/version_bump.sh
Due: prettier --write

📝 Rename master to stable in segm. control doc
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
Due: prettier --write

📝 Revert unintentional changes to ToCs
  .github/CONTRIBUTING.md
  readme.md
Due: prettier --write

Release: kby-2026-rename-master-to-stable
  branch/kby-2026-rename-master-to-stable/2-es2017.e22cad78552f1225a6fd.js
  branch/kby-2026-rename-master-to-stable/2-es5.e22cad78552f1225a6fd.js
  branch/kby-2026-rename-master-to-stable/404.html
  branch/kby-2026-rename-master-to-stable/index.html
  branch/kby-2026-rename-master-to-stable/main-es2017.97867daa3c5ab361b163.js
  branch/kby-2026-rename-master-to-stable/main-es5.97867daa3c5ab361b163.js
  branch/kby-2026-rename-master-to-stable/runtime-es2017.bcbf5f21efdf910ac665.js
  branch/kby-2026-rename-master-to-stable/runtime-es5.bcbf5f21efdf910ac665.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.5279c69efa96b0278a34.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.5279c69efa96b0278a34.js
Due: prettier --write

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.05b35f4a14d0cb6194c8.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.05b35f4a14d0cb6194c8.js
Due: prettier --write

Reintroduce TimeScale for ChartJS
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
  libs/designsystem/src/lib/components/chart/chart-js/configured-chart-js.ts
Due: prettier --write, tslint --fix

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.fa5b66dd81f0d010dd7a.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.fa5b66dd81f0d010dd7a.js
Due: prettier --write

Update libs/designsystem/src/lib/components/page/page.component.spec.ts
  libs/designsystem/src/lib/components/page/page.component.spec.ts
Due: prettier --write, tslint --fix
