Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

style: add toolbar divider transition
  libs/designsystem/page/src/page.component.html
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3040-toolbar-and-header-visual-changes
  branch/kby-3040-toolbar-and-header-visual-changes/404.html
  branch/kby-3040-toolbar-and-header-visual-changes/index.html
  branch/kby-3040-toolbar-and-header-visual-changes/main.96d166172f50d268.js
Due: prettier --write

Enable height config on iphone component
  apps/cookbook/src/app/iphone/iphone.component.scss
Due: prettier --write, stylelint --fix

Unify default example to simplify showcase
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.html
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.module.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.scss
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove duplicate test
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Contain content for drawers on mobile only
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

Simplify bottom-border styles and make mobile-first
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

Update header button slots
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Add custom height to modal before presenting
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix

Remove unnecessary style rules for header in collapsible title
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

Always add page progress to start slot
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Set transform to none
  libs/designsystem/page/src/page.component.scss
Due: prettier --write, stylelint --fix

Change transform to 'initial' instead of 'none'
  libs/designsystem/page/src/page.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2765-fab-sheet-backdrop-does-not-show-up-correctl
  branch/kby-2765-fab-sheet-backdrop-does-not-show-up-correct/1648.046f056ae426d9d0.js
  branch/kby-2765-fab-sheet-backdrop-does-not-show-up-correct/404.html
  branch/kby-2765-fab-sheet-backdrop-does-not-show-up-correct/5565.c1abf529e2b081d0.js
  branch/kby-2765-fab-sheet-backdrop-does-not-show-up-correct/index.html
  branch/kby-2765-fab-sheet-backdrop-does-not-show-up-correct/main.c7332f75c9d1910a.js
  branch/kby-2765-fab-sheet-backdrop-does-not-show-up-correct/runtime.96386fe469c85f5a.js
Due: prettier --write

Remove build step from generate-mocks
  package.json
Due: prettier --write

Add new icons
  libs/designsystem/icon/src/icons/svg/feedback.svg
  libs/designsystem/icon/src/icons/svg/keyboard.svg
  libs/designsystem/icon/src/icons/svg/lock.svg
  libs/designsystem/icon/src/icons/svg/overview-outline.svg
  libs/designsystem/icon/src/icons/svg/overview.svg
  libs/designsystem/icon/src/icons/svg/see.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Add new icons (#3046)
  libs/designsystem/icon/src/icons/svg/feedback.svg
  libs/designsystem/icon/src/icons/svg/keyboard.svg
  libs/designsystem/icon/src/icons/svg/lock.svg
  libs/designsystem/icon/src/icons/svg/overview-outline.svg
  libs/designsystem/icon/src/icons/svg/overview.svg
  libs/designsystem/icon/src/icons/svg/see.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Fix FAB sheet backdrop when used in kirby-page (#3009)
  libs/designsystem/page/src/page.component.scss
Due: prettier --write, stylelint --fix

Update package versions
  libs/core/package.json
  libs/designsystem/package.json
  package.json
Due: prettier --write

Add modal sizes example
  apps/cookbook/src/app/examples/modal-example/modal-example-sizes.component.ts
Due: prettier --write, eslint --fix

Use class binding instead of HostBinding for scroll divider to work
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove todo and reword ionScroll comment
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Simplify config in examples and align design
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
  apps/cookbook/src/app/examples/modal-example/_modal-playground.shared.scss
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-sizes.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-sizes.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Update size example with customHeight button
  apps/cookbook/src/app/examples/modal-example/modal-example-sizes.component.ts
Due: prettier --write, eslint --fix

change height prop in modalconfig to customHeight
  libs/designsystem/modal/src/modal-wrapper/config/modal-config.ts
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix

Improve modal config
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.html
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-sizes.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

test: add tests for toolbar styles
  libs/designsystem/page/src/page.component.spec.ts
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/testing/src/element-css-custom-matchers.d.ts
  libs/designsystem/testing/src/element-css-custom-matchers.ts
  libs/designsystem/testing/src/test-helper.ts
Due: prettier --write, eslint --fix

test: fix flaky tests ( scrollbar)
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

test: remove obsolete async keyword
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Release v8.5.0 (#3048)
  libs/core/package.json
  libs/designsystem/package.json
  package.json
Due: prettier --write

test: typo
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

test: fix flaky tests (scrollbar)
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

test: expect dimensions of sticky content bg
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3040-toolbar-and-header-visual-changes
  branch/kby-3040-toolbar-and-header-visual-changes/404.html
  branch/kby-3040-toolbar-and-header-visual-changes/assets/kirby/icons/svg/feedback.svg
  branch/kby-3040-toolbar-and-header-visual-changes/assets/kirby/icons/svg/keyboard.svg
  branch/kby-3040-toolbar-and-header-visual-changes/assets/kirby/icons/svg/lock.svg
  branch/kby-3040-toolbar-and-header-visual-changes/assets/kirby/icons/svg/overview-outline.svg
  branch/kby-3040-toolbar-and-header-visual-changes/assets/kirby/icons/svg/overview.svg
  branch/kby-3040-toolbar-and-header-visual-changes/assets/kirby/icons/svg/see.svg
  branch/kby-3040-toolbar-and-header-visual-changes/index.html
  branch/kby-3040-toolbar-and-header-visual-changes/main.b139dcb85d4a9d7e.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
