Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Apply suggestions from code review
  libs/designsystem/form-field/src/form-field.component.scss
  libs/designsystem/form-field/src/form-field.component.ts
  libs/designsystem/form-field/src/input/input.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3234-custom-calendar-icon-for-date-input
  branch/kby-3234-custom-calendar-icon-for-date-input/404.html
  branch/kby-3234-custom-calendar-icon-for-date-input/index.html
  branch/kby-3234-custom-calendar-icon-for-date-input/main.4ec58b3945bba212.js
Due: prettier --write

Checkbox: Add extra small checkboxes (#3141)
  apps/cookbook/src/app/examples/checkbox-example/examples/sizes.ts
  apps/cookbook/src/app/examples/checkbox-radio-sizes-example.scss
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/checkbox/src/checkbox.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3234-custom-calendar-icon-for-date-input
  branch/kby-3234-custom-calendar-icon-for-date-input/1220.6eacfd3003a35824.js
  branch/kby-3234-custom-calendar-icon-for-date-input/404.html
  branch/kby-3234-custom-calendar-icon-for-date-input/index.html
  branch/kby-3234-custom-calendar-icon-for-date-input/main.f783f896ff8700bd.js
  branch/kby-3234-custom-calendar-icon-for-date-input/runtime.efabbf56752aef20.js
Due: prettier --write

Custom calendar icon for date input (#3287)
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/date-native.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/date.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/form-field/src/form-field.component.html
  libs/designsystem/form-field/src/form-field.component.scss
  libs/designsystem/form-field/src/form-field.component.ts
  libs/designsystem/form-field/src/form-field.module.ts
  libs/designsystem/form-field/src/input/input.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add storybook with first test grid story
  .gitignore
  libs/designsystem/.eslintrc.json
  libs/designsystem/.storybook/main.ts
  libs/designsystem/.storybook/preview.ts
  libs/designsystem/.storybook/tsconfig.json
  libs/designsystem/accordion/src/accordion-item.component.stories.ts
  libs/designsystem/project.json
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Bump package versions
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Release v9.3.0 (#3372)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Release: designsystem
  1220.6eacfd3003a35824.js
  404.html
  5440.f3992e07fd711a61.js
  9435.54f6c15a8d1709cb.js
  index.html
  main.f783f896ff8700bd.js
  runtime.efabbf56752aef20.js
Due: prettier --write

style: add support for runtime color overrides
  libs/core/src/helpers/color-helper.ts
Due: prettier --write, eslint --fix

style: add better support for color overrides
  libs/core/src/scss/themes/_colors.scss
Due: prettier --write, stylelint --fix

refactor: add typing
  libs/core/src/helpers/color-helper.ts
Due: prettier --write, eslint --fix

docs: add copy of decoration colors
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.html
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.scss
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Enhancement: allow color overrides (#3377)
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.html
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.scss
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.ts
  libs/core/src/helpers/color-helper.ts
  libs/core/src/scss/themes/_colors.scss
Due: prettier --write, eslint --fix, stylelint --fix

test: run css transitions immediately
  libs/designsystem/progress-circle/src/progress-circle.component.spec.ts
Due: prettier --write, eslint --fix

test: run css transitions immediately (#3380)
  libs/designsystem/progress-circle/src/progress-circle.component.spec.ts
Due: prettier --write, eslint --fix

Release v9.3.1 (#3378)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Release: designsystem
  404.html
  index.html
  main.5f686955e01f4248.js
  runtime.ae4de9b41294603c.js
Due: prettier --write

Get runtime color for decoration and text
  libs/core/src/helpers/color-helper.ts
Due: prettier --write, eslint --fix

Patch package versions
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

test: add logs
  libs/designsystem/helpers/scss/src/link.spec.ts
Due: prettier --write, eslint --fix

test: fix flaky test
  libs/designsystem/helpers/scss/src/link.spec.ts
Due: prettier --write, eslint --fix

Add support for setting selectedDate to null to deselect
  libs/designsystem/calendar/src/calendar.component.ts
Due: prettier --write, eslint --fix

ColorHelper: Get runtime decoration and text colors (#3381)
  libs/core/package.json
  libs/core/src/helpers/color-helper.ts
  libs/designsystem/helpers/scss/src/link.spec.ts
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Release: designsystem
  404.html
  index.html
  main.e9d1c84c13216088.js
Due: prettier --write

Update calendar example
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.html
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.scss
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.html
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.scss
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Improve spacing
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.scss
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.scss
Due: prettier --write, stylelint --fix
