Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

style: align hover color to spec
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3433-segmented-control-hover-state-adjustment
  branch/kby-3433-segmented-control-hover-state-adjustment/404.html
  branch/kby-3433-segmented-control-hover-state-adjustment/index.html
  branch/kby-3433-segmented-control-hover-state-adjustment/main.0f3e55bbfb4a6043.js
Due: prettier --write

Segmented Control: adjust hover states (#3468)
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Set up local tsconfig path resolving
  .gitignore
  libs/composed-ui/angular/.storybook/tsconfig.json
  libs/composed-ui/angular/ng-package.json
  libs/composed-ui/angular/project.json
  libs/composed-ui/angular/tsconfig.json
  libs/composed-ui/angular/tsconfig.lib.json
  libs/designsystem/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write

style: allow more space for title section
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

Add check for disabled kirby-item before emitting item select
  libs/designsystem/list/src/list-item/list-item.component.ts
Due: prettier --write, eslint --fix

style: subtract actions margin from column-gap
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3428-kirby-header-allow-more-horizontal-space-for
  branch/kby-3428-kirby-header-allow-more-horizontal-space-fo/404.html
  branch/kby-3428-kirby-header-allow-more-horizontal-space-fo/index.html
  branch/kby-3428-kirby-header-allow-more-horizontal-space-fo/main.b17c008c4778d9cb.js
Due: prettier --write

Header: allow more space for title section (#3473)
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

Add storybook
  libs/composed-ui/angular/.eslintrc.json
  libs/composed-ui/angular/.storybook/main.ts
  libs/composed-ui/angular/.storybook/preview.ts
  libs/composed-ui/angular/package.json
  libs/composed-ui/angular/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

Add readme in note form
  libs/composed-ui/angular/README.md
Due: prettier --write

Add secondary point for banner
  libs/composed-ui/angular/banner/README.md
  libs/composed-ui/angular/banner/ng-package.json
  libs/composed-ui/angular/banner/src/index.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

Add banner component
  libs/composed-ui/angular/banner/src/banner.component.html
  libs/composed-ui/angular/banner/src/banner.component.scss
  libs/composed-ui/angular/banner/src/banner.component.spec.ts
  libs/composed-ui/angular/banner/src/banner.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

deps: add lit
  libs/core/package.json
  package-lock.json
Due: prettier --write

Wire up banner component for local development
  libs/composed-ui/angular/banner/src/index.ts
  libs/composed-ui/angular/index.ts
  libs/composed-ui/angular/package.json
  libs/composed-ui/angular/tsconfig.json
  libs/composed-ui/angular/tsconfig.lib.json
Due: prettier --write, eslint --fix

Allow modal to always dismiss when using browser back button
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix

Manage storybook in root package json
  libs/composed-ui/angular/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Bump core and designsystem package versions
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Add initial storybook story
  libs/composed-ui/angular/.storybook/tsconfig.json
  libs/composed-ui/angular/banner/src/banner.component.stories.ts
Due: prettier --write, eslint --fix

Import banner via path alias
  libs/composed-ui/angular/banner/src/banner.component.stories.ts
Due: prettier --write, eslint --fix

Add jest tests
  jest.config.ts
  libs/composed-ui/angular/jest.config.ts
  libs/composed-ui/angular/jest.preset.js
  libs/composed-ui/angular/package.json
  libs/composed-ui/angular/project.json
  libs/composed-ui/angular/test-setup.ts
  libs/composed-ui/angular/tsconfig.json
  libs/composed-ui/angular/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Fix stylelint errors
  libs/core/src/scss/base/_functions.scss
  libs/designsystem/accordion/src/accordion-item.component.scss
  package-lock.json
Due: prettier --write, stylelint --fix

Release v9.5.0 (#3476)
  libs/core/package.json
  libs/core/src/scss/base/_functions.scss
  libs/designsystem/accordion/src/accordion-item.component.scss
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write, stylelint --fix

Add eslint rule to avoid relative imports in storybook stories
  libs/composed-ui/angular/.eslintrc.json
  tools/eslint-config/angular.json
Due: prettier --write

Add tag name prefix
  libs/composed-ui/angular/banner/src/banner.component.ts
Due: prettier --write, eslint --fix

Rename composed-ui to extensions
  libs/composed-ui/angular/README.md
  libs/composed-ui/angular/banner/README.md
  libs/composed-ui/angular/index.ts
  libs/extensions/angular/.eslintrc.json
  libs/extensions/angular/.storybook/main.ts
  libs/extensions/angular/.storybook/preview.ts
  libs/extensions/angular/.storybook/tsconfig.json
  libs/extensions/angular/CONTRIBUTING.md
  libs/extensions/angular/README.md
  libs/extensions/angular/banner/README.md
  libs/extensions/angular/banner/ng-package.json
  libs/extensions/angular/banner/src/banner.component.html
  libs/extensions/angular/banner/src/banner.component.scss
  libs/extensions/angular/banner/src/banner.component.spec.ts
  libs/extensions/angular/banner/src/banner.component.stories.ts
  libs/extensions/angular/banner/src/banner.component.ts
  libs/extensions/angular/banner/src/index.ts
  libs/extensions/angular/index.ts
  libs/extensions/angular/jest.config.ts
  libs/extensions/angular/jest.preset.js
  libs/extensions/angular/ng-package.json
  libs/extensions/angular/package.json
  libs/extensions/angular/project.json
  libs/extensions/angular/test-setup.ts
  libs/extensions/angular/tsconfig.json
  libs/extensions/angular/tsconfig.lib.json
  libs/extensions/angular/tsconfig.lib.prod.json
  libs/extensions/angular/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint --fix, stylelint --fix

WIP: designsystem dist output
  libs/designsystem/ng-package.json
  libs/extensions/angular/banner/src/banner.component.html
  libs/extensions/angular/banner/src/banner.component.ts
  libs/extensions/angular/project.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

Fix wrong dist path mapping
  tsconfig.base.json
Due: prettier --write

Update accordion animation note
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
Due: prettier --write

dev targets for cookbook and storybook
  apps/cookbook/project.json
  libs/designsystem/project.json
  libs/extensions/angular/package.json
  libs/extensions/angular/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

Add backgrounds to storybook
  libs/extensions/angular/.storybook/preview.ts
Due: prettier --write, eslint --fix

Add kirby-card to banner for verification of build
  libs/extensions/angular/banner/src/banner.component.html
  libs/extensions/angular/banner/src/banner.component.ts
Due: prettier --write, eslint --fix

Docs: update accordion animation note (#3478)
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
