Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

added rounded corners
  libs/designsystem/list/src/list-item/list-item.component.ts
  libs/designsystem/list/src/list.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

fixed test
  libs/designsystem/list/src/list.component.integration.spec.ts
Due: prettier --write, eslint --fix

added structure
  libs/designsystem/item/src/item.component.html
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/list/src/list-item/list-item.component.html
  libs/designsystem/list/src/list.module.ts
  libs/designsystem/list/src/pipes/action/get-title.pipe.spec.ts
  libs/designsystem/list/src/pipes/action/get-title.pipe.ts
Due: prettier --write, eslint --fix, stylelint --fix

added fresh structure
  libs/designsystem/list/src/list-item/list-item.component.html
  libs/designsystem/list/src/list-item/list-item.component.ts
  libs/designsystem/list/src/list.component.html
  libs/designsystem/list/src/list.component.ts
  libs/designsystem/list/src/list.module.ts
Due: prettier --write, eslint --fix

change ion-item class item-inner to have padding, to leave room for menu. added menu as pos absolute to position it in the item padding area
  libs/designsystem/item/src/item.component.html
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/item/src/item.component.spec.ts
  libs/designsystem/list/src/list-item/list-item.component.html
  libs/designsystem/list/src/list-item/list-item.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

added conditional for action slot on item. changed conditional strategy for showing touch or desktio
  libs/designsystem/item/src/item.component.html
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/list/src/list-item/list-item.component.html
Due: prettier --write, eslint --fix

fixed switchCaseBug
  libs/designsystem/list/src/list-item/list-item.component.html
Due: prettier --write

removed 'action' slot
  libs/designsystem/item/src/item.component.html
Due: prettier --write

stopping for now
  libs/designsystem/item/src/item.component.integration.spec.ts
  libs/designsystem/list/src/list-item/list-item.component.spec.ts
Due: prettier --write, eslint --fix

paused
  libs/designsystem/list/src/list-item/list-item-test-helper.ts
  libs/designsystem/list/src/list-item/list-item.component.html
  libs/designsystem/list/src/list-item/list-item.component.spec.ts
  libs/designsystem/list/src/list.component.scss
  libs/designsystem/list/src/list.component.spec.ts
  libs/designsystem/list/src/list.module.ts
  libs/designsystem/list/src/pipes/action/get-icon/get-action-icon.pipe.spec.ts
  libs/designsystem/list/src/pipes/action/get-icon/get-action-icon.pipe.ts
Due: prettier --write, eslint --fix, stylelint --fix

added pipe for getActions
  libs/designsystem/list/src/list-item/list-item.component.html
  libs/designsystem/list/src/pipes/action/get-actions/get-actions.pipe.spec.ts
  libs/designsystem/list/src/pipes/action/get-actions/get-actions.pipe.ts
Due: prettier --write, eslint --fix

added disabled state, stopping to fix button bug
  apps/cookbook/src/app/examples/menu-example/examples/portal.ts
  apps/cookbook/src/app/examples/menu-example/examples/portalConfig.ts
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/list/src/list-item/list-item.component.html
  libs/designsystem/list/src/list-item/list-item.component.scss
  libs/designsystem/list/src/list.module.ts
  libs/designsystem/list/src/pipes/action/get-actions/get-actions.pipe.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Revert "added warning about missing directive declaration (#3010)"
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write

Release: kby-2977-add-large-screen-functionality-to-modal
  branch/kby-2977-add-large-screen-functionality-to-modal/1648.6132a2d17ce4cbf3.js
  branch/kby-2977-add-large-screen-functionality-to-modal/404.html
  branch/kby-2977-add-large-screen-functionality-to-modal/5565.59f92eef59288e83.js
  branch/kby-2977-add-large-screen-functionality-to-modal/index.html
  branch/kby-2977-add-large-screen-functionality-to-modal/main.46643a72dae52fd3.js
  branch/kby-2977-add-large-screen-functionality-to-modal/runtime.f722ce8e3e081b07.js
Due: prettier --write

Release: kby-1986-desktop-ready-carousel
  branch/kby-1986-desktop-ready-carousel/404.html
  branch/kby-1986-desktop-ready-carousel/5565.12bcea182330e639.js
  branch/kby-1986-desktop-ready-carousel/index.html
  branch/kby-1986-desktop-ready-carousel/main.08d2080ac3b5b42b.js
  branch/kby-1986-desktop-ready-carousel/runtime.5df98a7414f8da90.js
Due: prettier --write

Release: kby-1986-desktop-ready-carousel
  branch/kby-1986-desktop-ready-carousel/404.html
  branch/kby-1986-desktop-ready-carousel/index.html
  branch/kby-1986-desktop-ready-carousel/main.907f2bcf3bb44b67.js
Due: prettier --write

added custom button & disable for single-action button
  libs/designsystem/list/src/list-item/list-item.component.html
  libs/designsystem/list/src/list-item/list-item.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-2790-swipe-actions-for-web3
  branch/kby-2790-swipe-actions-for-web3/1648.6132a2d17ce4cbf3.js
  branch/kby-2790-swipe-actions-for-web3/404.html
  branch/kby-2790-swipe-actions-for-web3/5565.00494520bb0d26ce.js
  branch/kby-2790-swipe-actions-for-web3/index.html
  branch/kby-2790-swipe-actions-for-web3/main.392c591b14cbb2d6.js
  branch/kby-2790-swipe-actions-for-web3/runtime.b0021434705acf91.js
Due: prettier --write

so this is goodbye <3
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Bump designsystem to 8.4.0 and core to 0.0.47
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

bug: fix noDecoration setter and refactor attention-level css classes
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/button/src/button.component.ts
  libs/designsystem/empty-state/src/empty-state.component.integration.spec.ts
  libs/designsystem/empty-state/src/empty-state.component.ts
Due: prettier --write, eslint --fix

test: move test
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix

Release v8.4.0 (#3023)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Release: designsystem
  1648.6132a2d17ce4cbf3.js
  404.html
  5565.00494520bb0d26ce.js
  assets/kirby/icons/svg/chat.svg
  assets/kirby/icons/svg/document.svg
  assets/kirby/icons/svg/navigation.svg
  assets/kirby/icons/svg/phone-device.svg
  assets/kirby/icons/svg/upload.svg
  index.html
  main.8d5ed7d35b562ded.js
  runtime.37cd7417778885f5.js
  styles.17da9e7d4eda4f40.css
Due: prettier --write

Release: kby-2998-grid-and-layout-margin-and-breakpoints
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/1648.6132a2d17ce4cbf3.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/404.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/5565.a2c7e1a51df29032.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/6514.ebb810726a79e6e4.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/index.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/main.832563a947ee6711.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/runtime.e7b4e0347de637de.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/styles.ec9f2de076029e4e.css
Due: prettier --write

bug: setting button nodecoration false resets attentionlevel (#3022)
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/button/src/button.component.ts
  libs/designsystem/empty-state/src/empty-state.component.integration.spec.ts
  libs/designsystem/empty-state/src/empty-state.component.ts
Due: prettier --write, eslint --fix

fix: remove hidden title and refactor
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

enhancement: add support for progress circle in header
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix

docs: add progress circle in header example
  apps/cookbook/src/app/examples/header-example/examples/progress-circle-with-avatar.ts
  apps/cookbook/src/app/examples/header-example/header-example.component.html
  apps/cookbook/src/app/examples/header-example/header-example.module.ts
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.html
Due: prettier --write, eslint --fix

Extend mock base chart in mock charts
  libs/designsystem/testing-base/src/lib/components/mock.chart.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.stock-chart.component.ts
Due: prettier --write, eslint --fix

Release: kby-1986-desktop-ready-carousel
  branch/kby-1986-desktop-ready-carousel/404.html
  branch/kby-1986-desktop-ready-carousel/5565.40fb55d2de6df623.js
  branch/kby-1986-desktop-ready-carousel/index.html
  branch/kby-1986-desktop-ready-carousel/main.5656bcba6e1bd503.js
  branch/kby-1986-desktop-ready-carousel/runtime.8534df216e3cd8d3.js
  branch/kby-1986-desktop-ready-carousel/styles.5b002d4eaadd1fde.css
Due: prettier --write

Extend mock base chart in mock charts (#3030)
  libs/designsystem/testing-base/src/lib/components/mock.chart.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.stock-chart.component.ts
Due: prettier --write, eslint --fix

Bump designsystem to v8.4.1
  package-lock.json
  package.json
Due: prettier --write
