Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

add smooth transition on expand collapse
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

adjust transistion
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-5TREKEOM.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-IXBD2OXM.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-OXBL5KSO.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-ZFI74SFE.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-OP274J3U.js
Due: prettier --write

refactor: update combobox story title and fix type declaration
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

remove css animation
  libs/core/src/accordion-item/accordion-item.element.styles.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-B4UZAFIR.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-DCZSLCVD.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-LQWVOPBV.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-NCRT7VND.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-O2H2ZYY3.js
Due: prettier --write

remove hasList in elementstyles
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/designsystem/list/src/list.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-6F7IJZ43.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-G3Z6ZUV7.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-HUOZRCI7.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-MHNM3HIW.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-PEZLSCAB.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-SVCNBX2B.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-SVPXVXST.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-57AHB7AP.js
Due: prettier --write

transition animation test
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-3OGCCZUB.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-3V65MXVQ.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-HMQ5TWRH.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-MCNBNADF.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-EZ6IHMDG.js
Due: prettier --write

js animation test
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-2WNSBECS.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-OLC4ZHWB.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-OS37NUYX.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-W3SPMFZR.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-5N5HI4IZ.js
Due: prettier --write

js animation test dlt css styles
  libs/core/src/accordion-item/accordion-item.element.styles.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-DXPGNTLV.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-FKFQPVI7.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-GWGARBMW.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-IUULSG7Y.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-HQWZCDMJ.js
Due: prettier --write

js animationtest adjusted
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
Due: prettier --write

Action Group: add dynamic button handling and improve collapsing logic
  apps/cookbook/src/app/examples/header-example/examples/action-group.ts
  libs/designsystem/action-group/src/action-group.component.spec.ts
  libs/designsystem/action-group/src/action-group.component.ts
Due: prettier --write, eslint --fix

Release: kby-feat-header-reactive
  branch/kby-feat-header-reactive/404.html
  branch/kby-feat-header-reactive/assets/kirby/icons/svg/chainlink.svg
  branch/kby-feat-header-reactive/chunk-2HWHIJXW.js
  branch/kby-feat-header-reactive/chunk-BMBUSGK5.js
  branch/kby-feat-header-reactive/chunk-DNHCLIGA.js
  branch/kby-feat-header-reactive/chunk-G6MTLNXM.js
  branch/kby-feat-header-reactive/chunk-IABP5UGX.js
  branch/kby-feat-header-reactive/chunk-TD4TRAF6.js
  branch/kby-feat-header-reactive/chunk-VYOGSIVF.js
  branch/kby-feat-header-reactive/index.html
  branch/kby-feat-header-reactive/main-4WDZBW6F.js
Due: prettier --write

Refactor ActionGroupComponent: streamline button visibility logic and remove unused elements
  apps/cookbook/src/app/examples/header-example/examples/action-group.ts
  kirbydesign.code-workspace
  libs/designsystem/action-group/src/action-group.component.html
  libs/designsystem/action-group/src/action-group.component.scss
  libs/designsystem/action-group/src/action-group.component.spec.ts
  libs/designsystem/action-group/src/action-group.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Stop tracking file
  kirbydesign.code-workspace
Due: none

set nx analytics to false
  nx.json
Due: prettier --write

remove paint containment of drawer when interactWithBackground
  libs/core/src/scss/components/_overlays.scss
Due: prettier --write, stylelint --fix

css transition test
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

ensure iconelement initialized before render storybook in preview
  libs/designsystem/.storybook/preview.ts
Due: prettier --write, eslint --fix

dlt registration in storybook preview
  libs/designsystem/.storybook/preview.ts
Due: prettier --write, eslint --fix

add css transition interpolatesize and safari grid fallback
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-5EMAMFAK.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-5QLG3UBE.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-FJFCT37G.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-KVQ4IVDB.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-6ZSYCFT6.js
Due: prettier --write

Icons: Revert icon sizing to use fixed sizes for consistency
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Modal: Remove paint containment of drawer when interactWithBackground is enabled (#4415)
  libs/core/src/scss/components/_overlays.scss
Due: prettier --write, stylelint --fix

null check on affixElements in form field
  libs/designsystem/form-field/src/form-field.component.ts
Due: prettier --write, eslint --fix

switch arrow up and down
  libs/extensions/angular/combobox/src/combobox.component.ts
  package-lock.json
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/styles-ZI2NJUTS.css
Due: prettier --write

Release: kby-4357-reorderable-submenu-component
  branch/kby-4357-reorderable-submenu-component/404.html
  branch/kby-4357-reorderable-submenu-component/index.html
  branch/kby-4357-reorderable-submenu-component/styles-WWUGP5JR.css
Due: prettier --write
