Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

:alembic: Attempt to serve cookbook & storybook from separate folders
  .github/workflows/build.yml
Due: none

📝 Add wrapper that sets elevatio for white badge
  libs/designsystem/src/lib/components/badge/badge.stories.mdx
Due: none

📝 Remove documentation file - to be autogenerated
  documentation.json
Due: prettier --write

:alembic: See what happens when cookbook stored in root
  .github/workflows/build.yml
Due: none

💡 More concise comment for publish workflow
  .github/workflows/publish.yml
Due: none

💡 Fix gitignore designsystem file comment
  .gitignore
Due: none

🔧 Clean up gitignore paths
  .prettierignore
Due: none

🎨 Update prettier config and run prettier
  .prettierignore
  .prettierrc.json
Due: prettier --write

⬆️ Bump version to match actual version on npm
  libs/core/package.json
Due: prettier --write

:green_heart: Make storybook deployable on master
  .github/workflows/build.yml
Due: none

💄 Set default z-index for badge to auto
  libs/core/src/components/badge/badge.component.scss
Due: prettier --write, stylelint --fix

💄 Use size token for badge size and border radius
  libs/core/src/components/badge/badge.component.scss
Due: prettier --write, stylelint --fix

🔥 Remove test file - was just for experimenting
  libs/core/src/components/badge/badge.component.spec.ts
Due: prettier --write, tslint --fix

:construction_worker: Have Storybook be deployed parallel to cookbook
  .github/workflows/build.yml
  package.json
Due: prettier --write

🚚 Move print styles to core
  libs/core/src/scss/print/_index.scss
  libs/core/src/scss/print/components/_index.scss
  libs/core/src/scss/print/components/_kirby-app.scss
  libs/core/src/scss/print/components/_kirby-fab-sheet.scss
  libs/core/src/scss/print/components/_kirby-list.scss
  libs/core/src/scss/print/components/_kirby-modal-wrapper.scss
  libs/core/src/scss/print/components/_kirby-page.scss
  libs/core/src/scss/print/components/_kirby-router-outlet.scss
  libs/core/src/scss/print/components/_kirby-tab-bar.scss
  libs/core/src/scss/print/elements/_button.scss
  libs/core/src/scss/print/elements/_index.scss
  libs/core/src/scss/print/elements/_page.scss
  libs/core/src/scss/print/elements/_preformatted-text.scss
  libs/core/src/scss/print/generic/_colors.scss
  libs/core/src/scss/print/generic/_index.scss
  libs/core/src/scss/print/generic/_page.scss
  libs/core/src/scss/print/generic/_reset.scss
  libs/core/src/scss/print/generic/_typography.scss
Due: prettier --write, stylelint --fix

Release: kby-1802-fix-default-html-list-styling
  branch/kby-1802-fix-default-html-list-styling/15-es2015.5a866cf975ab50b076c8.js
  branch/kby-1802-fix-default-html-list-styling/15-es5.5a866cf975ab50b076c8.js
  branch/kby-1802-fix-default-html-list-styling/16-es2015.0b9310a3e939092f011e.js
  branch/kby-1802-fix-default-html-list-styling/16-es5.0b9310a3e939092f011e.js
  branch/kby-1802-fix-default-html-list-styling/2-es2015.4b5298cb36c4f3c0c0b0.js
  branch/kby-1802-fix-default-html-list-styling/2-es5.4b5298cb36c4f3c0c0b0.js
  branch/kby-1802-fix-default-html-list-styling/404.html
  branch/kby-1802-fix-default-html-list-styling/index.html
  branch/kby-1802-fix-default-html-list-styling/main-es2015.3b6b793be0845ed22f15.js
  branch/kby-1802-fix-default-html-list-styling/main-es5.3b6b793be0845ed22f15.js
  branch/kby-1802-fix-default-html-list-styling/runtime-es2015.3dbb8d834f7b4c721708.js
  branch/kby-1802-fix-default-html-list-styling/runtime-es5.3dbb8d834f7b4c721708.js
Due: prettier --write

🚚 Rename appInitializer and dont export function
  libs/designsystem/src/lib/custom-elements-initializer.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

🔧 Remove umdModuleID from ng-package
  libs/designsystem/ng-package.json
Due: prettier --write

Release: kby-1802-fix-default-html-list-styling
  branch/kby-1802-fix-default-html-list-styling/404.html
  branch/kby-1802-fix-default-html-list-styling/index.html
  branch/kby-1802-fix-default-html-list-styling/main-es2015.6910b1154a40eca8a69a.js
  branch/kby-1802-fix-default-html-list-styling/main-es5.6910b1154a40eca8a69a.js
Due: prettier --write

💄 Create z-index variable for badge in avatar
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/src/lib/components/avatar/avatar.component.scss
Due: prettier --write, stylelint --fix

💄 Use segmentBadge correctly so it evaluates
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

🚨 reference customElementsInitializer correctly
  libs/designsystem/src/lib/components/badge/badge.component.spec.ts
Due: prettier --write, tslint --fix

🎨 Add imports to same line
  libs/designsystem/src/lib/components/progress-circle/progress-circle-ring.component.spec.ts
Due: prettier --write, tslint --fix

🎨 Make imports one line
  libs/designsystem/src/lib/components/avatar/avatar.component.spec.ts
Due: prettier --write, tslint --fix

🔥 Remove inlineSourceMap
  libs/designsystem/tsconfig.lib.json
Due: prettier --write

🔧 Update package.json description
  package.json
Due: prettier --write

♻️ Rename libDir reference to angularLibDir
  scripts/publish.js
Due: none

💚 Add back export of appInitialize
  libs/designsystem/src/lib/custom-elements-initializer.ts
Due: prettier --write, tslint --fix

Release: kby-web-components
  branch/kby-web-components/13-es2017.0faf191a3acc9bfcfaac.js
  branch/kby-web-components/13-es5.0faf191a3acc9bfcfaac.js
  branch/kby-web-components/15-es2017.e143f648e355ad3a0067.js
  branch/kby-web-components/15-es5.e143f648e355ad3a0067.js
  branch/kby-web-components/16-es2017.9cbc16c9c12f61ae1ed1.js
  branch/kby-web-components/16-es5.9cbc16c9c12f61ae1ed1.js
  branch/kby-web-components/17-es2017.342a86b21b9e9840dca2.js
  branch/kby-web-components/17-es5.342a86b21b9e9840dca2.js
  branch/kby-web-components/2-es2017.a6a0723dc039c239e88e.js
  branch/kby-web-components/2-es5.a6a0723dc039c239e88e.js
  branch/kby-web-components/404.html
  branch/kby-web-components/index.html
  branch/kby-web-components/main-es2017.c6fe1188942795bc55ce.js
  branch/kby-web-components/main-es5.c6fe1188942795bc55ce.js
  branch/kby-web-components/runtime-es2017.96c3042080a91abec1ee.js
  branch/kby-web-components/runtime-es5.96c3042080a91abec1ee.js
  branch/kby-web-components/styles.68c2cc750076501ce4a9.css
Due: prettier --write

🎨 Add whitespace to imports (tslint)
  libs/core/src/components/badge/badge.component.tsx
Due: none

Added filler plugin to chart component (#1832)
  apps/cookbook/src/app/examples/chart-example/chart-example.component.html
  apps/cookbook/src/app/examples/chart-example/chart-example.module.ts
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-area-line.component.ts
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/configured-chart-js.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
  libs/designsystem/src/lib/helpers/color-helper.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 4.0.9
  package-lock.json
  package.json
Due: prettier --write

Release: kby-1802-fix-default-html-list-styling
  branch/kby-1802-fix-default-html-list-styling/2-es2015.00778f4b5333f0866407.js
  branch/kby-1802-fix-default-html-list-styling/2-es5.00778f4b5333f0866407.js
  branch/kby-1802-fix-default-html-list-styling/404.html
  branch/kby-1802-fix-default-html-list-styling/index.html
  branch/kby-1802-fix-default-html-list-styling/main-es2015.1b0df76078443896cbab.js
  branch/kby-1802-fix-default-html-list-styling/main-es5.1b0df76078443896cbab.js
  branch/kby-1802-fix-default-html-list-styling/runtime-es2015.9a17dbea37cbbb901859.js
  branch/kby-1802-fix-default-html-list-styling/runtime-es5.9a17dbea37cbbb901859.js
Due: prettier --write

:bookmark: Bumping version to 0.0.8 (core)
  libs/core/package-lock.json
  libs/core/package.json
  libs/designsystem/package.json
Due: prettier --write

Release: kby-web-components
  branch/kby-web-components/2-es2017.b468ee5567df6b82d8f5.js
  branch/kby-web-components/2-es5.b468ee5567df6b82d8f5.js
  branch/kby-web-components/404.html
  branch/kby-web-components/index.html
  branch/kby-web-components/main-es2017.2afa32279c6e1d980250.js
  branch/kby-web-components/main-es5.2afa32279c6e1d980250.js
  branch/kby-web-components/runtime-es2017.85c0575d607a0c7962dc.js
  branch/kby-web-components/runtime-es5.85c0575d607a0c7962dc.js
Due: prettier --write

:memo: Add markdown accessibility guidelines
  accessibility-guidelines.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
