Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Use Sass string interpolation instead of CSS custom properties
  apps/cookbook/src/app/showcase/showcase.component.scss
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_typography.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/section-header/src/_section-header.utils.scss
Due: prettier --write, stylelint --fix

Make calculations explicit in transpiled styles
  apps/cookbook/src/app/showcase/showcase.component.scss
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_typography.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/section-header/src/_section-header.utils.scss
Due: prettier --write, stylelint --fix

Adjust line-height for button
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for card header
  libs/designsystem/card/src/card-header/card-header.component.scss
Due: prettier --write, stylelint --fix

Exclude failing typography tests
  libs/designsystem/badge/src/badge.component.spec.ts
  libs/designsystem/button/src/button.component.integration.spec.ts
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/chart/src/shared/chart-js-service/chart-js.service.integration.spec.ts
  libs/designsystem/flag/src/flag.component.spec.ts
  libs/designsystem/form-field/src/form-field.component.spec.ts
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/section-header/src/section-header.component.spec.ts
  libs/designsystem/section-header/src/section-header.integration.spec.ts
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix

Adjust line-height for button lg
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Use relative units for font sizes and line heights
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/flag/src/flag.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for reactive form state
  apps/cookbook/src/app/examples/reactive-form-state/reactive-form-state.component.scss
Due: prettier --write, stylelint --fix

Declare min-height in image-banner explicitly to make build pass
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for ng-forms shared
  apps/cookbook/src/app/examples/ng-forms.shared.scss
Due: prettier --write, stylelint --fix

Adjust line-height for paragraphs slotted in item
  libs/designsystem/item/src/_item.utils.scss
Due: prettier --write, stylelint --fix

Adjust line-height for item example
  apps/cookbook/src/app/examples/item-example/item-example.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for fit-heading (line clamp)
  libs/designsystem/shared/src/fit-heading/fit-heading.directive.ts
Due: prettier --write, eslint --fix

Adjust line-height for button sm
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for shared examples
  apps/cookbook/src/app/examples/_examples.shared.scss
Due: prettier --write, stylelint --fix

Adjust line-height for checkbox xs
  libs/designsystem/checkbox/src/checkbox.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for segmented control example
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.component.scss
Due: prettier --write, stylelint --fix

Adjust line-heights for form field
  libs/designsystem/form-field/src/form-field-message/form-field-message.component.scss
  libs/designsystem/form-field/src/form-field.component.scss
Due: prettier --write, stylelint --fix

Adjust line-heights for fonts showcase
  apps/cookbook/src/app/showcase/fonts-showcase/fonts-showcase.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3568-scalable-font-sizes
  branch/kby-3568-scalable-font-sizes/404.html
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/accounts-outline.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/accounts.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/backspace.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/camera.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/copy.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/flag.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/inbox-outline.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/inbox.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/information.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/menu-outline.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/menu.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/person-outline.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/person.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/reorder.svg
  branch/kby-3568-scalable-font-sizes/assets/kirby/icons/svg/support.svg
  branch/kby-3568-scalable-font-sizes/index.html
  branch/kby-3568-scalable-font-sizes/main.d2edc4d7d96ee6fa.js
Due: prettier --write

Add cookbook page and nav item for extensions landing page
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/extensions/extensions-landing-page.component.html
  apps/cookbook/src/app/extensions/extensions-landing-page.component.ts
  apps/cookbook/src/app/page/header/header.component.ts
Due: prettier --write, eslint --fix

Add initial keyboard support
  libs/designsystem/calendar/src/calendar.component.html
  libs/designsystem/calendar/src/calendar.component.scss
  libs/designsystem/calendar/src/calendar.component.ts
  libs/designsystem/calendar/src/helpers/calendar-cell.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

Set sync browser focus with focussed element
  libs/designsystem/calendar/src/calendar.component.scss
  libs/designsystem/calendar/src/calendar.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Announce date properly
  libs/designsystem/calendar/src/calendar.component.html
  libs/designsystem/calendar/src/calendar.component.scss
  libs/designsystem/calendar/src/calendar.component.ts
  libs/designsystem/calendar/src/helpers/calendar-cell.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

Make sure focus is also visible when calendar is entered with pointer interaction
  libs/designsystem/calendar/src/calendar.component.html
  libs/designsystem/calendar/src/calendar.component.scss
  libs/designsystem/calendar/src/calendar.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add visually hidden table headers with full name of weekday
  libs/designsystem/calendar/src/calendar.component.html
  libs/designsystem/calendar/src/calendar.component.ts
Due: prettier --write, eslint --fix

Only handle keyboard events when inside table element
  libs/designsystem/calendar/src/calendar.component.ts
Due: prettier --write, eslint --fix

PR Comments
  apps/cookbook/src/app/examples/list-no-shape-example/list-no-shape-example.component.ts
  apps/cookbook/src/app/showcase/list-no-shape-showcase/list-no-shape-showcase.component.html
  libs/designsystem/list/src/list.component.integration.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3626-enhancement-make-support-for-themes-on-borde
  branch/kby-3626-enhancement-make-support-for-themes-on-bord/404.html
  branch/kby-3626-enhancement-make-support-for-themes-on-bord/index.html
  branch/kby-3626-enhancement-make-support-for-themes-on-bord/main.0409283520e260de.js
Due: prettier --write

Remove unused calendar helper
  libs/designsystem/calendar/src/helpers/calendar.helper.ts
Due: prettier --write, eslint --fix

List: No shape makes kirby item background transparent and updates border-color (#3666)
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/list-no-shape-example/base-list-no-shape.ts
  apps/cookbook/src/app/examples/list-no-shape-example/examples/detailed-card-with-list-no-shape.ts
  apps/cookbook/src/app/examples/list-no-shape-example/examples/multi-card-list-no-shape.ts
  apps/cookbook/src/app/examples/list-no-shape-example/examples/simple-list-no-shape.ts
  apps/cookbook/src/app/examples/list-no-shape-example/list-no-shape-example.component.html
  apps/cookbook/src/app/examples/list-no-shape-example/list-no-shape-example.component.scss
  apps/cookbook/src/app/examples/list-no-shape-example/list-no-shape-example.component.ts
  apps/cookbook/src/app/examples/list-no-shape-example/list-no-shape-example.module.ts
  apps/cookbook/src/app/showcase/list-no-shape-showcase/list-no-shape-showcase.component.html
  apps/cookbook/src/app/showcase/list-no-shape-showcase/list-no-shape-showcase.component.scss
  apps/cookbook/src/app/showcase/list-no-shape-showcase/list-no-shape-showcase.component.ts
  libs/designsystem/list/src/list-item/list-item.component.scss
  libs/designsystem/list/src/list.component.integration.spec.ts
  libs/designsystem/list/src/list.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3673-extensions-cookbook-page
  branch/kby-3673-extensions-cookbook-page/2372.78961da3dd72cd3f.js
  branch/kby-3673-extensions-cookbook-page/404.html
  branch/kby-3673-extensions-cookbook-page/5766.e8541859de9007d6.js
  branch/kby-3673-extensions-cookbook-page/8996.a29431ba3ae3c70f.js
  branch/kby-3673-extensions-cookbook-page/9304.f03ef42a5921c1bb.js
  branch/kby-3673-extensions-cookbook-page/common.ce7b8564248070ce.js
  branch/kby-3673-extensions-cookbook-page/index.html
  branch/kby-3673-extensions-cookbook-page/main.8410b4a5570bf04c.js
  branch/kby-3673-extensions-cookbook-page/runtime.84ecf7c679612493.js
Due: prettier --write

Use less organization-specific lingo
  apps/cookbook/src/app/extensions/extensions-landing-page.component.html
  libs/extensions/angular/README.md
Due: prettier --write

Release: kby-3673-extensions-cookbook-page
  branch/kby-3673-extensions-cookbook-page/404.html
  branch/kby-3673-extensions-cookbook-page/index.html
  branch/kby-3673-extensions-cookbook-page/main.409cd458479e3b9f.js
Due: prettier --write

Reword usage/contribution paragraph
  apps/cookbook/src/app/extensions/extensions-landing-page.component.html
Due: prettier --write

Release: kby-3673-extensions-cookbook-page
  branch/kby-3673-extensions-cookbook-page/404.html
  branch/kby-3673-extensions-cookbook-page/index.html
  branch/kby-3673-extensions-cookbook-page/main.1da38f209ecb117c.js
Due: prettier --write

Add grid behavior
  libs/designsystem/calendar/src/calendar.component.html
Due: prettier --write

Docs: Add page and nav menu item for extensions (#3685)
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/extensions/extensions-landing-page.component.html
  apps/cookbook/src/app/extensions/extensions-landing-page.component.ts
  apps/cookbook/src/app/page/header/header.component.ts
  libs/extensions/angular/README.md
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
