Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

More details
  libs/extensions/angular/skeleton-loader/src/index.ts
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.scss
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.stories.ts
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Simplify docs
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.scss
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Skeleton Loader: Add new skeleton loader component (#3747)
  libs/designsystem/tsconfig.spec.json
  libs/extensions/angular/skeleton-loader/ng-package.json
  libs/extensions/angular/skeleton-loader/src/index.ts
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.html
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.scss
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.spec.ts
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.stories.ts
  libs/extensions/angular/skeleton-loader/src/skeleton-loader.component.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3680-error-message-not-announced
  branch/kby-3680-error-message-not-announced/404.html
  branch/kby-3680-error-message-not-announced/index.html
  branch/kby-3680-error-message-not-announced/main.ce794b919bf8ee2f.js
Due: prettier --write

Form field: announce error text when nested interactive is focussed (#3746)
  libs/designsystem/dropdown/src/dropdown.module.ts
  libs/designsystem/form-field/src/form-field.component.html
  libs/designsystem/form-field/src/form-field.component.spec.ts
  libs/designsystem/form-field/src/form-field.component.ts
  libs/designsystem/form-field/src/input/input.component.ts
  libs/designsystem/form-field/src/textarea/textarea.component.ts
  libs/designsystem/radio/src/radio-group/radio-group.component.html
  libs/designsystem/radio/src/radio-group/radio-group.component.ts
  libs/designsystem/types/src/form-field-control.ts
  libs/designsystem/types/src/public_api.ts
Due: prettier --write, eslint --fix

Lazy-load examples route using module
  apps/cookbook/src/app/app.routes.ts
Due: prettier --write, eslint --fix

3784: Add error event to image-banner
  libs/extensions/angular/image-banner/src/image-banner.component.html
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/image-banner/src/image-banner.component.ts
Due: prettier --write, eslint --fix

Added string type to date and time pipe inputs.
  libs/extensions/angular/localization/src/date-time/abstract-timezone-compensating.pipe.ts
  libs/extensions/angular/localization/src/date-time/date-only/date-only.pipe.ts
  libs/extensions/angular/localization/src/date-time/time-only/time-only.pipe.ts
  libs/extensions/angular/localization/src/date-time/time-or-date/time-or-date.pipe.ts
  libs/extensions/angular/localization/src/date-time/time-or-date/time-or-date.stories.ts
  libs/extensions/angular/package.json
Due: prettier --write, eslint --fix

Make amount configuration optional
  libs/extensions/angular/localization/src/amount/amount-service-formatter.ts
  libs/extensions/angular/localization/src/amount/amount.pipe.ts
  libs/extensions/angular/localization/src/amount/amount.service.ts
  libs/extensions/angular/localization/src/amount/amount.stories.ts
  libs/extensions/angular/localization/src/formatting-pipes.mdx
Due: prettier --write, eslint --fix

Formatting Pipes: added string type to date and time pipe inputs (#3787)
  libs/extensions/angular/localization/src/date-time/abstract-timezone-compensating.pipe.ts
  libs/extensions/angular/localization/src/date-time/date-only/date-only.pipe.ts
  libs/extensions/angular/localization/src/date-time/time-only/time-only.pipe.ts
  libs/extensions/angular/localization/src/date-time/time-or-date/time-or-date.pipe.ts
  libs/extensions/angular/localization/src/date-time/time-or-date/time-or-date.stories.ts
  libs/extensions/angular/package.json
Due: prettier --write, eslint --fix

Retrieve lazy loaded child routes when getting modal routes in modal navigation service
  apps/cookbook/src/app/app.routes.ts
  libs/designsystem/modal/src/modal-navigation.service.ts
Due: prettier --write, eslint --fix

toggle button on mobile view
  libs/designsystem/shared/src/translation/translation.interface.ts
  libs/designsystem/shared/src/translation/translations/da.ts
  libs/designsystem/shared/src/translation/translations/en.ts
  libs/extensions/angular/image-banner/src/image-banner.component.html
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/image-banner/src/image-banner.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactored to use new angular flow syntax
  libs/extensions/angular/image-banner/src/image-banner.component.html
Due: prettier --write

Allow setting options on content mutation observer
  libs/designsystem/helpers/src/content-mutation-observer.ts
Due: prettier --write, eslint --fix

Observe aria role on list item children and move it to host element
  libs/designsystem/list/src/list-item/list-item.component.ts
Due: prettier --write, eslint --fix

accessibility style changes
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Added example to the grid story
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix

Check each route for lazy loaded children
  libs/designsystem/modal/src/modal-navigation.service.ts
Due: prettier --write, eslint --fix

Also looking for modal child routes in the lazy loaded routes
  libs/designsystem/modal/src/modal-navigation.service.ts
Due: prettier --write, eslint --fix

Release: kby-fix-route-based-modal-example
  branch/kby-fix-route-based-modal-example/404.html
  branch/kby-fix-route-based-modal-example/index.html
  branch/kby-fix-route-based-modal-example/main.2165b64d39e28b89.js
Due: prettier --write

Fix story
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix

Add story for fallback image
  libs/extensions/angular/docs/assets/not-found.png
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/image-banner/src/image-banner.component.ts
Due: prettier --write, eslint --fix

Remove console.error
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix

Housekeeping: remove redundant git add in lint-staged config run with husky
  .lintstagedrc
Due: none

Housekeeping: remove redundant git add in lint-staged config (#3800)
  .lintstagedrc
Due: none

Image Banner: emit error event when image fails to load (#3785)
  libs/extensions/angular/docs/assets/not-found.png
  libs/extensions/angular/image-banner/src/image-banner.component.html
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/image-banner/src/image-banner.component.ts
Due: prettier --write, eslint --fix

Use ruler element instead of host as container
  libs/extensions/angular/image-banner/src/image-banner.component.html
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Fix typo
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
