Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-3721-item-improve-styling-for-slotted-textual-con
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/404.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/index.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/main.fbfe5061805e0eaa.js
Due: prettier --write

📝 sync examples page with showcase
  apps/cookbook/src/app/examples/item-example/item-example.component.html
  apps/cookbook/src/app/examples/item-example/item-example.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3721-item-improve-styling-for-slotted-textual-con
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/404.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/index.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/main.e3331c1093f1926f.js
Due: prettier --write

📝 use consistent naming
  apps/cookbook/src/app/showcase/fonts-showcase/fonts-showcase.component.html
Due: prettier --write

Release: kby-3721-item-improve-styling-for-slotted-textual-con
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/404.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/index.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/main.d6c74e32bed07a32.js
Due: prettier --write

♿️ replace h3 with p
  libs/designsystem/dropdown/src/dropdown.component.html
  libs/designsystem/reorder-list/src/reorder-list.component.html
Due: prettier --write

📝 add missing imports
  libs/designsystem/reorder-list/src/reorder-list.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-3721-item-improve-styling-for-slotted-textual-con
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/404.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/index.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/main.ea3d903881ea4470.js
Due: prettier --write

💄 add class selectors for detail
  libs/designsystem/item/src/label/label.component.scss
Due: prettier --write, stylelint --fix

📝 Improve readability
  apps/cookbook/src/app/examples/fonts-example/fonts-example.component.html
Due: prettier --write

✏️ typo
  libs/designsystem/item/src/_item.utils.scss
Due: prettier --write, stylelint --fix

Added toggle legacy and modern syntax as stories for initial snapshot
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

🎨 formatting
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write

📝 Improve readability
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write

📝 Add text styling info
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write

♻️ improve naming
  libs/designsystem/item/src/_item.utils.scss
Due: prettier --write, stylelint --fix

Release: kby-3677-modal-a11y
  branch/kby-3677-modal-a11y/404.html
  branch/kby-3677-modal-a11y/index.html
  branch/kby-3677-modal-a11y/main.25409ef59f54515f.js
Due: prettier --write

Reverse order of title initialization in modal wrapper
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Release: kby-3677-modal-a11y
  branch/kby-3677-modal-a11y/404.html
  branch/kby-3677-modal-a11y/index.html
  branch/kby-3677-modal-a11y/main.879e8311f4f275c3.js
Due: prettier --write

Modal, Alert: label modal with title contents (#3702)
  apps/cookbook/src/app/showcase/alert-showcase/alert-showcase.component.html
  apps/cookbook/src/app/showcase/empty-state-showcase/empty-state-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  libs/designsystem/empty-state/src/empty-state.component.html
  libs/designsystem/empty-state/src/empty-state.component.scss
  libs/designsystem/empty-state/src/empty-state.component.ts
  libs/designsystem/helpers/src/content-mutation-observer.spec.ts
  libs/designsystem/helpers/src/content-mutation-observer.ts
  libs/designsystem/helpers/src/element-ancestor-utils.ts
  libs/designsystem/helpers/src/public_api.ts
  libs/designsystem/modal/src/modal-wrapper/compact/modal-compact-wrapper.component.ts
  libs/designsystem/modal/src/modal-wrapper/config/modal-config.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal/modal-component/modal.component.ts
  libs/designsystem/modal/src/modal/services/alert.helper.spec.ts
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
  libs/designsystem/modal/src/modal/services/modal.helper.ts
  libs/designsystem/testing/src/test-helper.ts
  libs/designsystem/types/src/public_api.ts
  libs/designsystem/types/src/unobserve-fn.ts
Due: prettier --write, eslint --fix, stylelint --fix

Pin storybook version temporarily
  package-lock.json
  package.json
Due: prettier --write

✅ Fix failing test
  libs/designsystem/item/src/item.component.integration.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3721-item-improve-styling-for-slotted-textual-con
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/404.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/index.html
  branch/kby-3721-item-improve-styling-for-slotted-textual-co/main.f1e75bd25ada3680.js
Due: prettier --write

Snapshots updated
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

Fixed checkbox turned into radio story bug
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-3682-enhancement-a11y-improvements-for-menu
  branch/kby-3682-enhancement-a11y-improvements-for-menu/404.html
  branch/kby-3682-enhancement-a11y-improvements-for-menu/8996.cf1568cba724f8f7.js
  branch/kby-3682-enhancement-a11y-improvements-for-menu/index.html
  branch/kby-3682-enhancement-a11y-improvements-for-menu/main.e4d0cda46b5aa3fa.js
  branch/kby-3682-enhancement-a11y-improvements-for-menu/runtime.426f00edb90609ba.js
  branch/kby-3682-enhancement-a11y-improvements-for-menu/styles.a6c5b44bf3ee4014.css
Due: prettier --write

Update libs/designsystem/menu/src/menu.component.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Release: kby-3682-enhancement-a11y-improvements-for-menu
  branch/kby-3682-enhancement-a11y-improvements-for-menu/404.html
  branch/kby-3682-enhancement-a11y-improvements-for-menu/index.html
  branch/kby-3682-enhancement-a11y-improvements-for-menu/main.1b7e36f164a4bd06.js
Due: prettier --write

preventDefault moved to first call
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

remove space for lint to work
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
