Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

test: restructure test data
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, eslint --fix

PoC dark theme colors
  libs/core/src/scss/base/_design-tokens.scss
  libs/core/src/scss/themes/_colors.scss
Due: prettier --write, stylelint --fix

test: update test structure
  libs/designsystem/form-field/src/input-counter/input-counter.component.spec.ts
Due: prettier --write, eslint --fix

Fix page title padding in toolbar
  libs/designsystem/page/src/page.component.scss
Due: prettier --write, stylelint --fix

Adjust page tests to support new title markup
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Update libs/designsystem/toggle-button/src/toggle-button.component.ts
  libs/designsystem/toggle-button/src/toggle-button.component.ts
Due: prettier --write, eslint --fix

feat: cva for input
  libs/designsystem/form-field/src/input-counter/input-counter.component.spec.ts
  libs/designsystem/form-field/src/input/input.component.ts
Due: prettier --write, eslint --fix

chore: remove signals
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, eslint --fix

Revert wrong key-value style change and adjust tests
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/header/src/header.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Preserve text-size of date-mask on input
  libs/designsystem/form-field/src/input/input.component.scss
Due: prettier --write, stylelint --fix

Add test
  libs/designsystem/form-field/src/directives/date/date-input.directive.spec.ts
Due: prettier --write, eslint --fix

Input: pin date-mask font-size to match value (#3877)
  libs/designsystem/form-field/src/directives/date/date-input.directive.spec.ts
  libs/designsystem/form-field/src/input/input.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3692-focus-h1-on-enter
  branch/kby-3692-focus-h1-on-enter/404.html
  branch/kby-3692-focus-h1-on-enter/index.html
  branch/kby-3692-focus-h1-on-enter/main.d2d667260a4062b7.js
Due: prettier --write

forward attributes on label-helper instead of introducing directive
  libs/designsystem/radio/src/radio-group/radio-group.component.html
  libs/designsystem/radio/src/radio-group/radio-group.component.spec.ts
  libs/designsystem/radio/src/radio-group/radio-group.component.ts
  libs/designsystem/radio/src/radio-module.ts
  libs/designsystem/shared/src/controls/attributes.directive.spec.ts
  libs/designsystem/shared/src/controls/attributes.directive.ts
  libs/designsystem/shared/src/controls/label-helpers.spec.ts
  libs/designsystem/shared/src/controls/label-helpers.ts
  libs/designsystem/shared/src/public_api.ts
Due: prettier --write, eslint --fix

Release: kby-3811-bug-kirby-empty-state-fails-in-level-access-
  branch/kby-3811-bug-kirby-empty-state-fails-in-level-access/404.html
  branch/kby-3811-bug-kirby-empty-state-fails-in-level-access/index.html
  branch/kby-3811-bug-kirby-empty-state-fails-in-level-access/main.a7370f62989ae6b2.js
Due: prettier --write

chore: remove comment
  libs/designsystem/toggle-button/src/toggle-button.component.ts
Due: prettier --write, eslint --fix

Make aria attributes work on radio-group
  libs/designsystem/radio/src/radio-group/radio-group.component.ts
  libs/designsystem/shared/src/controls/label-helpers.ts
Due: prettier --write, eslint --fix

naming in spec
  libs/designsystem/shared/src/controls/label-helpers.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3795-bug-aria-label-on-kirby-radio-group-is-not-f
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/404.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/index.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/main.0211850dc0abda8c.js
Due: prettier --write

feat: on touched on blur
  libs/designsystem/toggle-button/src/toggle-button.component.spec.ts
  libs/designsystem/toggle-button/src/toggle-button.component.ts
Due: prettier --write, eslint --fix

fix: ontouched on tab away
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, eslint --fix

chore: set on touched
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, eslint --fix

Update libs/designsystem/form-field/src/textarea/textarea.component.ts
  libs/designsystem/form-field/src/textarea/textarea.component.ts
Due: prettier --write, eslint --fix

Message State: Remove article from empty-state (#3865)
  libs/designsystem/empty-state/src/empty-state.component.html
  libs/designsystem/empty-state/src/empty-state.component.scss
Due: prettier --write, stylelint --fix

Release: kby-segment-control-vca
  branch/kby-segment-control-vca/404.html
  branch/kby-segment-control-vca/index.html
  branch/kby-segment-control-vca/main.b309f73288eed225.js
Due: prettier --write

Release: kby-segment-control-vca
  branch/kby-segment-control-vca/404.html
  branch/kby-segment-control-vca/index.html
  branch/kby-segment-control-vca/main.0e2c04c1b4724ba4.js
Due: prettier --write

Release: kby-toggle-button-cva
  branch/kby-toggle-button-cva/404.html
  branch/kby-toggle-button-cva/index.html
  branch/kby-toggle-button-cva/main.4048c60bf3505c2e.js
Due: prettier --write

Add indeterminate state to checkbox
  apps/cookbook/src/app/examples/checkbox-example/examples/states.ts
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.ts
  libs/designsystem/checkbox/src/checkbox.component.html
  libs/designsystem/checkbox/src/checkbox.component.spec.ts
  libs/designsystem/checkbox/src/checkbox.component.stories.ts
  libs/designsystem/checkbox/src/checkbox.component.ts
Due: prettier --write, eslint --fix

rewrite component description
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
Due: prettier --write

Add more advanced item markup
  apps/cookbook/src/app/examples/list-shared/base-list.component.ts
  apps/cookbook/src/app/examples/virtual-scroll-example/virtual-scroll-list-example/virtual-scroll-list-example.component.html
  apps/cookbook/src/app/examples/virtual-scroll-example/virtual-scroll-list-example/virtual-scroll-list-example.component.ts
Due: prettier --write, eslint --fix

accessible progress circle
  libs/designsystem/progress-circle/src/progress-circle-ring.component.html
  libs/designsystem/progress-circle/src/progress-circle.component.html
  libs/designsystem/progress-circle/src/progress-circle.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
