Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

update showcase w/ disclaimer, API, CSS desc.
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-api.ts
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.html
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.scss
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-2494-kirby-data-table
  branch/kby-2494-kirby-data-table/404.html
  branch/kby-2494-kirby-data-table/730.b5b742b95b40db49.js
  branch/kby-2494-kirby-data-table/index.html
  branch/kby-2494-kirby-data-table/main.4c591caed42d2e4e.js
  branch/kby-2494-kirby-data-table/runtime.1f64f94b065fe75a.js
Due: prettier --write

refactor + review changes
  libs/designsystem/src/lib/components/page-local-navigation/index.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation-item.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.ts
  libs/designsystem/src/lib/components/page/index.ts
  libs/designsystem/src/lib/components/page/page.component.html
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/page/page.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

Update package.json
  package.json
Due: prettier --write

Release: kby-local-navigation
  branch/kby-local-navigation/404.html
  branch/kby-local-navigation/index.html
  branch/kby-local-navigation/main.b94870d180466162.js
  branch/kby-local-navigation/runtime.5acbd227722582f4.js
Due: prettier --write

line-height sass var
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.scss
Due: prettier --write, stylelint --fix

Update core version
  libs/core/package-lock.json
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Bump to version 7.1.1
  package-lock.json
  package.json
Due: prettier --write

Update changelog
  CHANGELOG.md
Due: prettier --write

broke a lot of things while trying out an affix implementation
  apps/cookbook/src/app/examples/form-field-example/examples/input/affix.ts
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/form-field/form-field.component.scss
  libs/designsystem/src/lib/components/form-field/form-field.component.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
  libs/designsystem/src/lib/components/form-field/textarea/textarea.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

update unittest imports
  apps/cookbook/src/app/examples/data-table-example/data-table-example.component.html
  apps/cookbook/src/app/examples/data-table-example/examples/card.ts
  apps/cookbook/src/app/examples/data-table-example/examples/default.ts
  apps/cookbook/src/app/examples/data-table-example/table_example_data.ts
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-api.ts
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.html
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.scss
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.ts
  libs/designsystem/src/lib/components/data-table/_data-table.utils.scss
  libs/designsystem/src/lib/components/data-table/data-table.module.ts
  libs/designsystem/src/lib/components/data-table/index.ts
  libs/designsystem/src/lib/components/data-table/table/table.component.scss
  libs/designsystem/src/lib/components/data-table/table/table.component.spec.ts
  libs/designsystem/src/lib/components/data-table/table/table.component.ts
  libs/designsystem/src/lib/components/data-table/tbody/tbody.component.scss
  libs/designsystem/src/lib/components/data-table/tbody/tbody.component.spec.ts
  libs/designsystem/src/lib/components/data-table/tbody/tbody.component.ts
  libs/designsystem/src/lib/components/data-table/tfoot/tfoot.component.scss
  libs/designsystem/src/lib/components/data-table/tfoot/tfoot.component.spec.ts
  libs/designsystem/src/lib/components/data-table/tfoot/tfoot.component.ts
  libs/designsystem/src/lib/components/data-table/thead/thead.component.scss
  libs/designsystem/src/lib/components/data-table/thead/thead.component.spec.ts
  libs/designsystem/src/lib/components/data-table/thead/thead.component.ts
  libs/designsystem/src/lib/components/data-table/tr/tr.component.scss
  libs/designsystem/src/lib/components/data-table/tr/tr.component.spec.ts
  libs/designsystem/src/lib/components/data-table/tr/tr.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-2494-kirby-data-table
  branch/kby-2494-kirby-data-table/1344.a8fa667c7654f979.js
  branch/kby-2494-kirby-data-table/404.html
  branch/kby-2494-kirby-data-table/index.html
  branch/kby-2494-kirby-data-table/main.48eb0a725808b779.js
  branch/kby-2494-kirby-data-table/runtime.815870951ed2349a.js
Due: prettier --write

corrected kirby-selectable-th class name
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-api.ts
Due: prettier --write, tslint --fix

Release: kby-2494-kirby-data-table
  branch/kby-2494-kirby-data-table/404.html
  branch/kby-2494-kirby-data-table/index.html
  branch/kby-2494-kirby-data-table/main.0f4a072c87516421.js
Due: prettier --write

Toggle 'clicked' class to prevent focus ring on click
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

add unittest for data table and table row
  libs/designsystem/src/lib/components/data-table/table/table.component.scss
  libs/designsystem/src/lib/components/data-table/table/table.component.spec.ts
  libs/designsystem/src/lib/components/data-table/tr/tr.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

rename tr to table-row for clarity
  libs/designsystem/src/lib/components/data-table/index.ts
  libs/designsystem/src/lib/components/data-table/table-row/table-row.component.scss
  libs/designsystem/src/lib/components/data-table/table-row/table-row.component.spec.ts
  libs/designsystem/src/lib/components/data-table/table-row/table-row.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

implements onPush change detection - onPush change detection on Table Component - onPush change detection on Table Component - import fix in Data table module
  libs/designsystem/src/lib/components/data-table/data-table.module.ts
  libs/designsystem/src/lib/components/data-table/table-row/table-row.component.ts
  libs/designsystem/src/lib/components/data-table/table/table.component.ts
Due: prettier --write, tslint --fix

unit tests + experimental examples module
  apps/cookbook/src/app/app.module.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/experimental-examples/components/index.ts
  apps/cookbook/src/app/examples/experimental-examples/components/page-local-navigation/page-local-navigation-example.component.ts
  apps/cookbook/src/app/examples/experimental-examples/experimental-examples.module.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.scss
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.spec.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby-experimental.module.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

update table component unittest
  libs/designsystem/src/lib/components/data-table/table/table.component.spec.ts
Due: prettier --write, tslint --fix

Release: kby-2494-kirby-data-table
  branch/kby-2494-kirby-data-table/404.html
  branch/kby-2494-kirby-data-table/index.html
  branch/kby-2494-kirby-data-table/main.fa7c341c5980d1c2.js
Due: prettier --write

Release: kby-376-modal-alert-before-close
  branch/kby-376-modal-alert-before-close/404.html
  branch/kby-376-modal-alert-before-close/index.html
  branch/kby-376-modal-alert-before-close/main.ea6e40606d7d1924.js
Due: prettier --write

added cookbook affix examples
  apps/cookbook/src/app/examples/form-field-example/examples/input/affix.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write, tslint --fix

remove unused imports
  apps/cookbook/src/app/examples/data-table-example/examples/card.ts
  apps/cookbook/src/app/examples/data-table-example/examples/default.ts
Due: prettier --write, tslint --fix

added prefix / suffix slots to form-field.component.html
  libs/designsystem/src/lib/components/form-field/form-field.component.html
Due: prettier --write

remove fixed comments
  libs/designsystem/src/lib/components/data-table/table-row/table-row.component.spec.ts
  libs/designsystem/src/lib/components/data-table/table/table.component.spec.ts
Due: prettier --write, tslint --fix

fix module scope
  libs/designsystem/src/lib/kirby-experimental.module.ts
Due: prettier --write, tslint --fix

Release: kby-local-navigation
  branch/kby-local-navigation/1995.5177f8e2827ca680.js
  branch/kby-local-navigation/404.html
  branch/kby-local-navigation/4385.ec3655c60adb195b.js
  branch/kby-local-navigation/730.058f14362d37a376.js
  branch/kby-local-navigation/8105.c436560587ac3db6.js
  branch/kby-local-navigation/9223.c575483196ffcdac.js
  branch/kby-local-navigation/common.ffb8de5bd5928d13.js
  branch/kby-local-navigation/index.html
  branch/kby-local-navigation/main.0d6b5818b25fb555.js
  branch/kby-local-navigation/runtime.75bb9e9b1639fe27.js
Due: prettier --write

Remove todo comment
  libs/designsystem/src/lib/components/item/item.component.scss
Due: prettier --write, stylelint --fix

Upgrade chart.js to v. 3.9.1
  package-lock.json
  package.json
Due: prettier --write

affix directive
  apps/cookbook/src/app/examples/form-field-example/examples/input/affix.ts
  libs/designsystem/src/lib/components/form-field/directives/affix/affix.directive.ts
  libs/designsystem/src/lib/components/form-field/form-field.component.html
  libs/designsystem/src/lib/components/form-field/form-field.component.ts
  libs/designsystem/src/lib/components/form-field/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

position affix correctly. Input field padding still wrong
  libs/designsystem/src/lib/components/form-field/form-field.component.ts
Due: prettier --write, tslint --fix

fix affix example to align with new syntax
  apps/cookbook/src/app/examples/form-field-example/examples/input/affix.ts
Due: prettier --write, tslint --fix

Add type guard before accessing config.type
  libs/designsystem/src/lib/components/charts/shared/chart-js-service/chart-js.service.ts
Due: prettier --write, tslint --fix

moved some shared form field variables to a new file from form-field-inputs.shared.scss. Trying to correctly calculate horizontal padding on input field iwth affix
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/form-field/_form-field-variables.scss
  libs/designsystem/src/lib/components/form-field/directives/affix/affix.directive.ts
  libs/designsystem/src/lib/components/form-field/form-field.component.scss
  libs/designsystem/src/lib/components/form-field/form-field.component.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

Create helper type guard function
  libs/designsystem/src/lib/helpers/chart-config-has-type.ts
  libs/designsystem/src/lib/helpers/index.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
