Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Add possibility to opt out of margin on divider (#819)
  src/app/examples/divider-example/divider-example.component.html
  src/app/examples/divider-example/divider-example.component.ts
  src/app/showcase/divider-showcase/divider-showcase.component.html
  src/app/showcase/divider-showcase/divider-showcase.component.ts
  src/kirby/components/divider/divider.component.html
  src/kirby/components/divider/divider.component.scss
  src/kirby/components/divider/divider.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark: Bumping version to 0.8.59
  package-lock.json
  package.json
Due: prettier --write

fix(button): styling of button in context of page
  src/kirby/components/button/button.component.scss
Due: prettier --write, stylelint --fix

fix(button): changed context of ion-content to be .page-title instead
  src/kirby/components/button/button.component.scss
Due: prettier --write, stylelint --fix

fix(button): styling of button in context of page (#830)
  src/kirby/components/button/button.component.scss
Due: prettier --write, stylelint --fix

:bookmark: Bumping version to 0.8.60
  package-lock.json
  package.json
Due: prettier --write

:fire: Remove unused references
  src/kirby/components/page/page.component.ts
Due: prettier --write, tslint --fix

:lipstick: Truncate slotted custom title
  src/kirby/components/page/page.component.html
  src/kirby/components/page/page.component.scss
Due: prettier --write, stylelint --fix

:pencil: Add custom title example
  src/app/examples/examples.common.ts
  src/app/examples/examples.routes.ts
  src/app/examples/page-example/advanced/page-custom-title-example.component.ts
  src/app/showcase/page-showcase/page-showcase.component.html
  src/app/showcase/page-showcase/page-showcase.component.ts
Due: prettier --write, tslint --fix

:pencil: :fire: Clean up advanced example
  src/app/examples/page-example/advanced/page-advanced-example.component.ts
Due: prettier --write, tslint --fix

Fix/centered title & Truncate longer page-titles (#781)
  src/app/examples/examples.common.ts
  src/app/examples/examples.routes.ts
  src/app/examples/page-example/advanced/page-custom-title-example.component.ts
  src/app/showcase/page-showcase/page-showcase.component.html
  src/app/showcase/page-showcase/page-showcase.component.ts
  src/kirby/components/page/page.component.html
  src/kirby/components/page/page.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark: Bumping version to 0.8.61
  package-lock.json
  package.json
Due: prettier --write

Update src/app/showcase/page-showcase/page-showcase.component.html
  src/app/showcase/page-showcase/page-showcase.component.html
Due: prettier --write

Update src/kirby/directives/fit-header/fit-header.directive.ts
  src/kirby/directives/fit-header/fit-header.directive.ts
Due: prettier --write, tslint --fix

Update src/kirby/components/page/page.component.ts
  src/kirby/components/page/page.component.ts
Due: prettier --write, tslint --fix

feat(modal): scroll to top and bottom
  src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.ts
  src/kirby/components/modal/services/modal.controller.interface.ts
  src/kirby/components/modal/services/modal.controller.spec.ts
  src/kirby/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

test: fixed modal wrapper tests
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.ts
  src/kirby/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

feat: support dynamic values in alert
  src/app/examples/alert-example/alert-example.component.html
  src/app/examples/alert-example/alert-example.component.ts
  src/kirby/components/modal/alert/alert.component.html
  src/kirby/components/modal/alert/alert.component.ts
  src/kirby/components/modal/alert/config/alert-config.ts
Due: prettier --write, tslint --fix

chore: remove newline
  src/app/examples/alert-example/alert-example.component.ts
Due: prettier --write, tslint --fix

:ok_hand: Changes from review
  src/kirby/directives/fit-header/fit-header.directive.ts
Due: prettier --write, tslint --fix

:ok_hand: Rename
  src/kirby/components/page/page.component.html
  src/kirby/components/page/page.component.ts
  src/kirby/directives/fit-header/fit-header.directive.ts
Due: prettier --write, tslint --fix

:ok_hand: :truck: Rename files
  src/kirby/components/page/page.component.spec.ts
  src/kirby/components/page/page.component.ts
  src/kirby/components/page/page.module.ts
  src/kirby/directives/fit-header/fit-header.module.ts
  src/kirby/directives/fit-heading/fit-heading.directive.ts
  src/kirby/directives/fit-heading/fit-heading.module.ts
  src/kirby/testing/kirby-testing.module.ts
Due: prettier --write, tslint --fix

:ok_hand: Rename
  src/kirby/components/page/page.module.ts
  src/kirby/directives/fit-heading/fit-heading.module.ts
Due: prettier --write, tslint --fix

:ok_hand: Rename
  src/kirby/directives/fit-heading/fit-heading.directive.ts
Due: prettier --write, tslint --fix

:ok_hand: Simplify
  src/kirby/directives/fit-heading/fit-heading.directive.ts
Due: prettier --write, tslint --fix

:ok_hand: Naming
  src/kirby/directives/fit-heading/fit-heading.directive.ts
Due: prettier --write, tslint --fix

chore: pr fixes
  src/kirby/components/modal/services/modal.controller.spec.ts
  src/kirby/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

fix(modal): handle set scroll cbs on close modal
  src/app/showcase/item-showcase/item-showcase.component.ts
  src/kirby/components/modal/modal-wrapper/config/modal-config.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.ts
  src/kirby/components/modal/services/modal.controller.ts
  src/kirby/components/modal/services/modal.helper.ts
Due: prettier --write, tslint --fix

chore(modal): fixed tests
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  src/kirby/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

chore: simpler example
  src/app/examples/alert-example/alert-example.component.ts
Due: prettier --write, tslint --fix

chore: fix timer leak
  src/app/examples/alert-example/alert-example.component.ts
Due: prettier --write, tslint --fix

:pencil: :sparkles: Add fit heading example
  src/app/examples/examples.common.ts
  src/app/examples/examples.routes.ts
  src/app/examples/page-example/fit-heading/fit-heading-example.component.ts
  src/app/showcase/page-showcase/page-showcase.component.ts
Due: prettier --write, tslint --fix

:pencil: Improve page showcase
  src/app/examples/page-example/advanced/page-custom-title-example.component.ts
  src/app/examples/page-example/simple/page-simple-example.component.ts
  src/app/showcase/page-showcase/page-showcase.component.html
Due: prettier --write, tslint --fix

:wrench: Remove default maxlines
  src/kirby/components/page/page.component.ts
  src/kirby/directives/fit-heading/fit-heading.directive.ts
Due: prettier --write, tslint --fix

chore: pr fixes
  src/app/examples/alert-example/alert-example.component.ts
  src/kirby/components/modal/alert/alert.component.html
  src/kirby/components/modal/alert/alert.component.ts
Due: prettier --write, tslint --fix

chore: make counter more readable
  src/app/examples/alert-example/alert-example.component.ts
  src/kirby/components/modal/alert/alert.component.ts
Due: prettier --write, tslint --fix

chore: rename in example
  src/app/examples/alert-example/alert-example.component.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
