Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: designsystem
  404.html
  assets/kirby/icons/svg/adjust.svg
  index.html
  main.6b6b3a2aab555e24.js
Due: prettier --write

Update migration notes with avatar breaking change
  MIGRATION.md
Due: prettier --write

Update avatar notes
  MIGRATION.md
Due: prettier --write

Fix avatar highlight
  MIGRATION.md
Due: prettier --write

Release: kby-migration-notes-kirby-v9
  branch/kby-migration-notes-kirby-v9/404.html
  branch/kby-migration-notes-kirby-v9/index.html
  branch/kby-migration-notes-kirby-v9/main.6b6b3a2aab555e24.js
Due: prettier --write

Remove shadow input binding (#3186)
  libs/designsystem/avatar/src/avatar.component.ts
Due: prettier --write, eslint --fix

Remove the grid component (#3183)
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/grid/index.ts
  libs/designsystem/grid/ng-package.json
  libs/designsystem/grid/src/breakpoint-helper.service.ts
  libs/designsystem/grid/src/grid-card-configuration.ts
  libs/designsystem/grid/src/grid.component.html
  libs/designsystem/grid/src/grid.component.scss
  libs/designsystem/grid/src/grid.component.ts
  libs/designsystem/grid/src/index.ts
  libs/designsystem/grid/src/public_api.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/index.ts
  libs/designsystem/testing-base/src/lib/components/mock.grid.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

Remove deprecated methods in modalController (#3178)
  libs/designsystem/modal/src/modal/services/modal.controller.ts
  libs/designsystem/modal/src/modal/services/modal.helper.ts
  libs/designsystem/testing-jasmine/src/lib/mock-providers.ts
  libs/designsystem/testing-jest/src/lib/mock-providers.ts
Due: prettier --write, eslint --fix

Remove the registerPresentingElement method in the modal controller & helper (#3170)
  libs/designsystem/modal/src/modal/services/modal.controller.ts
  libs/designsystem/modal/src/modal/services/modal.helper.ts
  libs/designsystem/testing-jasmine/src/lib/mock-providers.ts
  libs/designsystem/testing-jest/src/lib/mock-providers.ts
Due: prettier --write, eslint --fix

Remove alert experimental (#3166)
  apps/cookbook/src/app/examples/alert-experimental-example/alert-experimental-example.component.html
  apps/cookbook/src/app/examples/alert-experimental-example/alert-experimental-example.component.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/showcase/alert-experimental-showcase/alert-experimental-showcase.component.html
  apps/cookbook/src/app/showcase/alert-experimental-showcase/alert-experimental-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/alert-experimental/index.ts
  libs/designsystem/alert-experimental/ng-package.json
  libs/designsystem/alert-experimental/src/alert.component.html
  libs/designsystem/alert-experimental/src/alert.component.scss
  libs/designsystem/alert-experimental/src/alert.component.spec.ts
  libs/designsystem/alert-experimental/src/alert.component.ts
  libs/designsystem/alert-experimental/src/alert.module.ts
  libs/designsystem/alert-experimental/src/config/alert-config.ts
  libs/designsystem/alert-experimental/src/index.ts
  libs/designsystem/alert-experimental/src/public_api.ts
  libs/designsystem/alert-experimental/src/services/alert.controller.spec.ts
  libs/designsystem/alert-experimental/src/services/alert.controller.ts
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/src/lib/index.ts
  libs/designsystem/testing-base/src/lib/components/index.ts
  libs/designsystem/testing-base/src/lib/components/mock.alert-experimental.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/5565.def363ed31b344f8.js
  branch/kby-develop/common.1aaf12e050d9c061.js
  branch/kby-develop/index.html
  branch/kby-develop/main.d5dcfdf04756077f.js
  branch/kby-develop/runtime.a15666d56880701b.js
Due: prettier --write

Remove deprecated button attention level 4 (#3072)
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/button/src/button.component.ts
Due: prettier --write, eslint --fix

Fix imports so wall of text dissappear
  libs/designsystem/button/src/button.component.integration.spec.ts
  libs/designsystem/checkbox/src/checkbox.component.integration.spec.ts
  libs/designsystem/dropdown/src/dropdown-popover.component.integration.spec.ts
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
  libs/designsystem/empty-state/src/empty-state.component.integration.spec.ts
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/item-sliding/src/item-sliding.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/modal/src/modal/alert/alert.component.spec.ts
  libs/designsystem/modal/v2/src/wrapper/wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Custom host and fix dropdown popover
  libs/designsystem/card/src/card-as-button/card-as-button.directive.spec.ts
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
Due: prettier --write, eslint --fix

Rename custom host
  libs/designsystem/card/src/card-as-button/card-as-button.directive.spec.ts
Due: prettier --write, eslint --fix

Release: kby-2998-grid-and-layout-margin-and-breakpoints
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/404.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/5565.50e24f6d043a269a.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/common.1aaf12e050d9c061.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/index.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/main.d45c4d0075ff5b7d.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/runtime.b705328b8d40764a.js
Due: prettier --write

Refactor breakpoints map & update kirby-page padding on "sm" breakpoint (#3003)
  apps/cookbook/src/app/examples/badge-example/badge-example.component.scss
  apps/cookbook/src/app/examples/button-example/button-example.component.scss
  apps/cookbook/src/app/examples/dropdown-example/examples/dropdown-examples.shared.scss
  apps/cookbook/src/app/examples/list-no-shape-example/list-no-shape-example.component.scss
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.html
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/components/_grid.scss
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/modal/src/modal/action-sheet/action-sheet.component.scss
  libs/designsystem/modal/src/modal/alert/alert.component.scss
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove standard as a maxWidth option
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Make standard the default maxWidth option for page
  apps/cookbook/src/app/examples/page-example/content-width/page-content-width-example.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
Due: prettier --write, eslint --fix

Add console warning when using standard width
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Remove tests for the removed width
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-page-fix-max-width
  branch/kby-page-fix-max-width/404.html
  branch/kby-page-fix-max-width/5565.50e24f6d043a269a.js
  branch/kby-page-fix-max-width/assets/kirby/icons/svg/adjust.svg
  branch/kby-page-fix-max-width/common.1aaf12e050d9c061.js
  branch/kby-page-fix-max-width/index.html
  branch/kby-page-fix-max-width/main.756fedb0f3a9ca3a.js
  branch/kby-page-fix-max-width/runtime.b705328b8d40764a.js
Due: prettier --write

Restore test that should be removed in next major
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Set default page width top correct value
  apps/cookbook/src/app/examples/page-example/content-width/page-content-width-example.component.ts
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/page/src/page.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Refactor how interaction state is applied
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Release: kby-3132-interaction-states-are-missing-on-kirby-tabl
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/404.html
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/5565.50e24f6d043a269a.js
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/6514.92277db0c94041d3.js
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/assets/kirby/icons/svg/adjust.svg
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/common.1aaf12e050d9c061.js
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/index.html
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/main.d45c4d0075ff5b7d.js
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/runtime.b705328b8d40764a.js
  branch/kby-3132-interaction-states-are-missing-on-kirby-tab/styles.893f1978cbb04226.css
Due: prettier --write

Import from secondary entries
  libs/designsystem/empty-state/src/empty-state.component.integration.spec.ts
  libs/designsystem/item-sliding/src/item-sliding.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/modal/src/modal/alert/alert.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3193-clean-up-warning-logs-in-test-suites-regardi
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/404.html
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/5565.50e24f6d043a269a.js
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/6514.92277db0c94041d3.js
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/index.html
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/main.d45c4d0075ff5b7d.js
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/runtime.b705328b8d40764a.js
  branch/kby-3193-clean-up-warning-logs-in-test-suites-regard/styles.9efaec8600b6b44f.css
Due: prettier --write

Release: kby-2804-kirby-checkbox-does-not-trigger-changes-with
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/404.html
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/5565.50e24f6d043a269a.js
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/6514.92277db0c94041d3.js
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/assets/kirby/icons/svg/adjust.svg
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/common.1aaf12e050d9c061.js
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/index.html
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/main.f9c049f8bc61cba5.js
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/runtime.b705328b8d40764a.js
  branch/kby-2804-kirby-checkbox-does-not-trigger-changes-wit/styles.9efaec8600b6b44f.css
Due: prettier --write

Release: kby-2991-smaller-checkboxes
  branch/kby-2991-smaller-checkboxes/404.html
  branch/kby-2991-smaller-checkboxes/5565.50e24f6d043a269a.js
  branch/kby-2991-smaller-checkboxes/6514.ad4b7a3afe5ca967.js
  branch/kby-2991-smaller-checkboxes/assets/kirby/icons/svg/adjust.svg
  branch/kby-2991-smaller-checkboxes/common.1aaf12e050d9c061.js
  branch/kby-2991-smaller-checkboxes/index.html
  branch/kby-2991-smaller-checkboxes/main.67c8f80044daeee3.js
  branch/kby-2991-smaller-checkboxes/runtime.50f4ce302fa5794f.js
  branch/kby-2991-smaller-checkboxes/styles.9efaec8600b6b44f.css
Due: prettier --write

Dynamically check resize and destroy contentScroll
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Release: kby-3044-optimize-content-scroll-listening-in-modal
  branch/kby-3044-optimize-content-scroll-listening-in-modal/404.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/5565.50e24f6d043a269a.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/6514.92277db0c94041d3.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/assets/kirby/icons/svg/adjust.svg
  branch/kby-3044-optimize-content-scroll-listening-in-modal/common.1aaf12e050d9c061.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/index.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/main.b1075c9da82baeab.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/runtime.b705328b8d40764a.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/styles.9efaec8600b6b44f.css
Due: prettier --write

Update test with correct default page width
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix
