Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-1998-card-outline
  branch/kby-1998-card-outline/404.html
  branch/kby-1998-card-outline/index.html
  branch/kby-1998-card-outline/main.d0bf4b5ecabde58c.js
Due: prettier --write

Modal footer: apply correct theme variables for nested elements inside footer (#3508)
  libs/designsystem/modal/src/modal/footer/modal-footer.component.scss
  libs/designsystem/modal/src/modal/footer/modal-footer.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

The most readable scss class ever
  apps/cookbook/src/app/examples/card-example/examples/card-example-variant.scss
Due: prettier --write, stylelint --fix

Card: variant attribute introduced with elevated, flat and outlined as options
  MIGRATION.md
  apps/cookbook/src/app/examples/card-example/card-example.component.html
  apps/cookbook/src/app/examples/card-example/card-example.module.ts
  apps/cookbook/src/app/examples/card-example/examples/card-example-variant.scss
  apps/cookbook/src/app/examples/card-example/examples/default.ts
  apps/cookbook/src/app/examples/card-example/examples/flat.ts
  apps/cookbook/src/app/examples/card-example/examples/variant.ts
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.html
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
  libs/designsystem/card/src/card-as-button/card-as-button.directive.ts
  libs/designsystem/card/src/card.component.scss
  libs/designsystem/card/src/card.component.spec.ts
  libs/designsystem/card/src/card.component.stories.ts
  libs/designsystem/card/src/card.component.ts
  libs/designsystem/slide/src/slides.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-numeric-field-not-working-in-safari-firefox
  branch/kby-numeric-field-not-working-in-safari-firefox/404.html
  branch/kby-numeric-field-not-working-in-safari-firefox/5779.d53e33b985b1d5a8.js
  branch/kby-numeric-field-not-working-in-safari-firefox/index.html
  branch/kby-numeric-field-not-working-in-safari-firefox/main.4cbcae6c1418e57a.js
  branch/kby-numeric-field-not-working-in-safari-firefox/runtime.84487f38091cff5d.js
Due: prettier --write

Release: kby-use-core-dist-locally
  branch/kby-use-core-dist-locally/404.html
  branch/kby-use-core-dist-locally/5779.d53e33b985b1d5a8.js
  branch/kby-use-core-dist-locally/index.html
  branch/kby-use-core-dist-locally/main.d0bf4b5ecabde58c.js
  branch/kby-use-core-dist-locally/runtime.84487f38091cff5d.js
Due: prettier --write

Repo: consume core from dist during local development (#3507)
  libs/core/index.ts
  libs/designsystem/dropdown/src/dropdown-popover.component.integration.spec.ts
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/item-sliding/src/item-sliding.component.spec.ts
  libs/designsystem/item/src/label/label.component.spec.ts
  libs/designsystem/list/src/list.component.spec.ts
  libs/designsystem/testing-base/src/lib/components/mock.avatar.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.button.component.ts
  libs/designsystem/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

Update apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write

Release: kby-numeric-field-not-working-in-safari-firefox
  branch/kby-numeric-field-not-working-in-safari-firefox/404.html
  branch/kby-numeric-field-not-working-in-safari-firefox/index.html
  branch/kby-numeric-field-not-working-in-safari-firefox/main.bf6622071a91a105.js
Due: prettier --write

Release: kby-numeric-field-not-working-in-safari-firefox
  branch/kby-numeric-field-not-working-in-safari-firefox/404.html
  branch/kby-numeric-field-not-working-in-safari-firefox/index.html
  branch/kby-numeric-field-not-working-in-safari-firefox/main.aba5ce6e6efc5484.js
Due: prettier --write

Form Field: Better documentation of the behavior of a numeric field (#3509)
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write

Release: kby-3505-storybook-changes-for-chromatic-snapshotting
  branch/kby-3505-storybook-changes-for-chromatic-snapshottin/404.html
  branch/kby-3505-storybook-changes-for-chromatic-snapshottin/5779.b29a2b52f3640225.js
  branch/kby-3505-storybook-changes-for-chromatic-snapshottin/index.html
  branch/kby-3505-storybook-changes-for-chromatic-snapshottin/main.48ecb3f870b468ec.js
  branch/kby-3505-storybook-changes-for-chromatic-snapshottin/runtime.819439d390753196.js
Due: prettier --write

config: add @kirbydesign/angular lib
  libs/angular/.eslintrc.json
  libs/angular/README.md
  libs/angular/badge/ng-package.json
  libs/angular/badge/src/badge.component.ts
  libs/angular/badge/src/public_api.ts
  libs/angular/index.ts
  libs/angular/ng-package.json
  libs/angular/package.json
  libs/angular/project.json
  libs/angular/tsconfig.json
  libs/angular/tsconfig.lib.json
  libs/angular/tsconfig.lib.prod.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

config: remove redundant rootDir
  libs/angular/tsconfig.json
  libs/angular/tsconfig.lib.json
  libs/angular/tsconfig.lib.prod.json
Due: prettier --write

config: remove spec tsconfig reference
  libs/angular/tsconfig.json
Due: prettier --write

Apply suggestions from code review
  libs/angular/README.md
  libs/angular/index.ts
Due: prettier --write, eslint --fix

Release: kby-3496-create-kirbydesign-angular-package
  branch/kby-3496-create-kirbydesign-angular-package/404.html
  branch/kby-3496-create-kirbydesign-angular-package/5779.b29a2b52f3640225.js
  branch/kby-3496-create-kirbydesign-angular-package/index.html
  branch/kby-3496-create-kirbydesign-angular-package/main.48ecb3f870b468ec.js
  branch/kby-3496-create-kirbydesign-angular-package/runtime.819439d390753196.js
Due: prettier --write

config: add @kirbydesign/angular lib (#3511)
  libs/angular/.eslintrc.json
  libs/angular/README.md
  libs/angular/badge/ng-package.json
  libs/angular/badge/src/badge.component.ts
  libs/angular/badge/src/public_api.ts
  libs/angular/index.ts
  libs/angular/ng-package.json
  libs/angular/package.json
  libs/angular/project.json
  libs/angular/tsconfig.json
  libs/angular/tsconfig.lib.json
  libs/angular/tsconfig.lib.prod.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

Revert package.json
  libs/designsystem/package.json
Due: prettier --write

emit error event when img fails on avatar
  libs/designsystem/avatar/src/avatar.component.html
  libs/designsystem/avatar/src/avatar.component.spec.ts
  libs/designsystem/avatar/src/avatar.component.ts
Due: prettier --write, eslint --fix

config: fix ng-packager version
  libs/angular/package.json
  libs/extensions/angular/package.json
Due: prettier --write

config: sync package-lock.json
  package-lock.json
Due: prettier --write

config: revert package name
  package-lock.json
Due: prettier --write

config: add package name to root
  package-lock.json
  package.json
Due: prettier --write

Housekeeping: fix `ng-packager` version (#3515)
  libs/angular/package.json
  libs/extensions/angular/package.json
  package-lock.json
  package.json
Due: prettier --write

feat: add badge web component
  .gitignore
  libs/core/package.json
  libs/core/src/badge/badge.component.ts
  libs/core/src/badge/badge.styles.ts
  libs/core/src/badge/index.ts
  libs/core/src/index.ts
  libs/core/src/styles/component.styles.ts
  package-lock.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
