Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-2816-add-routing-to-experimental-modal-component
  branch/kby-2816-add-routing-to-experimental-modal-component/404.html
  branch/kby-2816-add-routing-to-experimental-modal-component/index.html
  branch/kby-2816-add-routing-to-experimental-modal-component/main.77a8bca5b4365a70.js
Due: prettier --write

Release: kby-run-prettier-on-everything
  branch/kby-run-prettier-on-everything/1648.7029c6fc2f14f30c.js
  branch/kby-run-prettier-on-everything/404.html
  branch/kby-run-prettier-on-everything/537.8947a6b0dbcfaad4.js
  branch/kby-run-prettier-on-everything/6514.b122938bc2c6961e.js
  branch/kby-run-prettier-on-everything/common.7e60a0a63ed6c7e0.js
  branch/kby-run-prettier-on-everything/index.html
  branch/kby-run-prettier-on-everything/main.cd82ee8f315cc4ee.js
  branch/kby-run-prettier-on-everything/runtime.2812dd98dae5f0a7.js
Due: prettier --write

Release: kby-2816-add-routing-to-experimental-modal-component
  branch/kby-2816-add-routing-to-experimental-modal-component/404.html
  branch/kby-2816-add-routing-to-experimental-modal-component/index.html
  branch/kby-2816-add-routing-to-experimental-modal-component/main.862d021ed7718c2a.js
Due: prettier --write

Create the modal routing component
  libs/designsystem/src/lib/components/modal-experimental/index.ts
  libs/designsystem/src/lib/kirby-modal.module.ts
Due: prettier --write, eslint --fix

Update documentation
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example-page1.component.ts
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example.component.html
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example.component.ts
  apps/cookbook/src/app/showcase/modal-experimental-showcase/modal-experimental-showcase.component.html
  apps/cookbook/src/app/showcase/modal-experimental-showcase/modal-experimental-showcase.component.ts
Due: prettier --write, eslint --fix

Add working modal routing example in the cookbook
  apps/cookbook/src/app/examples/modal-experimental-example/modal-experimental-example.module.ts
  apps/cookbook/src/app/showcase/modal-experimental-showcase/modal-experimental-showcase.component.html
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, eslint --fix

Include all newly created files
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example-page1.component.ts
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example-page2.component.ts
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example.component.html
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example.component.ts
  libs/designsystem/src/lib/components/modal-experimental/modal-routing/modal-routing.component.html
  libs/designsystem/src/lib/components/modal-experimental/modal-routing/modal-routing.component.ts
Due: prettier --write, eslint --fix

Add more content and styling to the modal route examples
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example-page1.component.ts
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example-page2.component.ts
  libs/designsystem/src/lib/components/modal-experimental/modal-routing/modal-routing.component.html
  libs/designsystem/src/lib/components/modal-experimental/modal-routing/modal-routing.component.scss
  libs/designsystem/src/lib/components/modal-experimental/modal-routing/modal-routing.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Implement feedback from review
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example-page2.component.ts
  apps/cookbook/src/app/showcase/modal-experimental-showcase/modal-experimental-showcase.component.html
Due: prettier --write, eslint --fix

Add code snippets to the documentation
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example-page2.component.ts
  apps/cookbook/src/app/examples/modal-experimental-example/modal-routing/modal-routing-experimental-example.component.ts
  apps/cookbook/src/app/showcase/modal-experimental-showcase/modal-experimental-showcase.component.html
  apps/cookbook/src/app/showcase/modal-experimental-showcase/modal-experimental-showcase.component.ts
Due: prettier --write, eslint --fix

Add routing to the table of content
  apps/cookbook/src/app/showcase/modal-experimental-showcase/modal-experimental-showcase.component.html
Due: prettier --write

Fix wrong method name
  apps/cookbook/src/app/examples/modal-experimental-example/fullscreen/fullscreen-experimental-example.component.html
Due: prettier --write

Release: kby-2816-add-routing-to-experimental-modal-component
  branch/kby-2816-add-routing-to-experimental-modal-component/404.html
  branch/kby-2816-add-routing-to-experimental-modal-component/537.385b55497d25a040.js
  branch/kby-2816-add-routing-to-experimental-modal-component/6514.0fc0477ab9f5144e.js
  branch/kby-2816-add-routing-to-experimental-modal-component/index.html
  branch/kby-2816-add-routing-to-experimental-modal-component/main.230f8b23dc5d04c1.js
  branch/kby-2816-add-routing-to-experimental-modal-component/runtime.38ac229966bc9097.js
Due: prettier --write

Release: kby-2816-add-routing-to-experimental-modal-component
  branch/kby-2816-add-routing-to-experimental-modal-component/404.html
  branch/kby-2816-add-routing-to-experimental-modal-component/index.html
  branch/kby-2816-add-routing-to-experimental-modal-component/main.2679072ac5dff964.js
Due: prettier --write

Remove any type casting from templates
  libs/designsystem/src/lib/components/modal/alert/alert.component.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation-item.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, eslint --fix

Release: kby-1985-enable-strict-template-checks
  branch/kby-1985-enable-strict-template-checks/1648.7029c6fc2f14f30c.js
  branch/kby-1985-enable-strict-template-checks/1995.f541a121d1fa62dd.js
  branch/kby-1985-enable-strict-template-checks/404.html
  branch/kby-1985-enable-strict-template-checks/438.899348272a1e9403.js
  branch/kby-1985-enable-strict-template-checks/4959.3f1c546f91c75b56.js
  branch/kby-1985-enable-strict-template-checks/537.8947a6b0dbcfaad4.js
  branch/kby-1985-enable-strict-template-checks/6514.b122938bc2c6961e.js
  branch/kby-1985-enable-strict-template-checks/7602.8052229c938c5764.js
  branch/kby-1985-enable-strict-template-checks/9016.be00597f77f69ec6.js
  branch/kby-1985-enable-strict-template-checks/9325.806f14462dde5a64.js
  branch/kby-1985-enable-strict-template-checks/9434.fd2c90b568c27b9f.js
  branch/kby-1985-enable-strict-template-checks/9623.9fdb95657110e1ef.js
  branch/kby-1985-enable-strict-template-checks/common.7e60a0a63ed6c7e0.js
  branch/kby-1985-enable-strict-template-checks/index.html
  branch/kby-1985-enable-strict-template-checks/main.cd82ee8f315cc4ee.js
  branch/kby-1985-enable-strict-template-checks/runtime.2812dd98dae5f0a7.js
  branch/kby-1985-enable-strict-template-checks/styles.b79b6ca3f5af998b.css
Due: prettier --write

Add unit tests
  apps/cookbook/src/app/examples/page-example/tab-navigation/page-tab-nav-example.component.ts
  libs/designsystem/src/lib/components/tab-navigation/tab-navigation-item/tab-navigation-item.component.spec.ts
  libs/designsystem/src/lib/components/tab-navigation/tab-navigation-item/tab-navigation-item.component.ts
  libs/designsystem/src/lib/components/tab-navigation/tab-navigation/tab-navigation.component.spec.ts
  libs/designsystem/src/lib/components/tab-navigation/tab-navigation/tab-navigation.component.ts
Due: prettier --write, eslint --fix

Release: kby-big-bang-as-secondary-entry
  branch/kby-big-bang-as-secondary-entry/404.html
  branch/kby-big-bang-as-secondary-entry/index.html
  branch/kby-big-bang-as-secondary-entry/main.f7e8f63f6c94a9dc.js
  branch/kby-big-bang-as-secondary-entry/runtime.30fe15d99a61238e.js
Due: prettier --write

Make sure initializeTitle runs when title reference might change
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, eslint --fix

remove log
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, eslint --fix

Release: kby-kirby-page-tittle-intersection-fix
  branch/kby-kirby-page-tittle-intersection-fix/404.html
  branch/kby-kirby-page-tittle-intersection-fix/index.html
  branch/kby-kirby-page-tittle-intersection-fix/main.96e783079f8415be.js
Due: prettier --write

[KirbyPage] Fix rare title intersection observer bug (#2822)
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, eslint --fix

feat: add focus trigger. Add 'close on' functionality'
  libs/designsystem/src/lib/directives/floating/floating.directive.ts
Due: prettier --write, eslint --fix

Add required changes
  libs/designsystem/src/lib/kirby.module.ts
  package-lock.json
Due: prettier --write, eslint --fix

Release: kby-2744-popup-component
  branch/kby-2744-popup-component/1648.7029c6fc2f14f30c.js
  branch/kby-2744-popup-component/404.html
  branch/kby-2744-popup-component/537.64d84a3086ac2767.js
  branch/kby-2744-popup-component/6514.0d1b62463ac8564d.js
  branch/kby-2744-popup-component/common.983f8d1f0b150f59.js
  branch/kby-2744-popup-component/index.html
  branch/kby-2744-popup-component/main.ffd1590a8197645e.js
  branch/kby-2744-popup-component/runtime.db80e0731f09c7ae.js
Due: prettier --write

self review
  libs/designsystem/tsconfig.json
Due: prettier --write

moved
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/item-group/index.ts
  libs/designsystem/item-group/ng-package.json
  libs/designsystem/item-group/src/index.ts
  libs/designsystem/item-group/src/item-group.component.html
  libs/designsystem/item-group/src/item-group.component.scss
  libs/designsystem/item-group/src/item-group.component.spec.ts
  libs/designsystem/item-group/src/item-group.component.ts
  libs/designsystem/item-group/src/public_api.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

Item-group as secondary entry (#2823)
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/item-group/index.ts
  libs/designsystem/item-group/ng-package.json
  libs/designsystem/item-group/src/index.ts
  libs/designsystem/item-group/src/item-group.component.html
  libs/designsystem/item-group/src/item-group.component.scss
  libs/designsystem/item-group/src/item-group.component.spec.ts
  libs/designsystem/item-group/src/item-group.component.ts
  libs/designsystem/item-group/src/public_api.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix
