Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

dont show focus ring on dropdown items when opened by mouse
  libs/designsystem/dropdown/src/dropdown.component.html
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3840-enhancement-focus-state
  branch/kby-3840-enhancement-focus-state/404.html
  branch/kby-3840-enhancement-focus-state/chunk-3FB6BMV3.js
  branch/kby-3840-enhancement-focus-state/chunk-4S7DSTJQ.js
  branch/kby-3840-enhancement-focus-state/chunk-4YDOXUVU.js
  branch/kby-3840-enhancement-focus-state/chunk-AZONN7FH.js
  branch/kby-3840-enhancement-focus-state/chunk-BJQN5KXA.js
  branch/kby-3840-enhancement-focus-state/chunk-H3BZYZVK.js
  branch/kby-3840-enhancement-focus-state/chunk-RIFDF4QK.js
  branch/kby-3840-enhancement-focus-state/chunk-Y6DXPYNI.js
  branch/kby-3840-enhancement-focus-state/index.html
  branch/kby-3840-enhancement-focus-state/main-44GGORO7.js
  branch/kby-3840-enhancement-focus-state/main-QXFXXVT5.js
Due: prettier --write

fixed image banner and combobox focus
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

fixed focused story on narrow view image banner
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-3FB6BMV3.js
  branch/kby-develop/chunk-4S7DSTJQ.js
  branch/kby-develop/chunk-57XFKMIM.js
  branch/kby-develop/chunk-AZONN7FH.js
  branch/kby-develop/chunk-BJQN5KXA.js
  branch/kby-develop/chunk-H3BZYZVK.js
  branch/kby-develop/chunk-PJ6BB7LT.js
  branch/kby-develop/chunk-RIFDF4QK.js
  branch/kby-develop/chunk-Y6DXPYNI.js
  branch/kby-develop/index.html
  branch/kby-develop/main-44GGORO7.js
  branch/kby-develop/main-66WUSC6R.js
  branch/kby-develop/styles-HL7O2YH6.css
  branch/kby-develop/styles-ZFU27PQA.css
Due: prettier --write

Release: kby-3586-resize-text-accessibility-success-criterion
  branch/kby-3586-resize-text-accessibility-success-criterion/404.html
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-AI3W2FZQ.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-BJJXJPFO.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-CE7GTZGG.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-FAKVINK3.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-KOHLU35D.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-T3HZUGEM.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-TNEP7M33.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-VDDQROOY.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-WKV5FNV4.js
  branch/kby-3586-resize-text-accessibility-success-criterion/index.html
  branch/kby-3586-resize-text-accessibility-success-criterion/main-GB457EL6.js
  branch/kby-3586-resize-text-accessibility-success-criterion/main-LSYCQBX4.js
  branch/kby-3586-resize-text-accessibility-success-criterion/styles-56JKDIQQ.css
  branch/kby-3586-resize-text-accessibility-success-criterion/styles-OKQGG4AM.css
Due: prettier --write

grouping on items
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.scss
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
  libs/extensions/angular/combobox/src/combobox.component.ts
  libs/extensions/angular/combobox/src/combobox.types.ts
  libs/extensions/angular/combobox/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

remove unused and opsolite code
  libs/extensions/angular/combobox/src/combobox.component.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-3FB6BMV3.js
  branch/kby-develop/chunk-BJJXJPFO.js
  branch/kby-develop/chunk-BJQN5KXA.js
  branch/kby-develop/chunk-CE7GTZGG.js
  branch/kby-develop/chunk-FAKVINK3.js
  branch/kby-develop/chunk-H3BZYZVK.js
  branch/kby-develop/chunk-RIFDF4QK.js
  branch/kby-develop/chunk-T3HZUGEM.js
  branch/kby-develop/chunk-TNEP7M33.js
  branch/kby-develop/chunk-VDDQROOY.js
  branch/kby-develop/chunk-WKV5FNV4.js
  branch/kby-develop/chunk-Y6DXPYNI.js
  branch/kby-develop/index.html
  branch/kby-develop/main-44GGORO7.js
  branch/kby-develop/main-GB457EL6.js
  branch/kby-develop/styles-HL7O2YH6.css
  branch/kby-develop/styles-OKQGG4AM.css
Due: prettier --write

Release: v11.9.0
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release: Extensions v4.5.0
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write

Release: v11.9.0 (#4549)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release: Extensions v4.5.0 (#4550)
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write

Release: kby-shell-quote-1-8-4
  branch/kby-shell-quote-1-8-4/404.html
  branch/kby-shell-quote-1-8-4/chunk-5KER4FYI.js
  branch/kby-shell-quote-1-8-4/chunk-BJJXJPFO.js
  branch/kby-shell-quote-1-8-4/chunk-CE7GTZGG.js
  branch/kby-shell-quote-1-8-4/chunk-CREXIV3T.js
  branch/kby-shell-quote-1-8-4/chunk-EXYHCGO2.js
  branch/kby-shell-quote-1-8-4/chunk-FAKVINK3.js
  branch/kby-shell-quote-1-8-4/chunk-LPJPPJQW.js
  branch/kby-shell-quote-1-8-4/chunk-MPDNDKHS.js
  branch/kby-shell-quote-1-8-4/chunk-T3HZUGEM.js
  branch/kby-shell-quote-1-8-4/chunk-TNEP7M33.js
  branch/kby-shell-quote-1-8-4/chunk-VDDQROOY.js
  branch/kby-shell-quote-1-8-4/chunk-WKV5FNV4.js
  branch/kby-shell-quote-1-8-4/index.html
  branch/kby-shell-quote-1-8-4/main-5O274TOI.js
  branch/kby-shell-quote-1-8-4/main-GB457EL6.js
  branch/kby-shell-quote-1-8-4/styles-OKQGG4AM.css
  branch/kby-shell-quote-1-8-4/styles-ZFU27PQA.css
Due: prettier --write

Release: kby-tmp-0-2-7
  branch/kby-tmp-0-2-7/404.html
  branch/kby-tmp-0-2-7/chunk-BJJXJPFO.js
  branch/kby-tmp-0-2-7/chunk-CE7GTZGG.js
  branch/kby-tmp-0-2-7/chunk-DTQWQK2H.js
  branch/kby-tmp-0-2-7/chunk-EL7K35VF.js
  branch/kby-tmp-0-2-7/chunk-FAKVINK3.js
  branch/kby-tmp-0-2-7/chunk-G6Z3B3U5.js
  branch/kby-tmp-0-2-7/chunk-MUAGSRS3.js
  branch/kby-tmp-0-2-7/chunk-T3HZUGEM.js
  branch/kby-tmp-0-2-7/chunk-TNEP7M33.js
  branch/kby-tmp-0-2-7/chunk-VDDQROOY.js
  branch/kby-tmp-0-2-7/chunk-WKV5FNV4.js
  branch/kby-tmp-0-2-7/chunk-YYUQQD3B.js
  branch/kby-tmp-0-2-7/index.html
  branch/kby-tmp-0-2-7/main-5TS37SGF.js
  branch/kby-tmp-0-2-7/main-GB457EL6.js
  branch/kby-tmp-0-2-7/styles-OKQGG4AM.css
  branch/kby-tmp-0-2-7/styles-ZFU27PQA.css
Due: prettier --write

Use modern injection in modal component props showcase
  apps/cookbook/src/app/examples/modal-example/modal-example-advanced.component.ts
Due: prettier --write, eslint --fix

Release: designsystem
  404.html
  chunk-5KER4FYI.js
  chunk-BJJXJPFO.js
  chunk-CE7GTZGG.js
  chunk-CREXIV3T.js
  chunk-EXYHCGO2.js
  chunk-FAKVINK3.js
  chunk-LPJPPJQW.js
  chunk-MPDNDKHS.js
  chunk-T3HZUGEM.js
  chunk-TNEP7M33.js
  chunk-VDDQROOY.js
  chunk-WKV5FNV4.js
  index.html
  main-5O274TOI.js
  main-GB457EL6.js
  styles-OKQGG4AM.css
  styles-ZFU27PQA.css
Due: prettier --write

feat(gesture): add gesture controller
  libs/designsystem/config/src/provide-kirby.ts
  libs/designsystem/gesture/index.ts
  libs/designsystem/gesture/ng-package.json
  libs/designsystem/gesture/src/gesture-controller.service.spec.ts
  libs/designsystem/gesture/src/gesture-controller.service.ts
  libs/designsystem/gesture/src/gesture.types.ts
  libs/designsystem/gesture/src/index.ts
  libs/designsystem/gesture/src/public_api.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

handling of group sizes
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
  libs/extensions/angular/combobox/src/combobox.component.ts
  libs/extensions/angular/combobox/src/combobox.types.ts
Due: prettier --write, eslint --fix

Release: kby-4539-combobox-grouping
  branch/kby-4539-combobox-grouping/404.html
  branch/kby-4539-combobox-grouping/chunk-3FB6BMV3.js
  branch/kby-4539-combobox-grouping/chunk-BJJXJPFO.js
  branch/kby-4539-combobox-grouping/chunk-BJQN5KXA.js
  branch/kby-4539-combobox-grouping/chunk-CE7GTZGG.js
  branch/kby-4539-combobox-grouping/chunk-FAKVINK3.js
  branch/kby-4539-combobox-grouping/chunk-H3BZYZVK.js
  branch/kby-4539-combobox-grouping/chunk-RIFDF4QK.js
  branch/kby-4539-combobox-grouping/chunk-T3HZUGEM.js
  branch/kby-4539-combobox-grouping/chunk-TNEP7M33.js
  branch/kby-4539-combobox-grouping/chunk-VDDQROOY.js
  branch/kby-4539-combobox-grouping/chunk-WKV5FNV4.js
  branch/kby-4539-combobox-grouping/chunk-Y6DXPYNI.js
  branch/kby-4539-combobox-grouping/index.html
  branch/kby-4539-combobox-grouping/main-44GGORO7.js
  branch/kby-4539-combobox-grouping/main-GB457EL6.js
  branch/kby-4539-combobox-grouping/styles-HL7O2YH6.css
  branch/kby-4539-combobox-grouping/styles-OKQGG4AM.css
Due: prettier --write

dd disclosure on time
  apps/cookbook/src/app/examples/item-example/examples/_shared.scss
  apps/cookbook/src/app/examples/item-example/examples/complex-labels.ts
Due: prettier --write, eslint --fix, stylelint --fix

wrap details
  apps/cookbook/src/app/examples/item-example/examples/complex-labels.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write, eslint --fix

Release: kby-4309-enhancement-support-for-correct-message-item
  branch/kby-4309-enhancement-support-for-correct-message-item/404.html
  branch/kby-4309-enhancement-support-for-correct-message-item/chunk-AMSYLJWE.js
  branch/kby-4309-enhancement-support-for-correct-message-item/chunk-AR5NALYO.js
  branch/kby-4309-enhancement-support-for-correct-message-item/chunk-R3ZQ7P4J.js
  branch/kby-4309-enhancement-support-for-correct-message-item/chunk-VRSEL6BO.js
  branch/kby-4309-enhancement-support-for-correct-message-item/chunk-ZJKPIX7D.js
  branch/kby-4309-enhancement-support-for-correct-message-item/index.html
  branch/kby-4309-enhancement-support-for-correct-message-item/main-JLMJ3RK4.js
  branch/kby-4309-enhancement-support-for-correct-message-item/main-LPYKLJ6A.js
Due: prettier --write

merge develop
  package-lock.json
Due: prettier --write

Release: kby-4507-custom-menu-content-in-sidebar-component
  branch/kby-4507-custom-menu-content-in-sidebar-component/404.html
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-57XFKMIM.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-BJJXJPFO.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-CE7GTZGG.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-FAKVINK3.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-G23WNMI6.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-PCDOFJ7B.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-PJ6BB7LT.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-T3HZUGEM.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-TNEP7M33.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-VDDQROOY.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-WKV5FNV4.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/chunk-X4VD6YKV.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/index.html
  branch/kby-4507-custom-menu-content-in-sidebar-component/main-66WUSC6R.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/main-GB457EL6.js
  branch/kby-4507-custom-menu-content-in-sidebar-component/styles-OKQGG4AM.css
  branch/kby-4507-custom-menu-content-in-sidebar-component/styles-ZFU27PQA.css
Due: prettier --write

Fix merge error
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
