Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

💡 Update comment
  libs/designsystem/src/lib/helpers/color-helper.ts
Due: prettier --write, tslint --fix

💡 Comment
  libs/designsystem/src/lib/helpers/color-helper.ts
Due: prettier --write, tslint --fix

headerTexts removed changed to sort icon
  src/app/examples/reorder/reorder-list-example.component.html
  src/app/examples/reorder/reorder-list-example.component.scss
  src/app/examples/reorder/reorder-list-example.component.ts
  src/app/showcase/reorder-showcase/reorder-showcase.component.ts
  src/kirby/components/item/item.component.html
  src/kirby/components/reorder-list/reorder-list.component.html
  src/kirby/components/reorder-list/reorder-list.component.scss
  src/kirby/components/reorder-list/reorder-list.component.spec.ts
  src/kirby/components/reorder-list/reorder-list.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

added remarks
  src/app/showcase/reorder-showcase/reorder-showcase.component.html
  src/app/showcase/reorder-showcase/reorder-showcase.component.ts
Due: prettier --write, tslint --fix

added test for ReorderShowcaseComponent
  src/app/showcase/reorder-showcase/reorder-showcase.component.spec.ts
Due: prettier --write, tslint --fix

removed ReorderShowcaseComponent
  src/app/showcase/reorder-showcase/reorder-showcase.component.spec.ts
Due: prettier --write, tslint --fix

Changed description for complete method.
  src/app/showcase/reorder-showcase/reorder-showcase.component.ts
Due: prettier --write, tslint --fix

new icon for reordering
  src/kirby/components/icon/kirby-icon-settings.ts
  src/kirby/components/item/item.component.html
  src/kirby/icons/svg/reorder.svg
Due: prettier --write, tslint --fix

:sparkles: Add testing project
  angular.json
  libs/testing/README.md
  libs/testing/karma.conf.js
  libs/testing/ng-package.json
  libs/testing/package.json
  libs/testing/src/index.ts
  libs/testing/src/lib/kirby-testing.module.ts
  libs/testing/src/test.ts
  libs/testing/tsconfig.json
  libs/testing/tsconfig.lib.json
  libs/testing/tsconfig.spec.json
  libs/testing/tslint.json
  nx.json
  package.json
Due: prettier --write, tslint --fix

:sparkles: :wrench: Add generate-mocks tool
  .gitignore
  package.json
  scripts/generate-mocks.js
  tools/generate-mocks/generate-mocks.ts
  tools/generate-mocks/tsconfig.json
Due: prettier --write, tslint --fix

:sparkles: Support multiple classes in 1 file
  tools/generate-mocks/generate-mocks.ts
Due: prettier --write, tslint --fix

:pencil2: Typo
  libs/testing/tsconfig.lib.json
Due: prettier --write

:wrench: Use `kirby` as directive prefix
  libs/testing/tslint.json
Due: prettier --write

:wrench: Add `@kirbydesign/designsystem` to paths
  libs/testing/tsconfig.json
Due: prettier --write

📦 Export `ListShape`
  libs/designsystem/src/lib/components/list/index.ts
Due: prettier --write, tslint --fix

Dynamic Type
  src/kirby/scss/base/_typography.scss
  src/styles.scss
Due: prettier --write, stylelint --fix

Correct scaling
  src/kirby/scss/base/_typography.scss
Due: prettier --write, stylelint --fix

:lipstick: Add prettier formatting
  tools/generate-mocks/generate-mocks.ts
Due: prettier --write, tslint --fix

Remove xxs font size
  src/app/examples/button-example/button-example.component.scss
  src/app/examples/fonts-example/fonts-example.component.html
  src/app/showcase/fonts-showcase/fonts-showcase.component.html
  src/app/showcase/fonts-showcase/fonts-showcase.component.scss
  src/kirby/components/badge/badge.component.scss
  src/kirby/components/tabs/tab-button/tab-button.component.scss
  src/kirby/scss/base/_typography.scss
  src/kirby/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

:wrench: Fix imports
  libs/testing/src/lib/components/mock.chart.component.ts
Due: prettier --write, tslint --fix

Add note about Dynamic Type
  src/app/showcase/fonts-showcase/fonts-showcase.component.html
Due: prettier --write

Minimize margin on size sample
  src/app/showcase/fonts-showcase/fonts-showcase.component.html
  src/app/showcase/fonts-showcase/fonts-showcase.component.scss
Due: prettier --write, stylelint --fix

example placed in iphone moved in navigation
  src/app/examples/reorder/reorder-list-example.component.html
  src/app/examples/reorder/reorder-list-example.component.scss
  src/app/examples/reorder/reorder-list-example.component.ts
  src/app/page/side-nav/side-nav.component.html
  src/app/showcase/reorder-showcase/reorder-showcase.component.html
  src/app/showcase/reorder-showcase/reorder-showcase.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove obsolete typings
  libs/designsystem/src/typings.test.d.ts
Due: prettier --write, tslint --fix

:recycle: Move paths to method params... ...and use path util for joining paths
  scripts/generate-mocks.js
  tools/generate-mocks/generate-mocks.ts
Due: prettier --write, tslint --fix

:wrench: Add `generate-mocks` script... ...and run as pre-script to `dist:designsystem`
  package.json
Due: prettier --write

styling changes
  src/kirby/components/reorder-list/reorder-list.component.scss
Due: prettier --write, stylelint --fix

Fixes for PR comments
  src/app/examples/reorder/reorder-list-example.component.ts
  src/app/showcase/reorder-showcase/reorder-showcase.component.ts
  src/kirby/components/item/item.component.spec.ts
  src/kirby/components/reorder-list/reorder-list.component.scss
  src/kirby/components/reorder-list/reorder-list.component.spec.ts
  src/kirby/components/reorder-list/reorder-list.component.ts
  src/kirby/icons/svg/reorder.svg
Due: prettier --write, tslint --fix, stylelint --fix

➕Add hard dependencies
  libs/designsystem/package.json
Due: prettier --write

🔖Bump version to `1.0.0`
  libs/designsystem/package.json
Due: prettier --write

⏪ Revert to `peerDependencies`
  libs/designsystem/package.json
Due: prettier --write

:truck: Update `generate-mocks` script
  scripts/generate-mocks.js
Due: none

:truck: Move `highcharts`+`moment` to hard dependencies
  libs/designsystem/ng-package.json
  libs/designsystem/package.json
Due: prettier --write

:clown_face: Added mocks / spies for Jest.
  libs/designsystem/testing-jest/src/lib/kirby-testing.module.ts
Due: prettier --write, tslint --fix

:bug: Fixed issue with kirby-testing.module.ts (in testing-jest)-entrypoint failing, due to missing type dependency upon @types/jest.
  package-lock.json
  package.json
Due: prettier --write

🏁Fix `publish.js` script for Windows
  scripts/publish.js
Due: none

:label: Fixed issue with types being loaded for building tools/tslint-rules
  tools/tslint-rules/tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
