Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-3096-accordion-item-should-emit-toggle-event-when
  branch/kby-3096-accordion-item-should-emit-toggle-event-whe/404.html
  branch/kby-3096-accordion-item-should-emit-toggle-event-whe/index.html
  branch/kby-3096-accordion-item-should-emit-toggle-event-whe/main.13e38156970c5975.js
Due: prettier --write

Release: kby-979-last-item-in-reorder-list-has-padding-on-the-
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/1648.6842256ffdef4579.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/404.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/5565.095eaa8940b1efb4.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/assets/kirby/icons/svg/arrow-down-fill.svg
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/assets/kirby/icons/svg/arrow-up-fill.svg
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/assets/kirby/icons/svg/calculator.svg
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/assets/kirby/icons/svg/menu-no-decoration.svg
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/common.19d5dca630ff1397.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/index.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/main.d3c19c48938a75c7.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/runtime.e6d37f88a7ba9d6b.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/styles.6b58a3c93ef1a14f.css
Due: prettier --write

Add check for last out-group in reorder (Fix spacing) (#3094)
  libs/designsystem/reorder-list/src/reorder-list.component.html
  libs/designsystem/reorder-list/src/reorder-list.component.scss
Due: prettier --write, stylelint --fix

Add `toggle` event to accordion item (#3100)
  apps/cookbook/src/app/examples/accordion-example/accordion-example.component.html
  apps/cookbook/src/app/examples/accordion-example/accordion-example.module.ts
  apps/cookbook/src/app/examples/accordion-example/examples/events.ts
  apps/cookbook/src/app/examples/accordion-example/examples/expanded.ts
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.ts
  libs/designsystem/accordion/src/accordion-item.component.html
  libs/designsystem/accordion/src/accordion-item.component.spec.ts
  libs/designsystem/accordion/src/accordion-item.component.ts
Due: prettier --write, eslint --fix

style: only apply transition to background-color
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Tabs: only apply animation to background-color (#3139)
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Bump designsystem package version
  package-lock.json
  package.json
Due: prettier --write

Add extra example
  apps/cookbook/src/app/examples/item-example/examples/disclosure-animation-expand.ts
  apps/cookbook/src/app/examples/item-example/item-example.module.ts
Due: prettier --write, eslint --fix

Update docs
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write

Update docs styling
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.scss
Due: prettier --write, stylelint --fix

Refactor to use absolute import
  libs/designsystem/item/src/item.component.spec.ts
Due: prettier --write, eslint --fix

Refactor styles to control the height of the disclosure wrapper
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Simplify example
  apps/cookbook/src/app/examples/item-example/examples/disclosure-animation.ts
Due: prettier --write, eslint --fix

Remove simple disclosure example
  apps/cookbook/src/app/examples/item-example/examples/disclosure-animation-expand.ts
  apps/cookbook/src/app/examples/item-example/examples/disclosure-animation.ts
  apps/cookbook/src/app/examples/item-example/item-example.module.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write, eslint --fix

Set line-height 0 on disclosure wrapper
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2901-animation-on-disclosure-icon
  branch/kby-2901-animation-on-disclosure-icon/404.html
  branch/kby-2901-animation-on-disclosure-icon/5565.471a68767ce7f1fd.js
  branch/kby-2901-animation-on-disclosure-icon/index.html
  branch/kby-2901-animation-on-disclosure-icon/main.3db4218a867b3488.js
  branch/kby-2901-animation-on-disclosure-icon/runtime.1beb3b119e36fde9.js
Due: prettier --write

Change small breakpoint to 320px
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Change variable names from $breakpoint to $grid-size
  libs/core/src/scss/components/_grid.scss
Due: prettier --write, stylelint --fix

Update all utils.media uses of xsmall
  libs/designsystem/alert-experimental/src/alert.component.scss
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/modal/src/modal/action-sheet/action-sheet.component.scss
  libs/designsystem/modal/src/modal/alert/alert.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2998-grid-and-layout-margin-and-breakpoints
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/404.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/5565.951d380583719741.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/index.html
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/main.79233ed13bf41f17.js
  branch/kby-2998-grid-and-layout-margin-and-breakpoints/runtime.113d71ea61639c1b.js
Due: prettier --write

Refactor calendar to always show 6 weeks
  libs/designsystem/calendar/src/calendar.component.scss
  libs/designsystem/calendar/src/calendar.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove duplicate test
  libs/designsystem/calendar/src/calendar.component.spec.ts
Due: prettier --write, eslint --fix

extra small checkbox
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/checkbox/src/checkbox.component.scss
Due: prettier --write, stylelint --fix

Add list and grid svg icons
  libs/designsystem/icon/src/icons/svg/grid.svg
  libs/designsystem/icon/src/icons/svg/list.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

remove redundant lines 3-10
  libs/designsystem/divider/src/divider.component.scss
Due: prettier --write, stylelint --fix

Update example and export code snippet
  apps/cookbook/src/app/examples/item-example/examples/disclosure-animation.ts
Due: prettier --write, eslint --fix

Update docs and add animation code snippet
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write

Change styles to control the height of the disclosure wrapper
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Add test to ensure the correct height is set
  libs/designsystem/item/src/item.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-2901-animation-on-disclosure-icon
  branch/kby-2901-animation-on-disclosure-icon/404.html
  branch/kby-2901-animation-on-disclosure-icon/index.html
  branch/kby-2901-animation-on-disclosure-icon/main.6c5726bac2160d75.js
Due: prettier --write

Add list and grid svg icons (#3142)
  libs/designsystem/icon/src/icons/svg/grid.svg
  libs/designsystem/icon/src/icons/svg/list.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/assets/kirby/icons/svg/grid.svg
  branch/kby-develop/assets/kirby/icons/svg/list.svg
  branch/kby-develop/index.html
  branch/kby-develop/main.3c3891bc6b0e5568.js
Due: prettier --write
