Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.a4ec3802358b1ca8.js
Due: prettier --write

review changes
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

resolve searchBufferTimeout
  libs/designsystem/dropdown/src/dropdown.component.ts
Due: prettier --write, eslint --fix

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.d7257a71d3732377.js
Due: prettier --write

review hidden comments
  libs/designsystem/dropdown/src/dropdown.component.ts
Due: prettier --write, eslint --fix

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.8567f1e408218551.js
Due: prettier --write

Release: kby-3807-bug-nvda-will-trigger-click-event-on-a-aria-
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/404.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/index.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/main.4085b2f05756363e.js
Due: prettier --write

Link Styles: let text with trailing icon wrap to new line
  libs/core/src/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/index.html
  branch/kby-develop/main.d3fa4c17a06df2d9.js
Due: prettier --write

Removed hostlistener and added listener through renderer to safely catch and prevent eventbubbling when using screen readers
  libs/designsystem/button/src/button.component.ts
Due: prettier --write, eslint --fix

removed unused abortlistener
  libs/designsystem/button/src/button.component.ts
Due: prettier --write, eslint --fix

Release: kby-4035-allow-external-icon-text-to-wrap
  branch/kby-4035-allow-external-icon-text-to-wrap/404.html
  branch/kby-4035-allow-external-icon-text-to-wrap/index.html
  branch/kby-4035-allow-external-icon-text-to-wrap/main.37e7f6fa8f40a890.js
Due: prettier --write

Release: kby-3807-bug-nvda-will-trigger-click-event-on-a-aria-
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/404.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/index.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/main.463c4f44b860eb45.js
Due: prettier --write

Release: kby-3807-bug-nvda-will-trigger-click-event-on-a-aria-
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/404.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/index.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/main.2e3ddec17ea9aba6.js
Due: prettier --write

Link Styles: Let text with trailing icon wrap to new line (#4036)
  libs/core/src/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

Release: kby-spot-illustrations
  branch/kby-spot-illustrations/2910.ba0eff276ff46b69.js
  branch/kby-spot-illustrations/404.html
  branch/kby-spot-illustrations/4699.7687ae18739bfb99.js
  branch/kby-spot-illustrations/7179.b0dd87df6d5fc089.js
  branch/kby-spot-illustrations/8016.d35815809ffd8f71.js
  branch/kby-spot-illustrations/index.html
  branch/kby-spot-illustrations/main.98eb2addbe720160.js
  branch/kby-spot-illustrations/polyfills.b338210d10f0dc56.js
  branch/kby-spot-illustrations/runtime.d286c3031cf9cf14.js
  branch/kby-spot-illustrations/styles.04cde6e402da3e6d.css
Due: prettier --write

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/2910.ba0eff276ff46b69.js
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.c2b858350fdb8c0b.js
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/runtime.456390d067726615.js
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/styles.04cde6e402da3e6d.css
Due: prettier --write

review comments
  libs/designsystem/dropdown/src/dropdown.component.html
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/helpers/src/search.helper.spec.ts
Due: prettier --write, eslint --fix

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.31176f9e2207a1c9.js
Due: prettier --write

Clean up avatar styles for readability
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/avatar/src/avatar.component.scss
Due: prettier --write, stylelint --fix

Unit test of blocked event
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3807-bug-nvda-will-trigger-click-event-on-a-aria-
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/2910.ba0eff276ff46b69.js
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/404.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/index.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/main.ec7ff61e7a23d821.js
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/runtime.d286c3031cf9cf14.js
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/styles.04cde6e402da3e6d.css
Due: prettier --write

improved the unit tests
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix

remove console log
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3968-enhancement-add-new-orange-color-to-replace-
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/2910.ba0eff276ff46b69.js
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/404.html
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/4699.7687ae18739bfb99.js
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/7179.b0dd87df6d5fc089.js
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/8016.d35815809ffd8f71.js
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/index.html
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/main.36ac9e771d900b59.js
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/polyfills.b338210d10f0dc56.js
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/runtime.d286c3031cf9cf14.js
  branch/kby-3968-enhancement-add-new-orange-color-to-replace/styles.ac9e45a0fff03621.css
Due: prettier --write

renamed removeListener to removeEventListener
  libs/designsystem/button/src/button.component.ts
Due: prettier --write, eslint --fix

Release: kby-3807-bug-nvda-will-trigger-click-event-on-a-aria-
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/404.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/index.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/main.40e7b97941b4292d.js
Due: prettier --write

Update icon font size to be responsive
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/avatar/src/avatar.component.scss
Due: prettier --write, stylelint --fix

using EventListenerDisposeFn as type for unsubscribe function
  libs/designsystem/button/src/button.component.ts
Due: prettier --write, eslint --fix

Adjust line-height for badge
  libs/designsystem/badge/src/badge.component.scss
Due: prettier --write, stylelint --fix

updated popover to EventListenerDisposeFunction
  libs/designsystem/popover/src/popover.component.ts
Due: prettier --write, eslint --fix

Adjust button icon font size
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Make flag-paddings fixed size no matter font scale to preserve look/feel
  libs/designsystem/flag/src/flag.component.scss
Due: prettier --write, stylelint --fix

Make space for small badge in outside slot no matter text size
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

corrected import
  libs/designsystem/button/src/button.component.ts
  libs/designsystem/popover/src/popover.component.ts
Due: prettier --write, eslint --fix

Release: kby-3807-bug-nvda-will-trigger-click-event-on-a-aria-
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/404.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/index.html
  branch/kby-3807-bug-nvda-will-trigger-click-event-on-a-aria/main.10bc3546e8973286.js
Due: prettier --write

review adjust multi-character
  libs/designsystem/dropdown/src/dropdown.component.ts
Due: prettier --write, eslint --fix
