Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-4152-enhancement-always-add-aria-live-region-in-f
  branch/kby-4152-enhancement-always-add-aria-live-region-in/404.html
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-3DFQ3BI2.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-HTS7FXYI.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-KFAKIHQ3.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-OWUKSMJO.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-QU3EEQQC.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-STUI3XZI.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-VKNIVFPP.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/index.html
  branch/kby-4152-enhancement-always-add-aria-live-region-in/main-IEXPGUM6.js
Due: prettier --write

Form Field: Aria live added to container of form field message (#4166)
  libs/designsystem/form-field/src/form-field.component.html
  libs/designsystem/form-field/src/form-field.component.scss
  libs/designsystem/form-field/src/form-field.component.spec.ts
  libs/designsystem/form-field/src/form-field.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix issue with hover background when hovering over toggle button
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.scss
Due: prettier --write, stylelint --fix

Release: kby-4113-sidebar-menu-item-customization
  branch/kby-4113-sidebar-menu-item-customization/404.html
  branch/kby-4113-sidebar-menu-item-customization/chunk-3DFQ3BI2.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-HTS7FXYI.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-KFAKIHQ3.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-OWUKSMJO.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-QU3EEQQC.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-STUI3XZI.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-VKNIVFPP.js
  branch/kby-4113-sidebar-menu-item-customization/index.html
  branch/kby-4113-sidebar-menu-item-customization/main-IEXPGUM6.js
Due: prettier --write

removed some custom styling in favor of using buttons noDecoration property
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.html
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.scss
Due: prettier --write, stylelint --fix

make sidebar component emit an event when a menu item toggle button is clicked
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.ts
  libs/extensions/angular/sidebar-menu/src/components/sidebar-menu/sidebar-menu.component.ts
  libs/extensions/angular/sidebar-menu/src/models/check-event.model.ts
  libs/extensions/angular/sidebar-menu/src/models/index.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.ts
  libs/extensions/angular/sidebar-menu/src/services/menu-state/menu-state.service.ts
Due: prettier --write, eslint --fix

Release: kby-3586-resize-text-accessibility-success-criterion
  branch/kby-3586-resize-text-accessibility-success-criterion/404.html
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-3DFQ3BI2.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-HTS7FXYI.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-KFAKIHQ3.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-OWUKSMJO.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-QU3EEQQC.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-STUI3XZI.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-VKNIVFPP.js
  branch/kby-3586-resize-text-accessibility-success-criterion/index.html
  branch/kby-3586-resize-text-accessibility-success-criterion/main-IEXPGUM6.js
Due: prettier --write

Menu: correct menu role added when items are conditionally added (#4182)
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

release and stylelint
  .stylelintrc
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release v11.4.2 (#4189)
  .stylelintrc
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

use npm ci and bump npm version in npm engine to ^11.6.0
  .github/actions/kirby-setup/action.yml
  package-lock.json
  package.json
Due: prettier --write

Housekeeping: Use npm ci when setting up the environment (#4190)
  .github/actions/kirby-setup/action.yml
  package-lock.json
  package.json
Due: prettier --write

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-4QPQQIWG.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-ASNBA6J3.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-CCD4BSZM.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-D26IIFWS.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-KM332OPD.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-PXRJV2HC.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-VE7SGI6W.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-C7TG4CO7.js
Due: prettier --write

Add tests to verify faulty behavior
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.spec.ts
Due: prettier --write, eslint --fix

Remove value accessor implementation to piggy-back on inputs built-in functionality instead
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, eslint --fix

Add temp manual test
  apps/cookbook/src/app/examples/form-field-example/examples/input/pad-precision-digits.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write, eslint --fix

oh well
  apps/cookbook/src/app/examples/form-field-example/examples/input/pad-precision-digits.ts
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.spec.ts
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, eslint --fix

extended platform service to determine browser and devicetype
  libs/designsystem/helpers/src/platform.service.ts
Due: prettier --write, eslint --fix

merge conflicts
  libs/designsystem/menu/src/menu.component.html
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

removed ally tests
  libs/designsystem/menu/src/menu.component.spec.ts
Due: prettier --write, eslint --fix

removed ally test 2
  libs/designsystem/menu/src/menu.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-BUIMHS6A.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-IUZGYYAB.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-JIVU4742.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-M4RAXDUZ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-NVZEMIBH.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-QQFDH2FQ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-YCCRF5ZO.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-FWQHOPXM.js
Due: prettier --write

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/styles-SLLZY56K.css
Due: prettier --write

fixed style specificity to allow medium sized items in menu and dropdown
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

fix menu test
  libs/designsystem/item/item-in-menu.integration.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/chunk-I7LK2VFV.js
  branch/kby-3578-relative-font-sizes/chunk-K7IZECW7.js
  branch/kby-3578-relative-font-sizes/chunk-KOFIPY4Q.js
  branch/kby-3578-relative-font-sizes/chunk-NMLHRFMM.js
  branch/kby-3578-relative-font-sizes/chunk-NOAUV2DC.js
  branch/kby-3578-relative-font-sizes/chunk-XS5WYAYZ.js
  branch/kby-3578-relative-font-sizes/chunk-YFKGNEE2.js
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/main-QOFMM3E2.js
Due: prettier --write

removed md again
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

removed console log
  libs/designsystem/popover/src/popover.component.ts
Due: prettier --write, eslint --fix

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-5IYTEL2N.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-7OLR6SQK.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-MEO5MCVW.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-ODLR4H2B.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-SKNKLSDR.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-UKKIAGZ3.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-W5DSFCNL.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-6MMG5JPY.js
Due: prettier --write

removed console log and readded document.body as domPortal location
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-CP53BVZY.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-DBMIVRLH.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-J57WADZJ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-K5GMYWU3.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-MGSRWE2M.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-SPUTGKOZ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-YSFHFBKM.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-4HK4KNYO.js
Due: prettier --write

removed detect changes - unneeded
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
