Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Create CODEOWNERS (#2224)
  .github/CODEOWNERS
Due: none

💄 Use noDecoration instead of attention level 2 (#2263)
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
Due: prettier --write

Release: kby-interaction-states-and-attention-levels-adjustmen
  branch/kby-interaction-states-and-attention-levels-adjustme/404.html
  branch/kby-interaction-states-and-attention-levels-adjustme/index.html
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es2017.ff68bc48149fae6599a2.js
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es5.ff68bc48149fae6599a2.js
Due: prettier --write

💄 Let .ion-activated selector apply active styles
  libs/core/src/scss/interaction-state/_active.scss
Due: prettier --write, stylelint --fix

:bug: Check for 'null' instead of 'undefined'
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.ts
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, tslint --fix

:white_check_mark: Make embedded components not be mocked
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

🐛 Run manual CD when changing items in list
  libs/designsystem/src/lib/components/item/item.component.html
  libs/designsystem/src/lib/components/item/item.component.ts
  libs/designsystem/src/lib/components/list/list.component.ts
Due: prettier --write, tslint --fix

:bug: Fix collapsibleTitle functionality not working
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

:white_check_mark: Fix failing tests in modal.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

Release: kby-interaction-states-and-attention-levels
  branch/kby-interaction-states-and-attention-levels/404.html
  branch/kby-interaction-states-and-attention-levels/index.html
  branch/kby-interaction-states-and-attention-levels/main-es2017.a0a490cf7412af24a2f3.js
  branch/kby-interaction-states-and-attention-levels/main-es5.a0a490cf7412af24a2f3.js
Due: prettier --write

Release: kby-interaction-states-and-attention-levels-adjustmen
  branch/kby-interaction-states-and-attention-levels-adjustme/404.html
  branch/kby-interaction-states-and-attention-levels-adjustme/index.html
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es2017.4e631c066c789b371f88.js
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es5.4e631c066c789b371f88.js
Due: prettier --write

♻️ Compare with new val before marking for check
  libs/designsystem/src/lib/components/item/item.component.ts
Due: prettier --write, tslint --fix

Release: kby-2241-list-no-hover-before-click
  branch/kby-2241-list-no-hover-before-click/404.html
  branch/kby-2241-list-no-hover-before-click/index.html
  branch/kby-2241-list-no-hover-before-click/main-es2017.3d7c66b2179fa9e16585.js
  branch/kby-2241-list-no-hover-before-click/main-es5.3d7c66b2179fa9e16585.js
Due: prettier --write

💄 Apply transition effect to link on hover
  libs/core/src/scss/base/_link.scss
Due: prettier --write, stylelint --fix

💄 Adjust default transition duration
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
Due: prettier --write, stylelint --fix

♻️ Use content block for transition mixin
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
  libs/designsystem/src/lib/components/form-field/textarea/textarea.component.scss
  libs/designsystem/src/lib/components/radio/radio.component.scss
  libs/designsystem/src/lib/components/range/range.component.scss
Due: prettier --write, stylelint --fix

💄 Add transition function and use it
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/designsystem/src/lib/components/item/item.component.scss
Due: prettier --write, stylelint --fix

♻️ Remove mixin and use function instead
  libs/core/src/scss/interaction-state/_focus.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/core/src/scss/interaction-state/_layer.scss
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.scss
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
  libs/designsystem/src/lib/components/form-field/textarea/textarea.component.scss
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/radio/radio.component.scss
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
  libs/designsystem/src/lib/components/slide-button/slide-button.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2273-extend-transition
  branch/kby-2273-extend-transition/404.html
  branch/kby-2273-extend-transition/index.html
  branch/kby-2273-extend-transition/main-es2017.bf624cc9a5a766c8242d.js
  branch/kby-2273-extend-transition/main-es5.bf624cc9a5a766c8242d.js
  branch/kby-2273-extend-transition/runtime-es2017.32965bd4cd6619c883eb.js
  branch/kby-2273-extend-transition/runtime-es5.32965bd4cd6619c883eb.js
  branch/kby-2273-extend-transition/styles.e1e4ae50aad66cca843b.css
Due: prettier --write

💄 Explicitly specify timing function
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
Due: prettier --write, stylelint --fix

💚 Fix broken build
  libs/core/src/scss/base/_link.scss
Due: prettier --write, stylelint --fix

Release: kby-2273-extend-transition
  branch/kby-2273-extend-transition/404.html
  branch/kby-2273-extend-transition/index.html
  branch/kby-2273-extend-transition/main-es2017.f1d794b690ed95c82017.js
  branch/kby-2273-extend-transition/main-es5.f1d794b690ed95c82017.js
  branch/kby-2273-extend-transition/runtime-es2017.9c39bb19a99fc48c47b0.js
  branch/kby-2273-extend-transition/runtime-es5.9c39bb19a99fc48c47b0.js
  branch/kby-2273-extend-transition/styles.1ebffba39ce17e6acfd4.css
Due: prettier --write

♻️ Move loudness scale helpers
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/core/src/scss/interaction-state/_layer.scss
Due: prettier --write, stylelint --fix
