Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

👷 Deploy cookbook-only related changes (#1431)
  .github/workflows/build.yml
Due: none

Rename existing component to popout
  apps/cookbook/src/app/examples/fab-sheet-example/fab-sheet-example.component.html
  apps/cookbook/src/app/examples/page-example/advanced/page-advanced-example.component.ts
  apps/cookbook/src/app/examples/tabs-example/tab/tab-example.component.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.html
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
  libs/designsystem/src/lib/components/modal/action-sheet-popout/action-sheet-popout.component.html
  libs/designsystem/src/lib/components/modal/action-sheet-popout/action-sheet-popout.component.scss
  libs/designsystem/src/lib/components/modal/action-sheet-popout/action-sheet-popout.component.spec.ts
  libs/designsystem/src/lib/components/modal/action-sheet-popout/action-sheet-popout.component.ts
  libs/designsystem/src/lib/components/modal/index.ts
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

🐛 align calendar date columns with weekday header
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💚 Fix typo in build & deploy
  .github/workflows/build.yml
Due: none

🔧 Remove trailing comma
  tsconfig.json
Due: prettier --write

removed input icon reference in formfield spec
  libs/designsystem/src/lib/components/form-field/form-field.component.spec.ts
Due: prettier --write, tslint --fix

removed input icon tests in formfield spec
  libs/designsystem/src/lib/components/form-field/form-field.component.spec.ts
Due: prettier --write, tslint --fix

starting to extend documentation
  apps/cookbook/src/app/examples/range-example/range-example.component.html
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
Due: prettier --write, tslint --fix

:pencil: Nest ng forms examples
  apps/cookbook/src/app/examples/radio-example/radio-example.component.html
  apps/cookbook/src/app/showcase/radio-showcase/radio-showcase.component.html
Due: prettier --write

:pencil: Update template driven forms example
  apps/cookbook/src/app/examples/radio-example/examples/template-driven-forms.ts
Due: prettier --write, tslint --fix

:pencil: Update reactive forms example
  apps/cookbook/src/app/examples/radio-example/examples/reactive-forms.ts
Due: prettier --write, tslint --fix

:white_check_mark: refactor and fix radio group ng forms tests
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.spec.ts
Due: prettier --write, tslint --fix

🎨 spacing before 'expect' to conform with AAA
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/icon/icon.component.spec.ts
Due: prettier --write, tslint --fix

🐛 align calendar date columns with weekday header (#1436)
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🎨 removed unnecessary 'describe' blocks
  libs/designsystem/src/lib/components/item/item.component.spec.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.30
  package-lock.json
  package.json
Due: prettier --write

:recycle: Naming corrections in radio group ng forms tests
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.spec.ts
Due: prettier --write, tslint --fix

✅ added literal type to icon font size helper
  libs/designsystem/src/lib/components/icon/icon.component.spec.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
Due: prettier --write, tslint --fix

🎨 combined themecolor and size class hostbinding
  libs/designsystem/src/lib/components/button/button.component.ts
Due: prettier --write, tslint --fix

exstended documentation for date input
  apps/cookbook/src/app/examples/form-field-example/examples/input/date-input-icon.component.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/date.component.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/input-icon.component.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.ts
Due: prettier --write, tslint --fix

fixed tests
  libs/designsystem/src/lib/components/form-field/form-field.component.spec.ts
Due: prettier --write, tslint --fix

removed uninitialized font
  libs/designsystem/src/lib/components/chart2/chart.component.ts
Due: prettier --write, tslint --fix

⬆️ Bump deps via nx migrate 10
  package.json
Due: prettier --write

➕ Add tslib
  package.json
Due: prettier --write

⬆️ npm i
  package-lock.json
Due: prettier --write

⬆️ Add nx migrations
  migrations.json
Due: prettier --write

removed worngly tag
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
Due: prettier --write

removed example
  apps/cookbook/src/app/examples/form-field-example/examples/input/numeric.component.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
Due: prettier --write, tslint --fix

⬆️ run nx migrations
  angular.json
  apps/cookbook-e2e/tsconfig.json
  apps/cookbook/tsconfig.json
  decorate-angular-cli.js
  libs/designsystem/src/lib/components/chart/chart-helper.ts
  libs/designsystem/src/lib/components/list/helpers/list-helper.ts
  libs/designsystem/testing-base/src/tsconfig.json
  libs/designsystem/testing-jasmine/src/tsconfig.json
  libs/designsystem/testing-jest/src/tsconfig.json
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
  tools/tsconfig.tools.json
  tsconfig.base.json
Due: prettier --write, tslint --fix

🚨 Fix compile error
  libs/designsystem/src/lib/components/chart/options/activitygauge.ts
  libs/designsystem/src/lib/components/chart/options/areaspline.ts
  libs/designsystem/src/lib/components/chart/options/donut.ts
  libs/designsystem/src/lib/components/chart/options/timeseries.ts
Due: prettier --write, tslint --fix

➕ Add @angular-devkit/core
  package-lock.json
  package.json
Due: prettier --write

🔧 Fix build
  libs/designsystem/tsconfig.json
Due: prettier --write

:white_check_mark: Implement control value accessor interface tests for radio group
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.spec.ts
Due: prettier --write, tslint --fix

:recycle: Clean up in radio group control value accessor tests
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.spec.ts
Due: prettier --write, tslint --fix
