Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Preserve structure in core package dist
  libs/core/src/index.ts
  libs/core/tsconfig.json
Due: prettier --write, eslint --fix

Add back jest dependency
  package-lock.json
  package.json
Due: prettier --write

Ensure core ts files are transpiled
  package-lock.json
  package.json
Due: prettier --write

Use correct flag for avoiding node_modules type compilation
  libs/core/tsconfig.json
Due: prettier --write

Sync package lock for correct version number
  package-lock.json
Due: prettier --write

Improve readability of tsconfig
  libs/core/tsconfig.json
Due: prettier --write

Release: kby-remove-stencil
  branch/kby-remove-stencil/404.html
  branch/kby-remove-stencil/index.html
  branch/kby-remove-stencil/main.4f6970e1e97041b9.js
Due: prettier --write

Use slotted mixin for styling icon in badge
  libs/designsystem/badge/src/badge.component.scss
Due: prettier --write, stylelint --fix

Release: kby-remove-stencil
  branch/kby-remove-stencil/404.html
  branch/kby-remove-stencil/index.html
  branch/kby-remove-stencil/main.3e8f8f607292c5b8.js
Due: prettier --write

Dependencies: Remove stencil and reintroduce badge as Angular component (#3263)
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/core/package.json
  libs/core/src/components/badge/badge.component.tsx
  libs/core/src/components/badge/badge.types.ts
  libs/core/src/components/badge/readme.md
  libs/core/src/index.ts
  libs/core/stencil.config.ts
  libs/core/tsconfig.json
  libs/designsystem/badge/index.ts
  libs/designsystem/badge/ng-package.json
  libs/designsystem/badge/src/badge.component.html
  libs/designsystem/badge/src/badge.component.scss
  libs/designsystem/badge/src/badge.component.spec.ts
  libs/designsystem/badge/src/badge.component.ts
  libs/designsystem/badge/src/index.ts
  libs/designsystem/badge/src/public_api.ts
  libs/designsystem/helpers/src/string-helper.spec.ts
  libs/designsystem/shared/src/theme-color/theme-color.directive.ts
  libs/designsystem/src/lib/components/angular-component-lib/utils.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/kirby-badge.module.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/web-component-proxies.component.ts
  libs/designsystem/src/lib/custom-elements-initializer.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tab-navigation/src/tab-navigation-item/tab-navigation-item.component.spec.ts
  libs/designsystem/tab-navigation/src/tab-navigation/tab-navigation.component.spec.ts
  libs/designsystem/testing-base/src/lib/components/index.ts
  libs/designsystem/testing-base/src/lib/components/mock.badge.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.web-component-proxies.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
  package-lock.json
  package.json
  scripts/publish.js
  tools/generate-mocks/generate-mocks.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add Configuration wrapper for forms
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.module.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/reactive-forms.ts
  apps/cookbook/src/app/examples/example-configuration-wrapper-reactive-forms/example-configuration-wrapper-reactive-forms.component.html
  apps/cookbook/src/app/examples/example-configuration-wrapper-reactive-forms/example-configuration-wrapper-reactive-forms.component.scss
  apps/cookbook/src/app/examples/example-configuration-wrapper-reactive-forms/example-configuration-wrapper-reactive-forms.component.ts
  apps/cookbook/src/app/examples/example-configuration-wrapper-reactive-forms/example-configuration-wrapper-reactive-forms.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix typo
  apps/cookbook/src/app/examples/grid-example/grid-example.component.html
Due: prettier --write

Docs: Fix typo (#3266)
  apps/cookbook/src/app/examples/grid-example/grid-example.component.html
Due: prettier --write

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/index.html
  branch/kby-develop/main.998190c461e0a3a5.js
Due: prettier --write

Member variable for scrollEvents
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Calendar in form should not submit when navigating months
  libs/designsystem/calendar/src/calendar.component.html
Due: prettier --write

Change member variable name
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Calendar: Do not submit form when navigating months (#3268)
  libs/designsystem/calendar/src/calendar.component.html
Due: prettier --write

intializeContentScrollListening once on mobile and set flag
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Release: kby-3044-optimize-content-scroll-listening-in-modal
  branch/kby-3044-optimize-content-scroll-listening-in-modal/404.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/index.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/main.2794a5afd3031d02.js
Due: prettier --write

Make isContentScrolled more readable
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Remove imports from test
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3044-optimize-content-scroll-listening-in-modal
  branch/kby-3044-optimize-content-scroll-listening-in-modal/404.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/index.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/main.4b4ea59b6e8e9fba.js
Due: prettier --write

Rotate whole svg to avoid safari zoom level issues
  libs/designsystem/progress-circle/src/progress-circle-ring.component.scss
Due: prettier --write, stylelint --fix

Add test for scrollEventsEnabled when initialized
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Adjust example configuration wrapper reactive forms
  apps/cookbook/src/app/examples/checkbox-example/examples/reactive-forms.ts
  apps/cookbook/src/app/examples/example-configuration-wrapper-reactive-forms/example-configuration-wrapper-reactive-forms.component.html
  apps/cookbook/src/app/examples/example-configuration-wrapper-reactive-forms/example-configuration-wrapper-reactive-forms.component.scss
  apps/cookbook/src/app/examples/example-configuration-wrapper-reactive-forms/example-configuration-wrapper-reactive-forms.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix double providers after merge
  libs/designsystem/checkbox/src/checkbox.component.ts
Due: prettier --write, eslint --fix

Specify rotation individually instead of via transform
  libs/designsystem/progress-circle/src/progress-circle-ring.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3256-progress-circle-shifting-safari
  branch/kby-3256-progress-circle-shifting-safari/404.html
  branch/kby-3256-progress-circle-shifting-safari/index.html
  branch/kby-3256-progress-circle-shifting-safari/main.8d40988341f0db23.js
Due: prettier --write

Progress Circle: Rotate whole svg to avoid safari zoom level issues (#3269)
  libs/designsystem/progress-circle/src/progress-circle-ring.component.scss
Due: prettier --write, stylelint --fix
