Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-3677-modal-a11y
  branch/kby-3677-modal-a11y/404.html
  branch/kby-3677-modal-a11y/index.html
  branch/kby-3677-modal-a11y/main.dd6c0f6fa93cd5a5.js
Due: prettier --write

Remove unused functions
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
Due: prettier --write, eslint --fix

Release: kby-improve-nav-structure
  branch/kby-improve-nav-structure/404.html
  branch/kby-improve-nav-structure/index.html
  branch/kby-improve-nav-structure/main.f43d0d303918a57e.js
Due: prettier --write

Improve wording
  libs/designsystem/shared/src/translation/translation.service.ts
Due: prettier --write, eslint --fix

Close menu on click on resources links
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
Due: prettier --write

Release: kby-improve-nav-structure
  branch/kby-improve-nav-structure/404.html
  branch/kby-improve-nav-structure/index.html
  branch/kby-improve-nav-structure/main.82ee9b896b31e19f.js
Due: prettier --write

Get resource routes from app routes
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
Due: prettier --write, eslint --fix

Change sideNavGroups getter
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
Due: prettier --write, eslint --fix

Release: kby-improve-nav-structure
  branch/kby-improve-nav-structure/404.html
  branch/kby-improve-nav-structure/index.html
  branch/kby-improve-nav-structure/main.0815b04c84334411.js
Due: prettier --write

Import routes same way as showcase routes
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
Due: prettier --write, eslint --fix

Simplify side nav group key
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
Due: prettier --write, eslint --fix

Release: kby-improve-nav-structure
  branch/kby-improve-nav-structure/404.html
  branch/kby-improve-nav-structure/index.html
  branch/kby-improve-nav-structure/main.7bc16c9365e17e5a.js
  branch/kby-improve-nav-structure/runtime.f2d6d16c4ae0548b.js
Due: prettier --write

Housekeeping: improve docs side and top nav (#3724)
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/home/home.component.scss
  apps/cookbook/src/app/page/header/header.component.html
  apps/cookbook/src/app/page/header/header.component.scss
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/page/side-nav/side-nav.component.scss
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Restructure docs
  apps/cookbook/src/app/localization/localization.component.html
  apps/cookbook/src/app/localization/localization.component.scss
  apps/cookbook/src/app/localization/localization.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3694-translate-internal-labels
  branch/kby-3694-translate-internal-labels/404.html
  branch/kby-3694-translate-internal-labels/8996.30294ca50f026a4c.js
  branch/kby-3694-translate-internal-labels/assets/images/dk.svg
  branch/kby-3694-translate-internal-labels/assets/images/gb.svg
  branch/kby-3694-translate-internal-labels/common.2aace7ddbe9808e1.js
  branch/kby-3694-translate-internal-labels/index.html
  branch/kby-3694-translate-internal-labels/main.f5c4087bc1fcc60a.js
  branch/kby-3694-translate-internal-labels/runtime.5ed90d44d8c53325.js
  branch/kby-3694-translate-internal-labels/styles.f0f918f914f57c19.css
Due: prettier --write

Add tests
  libs/designsystem/shared/src/translation/translation.service.spec.ts
Due: prettier --write, eslint --fix

Add localization docs to resource links
  apps/cookbook/src/app/app.routes.ts
Due: prettier --write, eslint --fix

Switch sections around
  apps/cookbook/src/app/localization/localization.component.html
Due: prettier --write

Simplify values
  apps/cookbook/src/app/localization/localization.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3694-translate-internal-labels
  branch/kby-3694-translate-internal-labels/404.html
  branch/kby-3694-translate-internal-labels/index.html
  branch/kby-3694-translate-internal-labels/main.92f0b3df18104b46.js
Due: prettier --write

Use relative asset urls
  apps/cookbook/src/app/localization/localization.component.html
Due: prettier --write

Release: kby-3694-translate-internal-labels
  branch/kby-3694-translate-internal-labels/404.html
  branch/kby-3694-translate-internal-labels/index.html
  branch/kby-3694-translate-internal-labels/main.91119b27bad85b99.js
Due: prettier --write

Docs readability
  apps/cookbook/src/app/localization/localization.component.html
Due: prettier --write

Release: kby-3694-translate-internal-labels
  branch/kby-3694-translate-internal-labels/404.html
  branch/kby-3694-translate-internal-labels/index.html
  branch/kby-3694-translate-internal-labels/main.033eda8d3cf9df04.js
Due: prettier --write

Move inline style
  apps/cookbook/src/app/localization/localization.component.html
  apps/cookbook/src/app/localization/localization.component.scss
Due: prettier --write, stylelint --fix

Show config code snippet
  apps/cookbook/src/app/localization/localization.component.html
  apps/cookbook/src/app/localization/localization.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3694-translate-internal-labels
  branch/kby-3694-translate-internal-labels/404.html
  branch/kby-3694-translate-internal-labels/index.html
  branch/kby-3694-translate-internal-labels/main.fde8ad8be1c54523.js
Due: prettier --write

Accessibility: translate internal component labels (#3717)
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/localization/locale-provider/da-locale-provider.component.ts
  apps/cookbook/src/app/localization/locale-provider/en-locale-provider.component.ts
  apps/cookbook/src/app/localization/localization.component.html
  apps/cookbook/src/app/localization/localization.component.scss
  apps/cookbook/src/app/localization/localization.component.ts
  apps/cookbook/src/assets/images/dk.svg
  apps/cookbook/src/assets/images/gb.svg
  libs/designsystem/calendar/src/calendar.component.html
  libs/designsystem/calendar/src/calendar.component.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/page/src/page.component.html
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/shared/src/public_api.ts
  libs/designsystem/shared/src/translation/translation.interface.ts
  libs/designsystem/shared/src/translation/translation.service.spec.ts
  libs/designsystem/shared/src/translation/translation.service.ts
  libs/designsystem/shared/src/translation/translations/da.ts
  libs/designsystem/shared/src/translation/translations/en.ts
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3677-modal-a11y
  branch/kby-3677-modal-a11y/404.html
  branch/kby-3677-modal-a11y/8996.30294ca50f026a4c.js
  branch/kby-3677-modal-a11y/assets/images/dk.svg
  branch/kby-3677-modal-a11y/assets/images/gb.svg
  branch/kby-3677-modal-a11y/common.2aace7ddbe9808e1.js
  branch/kby-3677-modal-a11y/index.html
  branch/kby-3677-modal-a11y/main.efe51e3bc97c7cfe.js
  branch/kby-3677-modal-a11y/runtime.5ed90d44d8c53325.js
Due: prettier --write

Improve naming
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Clean up test
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.integration.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3677-modal-a11y
  branch/kby-3677-modal-a11y/404.html
  branch/kby-3677-modal-a11y/index.html
  branch/kby-3677-modal-a11y/main.4a7c03e2edb2c311.js
Due: prettier --write

Import all components in form-field-example module
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
Due: prettier --write, eslint --fix

Import and re-export missing affix-directive from form field module
  libs/designsystem/form-field/src/form-field.module.ts
Due: prettier --write, eslint --fix

Remove form field example from common module
  apps/cookbook/src/app/examples/examples.common.ts
Due: prettier --write, eslint --fix

Remove page from form field
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
Due: prettier --write, eslint --fix

Add cookbook example story
  libs/designsystem/form-field/src/form-field.component.stories.ts
Due: prettier --write, eslint --fix
