Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

💩 🔊 Log in failing test
  libs/designsystem/src/lib/components/tabs/tabs.component.spec.ts
Due: prettier --write, tslint --fix

💩 Add dummy border
  libs/designsystem/src/lib/components/tabs/tabs.component.scss
Due: prettier --write, stylelint --fix

👷 Remove obsolete steps handled by `postinstall`
  .github/workflows/build.yml
Due: none

Added cookbook entry
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example.component.html
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example.module.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/dropdown-right-aligned.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
Due: prettier --write, tslint --fix

Replaced string literals with enum + linting
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

added tool-versions file for asdf users
  .tool-versions
Due: none

Revert "💩 🔊 Log in failing test"
  libs/designsystem/src/lib/components/tabs/tabs.component.spec.ts
Due: prettier --write, tslint --fix

Revert "💩 Add dummy border"
  libs/designsystem/src/lib/components/tabs/tabs.component.scss
Due: prettier --write, stylelint --fix

💚 ✅ Only run test on non-touch devices
  libs/designsystem/src/lib/components/tabs/tabs.component.spec.ts
Due: prettier --write, tslint --fix

Move comment to same line as token
  libs/designsystem/src/lib/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

:white_check_mark: Add commented out embedded header tests
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

👷 🎨 Better naming
  .github/workflows/build.yml
Due: none

👷 🔊 Add logging
  .github/workflows/build.yml
Due: none

Revert "👷 🔊 Add logging"
  .github/workflows/build.yml
Due: none

💄 : make selected day selectable
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

✨ : clicking selectable date triggers dateSelect
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.calendar.component.ts
Due: prettier --write, tslint --fix

intro. github actions (#1253)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .scripts/deploy-helm-branch.sh
  .scripts/deploy-helm.sh
  .scripts/dns.pl
  .scripts/install-kube-tools.sh
  .scripts/kube-config.enc
  .scripts/push-image.sh
  .travis.yml
  .travis/kube-config.enc
  libs/designsystem/src/lib/components/tabs/tabs.component.spec.ts
Due: prettier --write, tslint --fix

Add cardAligment attribute to component and make intersectionObserver respect it
  apps/cookbook/src/app/examples/dropdown-example/examples/dropdown-right-aligned.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

Update mock.dropdown.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.dropdown.component.ts
Due: prettier --write, tslint --fix

✅ Add tests for active month and min and max date setter
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

Mock
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.dropdown.component.ts
Due: prettier --write, tslint --fix

✅:recycle: Better naming in year navigator tests
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

✅ Fix failing year navigator test
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

✅ : Test triggering of dateSelect & dateChange
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

📝: Add table with events for calendar
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.html
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
Due: prettier --write, tslint --fix

📝 : Add types to events
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
Due: prettier --write, tslint --fix

Move comment
  libs/designsystem/src/lib/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

✅ Improve active month tests
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

:recycle: Remove calendar test focus
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

🏷️ : Update generic type
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

:recycle: Cleanup completed todos
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
