Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

💄 Import utils in mixin
  libs/designsystem/src/lib/components/section-header/_section-header.utils.scss
Due: prettier --write, stylelint --fix

🚧 Initial test-suite setup
  libs/designsystem/src/lib/components/section-header/section-header.component.spec.ts
Due: prettier --write, tslint --fix

:lipstick: Remove 'item sliding' from the navigation sidebar
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix

:pencil2: Fix minor typos & reword some phrases
  apps/cookbook/src/app/showcase/item-sliding-showcase/item-sliding-showcase.component.html
Due: prettier --write

:pencil2: Fix minor typos & rephrase some paragraphs
  apps/cookbook/src/app/showcase/item-sliding-showcase/item-sliding-showcase.component.ts
Due: prettier --write, tslint --fix

Use tooltip plugin to decide if marker should be shown.
  libs/designsystem/src/lib/components/chart/chart-js/chartjs-plugin-marker/chartjs-plugin-marker.ts
Due: prettier --write, tslint --fix

Release: kby-1728-stock-chart-type
  branch/kby-1728-stock-chart-type/404.html
  branch/kby-1728-stock-chart-type/index.html
  branch/kby-1728-stock-chart-type/main-es2017.0eb0d8f398c957442116.js
  branch/kby-1728-stock-chart-type/main-es5.0eb0d8f398c957442116.js
Due: prettier --write

:recycle: Move swipe action styles to mixin (WIP)
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.scss
  libs/designsystem/src/lib/components/item-sliding/item-sliding.shared.scss
  libs/designsystem/src/lib/components/list/list.component.scss
Due: prettier --write, stylelint --fix

:lipstick: Share swipe action type styles
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.scss
  libs/designsystem/src/lib/components/item-sliding/item-sliding.shared.scss
  libs/designsystem/src/lib/components/list/list.component.scss
Due: prettier --write, stylelint --fix

:recycle: Move types used by item-sliding to appropiate file
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.types.ts
  libs/designsystem/src/lib/components/list/list-swipe-action.type.ts
Due: prettier --write, tslint --fix

:sparkles: Export types as part of the public api
  apps/cookbook/src/app/examples/item-sliding-example/examples/item-sliding-conditional-example.component.ts
  apps/cookbook/src/app/examples/item-sliding-example/examples/item-sliding-simple-example.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/item-sliding/index.ts
Due: prettier --write, tslint --fix

:recycle: Update imports for test suite
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.spec.ts
Due: prettier --write, tslint --fix

:recycle: Remove use of intermediary variable for hasSwipeActions
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.ts
Due: prettier --write, tslint --fix

:recycle: Remove the use of tag to find ion list child
  libs/designsystem/src/lib/components/list/list-experimental/list-experimental.component.html
  libs/designsystem/src/lib/components/list/list-experimental/list-experimental.component.ts
Due: prettier --write, tslint --fix

:fire: Clean up list-item.component.ts file
  libs/designsystem/src/lib/components/list/list-item/list-item.component.ts
Due: prettier --write, tslint --fix

:fire: Remove leftover log statement
  libs/designsystem/src/lib/components/list/list-item/list-item.component.ts
Due: prettier --write, tslint --fix

:pencil2: Fix minor typo in comment
  libs/designsystem/src/lib/helpers/element-has-ancestor.ts
Due: prettier --write, tslint --fix

:label: Remove 'item' parameter form onSelected
  libs/designsystem/src/lib/components/item-sliding/item-sliding.types.ts
  libs/designsystem/src/lib/components/list/list-swipe-action.type.ts
Due: prettier --write, tslint --fix

:clown_face: Import ItemSwipeAction correctly
  libs/designsystem/testing-base/src/lib/components/mock.item-sliding.component.ts
Due: prettier --write, tslint --fix

:bug: Fix designsystem not being able to build
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.spec.ts
  libs/designsystem/src/lib/components/list/list-swipe-action.type.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

:lipstick: Add ellipsis text overflow on detail and label
  libs/designsystem/src/lib/components/section-header/_section-header.utils.scss
Due: prettier --write, stylelint --fix

:white_check_mark: Finalize tests for typography
  libs/designsystem/src/lib/components/section-header/section-header.component.spec.ts
Due: prettier --write, tslint --fix

Release: kby-1910-section-header
  branch/kby-1910-section-header/2-es2017.ed5bc646a54d6a3d547a.js
  branch/kby-1910-section-header/2-es5.ed5bc646a54d6a3d547a.js
  branch/kby-1910-section-header/404.html
  branch/kby-1910-section-header/index.html
  branch/kby-1910-section-header/main-es2017.6a4fbf79ee4ad977b517.js
  branch/kby-1910-section-header/main-es5.6a4fbf79ee4ad977b517.js
  branch/kby-1910-section-header/runtime-es2017.91e75c696e7a3c12aaa4.js
  branch/kby-1910-section-header/runtime-es5.91e75c696e7a3c12aaa4.js
Due: prettier --write

:rewind: Revert Sass division changes in Cookbook
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.scss
Due: prettier --write, stylelint --fix

📝 Use section header in item group examples
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/item-group-example/examples/simple.ts
  apps/cookbook/src/app/examples/item-group-example/examples/with-header.ts
  apps/cookbook/src/app/examples/item-group-example/item-group-example.component.html
  apps/cookbook/src/app/examples/item-group-example/item-group-example.module.ts
  apps/cookbook/src/app/examples/section-header-example/section-header-example.module.ts
  apps/cookbook/src/app/showcase/item-group-showcase/item-group-showcase.component.html
Due: prettier --write, tslint --fix

Stop using slash as division in Sass (#1921)
  apps/cookbook/src/app/examples/checkbox-radio-sizes-example.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-extended-example/grid-layout-extended-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-multiple-containers-example/grid-layout-multiple-containers-example.component.scss
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.scss
  libs/designsystem/src/lib/components/avatar/avatar.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/radio/radio.component.scss
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/src/lib/components/slide-button/slide-button.component.scss
  libs/designsystem/src/lib/components/slide-button/slide-button.component.shared.scss
Due: prettier --write, stylelint --fix

📝 Show correct examples in popout
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.html
Due: prettier --write

Bump prettier
  package-lock.json
  package.json
Due: prettier --write

5.0.0
  package-lock.json
  package.json
Due: prettier --write

✅ Separate tests into comp and integration suites
  libs/designsystem/src/lib/components/section-header/section-header.integration.spec.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 0.0.11 (core)
  libs/core/package-lock.json
  libs/core/package.json
  libs/designsystem/package.json
Due: prettier --write

:bookmark:Bumping version to 5.0.1 (designsystem)
  package-lock.json
  package.json
Due: prettier --write

✅ Remove focus flag from tests
  libs/designsystem/src/lib/components/section-header/section-header.component.spec.ts
Due: prettier --write, tslint --fix

Update apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
