Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

docs: markup semantics and punctuation
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
Due: prettier --write

docs: align description with design spec
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
Due: prettier --write

docs: wording
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
Due: prettier --write, eslint --fix

refactor: reorder imports
  libs/designsystem/slide/src/slide.module.ts
Due: prettier --write, eslint --fix

refactor: naming
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix

refactor: remove `ignorePagePadding`
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/slide/src/slides.component.html
  libs/designsystem/slide/src/slides.component.scss
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

api: rename `selectedSlide` to `slideChange`
  apps/cookbook/src/app/examples/slides-example/slides-advanced-example/slides-advanced-example.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/slide/src/slides.component.spec.ts
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix

Release: kby-3011-action-group-button-shadow-is-cut-off
  branch/kby-3011-action-group-button-shadow-is-cut-off/1648.cd1013c7acf0bf6e.js
  branch/kby-3011-action-group-button-shadow-is-cut-off/404.html
  branch/kby-3011-action-group-button-shadow-is-cut-off/5565.91c9450434123f0c.js
  branch/kby-3011-action-group-button-shadow-is-cut-off/6514.0d0e2953eef41e90.js
  branch/kby-3011-action-group-button-shadow-is-cut-off/common.e832c6477c22c62e.js
  branch/kby-3011-action-group-button-shadow-is-cut-off/index.html
  branch/kby-3011-action-group-button-shadow-is-cut-off/main.b3c26d6d97f0c58f.js
  branch/kby-3011-action-group-button-shadow-is-cut-off/runtime.69613834fd70b7cd.js
  branch/kby-3011-action-group-button-shadow-is-cut-off/styles.b473be55a406d74d.css
Due: prettier --write

docs: update API description
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
Due: prettier --write, eslint --fix

refactor: remove `carousel` naming
  apps/cookbook/src/app/examples/slides-example/slides-code-snippets.ts
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/slide/src/slides.component.spec.ts
Due: prettier --write, eslint --fix

docs: add directives API
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
Due: prettier --write, eslint --fix

docs: clean up
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
Due: prettier --write

docs: add slides title as mandatory
  apps/cookbook/src/app/examples/slides-example/slides-code-snippets.ts
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
Due: prettier --write, eslint --fix

refactor: remove obsolete wrapper
  libs/designsystem/slide/src/slides.component.html
Due: prettier --write

Update apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
Due: prettier --write

Update apps/cookbook/src/app/examples/link-example/examples/trailing-icon.ts
  apps/cookbook/src/app/examples/link-example/examples/trailing-icon.ts
Due: prettier --write, eslint --fix

Add check for last out-group in reorder
  libs/designsystem/reorder-list/src/reorder-list.component.html
  libs/designsystem/reorder-list/src/reorder-list.component.scss
Due: prettier --write, stylelint --fix

Release: kby-trailing-icon
  branch/kby-trailing-icon/404.html
  branch/kby-trailing-icon/index.html
  branch/kby-trailing-icon/main.1457a843c7be5d8a.js
Due: prettier --write

Release: kby-trailing-icon
  branch/kby-trailing-icon/404.html
  branch/kby-trailing-icon/index.html
  branch/kby-trailing-icon/main.8f3200281f1c62ef.js
Due: prettier --write

Release: kby-trailing-icon
  branch/kby-trailing-icon/404.html
  branch/kby-trailing-icon/index.html
  branch/kby-trailing-icon/main.44c60ddab364e567.js
Due: prettier --write

Add Use statement in example
  apps/cookbook/src/app/examples/link-example/examples/trailing-icon.ts
Due: prettier --write, eslint --fix

Release: kby-trailing-icon
  branch/kby-trailing-icon/404.html
  branch/kby-trailing-icon/index.html
  branch/kby-trailing-icon/main.41b15e9112157871.js
Due: prettier --write

WIP
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  libs/core/src/scss/base/_link.scss
  libs/designsystem/modal/src/modal-wrapper/config/modal-config.ts
  libs/designsystem/modal/src/modal/services/modal.controller.ts
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3043-pass-modal-config-to-routed-modal
  branch/kby-3043-pass-modal-config-to-routed-modal/404.html
  branch/kby-3043-pass-modal-config-to-routed-modal/index.html
  branch/kby-3043-pass-modal-config-to-routed-modal/main.fe5717a6ff673d1d.js
Due: prettier --write

api: allow custom override on entire swiper config
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  libs/designsystem/slide/src/slides.component.html
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix

comment: link to swiper.js init docs
  libs/designsystem/slide/src/slides.component.html
Due: prettier --write

refactor: change `simpleSlider` to `showNavigation`
  apps/cookbook/src/app/examples/slides-example/slides-advanced-example/slides-advanced-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-code-snippets.ts
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/card/src/card.component.scss
  libs/designsystem/slide/src/slides.component.html
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: conditional property accessors
  libs/designsystem/slide/src/slides.component.html
Due: prettier --write

fix: config checks
  libs/designsystem/slide/src/slides.component.html
Due: prettier --write

feat: fix default config
  libs/designsystem/slide/src/slides.component.ts
Due: prettier --write, eslint --fix

docs: remove custom config from basic example
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.ts
Due: prettier --write, eslint --fix

docs: improve readability
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
Due: prettier --write

docs: typo
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
Due: prettier --write

docs: improve slots explanation
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
Due: prettier --write
