Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-4440-unsufficient-documentation-of-combobox
  branch/kby-4440-unsufficient-documentation-of-combobox/404.html
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/blocked.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/checklist.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/collection.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/pause.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/payment-change.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/pregnancy.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/send.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/assets/kirby/icons/svg/subscription.svg
  branch/kby-4440-unsufficient-documentation-of-combobox/chunk-2OVYYSOB.js
  branch/kby-4440-unsufficient-documentation-of-combobox/chunk-3ND3LSPY.js
  branch/kby-4440-unsufficient-documentation-of-combobox/chunk-H7KXN7T4.js
  branch/kby-4440-unsufficient-documentation-of-combobox/chunk-QHRJK4TC.js
  branch/kby-4440-unsufficient-documentation-of-combobox/chunk-QXICLYLB.js
  branch/kby-4440-unsufficient-documentation-of-combobox/chunk-T7ZDZ5J3.js
  branch/kby-4440-unsufficient-documentation-of-combobox/chunk-WD23S63D.js
  branch/kby-4440-unsufficient-documentation-of-combobox/index.html
  branch/kby-4440-unsufficient-documentation-of-combobox/main-MKOJ6MTC.js
Due: prettier --write

remove mdx file
  libs/extensions/angular/combobox/src/combobox.component.docs.mdx
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

css disable the button
  libs/extensions/angular/combobox/src/combobox.component.scss
Due: prettier --write, stylelint --fix

feat: add add-icons agent prompt
  .github/prompts/add-icons.prompt.md
Due: prettier --write

fix: update git commit message format for icon addition prompt
  .github/prompts/add-icons.prompt.md
Due: prettier --write

Release: kby-add-icons-prompt
  branch/kby-add-icons-prompt/404.html
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/blocked.svg
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/checklist.svg
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/collection.svg
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/pause.svg
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/payment-change.svg
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/pregnancy.svg
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/send.svg
  branch/kby-add-icons-prompt/assets/kirby/icons/svg/subscription.svg
  branch/kby-add-icons-prompt/chunk-2OVYYSOB.js
  branch/kby-add-icons-prompt/chunk-3ND3LSPY.js
  branch/kby-add-icons-prompt/chunk-H7KXN7T4.js
  branch/kby-add-icons-prompt/chunk-QHRJK4TC.js
  branch/kby-add-icons-prompt/chunk-QXICLYLB.js
  branch/kby-add-icons-prompt/chunk-T7ZDZ5J3.js
  branch/kby-add-icons-prompt/chunk-WD23S63D.js
  branch/kby-add-icons-prompt/index.html
  branch/kby-add-icons-prompt/main-MKOJ6MTC.js
Due: prettier --write

Icon: add-icons agent prompt (#4454)
  .github/prompts/add-icons.prompt.md
Due: prettier --write

style changes
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Release: kby-4437-popover-direction
  branch/kby-4437-popover-direction/404.html
  branch/kby-4437-popover-direction/chunk-2I2OND4I.js
  branch/kby-4437-popover-direction/chunk-ET5Y32MW.js
  branch/kby-4437-popover-direction/chunk-MOSNAS36.js
  branch/kby-4437-popover-direction/chunk-PNDW3KIW.js
  branch/kby-4437-popover-direction/chunk-TKKA5LN5.js
  branch/kby-4437-popover-direction/chunk-XSXSIMOU.js
  branch/kby-4437-popover-direction/chunk-Z2OZ5ROM.js
  branch/kby-4437-popover-direction/index.html
  branch/kby-4437-popover-direction/main-BYWUY6WE.js
Due: prettier --write

update placeholder
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

transistion changes
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/scss/base/_design-tokens.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/blocked.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/checklist.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/collection.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/pause.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/payment-change.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/pregnancy.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/send.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/assets/kirby/icons/svg/subscription.svg
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-2UPYXLAT.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-55VLH4HP.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-64ZYMXGY.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-6YPBFG6J.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-DGX7DCGU.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-EUVYTZD6.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-SJMVPPJJ.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-CCLDW43O.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/styles-ZFU27PQA.css
Due: prettier --write

generic control in form control solution with combobox POC
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/form-field/src/form-field.component.html
  libs/designsystem/form-field/src/form-field.component.ts
  libs/designsystem/form-field/src/input/input.component.ts
  libs/designsystem/form-field/src/textarea/textarea.component.ts
  libs/designsystem/radio/src/radio-group/radio-group.component.ts
  libs/designsystem/types/src/form-field-control.ts
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
  libs/extensions/angular/combobox/src/combobox.component.ts
Due: prettier --write, eslint --fix

ag-grid poc
  apps/cookbook/src/app/intro/intro.component.html
  apps/cookbook/src/app/intro/intro.component.scss
  apps/cookbook/src/app/intro/intro.component.ts
  apps/cookbook/src/app/intro/kirby-checkbox-cell-renderer.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

some cleanup
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/form-field/src/form-field.component.ts
Due: prettier --write, eslint --fix

Release: kby-remove-hardcoded-controls-from-form-field-combobo
  branch/kby-remove-hardcoded-controls-from-form-field-combob/404.html
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-B5VYU7TQ.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-BFJDAYJJ.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-DTS3IYO4.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-HBQ4LCZ7.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-MB2F6YNE.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-NGJSKESJ.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-XDN5REMY.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/index.html
  branch/kby-remove-hardcoded-controls-from-form-field-combob/main-IXT32TBB.js
Due: prettier --write

Release: kby-footer-and-header-does-not-respect-content-size
  branch/kby-footer-and-header-does-not-respect-content-size/404.html
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/blocked.svg
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/checklist.svg
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/collection.svg
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/pause.svg
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/payment-change.svg
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/pregnancy.svg
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/send.svg
  branch/kby-footer-and-header-does-not-respect-content-size/assets/kirby/icons/svg/subscription.svg
  branch/kby-footer-and-header-does-not-respect-content-size/chunk-2OVYYSOB.js
  branch/kby-footer-and-header-does-not-respect-content-size/chunk-3ND3LSPY.js
  branch/kby-footer-and-header-does-not-respect-content-size/chunk-H7KXN7T4.js
  branch/kby-footer-and-header-does-not-respect-content-size/chunk-QHRJK4TC.js
  branch/kby-footer-and-header-does-not-respect-content-size/chunk-QXICLYLB.js
  branch/kby-footer-and-header-does-not-respect-content-size/chunk-T7ZDZ5J3.js
  branch/kby-footer-and-header-does-not-respect-content-size/chunk-WD23S63D.js
  branch/kby-footer-and-header-does-not-respect-content-size/index.html
  branch/kby-footer-and-header-does-not-respect-content-size/main-MKOJ6MTC.js
Due: prettier --write

Sidebar: Fixed header and footer to respect content size (#4451)
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-footer/sidebar-footer.component.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-header/sidebar-header.component.ts
Due: prettier --write, eslint --fix

Section Header: enable visual heading levels
  libs/core/src/scss/base/_functions.scss
  libs/designsystem/section-header/src/_section-header.utils.scss
  libs/designsystem/section-header/src/section-header.component.scss
  libs/designsystem/section-header/src/section-header.component.spec.ts
  libs/designsystem/section-header/src/section-header.integration.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Adjust showcase and examples
  apps/cookbook/src/app/examples/section-header-example/examples/heading-levels.ts
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.html
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.scss
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.ts
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.html
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.scss
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Adjust to support all heading levels
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.html
  libs/core/src/scss/base/_functions.scss
  libs/designsystem/section-header/src/_section-header.utils.scss
  libs/designsystem/section-header/src/section-header.component.spec.ts
  libs/designsystem/section-header/src/section-header.integration.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Adjust example popout
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.html
Due: prettier --write

Release: kby-4444-heading-level-styling-in-section-header
  branch/kby-4444-heading-level-styling-in-section-header/404.html
  branch/kby-4444-heading-level-styling-in-section-header/chunk-WCNL3MQN.js
  branch/kby-4444-heading-level-styling-in-section-header/index.html
  branch/kby-4444-heading-level-styling-in-section-header/main-C676LPD6.js
Due: prettier --write

no shadow on focus
  libs/extensions/angular/combobox/src/combobox.component.scss
Due: prettier --write, stylelint --fix

added static true to input viewchild since its always part of the comboboxtemplate
  libs/extensions/angular/combobox/src/combobox.component.ts
Due: prettier --write, eslint --fix

Remove additional example frame spacing for popout example
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.scss
Due: prettier --write, stylelint --fix

readability
  libs/designsystem/form-field/src/form-field.component.ts
Due: prettier --write, eslint --fix

Release: kby-remove-hardcoded-controls-from-form-field-combobo
  branch/kby-remove-hardcoded-controls-from-form-field-combob/404.html
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-45XDBL2O.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-5OZPJ55M.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-AHXRIADM.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-BD3H2UBC.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-EZ2TRG73.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-HJH5XPTF.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-LDBDLRDY.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/index.html
  branch/kby-remove-hardcoded-controls-from-form-field-combob/main-ZQ5MMOZJ.js
Due: prettier --write

Release: kby-remove-hardcoded-controls-from-form-field-combobo
  branch/kby-remove-hardcoded-controls-from-form-field-combob/404.html
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-3EJF4V7T.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-AHOAKN7P.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-DE6JEOUY.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-LPB5A7EH.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-OH6ZVVS3.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-UNDLCTJ5.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/chunk-VQP2WOZJ.js
  branch/kby-remove-hardcoded-controls-from-form-field-combob/index.html
  branch/kby-remove-hardcoded-controls-from-form-field-combob/main-HNFTJVCL.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
