Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

update
  .github/workflows/tester.yml
  .scripts/kube-config.enc
Due: none

work on tests and scss calculations
  apps/cookbook/src/app/examples/range-example/examples/default.component.ts
  apps/cookbook/src/app/examples/range-example/examples/disabled.component.ts
  apps/cookbook/src/app/examples/range-example/examples/disabled.form.component.ts
  apps/cookbook/src/app/examples/range-example/examples/rangewithcolor.component.ts
  apps/cookbook/src/app/examples/range-example/examples/rangewithvisiblevalue.component.ts
  apps/cookbook/src/app/examples/range-example/examples/step.component.ts
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.spec.ts
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
  debug.log
  libs/designsystem/debug.log
  libs/designsystem/src/lib/components/range/range.component.html
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/src/lib/components/range/range.component.spec.ts
  libs/designsystem/src/lib/components/range/range.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.range.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix, stylelint --fix

update keys
  .github/workflows/tester.yml
Due: none

debugger
  .github/workflows/tester.yml
Due: none

debugger #2
  .github/workflows/tester.yml
Due: none

New encryption
  .github/workflows/tester.yml
  .scripts/kube-config.enc
Due: none

fixed .enc file
  .github/workflows/main.yml
  .scripts/kube-config.enc
Due: none

work on test
  libs/designsystem/src/lib/components/range/range.component.spec.ts
Due: prettier --write, tslint --fix

New kube-config.enc
  .scripts/kube-config.enc
Due: none

test af vars
  .github/workflows/main.yml
Due: none

vars 2
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Full run (branch)
  .github/workflows/main.yml
Due: none

work on edge cases for dates
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.analyzer.ts
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.ts
  libs/designsystem/src/lib/components/form-field/directives/date/date-locale-analyser.ts
  libs/designsystem/src/lib/components/form-field/directives/date/date.patterns.ts
Due: prettier --write, tslint --fix

helm version
  .github/workflows/tester.yml
Due: none

correct helm version
  .github/workflows/main.yml
Due: none

better naming in lint job
  .github/workflows/main.yml
Due: none

tests for edge cases for dates
  libs/designsystem/debug.log
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.analyzer.ts
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.spec.ts
Due: prettier --write, tslint --fix

better naming in the rest
  .github/workflows/main.yml
Due: none

renamed to branch.yml and removed if's
  .github/workflows/branch.yml
Due: none

removed console logs entries
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.analyzer.ts
  libs/designsystem/src/lib/components/form-field/directives/date/date-locale-analyser.ts
  libs/designsystem/src/lib/components/form-field/directives/date/date.patterns.ts
Due: prettier --write, tslint --fix

added master.yml
  .github/workflows/master.yml
Due: none

change workflow name
  .github/workflows/branch.yml
Due: none

dont deploy to cookbook if PR
  .github/workflows/branch.yml
Due: none

added bump version step
  .github/workflows/master.yml
Due: none

:recycle: Cleanup comments and refactor private methods for navigable years
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
Due: prettier --write, tslint --fix

This is a test
  .github/workflows/tester.yml
Due: none

:fire: Remove obselete log files
  debug.log
  libs/designsystem/debug.log
Due: none

hmm
  .github/workflows/tester.yml
Due: none

:sparkles: Add calendar year navigator config + barrel
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
  libs/designsystem/src/lib/components/calendar/index.ts
  libs/designsystem/src/lib/components/calendar/options/calendar-year-navigator-options.ts
  libs/designsystem/src/lib/components/index.ts
Due: prettier --write, tslint --fix

Done
  .github/workflows/tester.yml
Due: none

doit
  .github/workflows/tester.yml
Due: none

Bumping version to
  .github/workflows/tester.yml
Due: none

:lipstick: :recycle: Better naming for css classes
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

changed if structure
  .github/workflows/master.yml
Due: none

🤡 Update calendar mock
  libs/designsystem/testing-base/src/lib/components/mock.calendar.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

📝 Update calendar year navigator example + showcase
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
Due: prettier --write, tslint --fix

added publish step
  .github/workflows/master.yml
Due: none
