Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

⏪ Revert file, not releated to this pull-req
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
Due: prettier --write, tslint --fix

Enhancement/replace size directive (#1403)
  apps/cookbook/src/app/examples/avatar-example/avatar-example.component.ts
  apps/cookbook/src/app/examples/icon-example/icon-example.component.ts
  apps/cookbook/src/app/showcase/avatar-showcase/avatar-showcase.component.ts
  apps/cookbook/src/app/showcase/icon-showcase/icon-showcase.component.ts
  libs/designsystem/src/lib/components/avatar/avatar.component.scss
  libs/designsystem/src/lib/components/avatar/avatar.component.spec.ts
  libs/designsystem/src/lib/components/avatar/avatar.component.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/icon/_icon.component.shared.scss
  libs/designsystem/src/lib/components/icon/icon.component.scss
  libs/designsystem/src/lib/components/icon/icon.component.spec.ts
  libs/designsystem/src/lib/components/icon/icon.component.ts
  libs/designsystem/src/lib/components/icon/index.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/item/index.ts
  libs/designsystem/src/lib/components/item/item.component.spec.ts
  libs/designsystem/src/lib/components/item/item.component.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.spec.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
  libs/designsystem/src/lib/directives/size/size.directive.spec.ts
  libs/designsystem/src/lib/directives/size/size.directive.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/src/lib/scss/base/_functions.scss
  libs/designsystem/src/lib/scss/base/_variables.scss
  libs/designsystem/testing-base/src/lib/components/mock.avatar.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.button.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.icon.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.item.component.ts
  libs/designsystem/testing-base/src/lib/directives/mock.size.directive.ts
  libs/designsystem/testing-base/src/lib/mock-directives.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark:Bumping version to 1.4.42
  package-lock.json
  package.json
Due: prettier --write

review fixes
  apps/cookbook/src/app/examples/action-sheet-example/action-sheet-example.component.html
  apps/cookbook/src/app/examples/action-sheet-example/action-sheet-example.module.ts
  apps/cookbook/src/app/examples/action-sheet-example/examples/disabled.ts
  apps/cookbook/src/app/examples/fab-sheet-example/fab-sheet-example.component.html
  apps/cookbook/src/app/examples/page-example/advanced/page-advanced-example.component.ts
  apps/cookbook/src/app/examples/tabs-example/tab/tab-example.component.ts
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.html
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.html
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.scss
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.spec.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.html
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

mocks
  libs/designsystem/testing-base/src/lib/components/mock.action-sheet.component.ts
Due: prettier --write, tslint --fix

:fire: Remove "Creating pull-requests"-section
  .github/CONTRIBUTING.md
Due: prettier --write

♻️ rename classes
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

Update libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

🐛 Change modal size global classes to be prefixed (#1474)
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark:Bumping version to 1.4.43
  package-lock.json
  package.json
Due: prettier --write

Updated api description
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.html
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.ts
Due: prettier --write, tslint --fix

mock
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.html
Due: prettier --write

💄 Move position declaration to mixin
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/chip/chip.component.scss
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

💄 Declare mixin before local declarations
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/chip/chip.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Added keyboard support
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet-popout/action-sheet-popout.component.html
  libs/designsystem/src/lib/components/action-sheet/action-sheet-popout/action-sheet-popout.component.scss
  libs/designsystem/src/lib/components/action-sheet/action-sheet-popout/action-sheet-popout.component.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.html
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.scss
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

mocks
  libs/designsystem/testing-base/src/lib/components/mock.action-sheet-popout.component.ts
Due: prettier --write, tslint --fix

💄 Rename mixin and add args for min width/height
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/chip/chip.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
  libs/designsystem/src/lib/components/toggle/toggle.component.scss
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

Added tests for keyboard interaction
  libs/designsystem/src/lib/components/action-sheet/action-sheet-popout/action-sheet-popout.component.spec.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.spec.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.ts
Due: prettier --write, tslint --fix

removed disabled prop
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.html
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.spec.ts
Due: prettier --write, tslint --fix

:memo: Begin writing "The good: issue"
  .github/CONTRIBUTING.md
Due: prettier --write

🐛 Assign noop value to _onTouched
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.ts
Due: prettier --write, tslint --fix

🐛 Void function instead of rxjs noop
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.ts
Due: prettier --write, tslint --fix

🐛 Assign noop value to _onTouched (#1477)
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.44
  package-lock.json
  package.json
Due: prettier --write

⚰️ Remove deprecated SizeDirective
  libs/designsystem/src/lib/directives/index.ts
  libs/designsystem/src/lib/directives/size/size.directive.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

Update apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.html
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.html
Due: prettier --write

Update libs/designsystem/src/lib/components/range/range.component.ts
  libs/designsystem/src/lib/components/range/range.component.ts
Due: prettier --write, tslint --fix

🔖Bumping version to 1.5.0
  package.json
Due: prettier --write

♻️ Review changes
  apps/cookbook/src/app/examples/range-example/examples/disabled.component.ts
  apps/cookbook/src/app/examples/range-example/examples/pin.component.ts
  apps/cookbook/src/app/examples/range-example/range-example.component.spec.ts
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.scss
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/range/index.ts
  libs/designsystem/src/lib/components/range/range.component.html
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/src/lib/components/range/range.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

📝 Merge glossary with existing description of the process
  .github/CONTRIBUTING.md
Due: prettier --write

📝 Update ToC
  .github/CONTRIBUTING.md
Due: prettier --write

📝 Capitalize words and use quotes
  .github/CONTRIBUTING.md
Due: prettier --write

📝 Add short explanation of terms
  .github/CONTRIBUTING.md
Due: prettier --write

📝 Follow up on review comments
  .github/CONTRIBUTING.md
Due: prettier --write

♻️ Update mock of range component
  libs/designsystem/testing-base/src/lib/components/mock.range.component.ts
Due: prettier --write, tslint --fix

Added class to allow scroll on ionModalWillPresent event
  apps/cookbook/src/styles.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Moved allow-scroll class to global scss and renamed class to allow-modal-scroll
  apps/cookbook/src/styles.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix
