Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

:technologist: Add deprecation warning for 'stock' ChartType
  libs/designsystem/src/lib/components/chart/chart.component.ts
Due: prettier --write, tslint --fix

:memo: Replace 'developing new features' with 'contributing'
  readme.md
Due: prettier --write

:bug: Fix broken link
  readme.md
Due: prettier --write

Release: kby-2219-enhancement-add-dynamic-toolbar-height-and-r
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/404.html
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/accident.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/arrow-back.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/arrow-down.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/arrow-more.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/arrow-up.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/health.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/illness.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/incapacity.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/assets/kirby/icons/svg/life.svg
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/index.html
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/main-es2017.3496edd3a6be71801218.js
  branch/kby-2219-enhancement-add-dynamic-toolbar-height-and/main-es5.3496edd3a6be71801218.js
Due: prettier --write

Make quick PoC Use relative sizes and unitless line height
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
Due: prettier --write, stylelint --fix

💄 Streamline, clean up and handle .borderless
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
Due: prettier --write, stylelint --fix

Use import instead of require for highcharts
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated-helper.ts
Due: prettier --write, tslint --fix

✅ Modify test expectations to match applied changes
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.spec.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.integration.spec.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.spec.ts
Due: prettier --write, tslint --fix

💄 Adjust padding on input with border
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
Due: prettier --write, stylelint --fix

💄 Use variable for md size padding
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
Due: prettier --write, stylelint --fix

Add clarifying comment
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
Due: prettier --write, stylelint --fix

Inspection findings
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/page/page.component.spec.ts
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Fix "Identifier 'exports' has already been declared"
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

Require Node 16 and npm 8.5
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Update tsconfig.json
  tools/sass-to-ts/tsconfig.json
Due: prettier --write

Update annotations.config.ts
  libs/designsystem/src/lib/components/chart/configs/annotations.config.ts
Due: prettier --write, tslint --fix

Downgrade @angular/fire
  package-lock.json
  package.json
Due: prettier --write

:recycle: Move code responsible for moving elements to class
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-elements-mover.delegate.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

Release: kby-2116-modal-footer-version-2
  branch/kby-2116-modal-footer-version-2/404.html
  branch/kby-2116-modal-footer-version-2/index.html
  branch/kby-2116-modal-footer-version-2/main.f9b3fb9874ed62ed.js
Due: prettier --write

Release: kby-2312-responsive-lists
  branch/kby-2312-responsive-lists/404.html
  branch/kby-2312-responsive-lists/index.html
  branch/kby-2312-responsive-lists/main-es2017.c4afc478052a65753b2e.js
  branch/kby-2312-responsive-lists/main-es5.c4afc478052a65753b2e.js
Due: prettier --write

Remove deep copy dependency
  libs/designsystem/ng-package.json
  libs/designsystem/package.json
  libs/designsystem/src/lib/helpers/deep-copy.ts
  package-lock.json
  package.json
Due: prettier --write, tslint --fix

Change "link" to "contribution guidelines"
  readme.md
Due: prettier --write

:clown_face: Add 'disableChangeOnSwipe' to segmentedControl mock
  libs/designsystem/testing-base/src/lib/components/mock.segmented-control.component.ts
Due: prettier --write, tslint --fix

:fire: Remove chart-deprecated components folder
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated-helper.ts
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated-type.ts
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated.component.scss
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated.component.spec.ts
  libs/designsystem/src/lib/components/chart-deprecated/chart-deprecated.component.ts
  libs/designsystem/src/lib/components/chart-deprecated/index.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/activitygauge.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/areaspline.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/bar.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/column.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/donut.ts
  libs/designsystem/src/lib/components/chart-deprecated/options/timeseries.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove ChartDeprecated mocks
  libs/designsystem/testing-base/src/lib/components/mock.chart-deprecated.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

:fire: Remove deprecated chart examples
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.component.html
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.component.scss
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/chart-deprecated-example.module.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-activity-gauge.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-areaspline.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-bar.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-column.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-donut.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-pie.component.ts
  apps/cookbook/src/app/examples/chart-deprecated-example/examples/chart-deprecated-example-timeseries.component.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove deprecated chart showcase
  apps/cookbook/src/app/showcase/chart-deprecated-showcase/chart-deprecated-showcase.component.html
  apps/cookbook/src/app/showcase/chart-deprecated-showcase/chart-deprecated-showcase.component.scss
  apps/cookbook/src/app/showcase/chart-deprecated-showcase/chart-deprecated-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

:fire: Remove deprecated stock chart component
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/index.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/options/stock-chart-deprecated-options.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/stock-chart-deprecated.component.scss
  libs/designsystem/src/lib/components/stock-chart-deprecated/stock-chart-deprecated.component.spec.ts
  libs/designsystem/src/lib/components/stock-chart-deprecated/stock-chart-deprecated.component.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
