Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Replace typography spec with visually snapshotted story
  libs/designsystem/helpers/scss/src/typography.spec.ts
  libs/designsystem/helpers/scss/src/typography.stories.ts
Due: prettier --write, eslint --fix

Extension Peer Deps: specify minimum version of designsystem (#4180)
  libs/extensions/angular/package.json
Due: prettier --write

add correct role to menuitems when condidionally added
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Housekeeping: Bump Angular packages to v20-lts (#4179)
  package-lock.json
  package.json
Due: prettier --write

Release: kby-3578-declare-font-size-relative-units-second-go
  branch/kby-3578-declare-font-size-relative-units-second-go/404.html
  branch/kby-3578-declare-font-size-relative-units-second-go/chunk-27SGA5VG.js
  branch/kby-3578-declare-font-size-relative-units-second-go/chunk-5CTHIGD2.js
  branch/kby-3578-declare-font-size-relative-units-second-go/chunk-AX3XPFWS.js
  branch/kby-3578-declare-font-size-relative-units-second-go/chunk-KH435FWE.js
  branch/kby-3578-declare-font-size-relative-units-second-go/chunk-NRGUH3DS.js
  branch/kby-3578-declare-font-size-relative-units-second-go/chunk-ON6IHPYU.js
  branch/kby-3578-declare-font-size-relative-units-second-go/chunk-WT6YMHOW.js
  branch/kby-3578-declare-font-size-relative-units-second-go/index.html
  branch/kby-3578-declare-font-size-relative-units-second-go/main-WZQILHIQ.js
Due: prettier --write

Release: kby-4152-enhancement-always-add-aria-live-region-in-f
  branch/kby-4152-enhancement-always-add-aria-live-region-in/404.html
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-23CHKPWE.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-DUCP57F3.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-FX5ZOPSG.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-GWRYNJT2.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-N34GKBOQ.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-P7Y4XQGU.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-PSGSIQY7.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/index.html
  branch/kby-4152-enhancement-always-add-aria-live-region-in/main-FYUBUCVH.js
Due: prettier --write

moved id of form field message out of if
  libs/designsystem/form-field/src/form-field.component.html
Due: prettier --write

Testing: replace typography spec with visually snapshotted story (#4181)
  libs/designsystem/helpers/scss/src/typography.spec.ts
  libs/designsystem/helpers/scss/src/typography.stories.ts
Due: prettier --write, eslint --fix

Update libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.spec.ts
Due: prettier --write, eslint --fix

restructured styling and fixed tests
  libs/designsystem/form-field/src/form-field.component.html
  libs/designsystem/form-field/src/form-field.component.scss
  libs/designsystem/form-field/src/form-field.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4152-enhancement-always-add-aria-live-region-in-f
  branch/kby-4152-enhancement-always-add-aria-live-region-in/404.html
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-FU72MH7B.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-G7QHKMHQ.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-IBIT4OCR.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-O5N6PJXP.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-PWE7K4TY.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-QEWUW5SX.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/chunk-YYFPDLQM.js
  branch/kby-4152-enhancement-always-add-aria-live-region-in/index.html
  branch/kby-4152-enhancement-always-add-aria-live-region-in/main-3U6VKCPB.js
Due: prettier --write

revorked implementation to use absolute positioning for toggle buttons and fixed issues on safari
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.html
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.ts
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.html
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.ts
  libs/extensions/angular/sidebar-menu/src/components/menu-submenu-item/menu-submenu-item.component.html
  libs/extensions/angular/sidebar-menu/src/components/menu-submenu-item/menu-submenu-item.component.ts
  libs/extensions/angular/sidebar-menu/src/components/sidebar-menu/sidebar-menu.component.ts
  libs/extensions/angular/sidebar-menu/src/functions/check-menu-item/check-menu-item.function.ts
  libs/extensions/angular/sidebar-menu/src/functions/check-menu-item/index.ts
  libs/extensions/angular/sidebar-menu/src/services/menu-state/menu-state.service.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4113-sidebar-menu-item-customization
  branch/kby-4113-sidebar-menu-item-customization/404.html
  branch/kby-4113-sidebar-menu-item-customization/chunk-52T3FJ4H.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-6DDONJIH.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-AZSMAVJM.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-CJZHQLLO.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-HKC5PX7Z.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-TM3BXBKJ.js
  branch/kby-4113-sidebar-menu-item-customization/chunk-YE6HIOCA.js
  branch/kby-4113-sidebar-menu-item-customization/index.html
  branch/kby-4113-sidebar-menu-item-customization/main-D4R4XRMO.js
Due: prettier --write

added has error to default story to showcase the error state of a form field
  libs/designsystem/form-field/src/form-field.component.stories.ts
Due: prettier --write, eslint --fix

removed import
  libs/designsystem/form-field/src/form-field.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-4161-bug-square-edges-on-reorder-list
  branch/kby-4161-bug-square-edges-on-reorder-list/404.html
  branch/kby-4161-bug-square-edges-on-reorder-list/chunk-6AFYSKTJ.js
  branch/kby-4161-bug-square-edges-on-reorder-list/chunk-FLELRNSQ.js
  branch/kby-4161-bug-square-edges-on-reorder-list/chunk-IYDBODTZ.js
  branch/kby-4161-bug-square-edges-on-reorder-list/chunk-RPIIDOYB.js
  branch/kby-4161-bug-square-edges-on-reorder-list/chunk-XORSIFWA.js
  branch/kby-4161-bug-square-edges-on-reorder-list/chunk-YDZKTJAT.js
  branch/kby-4161-bug-square-edges-on-reorder-list/chunk-ZRAAJ2O6.js
  branch/kby-4161-bug-square-edges-on-reorder-list/index.html
  branch/kby-4161-bug-square-edges-on-reorder-list/main-QYBWRZ3X.js
Due: prettier --write

minor improvement
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.html
Due: prettier --write

testing
  libs/designsystem/menu/src/menu.component.ts
  libs/designsystem/popover/src/popover.component.ts
Due: prettier --write, eslint --fix

removed lint and unit test check before cookbook deploy
  .github/workflows/build.yml
Due: none

removed lint_and_unittest requirement for Deploy Cookbook step
  .github/workflows/build.yml
Due: none

Housekeeping: removed lint_and_unittest requirement for Deploy Cookbook step (#4186)
  .github/workflows/build.yml
Due: none

made it so toggle buttons can't be reached with tab navigation
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.html
Due: prettier --write

ionitem as menuitem
  libs/designsystem/icon/src/icon.module.ts
  libs/designsystem/menu/src/menu.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

ion item instead of kirby item as menuitem
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-DLDKCFB7.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-EG3E2HUT.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-GDXR7WVB.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-MFIUYGZ6.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-NJ2JEB6O.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-QUURBFG3.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-ZQS5AKLC.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-F32HJGZ3.js
Due: prettier --write

explicitly make menu buttons tab navigatable to have it work in safari
  libs/extensions/angular/sidebar-menu/src/components/menu-submenu-item/menu-submenu-item.component.html
Due: prettier --write

Reorder List: loosened specificity of reorder styling to ensure rounded borders when using custom item template (#4172)
  libs/designsystem/reorder-list/src/reorder-list.component.scss
  libs/designsystem/reorder-list/src/reorder-list.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-45ORSVLL.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-5PPZS5KW.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-6YFVFIBE.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-EBVIBMXN.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-IWYCYZBC.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-L4UFCCLV.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-XBYUFTUJ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-GZ7NXZQM.js
Due: prettier --write

Menu: correct menu role added when items are conditionally added (#4182)
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix
