Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Exclude broken tests
  libs/designsystem/modal/experimental/src/footer/footer.component.spec.ts
Due: prettier --write, eslint --fix

Fix date mask directive in form field (#2884)
  .nvmrc
  libs/designsystem/form-field/src/form-field.module.ts
  package.json
Due: prettier --write, eslint --fix

Fix broken test
  libs/designsystem/modal/experimental/src/footer/footer.component.scss
  libs/designsystem/modal/experimental/src/footer/footer.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Revert "Fix date mask directive in form field (#2884)"
  .nvmrc
  libs/designsystem/form-field/src/form-field.module.ts
  package.json
Due: prettier --write, eslint --fix

Revert "Fix date mask directive in form field" (#2885)
  .nvmrc
  libs/designsystem/form-field/src/form-field.module.ts
  package.json
Due: prettier --write, eslint --fix

Release: kby-2872-generate-mocks-cannot-find-core
  branch/kby-2872-generate-mocks-cannot-find-core/404.html
  branch/kby-2872-generate-mocks-cannot-find-core/index.html
  branch/kby-2872-generate-mocks-cannot-find-core/main.22c33ce9105232bb.js
  branch/kby-2872-generate-mocks-cannot-find-core/runtime.3a53f82179a00cd0.js
Due: prettier --write

ci: update engines node
  .nvmrc
  package.json
Due: prettier --write

Fix failing workflow runs caused by node v18.14 (#2883)
  .nvmrc
  package.json
Due: prettier --write

Add decimal mask to form field module
  libs/designsystem/form-field/src/form-field.module.ts
  libs/designsystem/form-field/src/public_api.ts
Due: prettier --write, eslint --fix

Add back exported type to public api
  libs/designsystem/form-field/src/public_api.ts
Due: prettier --write, eslint --fix

Add new theme css custom props and use in seg ctrl
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Update designtokens name and use across theme-enabled components
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/form-field/src/input/input.component.scss
  libs/designsystem/shared/src/theme-color/theme-color.directive.integration.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Update segmented control interaction state design
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/form-field/src/input/input.component.scss
  libs/designsystem/shared/src/theme-color/theme-color.directive.integration.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add form field color example
  apps/cookbook/src/app/examples/form-field-example/examples/input/color.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.scss
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write, eslint --fix, stylelint --fix

Tweaks for interaction states
  libs/core/src/scss/themes/_component-themes.scss
Due: prettier --write, stylelint --fix

Add segmented control color example
  apps/cookbook/src/app/examples/segmented-control-example/color/color.scss
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.module.ts
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

More readable code snippets
  apps/cookbook/src/app/examples/form-field-example/examples/input/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/color/color.scss
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
Due: prettier --write, eslint --fix, stylelint --fix

Default state tweaks
  apps/cookbook/src/app/examples/form-field-example/examples/input/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
Due: prettier --write, eslint --fix

Simplify segmented control color example component
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.component.html
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
Due: prettier --write, eslint --fix

Remove unnecessary default values.
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Restore missing focus-ring on segments
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Fix breaking build by removing wrong function call
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
Due: prettier --write, eslint --fix

Only apply box shadow for att. lvl. 3 (#2837)
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Fix missing focus ring on no decoration button (#2840)
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Fix button box shadow issue
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Remove hover bg color to align with design
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2620-add-theming-segmented-control-form-field
  branch/kby-2620-add-theming-segmented-control-form-field/1648.8c32f35f2a9a146a.js
  branch/kby-2620-add-theming-segmented-control-form-field/404.html
  branch/kby-2620-add-theming-segmented-control-form-field/537.9f415712ac51631e.js
  branch/kby-2620-add-theming-segmented-control-form-field/6514.8c8a95c62da08928.js
  branch/kby-2620-add-theming-segmented-control-form-field/assets/kirby/icons/svg/air-balloon.svg
  branch/kby-2620-add-theming-segmented-control-form-field/assets/kirby/icons/svg/banknotes.svg
  branch/kby-2620-add-theming-segmented-control-form-field/assets/kirby/icons/svg/business.svg
  branch/kby-2620-add-theming-segmented-control-form-field/assets/kirby/icons/svg/piggybank.svg
  branch/kby-2620-add-theming-segmented-control-form-field/common.8593824d64a5d5c1.js
  branch/kby-2620-add-theming-segmented-control-form-field/index.html
  branch/kby-2620-add-theming-segmented-control-form-field/main.94283140ad2fd493.js
  branch/kby-2620-add-theming-segmented-control-form-field/runtime.5438cbfccba621ff.js
Due: prettier --write

Add theming for segmented control and form field (#2824)
  apps/cookbook/src/app/examples/form-field-example/examples/input/color.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/examples/segmented-control-example/color/color.scss
  apps/cookbook/src/app/examples/segmented-control-example/color/color.ts
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.component.html
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/form-field/src/input/input.component.scss
  libs/designsystem/shared/src/theme-color/theme-color.directive.integration.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix date mask directive in form field (#2886)
  libs/designsystem/form-field/src/form-field.module.ts
Due: prettier --write, eslint --fix

Release: kby-v8-1-0
  branch/kby-v8-1-0/404.html
  branch/kby-v8-1-0/537.9f415712ac51631e.js
  branch/kby-v8-1-0/index.html
  branch/kby-v8-1-0/main.31685ee5034d3e5a.js
  branch/kby-v8-1-0/runtime.3ae00d086b2e4ba6.js
  branch/kby-v8-1-0/styles.56501557d09a56a7.css
Due: prettier --write

Release v.8.1.0 (#2867)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Release: designsystem
  1648.8c32f35f2a9a146a.js
  404.html
  537.9f415712ac51631e.js
  6514.8c8a95c62da08928.js
  assets/kirby/icons/svg/air-balloon.svg
  assets/kirby/icons/svg/banknotes.svg
  assets/kirby/icons/svg/business.svg
  assets/kirby/icons/svg/piggybank.svg
  common.8593824d64a5d5c1.js
  index.html
  main.31685ee5034d3e5a.js
  runtime.3ae00d086b2e4ba6.js
  styles.56501557d09a56a7.css
Due: prettier --write

Set default size and fix padding error
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/modal/experimental/src/modal/modal.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: add tests
  libs/designsystem/src/lib/directives/portal/portal-test.component.html
  libs/designsystem/src/lib/directives/portal/portal-test.component.ts
  libs/designsystem/src/lib/directives/portal/portal.directive.spec.ts
Due: prettier --write, eslint --fix

chore: fix review comments
  libs/designsystem/src/lib/directives/portal/portal.directive.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
