Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/6514.445d19d547e45533.js
  branch/kby-develop/8877.ab5f1005a3c09e87.js
  branch/kby-develop/index.html
  branch/kby-develop/main.c4f3ecd62f87a374.js
  branch/kby-develop/runtime.e440420e53d4d990.js
Due: prettier --write

Fix the todayDate prop causing errors in the flows app (#2757)
  apps/flows/src/app/transfer-and-pay-flow/choose-date/choose-date.component.html
  apps/flows/src/app/transfer-and-pay-flow/choose-date/choose-date.component.ts
Due: prettier --write, eslint --fix

added slider
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/slides-example/slides-example.component.ts
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/card/src/card.component.spec.ts
  libs/designsystem/slides/index.ts
  libs/designsystem/slides/ng-package.json
  libs/designsystem/slides/src/index.ts
  libs/designsystem/slides/src/public_api.ts
  libs/designsystem/slides/src/slide.directive.ts
  libs/designsystem/slides/src/slide.module.ts
  libs/designsystem/slides/src/slides.component.spec.ts
  libs/designsystem/slides/src/slides.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.slides.component.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
  package.json
Due: prettier --write, eslint --fix

minor ajustments
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/card/src/card.component.spec.ts
  libs/designsystem/slide/index.ts
  libs/designsystem/slide/ng-package.json
  libs/designsystem/slide/src/index.ts
  libs/designsystem/slide/src/public_api.ts
  libs/designsystem/slide/src/slide.directive.ts
  libs/designsystem/slide/src/slide.module.ts
  libs/designsystem/slide/src/slides.component.spec.ts
  libs/designsystem/slide/src/slides.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.slides.component.ts
  libs/designsystem/tsconfig.spec.json
  package.json
Due: prettier --write, eslint --fix

self review
  libs/designsystem/tsconfig.json
Due: prettier --write

Slide as secondary entry (#2759)
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/slides-example/slides-example.component.ts
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/slide/index.ts
  libs/designsystem/slide/ng-package.json
  libs/designsystem/slide/src/index.ts
  libs/designsystem/slide/src/public_api.ts
  libs/designsystem/slide/src/slide.directive.ts
  libs/designsystem/slide/src/slide.module.ts
  libs/designsystem/slide/src/slides.component.spec.ts
  libs/designsystem/slide/src/slides.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.slides.component.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix

done
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.toggle-button.component.ts
  libs/designsystem/toggle-button/index.ts
  libs/designsystem/toggle-button/ng-package.json
  libs/designsystem/toggle-button/src/index.ts
  libs/designsystem/toggle-button/src/public_api.ts
  libs/designsystem/toggle-button/src/toggle-button.component.html
  libs/designsystem/toggle-button/src/toggle-button.component.spec.ts
  libs/designsystem/toggle-button/src/toggle-button.component.ts
  libs/designsystem/toggle-button/src/toggle-button.module.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
  package.json
Due: prettier --write, eslint --fix

moved version
  package.json
Due: prettier --write

Toggle-button as secondary entry (#2760)
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.toggle-button.component.ts
  libs/designsystem/toggle-button/index.ts
  libs/designsystem/toggle-button/ng-package.json
  libs/designsystem/toggle-button/src/index.ts
  libs/designsystem/toggle-button/src/public_api.ts
  libs/designsystem/toggle-button/src/toggle-button.component.html
  libs/designsystem/toggle-button/src/toggle-button.component.spec.ts
  libs/designsystem/toggle-button/src/toggle-button.component.ts
  libs/designsystem/toggle-button/src/toggle-button.module.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix

moved
  apps/cookbook/tsconfig.json
  apps/flows/tsconfig.json
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/page/page.component.spec.ts
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tabs/index.ts
  libs/designsystem/tabs/ng-package.json
  libs/designsystem/tabs/src/index.ts
  libs/designsystem/tabs/src/public_api.ts
  libs/designsystem/tabs/src/tab-button/tab-button.component.html
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
  libs/designsystem/tabs/src/tab-button/tab-button.component.ts
  libs/designsystem/tabs/src/tab-button/tab-button.events.ts
  libs/designsystem/tabs/src/tabs.component.html
  libs/designsystem/tabs/src/tabs.component.scss
  libs/designsystem/tabs/src/tabs.component.spec.ts
  libs/designsystem/tabs/src/tabs.component.ts
  libs/designsystem/tabs/src/tabs.module.ts
  libs/designsystem/tabs/src/tabs.service.ts
  libs/designsystem/testing-base/src/lib/components/mock.tab-button.component.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-2684-set-default-themecolor
  branch/kby-2684-set-default-themecolor/404.html
  branch/kby-2684-set-default-themecolor/6514.445d19d547e45533.js
  branch/kby-2684-set-default-themecolor/8877.c32daf58374ec767.js
  branch/kby-2684-set-default-themecolor/common.6151c7be7531a308.js
  branch/kby-2684-set-default-themecolor/index.html
  branch/kby-2684-set-default-themecolor/main.dee8971d7b973f5b.js
  branch/kby-2684-set-default-themecolor/runtime.a6f343337b119487.js
Due: prettier --write

Group related tests
  libs/designsystem/src/lib/directives/theme-color/theme-color.directive.integration.spec.ts
Due: prettier --write, eslint --fix

Remove finished todos
  libs/core/src/scss/themes/_component-themes.scss
Due: prettier --write, stylelint --fix

Use correct design tokens for light context
  libs/designsystem/card/src/card.component.scss
Due: prettier --write, stylelint --fix

Update failing tests to match design
  libs/designsystem/src/lib/components/avatar/avatar.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.spec.ts
Due: prettier --write, eslint --fix

Revert temporary cookbook changes
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
  apps/flows/src/app/home/home.component.html
Due: prettier --write

Align action-sheet test with new design
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.spec.ts
Due: prettier --write, eslint --fix

Update interaction states on button
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

WIP
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
  apps/flows/src/app/home/home.component.html
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/directives/theme-color/theme-color.directive.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Reword it block to match actual test
  libs/designsystem/src/lib/components/button/button.component.spec.ts
Due: prettier --write, eslint --fix

First theming on card in place
  libs/designsystem/card/src/card.component.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Simplify solution and use existing btn css props
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Remove shadow on no-decoration btn on light bg
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Update tests to match design spec
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.spec.ts
Due: prettier --write, eslint --fix

Adjust action sheet to use btn out of the box
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.html
Due: prettier --write, stylelint --fix

Make att. lvl. 3 accept custom properties from ancestors
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Add elevation to light theme
  libs/core/src/scss/themes/_component-themes.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Add theme color variants to color maps
  libs/core/src/scss/themes/_colors.scss
  libs/core/src/scss/themes/_component-themes.scss
Due: prettier --write, stylelint --fix

Remove border styles as it is no longer needed
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Introduce component theme mixins
  libs/core/src/scss/themes/_component-themes.scss
  libs/core/src/scss/themes/_index.scss
  libs/designsystem/card/src/card.component.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Remove custom dropdown styles to align with button
  apps/cookbook/src/app/examples/dropdown-example/examples/attention-level.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/dropdown-examples.shared.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.html
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Introduce themecolor tests
  libs/designsystem/src/lib/directives/theme-color/theme-color.directive.integration.spec.ts
  libs/designsystem/src/lib/directives/theme-color/theme-color.directive.spec.ts
Due: prettier --write, eslint --fix

Adjust interaction states
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2758-fix-slide-example
  branch/kby-2758-fix-slide-example/404.html
  branch/kby-2758-fix-slide-example/index.html
  branch/kby-2758-fix-slide-example/main.ff29728265ff7928.js
Due: prettier --write

made demo work
  libs/designsystem/tabs/src/tabs.module.ts
Due: prettier --write, eslint --fix
