Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-2447-range-onchange-emit
  branch/kby-2447-range-onchange-emit/404.html
  branch/kby-2447-range-onchange-emit/index.html
  branch/kby-2447-range-onchange-emit/main.09afb48fa3dddef4.js
Due: prettier --write

Release: kby-2002-hide-content-while-loading
  branch/kby-2002-hide-content-while-loading/404.html
  branch/kby-2002-hide-content-while-loading/index.html
  branch/kby-2002-hide-content-while-loading/main.3347bbed882ec81b.js
Due: prettier --write

Change angularCompilerOptions to use strictTemplates
  libs/designsystem/tsconfig.lib.json
Due: prettier --write

Fix TS errors
  libs/designsystem/src/lib/components/accordion/accordion-item.component.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.html
  libs/designsystem/src/lib/components/checkbox/checkbox.component.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.html
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/list/list-item/list-item.component.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation-item.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.html
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/slide-button/slide-button.component.html
  libs/designsystem/src/lib/components/slide-button/slide-button.component.ts
  libs/designsystem/src/lib/components/toggle/toggle.component.html
  libs/designsystem/src/lib/components/toggle/toggle.component.ts
Due: prettier --write, eslint --fix

Revert "Fix TS errors"
  libs/designsystem/src/lib/components/accordion/accordion-item.component.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.html
  libs/designsystem/src/lib/components/checkbox/checkbox.component.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.html
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/list/list-item/list-item.component.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation-item.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.html
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/slide-button/slide-button.component.html
  libs/designsystem/src/lib/components/slide-button/slide-button.component.ts
  libs/designsystem/src/lib/components/toggle/toggle.component.html
  libs/designsystem/src/lib/components/toggle/toggle.component.ts
Due: prettier --write, eslint --fix

disable strictDomEventTypes and redo fix of TS errors
  libs/designsystem/src/lib/components/list/list-item/list-item.component.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/tsconfig.lib.json
Due: prettier --write, eslint --fix

changed slides to use iion hook for initial slide position
  libs/designsystem/src/lib/components/slides/slides.component.spec.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
Due: prettier --write, eslint --fix

Extract the service example into its own component
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/loading-overlay-example/service/loading-overlay-service-example.component.html
  apps/cookbook/src/app/examples/loading-overlay-example/service/loading-overlay-service-example.component.ts
  apps/cookbook/src/app/examples/loading-overlay-example/service/loading-overlay-service-example.ts
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.html
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.ts
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill-loader.min.js
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill.min.js
  libs/designsystem/src/lib/polyfills/resize-observer-polyfill-loader.min.js
  libs/designsystem/src/lib/polyfills/resize-observer-polyfill.min.js
  package-lock.json
Due: prettier --write, eslint --fix

Remove polyfills folder
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill-loader.min.js
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill.min.js
  libs/designsystem/src/lib/polyfills/resize-observer-polyfill-loader.min.js
  libs/designsystem/src/lib/polyfills/resize-observer-polyfill.min.js
Due: none

Release: kby-2002-hide-content-while-loading
  branch/kby-2002-hide-content-while-loading/404.html
  branch/kby-2002-hide-content-while-loading/8877.7a6205edf471ad18.js
  branch/kby-2002-hide-content-while-loading/common.483b8e5dc4b977e6.js
  branch/kby-2002-hide-content-while-loading/index.html
  branch/kby-2002-hide-content-while-loading/main.12392d5fffd0507e.js
  branch/kby-2002-hide-content-while-loading/runtime.662e96ed90ca3fcc.js
Due: prettier --write

Fix sticky container background to cover content
  libs/designsystem/src/lib/components/page/page.component.scss
Due: prettier --write, stylelint --fix

Fix color variable
  libs/designsystem/src/lib/components/page/page.component.scss
Due: prettier --write, stylelint --fix

Fix consistent style application
  libs/designsystem/src/lib/components/page/page.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2585-new-kirby-modal
  branch/kby-2585-new-kirby-modal/1648.3500cfa237c39265.js
  branch/kby-2585-new-kirby-modal/3rdpartylicenses.txt
  branch/kby-2585-new-kirby-modal/404.html
  branch/kby-2585-new-kirby-modal/537.90d9f110ced12ae4.js
  branch/kby-2585-new-kirby-modal/6514.64ae6f16d6323058.js
  branch/kby-2585-new-kirby-modal/7544.0654a356d18f20ba.js
  branch/kby-2585-new-kirby-modal/9016.8f543a9909671ed3.js
  branch/kby-2585-new-kirby-modal/common.a9cf886c175eb66f.js
  branch/kby-2585-new-kirby-modal/index.html
  branch/kby-2585-new-kirby-modal/main.9d446d4474eacc51.js
  branch/kby-2585-new-kirby-modal/runtime.12efde63793be084.js
Due: prettier --write

Slides use Ion hook for initial slide position (#2712)
  libs/designsystem/src/lib/components/slides/slides.component.spec.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
Due: prettier --write, eslint --fix

Release: kby-2685-kirby-page-sticky-content-transparency
  branch/kby-2685-kirby-page-sticky-content-transparency/404.html
  branch/kby-2685-kirby-page-sticky-content-transparency/index.html
  branch/kby-2685-kirby-page-sticky-content-transparency/main.42aaca7947d48c68.js
Due: prettier --write

Release: kby-2685-kirby-page-sticky-content-transparency
  branch/kby-2685-kirby-page-sticky-content-transparency/404.html
  branch/kby-2685-kirby-page-sticky-content-transparency/index.html
  branch/kby-2685-kirby-page-sticky-content-transparency/main.59b2855758e433dc.js
Due: prettier --write

Kirby page sticky content shouldn't be transparent (#2713)
  libs/designsystem/src/lib/components/page/page.component.scss
Due: prettier --write, stylelint --fix

moded cards. added ng packagr config
  libs/designsystem/card/ng-package.json
  libs/designsystem/card/src/card-flag-level.ts
  libs/designsystem/card/src/card-footer/card-footer.component.html
  libs/designsystem/card/src/card-footer/card-footer.component.scss
  libs/designsystem/card/src/card-footer/card-footer.component.ts
  libs/designsystem/card/src/card-header/card-header.component.html
  libs/designsystem/card/src/card-header/card-header.component.scss
  libs/designsystem/card/src/card-header/card-header.component.ts
  libs/designsystem/card/src/card.component.html
  libs/designsystem/card/src/card.component.scss
  libs/designsystem/card/src/card.component.spec.ts
  libs/designsystem/card/src/card.component.ts
  libs/designsystem/card/src/card.module.ts
  libs/designsystem/card/src/public_api.ts
  libs/designsystem/ng-package.json
  libs/designsystem/src/index.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
  libs/designsystem/src/lib/components/card/index.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.spec.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.spec.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.spec.ts
  libs/designsystem/src/lib/directives/element-as-button/element-as-button.directive.spec.ts
  libs/designsystem/src/lib/directives/element-as-button/element-as-button.directive.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill-loader.min.js
  libs/designsystem/src/lib/polyfills/intersection-observer-polyfill.min.js
  libs/designsystem/src/public-api.ts
  libs/designsystem/testing-base/testing-jasmine/ng-package2.json
  libs/designsystem/testing-base/testing-jasmine/src/lib/kirby-testing.module.ts
  libs/designsystem/testing-base/testing-jasmine/src/lib/mock-providers.ts
  libs/designsystem/testing-base/testing-jasmine/src/public_api.ts
  libs/designsystem/testing-base/testing-jasmine/src/tsconfig.json
  libs/designsystem/testing-jest/ng-package.json
  libs/designsystem/testing-jest/ng-package2.json
  libs/designsystem/tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix

cookbook now runs
  apps/cookbook/src/app/examples/examples.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/tsconfig.json
  libs/designsystem/src/lib/components/dropdown/index.ts
  libs/designsystem/src/lib/components/empty-state/index.ts
  libs/designsystem/src/lib/components/form-field/form-field.component.ts
  libs/designsystem/src/lib/components/form-field/form-field.module.ts
  libs/designsystem/src/lib/components/form-field/index.ts
  libs/designsystem/src/lib/components/form-field/input-counter/input-counter.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/kirby-badge.module.ts
  libs/designsystem/src/lib/components/modal/alert/index.ts
  libs/designsystem/src/lib/components/modal/index.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/index.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.ts
  libs/designsystem/src/lib/components/progress-circle/index.ts
  libs/designsystem/src/lib/components/radio/radio-module.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/web-component-proxies.component.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tsconfig.json
Due: prettier --write, eslint --fix

added commonmodule for every module which needed it by going through cookbook showcases and looking for errors in the console
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.module.ts
  libs/designsystem/src/lib/components/empty-state/empty-state.module.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/range/range.component.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
Due: prettier --write, eslint --fix

Remove ResizeObserver polyfill (#2700)
  webpack.polyfills.config.js
Due: none

cookbook now runs
  libs/designsystem/src/lib/components/kirby-badge.module.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/web-component-proxies.component.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, eslint --fix

moded cards. added ng packagr config
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/ng-package.json
  libs/designsystem/testing-jest/ng-package2.json
Due: prettier --write, eslint --fix

stuf works... yay
  libs/designsystem/src/lib/components/form-field/form-field.component.ts
  libs/designsystem/src/lib/components/form-field/input-counter/input-counter.component.ts
  libs/designsystem/src/lib/components/kirby-badge.module.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/web-component-proxies.component.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/ng-package.json
  libs/designsystem/testing-jest/ng-package.json
Due: prettier --write, eslint --fix

A few fixes after rebase
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, eslint --fix

added paths for flows app
  apps/flows/tsconfig.json
Due: prettier --write

testing moved and builds. doesn't run in tests
  libs/designsystem/card/src/card.component.spec.ts
  libs/designsystem/helpers/src/platform.service.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/testing/index.ts
  libs/designsystem/testing/ng-package.json
  libs/designsystem/testing/src/element-css-custom-matchers.d.ts
  libs/designsystem/testing/src/element-css-custom-matchers.ts
  libs/designsystem/testing/src/index.ts
  libs/designsystem/testing/src/public_api.ts
  libs/designsystem/testing/src/styles.scss
  libs/designsystem/testing/src/test-helper.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
Due: prettier --write, eslint --fix, stylelint --fix

fixed test
  libs/designsystem/src/lib/components/accordion/accordion-item.component.spec.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.spec.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/progress-circle/progress-circle.component.spec.ts
  libs/designsystem/src/lib/components/section-header/section-header.component.spec.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/typings2.test.d.ts
  libs/designsystem/testing/index.ts
  libs/designsystem/tsconfig.json
  libs/designsystem/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fixed the last tests
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.spec.ts
  libs/designsystem/src/lib/components/page/page.component.spec.ts
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.spec.ts
  libs/designsystem/src/lib/components/section-header/section-header.component.spec.ts
  libs/designsystem/src/lib/components/section-header/section-header.integration.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, eslint --fix

ore test fixes
  libs/designsystem/src/lib/components/avatar/avatar.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.initialization.spec.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.integration.spec.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.spec.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/src/lib/components/progress-circle/progress-circle.component.spec.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.spec.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.ts
  libs/designsystem/src/lib/components/section-header/section-header.component.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
  libs/designsystem/src/lib/components/slide-button/slide-button.component.spec.ts
Due: prettier --write, eslint --fix

removed unused imports
  libs/designsystem/src/lib/components/accordion/accordion-item.component.spec.ts
  libs/designsystem/src/lib/components/app/app.component.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.initialization.spec.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
  libs/designsystem/src/lib/components/charts/shared/chart-js-service/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.integration.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.spec.ts
  libs/designsystem/src/lib/components/item-group/item-group.component.spec.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.spec.ts
  libs/designsystem/src/lib/components/item/item.component.integration.spec.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.service.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.spec.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-elements-mover.delegate.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.spec.ts
  libs/designsystem/src/lib/components/progress-circle/progress-circle.component.ts
  libs/designsystem/src/lib/components/section-header/section-header.integration.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
  libs/designsystem/src/lib/components/tabs/tabs.module.ts
  libs/designsystem/src/lib/components/toggle/toggle.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.chart.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.list-experimental.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
