Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Add additional modal sizes
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/modal/experimental/src/modal/modal.component.html
  libs/designsystem/modal/experimental/src/modal/modal.component.ts
  libs/designsystem/modal/experimental/src/services/modal.controller.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix broken test
  libs/designsystem/modal/experimental/src/footer/footer.component.scss
  libs/designsystem/modal/experimental/src/footer/footer.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Enable strict template checks (#2711)
  libs/designsystem/alert-experimental/src/alert.component.ts
  libs/designsystem/list/src/list-item/list-item.component.ts
  libs/designsystem/modal/src/modal/alert/alert.component.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation-item.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/tsconfig.lib.json
Due: prettier --write, eslint --fix

feat: add option for user provided button
  libs/designsystem/menu/src/menu.component.html
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Move magic numbers into scss variables
  libs/designsystem/modal/experimental/src/modal/modal.component.scss
  libs/designsystem/modal/experimental/src/wrapper/wrapper.component.scss
Due: prettier --write, stylelint --fix

Change tap to map
  libs/designsystem/modal/experimental/src/services/modal.controller.ts
Due: prettier --write, eslint --fix

chore: inline portalTestComponent to spec file
  libs/designsystem/src/lib/directives/portal/portal-test.component.html
  libs/designsystem/src/lib/directives/portal/portal-test.component.ts
  libs/designsystem/src/lib/directives/portal/portal.directive.spec.ts
Due: prettier --write, eslint --fix

Release: kby-2743-header
  branch/kby-2743-header/404.html
  branch/kby-2743-header/7093.1b4b8a322a0f1372.js
  branch/kby-2743-header/common.2b3b0017a42b9ec0.js
  branch/kby-2743-header/index.html
  branch/kby-2743-header/main.7861dacd3f805772.js
  branch/kby-2743-header/runtime.4caa54a457dd4872.js
  branch/kby-2743-header/styles.56501557d09a56a7.css
Due: prettier --write

Fix bug that prevents kirby-grid from being displayed as flex in the modal
  libs/core/src/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

Remove eslint rule
  libs/designsystem/header/src/header.component.spec.ts
Due: prettier --write, eslint --fix

chore: move location of portal directive
  libs/designsystem/shared/src/portal/index.ts
  libs/designsystem/shared/src/portal/ng-package.json
  libs/designsystem/shared/src/portal/src/index.ts
  libs/designsystem/shared/src/portal/src/portal.directive.spec.ts
  libs/designsystem/shared/src/portal/src/portal.directive.ts
  libs/designsystem/shared/src/portal/src/public_api.ts
Due: prettier --write, eslint --fix

Move some modal styles out into global styles
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/modal/experimental/src/modal/modal.component.scss
  libs/designsystem/modal/experimental/src/wrapper/wrapper.component.scss
Due: prettier --write, stylelint --fix

Refactor solution for setting user defined height
  libs/designsystem/modal/experimental/src/modal/modal.component.html
  libs/designsystem/modal/experimental/src/modal/modal.component.ts
Due: prettier --write, eslint --fix

Release: kby-2825-fullscreen-modal
  branch/kby-2825-fullscreen-modal/404.html
  branch/kby-2825-fullscreen-modal/537.84c7a1449d7b2037.js
  branch/kby-2825-fullscreen-modal/common.fa3b35b197f10443.js
  branch/kby-2825-fullscreen-modal/index.html
  branch/kby-2825-fullscreen-modal/main.9e947248a03984b8.js
  branch/kby-2825-fullscreen-modal/runtime.ece35340e33ba6a1.js
  branch/kby-2825-fullscreen-modal/styles.65683fb69cfb38e8.css
Due: prettier --write

Add comment to explain the height input setter
  libs/designsystem/modal/experimental/src/modal/modal.component.ts
Due: prettier --write, eslint --fix

Release: kby-2874-portal-directive
  branch/kby-2874-portal-directive/404.html
  branch/kby-2874-portal-directive/537.84c7a1449d7b2037.js
  branch/kby-2874-portal-directive/common.fa3b35b197f10443.js
  branch/kby-2874-portal-directive/index.html
  branch/kby-2874-portal-directive/main.f449257d5ea588a4.js
  branch/kby-2874-portal-directive/runtime.38b346164e71101c.js
Due: prettier --write

Add properties
  apps/cookbook/src/app/examples/header-example/examples/avatar.ts
  apps/cookbook/src/app/examples/header-example/examples/customizability.ts
  apps/cookbook/src/app/examples/header-example/examples/default.ts
  apps/cookbook/src/app/examples/header-example/examples/flag.ts
  apps/cookbook/src/app/examples/header-example/examples/value.ts
  apps/cookbook/src/app/examples/header-example/header-example.module.ts
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.ts
  libs/designsystem/header/src/header.module.ts
Due: prettier --write, eslint --fix

Fix fit heading ref
  libs/designsystem/header/src/header.module.ts
Due: prettier --write, eslint --fix

Fix fit heading ref
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix

Fix example
  apps/cookbook/src/app/examples/header-example/examples/customizability.ts
Due: prettier --write, eslint --fix

Remove log
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix

Initial changes
  apps/cookbook/src/app/examples/page-example/simple/page-simple-example.component.ts
  libs/designsystem/header/src/header.module.ts
  libs/designsystem/page/src/page.component.html
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/page/src/page.module.ts
Due: prettier --write, eslint --fix

Release: kby-2743-header
  branch/kby-2743-header/1648.2860c49b3bd3dacb.js
  branch/kby-2743-header/1995.0049f1ea108fa285.js
  branch/kby-2743-header/404.html
  branch/kby-2743-header/6514.f9cdcb49e0d47b32.js
  branch/kby-2743-header/9338.287ef428db4d5b3d.js
  branch/kby-2743-header/common.ef243f4fb0060c90.js
  branch/kby-2743-header/index.html
  branch/kby-2743-header/main.495803fffbbe8012.js
  branch/kby-2743-header/runtime.5903e90cf39d420b.js
Due: prettier --write

Remove angular/cdk
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix

Release: kby-2743-header
  branch/kby-2743-header/1648.f14bebeae2522964.js
  branch/kby-2743-header/1995.6e05531b7a43e6e5.js
  branch/kby-2743-header/404.html
  branch/kby-2743-header/6514.d7645eeb5c1bf034.js
  branch/kby-2743-header/9338.c9b345bc10d43821.js
  branch/kby-2743-header/common.59fb66ec102f722c.js
  branch/kby-2743-header/index.html
  branch/kby-2743-header/main.80484c4c4929ed10.js
  branch/kby-2743-header/runtime.4617f080ab8029a1.js
Due: prettier --write

Temp state with group collapsing from left
  libs/designsystem/button-group/src/button-group.component.scss
  libs/designsystem/button-group/src/button-group.component.ts
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Make some minor font-size and padding adjustments
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/modal/experimental/src/modal/modal.component.html
  libs/designsystem/modal/experimental/src/modal/modal.component.scss
  libs/designsystem/modal/experimental/src/wrapper/wrapper.component.html
  libs/designsystem/modal/experimental/src/wrapper/wrapper.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2825-fullscreen-modal
  branch/kby-2825-fullscreen-modal/404.html
  branch/kby-2825-fullscreen-modal/index.html
  branch/kby-2825-fullscreen-modal/main.c3915153a37b4d21.js
  branch/kby-2825-fullscreen-modal/styles.5965efb4ad0c4f2a.css
Due: prettier --write

Update docs according to latest changes
  apps/cookbook/src/app/examples/header-example/examples/customizability.ts
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.html
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-2743-header
  branch/kby-2743-header/1648.afaba97a60d12357.js
  branch/kby-2743-header/1995.5a16b65436c2d442.js
  branch/kby-2743-header/404.html
  branch/kby-2743-header/6514.82aef5de1bde794d.js
  branch/kby-2743-header/7093.fcb188824f622909.js
  branch/kby-2743-header/common.e28308f431471136.js
  branch/kby-2743-header/index.html
  branch/kby-2743-header/main.f9ee2e51c68eb617.js
  branch/kby-2743-header/runtime.5f61974d06aefa4c.js
Due: prettier --write

Disable prettier linting
  .eslintrc.json
Due: prettier --write

Add functionality to remove intersecting buttons
  libs/designsystem/button-group/src/button-group.component.scss
  libs/designsystem/button-group/src/button-group.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Disconnect observer on destroy
  libs/designsystem/button-group/src/button-group.component.ts
Due: prettier --write, eslint --fix

Add portal directive (#2876)
  libs/designsystem/shared/src/portal/index.ts
  libs/designsystem/shared/src/portal/ng-package.json
  libs/designsystem/shared/src/portal/src/index.ts
  libs/designsystem/shared/src/portal/src/portal.directive.spec.ts
  libs/designsystem/shared/src/portal/src/portal.directive.ts
  libs/designsystem/shared/src/portal/src/public_api.ts
Due: prettier --write, eslint --fix

Refactor observable logic in the experimental modal controller
  libs/designsystem/modal/experimental/src/services/modal.controller.ts
Due: prettier --write, eslint --fix

Release: kby-2825-fullscreen-modal
  branch/kby-2825-fullscreen-modal/404.html
  branch/kby-2825-fullscreen-modal/index.html
  branch/kby-2825-fullscreen-modal/main.5e3fb630dc0c901c.js
Due: prettier --write

Move fit-heading-directive
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/page/src/page.module.ts
  libs/designsystem/page/src/public_api.ts
  libs/designsystem/shared/src/fit-heading/fit-heading.directive.ts
  libs/designsystem/shared/src/fit-heading/index.ts
  libs/designsystem/shared/src/public_api.ts
Due: prettier --write, eslint --fix
