Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

:memo: add "in kirby-guild" as guide to UX revew
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: "I would like to report a bug" -> "I have found a bug"
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: Fix dead links, fix a couple of typos
  .github/CONTRIBUTING.md
Due: prettier --write

💄 Reintroduce icon-font-size() but move to functions
  libs/designsystem/src/lib/components/avatar/avatar.component.scss
  libs/designsystem/src/lib/components/icon/icon.component.scss
  libs/designsystem/src/lib/scss/base/_functions.scss
  libs/designsystem/src/lib/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Add Simplicity quote
  .github/CONTRIBUTING.md
Due: prettier --write

🎨 Make Item size strongly typed
  libs/designsystem/src/lib/components/item/item.component.spec.ts
  libs/designsystem/src/lib/components/item/item.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.item.component.ts
Due: prettier --write, tslint --fix

removed unwanted settings-file
  .vscode/settings.json
Due: prettier --write

Add "The good: Branch"-section
  .github/CONTRIBUTING.md
Due: prettier --write

🎨 Make Button size strongly typed
  libs/designsystem/src/lib/components/button/button.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.ts
Due: prettier --write, tslint --fix

✅ Fix imports in mock components
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/item/index.ts
  libs/designsystem/testing-base/src/lib/components/mock.button.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.item.component.ts
Due: prettier --write, tslint --fix

⏪ Add back size directive with deprecation warning
  libs/designsystem/src/lib/directives/size/size.directive.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

Remove use of description list
  .github/CONTRIBUTING.md
Due: prettier --write

Revert "Remove use of description list"
  .github/CONTRIBUTING.md
Due: prettier --write

🚚 Export directive correctly
  libs/designsystem/src/lib/directives/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

⏪ Restore directive selector with new name
  libs/designsystem/src/lib/directives/size/size.directive.ts
Due: prettier --write, tslint --fix

📝 Update showcase & examples
  apps/cookbook/src/app/examples/range-example/examples/default.component.ts
  apps/cookbook/src/app/examples/range-example/examples/disabled.component.ts
  apps/cookbook/src/app/examples/range-example/examples/disabled.form.component.ts
  apps/cookbook/src/app/examples/range-example/examples/pin.component.ts
  apps/cookbook/src/app/examples/range-example/examples/step.component.ts
  apps/cookbook/src/app/examples/range-example/range-example.module.ts
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.html
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.scss
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/components/range/range.component.html
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/src/lib/components/range/range.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.range.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Reintroduce description list with working links
  .github/CONTRIBUTING.md
Due: prettier --write

💄 Add correct pin styles
  libs/designsystem/src/lib/components/range/range.component.scss
Due: prettier --write, stylelint --fix

🚚 Rename `browserslist`
  .browserslistrc
Due: none

🔧 Update supported browsers
  .browserslistrc
Due: none

⏪ Restore size directive
  libs/designsystem/src/lib/directives/index.ts
  libs/designsystem/src/lib/directives/size/size.directive.ts
Due: prettier --write, tslint --fix

💚 Add size directive back to module export
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

Documentation/the contribution model (#1464)
  .github/CONTRIBUTING.md
Due: prettier --write

Review fixes
  .tool-versions
  apps/cookbook/src/app/examples/action-sheet-example/action-sheet-example.component.html
  apps/cookbook/src/app/examples/action-sheet-example/action-sheet-example.component.scss
  apps/cookbook/src/app/examples/action-sheet-example/action-sheet-example.component.ts
  apps/cookbook/src/app/examples/action-sheet-example/examples/custom-button.ts
  apps/cookbook/src/app/examples/action-sheet-example/examples/default.ts
  apps/cookbook/src/app/examples/page-example/fixed-title-and-actions/page-fixed-title-and-actions-example.component.ts
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.html
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.scss
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.html
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.scss
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.spec.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet.component.ts
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts.rej
Due: prettier --write, tslint --fix, stylelint --fix

mocks
  libs/designsystem/testing-base/src/lib/components/mock.action-sheet.component.ts
Due: prettier --write, tslint --fix

Update kirby.module.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

🔧 sync package-lock
  package-lock.json
Due: prettier --write

🔀 Fix merge
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
Due: prettier --write, tslint --fix

📝 Adjust documentation
  apps/cookbook/src/app/examples/range-example/examples/disabled.component.ts
  apps/cookbook/src/app/examples/range-example/examples/pin.component.ts
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
  libs/designsystem/src/lib/components/range/index.ts
  libs/designsystem/src/lib/components/range/range.component.html
  libs/designsystem/src/lib/components/range/range.component.spec.ts
  libs/designsystem/src/lib/components/range/range.component.ts
Due: prettier --write, tslint --fix

💄 add size variable
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/testing-base/src/lib/components/mock.range.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

📝 adjust api docs
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
Due: prettier --write, tslint --fix

updated mocks
  libs/designsystem/testing-base/src/lib/components/mock.range.component.ts
Due: prettier --write, tslint --fix

🐛 Change modal size global classes to be prefixed
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

✅ Update specs
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

⏪ Remove fit from spec
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

🔥 Remove debugger
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

🔥 Remove console.log
  libs/designsystem/src/lib/components/range/range.component.ts
Due: prettier --write, tslint --fix

💄 Change box-shadow of knob
  libs/designsystem/src/lib/components/range/range.component.scss
Due: prettier --write, stylelint --fix
