Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Release: kby-843-cherry-picked
  branch/kby-843-cherry-picked/404.html
  branch/kby-843-cherry-picked/index.html
  branch/kby-843-cherry-picked/main-es2017.ee928aaf01248d31776a.js
  branch/kby-843-cherry-picked/main-es5.ee928aaf01248d31776a.js
Due: prettier --write

⏪ Fix messed up merge commit again
  libs/designsystem/src/lib/components/tabs/tabs.component.scss
  libs/designsystem/src/lib/components/tabs/tabs.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-1155-refactor-update-page-header
  branch/kby-1155-refactor-update-page-header/404.html
  branch/kby-1155-refactor-update-page-header/index.html
  branch/kby-1155-refactor-update-page-header/main-es2017.d5e329f57954ce93e887.js
  branch/kby-1155-refactor-update-page-header/main-es5.d5e329f57954ce93e887.js
Due: prettier --write

Release: kby-interaction-states-and-attention-levels
  branch/kby-interaction-states-and-attention-levels/404.html
  branch/kby-interaction-states-and-attention-levels/index.html
  branch/kby-interaction-states-and-attention-levels/main-es2017.4410641ac7d863f2a71c.js
  branch/kby-interaction-states-and-attention-levels/main-es5.4410641ac7d863f2a71c.js
Due: prettier --write

⏪ Fix messed up merge commit again
  libs/designsystem/src/lib/components/radio/radio.component.scss
Due: prettier --write, stylelint --fix

Release: kby-1155-refactor-update-page-header
  branch/kby-1155-refactor-update-page-header/404.html
  branch/kby-1155-refactor-update-page-header/index.html
  branch/kby-1155-refactor-update-page-header/main-es2017.f7ce3f88d06b10970c81.js
  branch/kby-1155-refactor-update-page-header/main-es5.f7ce3f88d06b10970c81.js
Due: prettier --write

⏪ Fix messed up merge commit again
  libs/designsystem/src/lib/components/radio/radio.component.scss
  libs/designsystem/src/lib/components/tabs/tabs.component.scss
  libs/designsystem/src/lib/components/tabs/tabs.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-v6-0-0
  branch/kby-v6-0-0/404.html
  branch/kby-v6-0-0/index.html
  branch/kby-v6-0-0/main-es2017.cdfdab09c54f17b4d08d.js
  branch/kby-v6-0-0/main-es5.cdfdab09c54f17b4d08d.js
Due: prettier --write

Release: kby-interaction-states-and-attention-levels
  branch/kby-interaction-states-and-attention-levels/404.html
  branch/kby-interaction-states-and-attention-levels/index.html
  branch/kby-interaction-states-and-attention-levels/main-es2017.918ce939f3099994e0c5.js
  branch/kby-interaction-states-and-attention-levels/main-es5.918ce939f3099994e0c5.js
Due: prettier --write

🔥 Remove redundant isShowing check
  libs/designsystem/src/lib/components/popover/popover.component.ts
Due: prettier --write, tslint --fix

Remove checked property from SegmentItem (#2190)
  libs/designsystem/src/lib/components/segmented-control/segment-item.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

Release: kby-2180-popover-hide-called-twice
  branch/kby-2180-popover-hide-called-twice/404.html
  branch/kby-2180-popover-hide-called-twice/index.html
  branch/kby-2180-popover-hide-called-twice/main-es2017.ea6c192b2b62e7d56c2a.js
  branch/kby-2180-popover-hide-called-twice/main-es5.ea6c192b2b62e7d56c2a.js
Due: prettier --write

🚚 Rename utilities to interaction-state.utilities
  libs/core/src/scss/interaction-state/_focus.scss
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/core/src/scss/interaction-state/_layer.scss
  libs/core/src/scss/interaction-state/ionic/_hover.scss
  libs/core/src/scss/interaction-state/ionic/_index.scss
Due: prettier --write, stylelint --fix

Release: kby-2135-move-shared-functionality-to-utilities-parti
  branch/kby-2135-move-shared-functionality-to-utilities-part/404.html
  branch/kby-2135-move-shared-functionality-to-utilities-part/assets/kirby/icons/svg/more.svg
  branch/kby-2135-move-shared-functionality-to-utilities-part/index.html
  branch/kby-2135-move-shared-functionality-to-utilities-part/main-es2017.918ce939f3099994e0c5.js
  branch/kby-2135-move-shared-functionality-to-utilities-part/main-es5.918ce939f3099994e0c5.js
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-all-500-normal.b769c23e824c106bdbfd.woff
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-cyrillic-500-normal.5abcda5f32f4761bbaf6.woff2
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-cyrillic-ext-500-normal.1a2a1ab387f44ac8d6d4.woff2
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-greek-500-normal.2bb92d7a94ebcc5e3ab2.woff2
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-greek-ext-500-normal.06bd82abe5add1480692.woff2
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-latin-500-normal.f5b74d7ffcdf85b9dd60.woff2
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-latin-ext-500-normal.74998c7de97e48984cc0.woff2
  branch/kby-2135-move-shared-functionality-to-utilities-part/roboto-vietnamese-500-normal.a46e5fcd13ddb57583a0.woff2
  branch/kby-2135-move-shared-functionality-to-utilities-part/styles.e99ac6c93e7a4633f145.css
Due: prettier --write

Move shared functionality to utilities partial (#2187)
  .stylelintrc
  libs/core/src/scss/interaction-state/_focus.scss
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/core/src/scss/interaction-state/_layer.scss
  libs/core/src/scss/interaction-state/_utilities.scss
  libs/core/src/scss/interaction-state/ionic/_hover.scss
  libs/core/src/scss/interaction-state/ionic/_index.scss
Due: prettier --write, stylelint --fix

💄 Change state layer 'flip' arg to 'make-lighter'
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/core/src/scss/interaction-state/_layer.scss
  libs/core/src/scss/interaction-state/ionic/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/chip/chip.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2136-rename-flip-argument
  branch/kby-2136-rename-flip-argument/404.html
  branch/kby-2136-rename-flip-argument/assets/kirby/icons/svg/more.svg
  branch/kby-2136-rename-flip-argument/index.html
  branch/kby-2136-rename-flip-argument/main-es2017.918ce939f3099994e0c5.js
  branch/kby-2136-rename-flip-argument/main-es5.918ce939f3099994e0c5.js
  branch/kby-2136-rename-flip-argument/roboto-all-500-normal.b769c23e824c106bdbfd.woff
  branch/kby-2136-rename-flip-argument/roboto-cyrillic-500-normal.5abcda5f32f4761bbaf6.woff2
  branch/kby-2136-rename-flip-argument/roboto-cyrillic-ext-500-normal.1a2a1ab387f44ac8d6d4.woff2
  branch/kby-2136-rename-flip-argument/roboto-greek-500-normal.2bb92d7a94ebcc5e3ab2.woff2
  branch/kby-2136-rename-flip-argument/roboto-greek-ext-500-normal.06bd82abe5add1480692.woff2
  branch/kby-2136-rename-flip-argument/roboto-latin-500-normal.f5b74d7ffcdf85b9dd60.woff2
  branch/kby-2136-rename-flip-argument/roboto-latin-ext-500-normal.74998c7de97e48984cc0.woff2
  branch/kby-2136-rename-flip-argument/roboto-vietnamese-500-normal.a46e5fcd13ddb57583a0.woff2
  branch/kby-2136-rename-flip-argument/styles.e99ac6c93e7a4633f145.css
Due: prettier --write

Change state layer 'flip' arg to 'make-lighter' (#2188)
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
  libs/core/src/scss/interaction-state/_layer.scss
  libs/core/src/scss/interaction-state/ionic/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/chip/chip.component.scss
Due: prettier --write, stylelint --fix

⬆️ Update package-lock.json
  package-lock.json
Due: prettier --write

💄 Create apply-active mixin
  libs/core/src/scss/interaction-state/_active.scss
  libs/core/src/scss/interaction-state/_index.scss
Due: prettier --write, stylelint --fix

♻️ Move $default-loudness-active to utilities
  libs/core/src/scss/interaction-state/_active.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
Due: prettier --write, stylelint --fix

💄 Apply mixin to default buttons
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💄 Apply mixin to button variants
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💄 Apply active-mixin to Accordion
  libs/designsystem/src/lib/components/accordion/accordion-item.component.scss
Due: prettier --write, stylelint --fix

💄 Apply active-mixin to Calendar
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💄 Apply active-mixin to clickable Card
  libs/designsystem/src/lib/components/card/card.component.scss
Due: prettier --write, stylelint --fix

💄 Apply active-mixin to Chip
  libs/designsystem/src/lib/components/chip/chip.component.scss
Due: prettier --write, stylelint --fix

💩 Raise performance budget
  angular.json
Due: prettier --write

Reduce git history clutter (#2201)
  package-lock.json
Due: prettier --write

Add "collapsibleTitle" field to modal config (#2174)
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/modal-config.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.testbuilder.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

Create apply-active mixin (#2196)
  libs/core/src/scss/interaction-state/_active.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_interaction-state.utilities.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
