Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-4019-bug-input-field-should-have-live-region-on-c
  branch/kby-4019-bug-input-field-should-have-live-region-on/404.html
  branch/kby-4019-bug-input-field-should-have-live-region-on/8016.8ed5bf43045d07bb.js
  branch/kby-4019-bug-input-field-should-have-live-region-on/index.html
  branch/kby-4019-bug-input-field-should-have-live-region-on/main.71234b765e8b2324.js
  branch/kby-4019-bug-input-field-should-have-live-region-on/runtime.7b5ca816e590514a.js
  branch/kby-4019-bug-input-field-should-have-live-region-on/styles.b015c8a1654229a5.css
Due: prettier --write

text announcement unit tests
  libs/designsystem/form-field/src/input-counter/input-counter.component.spec.ts
Due: prettier --write, eslint --fix

reviw comments
  libs/designsystem/dropdown/src/dropdown.component.ts
Due: prettier --write, eslint --fix

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/8016.c9da470d3eca3155.js
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.4d36cf8acdbb8c7c.js
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/runtime.a781172220b87a4f.js
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/styles.b015c8a1654229a5.css
Due: prettier --write

Button: Reworked eventlistener to effectively block event bubbling when button is aria-disabled (#4037)
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/button/src/button.component.ts
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/menu/src/menu.component.ts
  libs/designsystem/popover/src/popover.component.ts
  libs/designsystem/shared/floating/src/floating.directive.spec.ts
  libs/designsystem/shared/floating/src/floating.directive.ts
Due: prettier --write, eslint --fix

doc changes
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
Due: prettier --write

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/index.html
  branch/kby-develop/main.8ba288c6491ce612.js
Due: prettier --write

refactored a little bit
  libs/designsystem/form-field/src/input-counter/input-counter.component.ts
Due: prettier --write, eslint --fix

refactored a little bit unit test
  libs/designsystem/form-field/src/input-counter/input-counter.component.spec.ts
  libs/designsystem/form-field/src/input-counter/input-counter.component.ts
Due: prettier --write, eslint --fix

added .kirby-visually-hidden class as global class and updated existing usages in the code
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/calendar/src/calendar.component.html
  libs/designsystem/calendar/src/calendar.component.scss
  libs/designsystem/form-field/src/input-counter/input-counter.component.html
  libs/designsystem/form-field/src/input-counter/input-counter.component.scss
  libs/designsystem/form-field/src/input-counter/input-counter.component.ts
  libs/designsystem/slide-button/src/slide-button.component.html
  libs/designsystem/slide-button/src/slide-button.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.html
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

added .kirby-visually-hidden class as global class and updated existing usages in the code
  libs/designsystem/form-field/src/input-counter/input-counter.component.ts
Due: prettier --write, eslint --fix

fixed unit tests for calendar and slide button
  libs/designsystem/calendar/src/calendar.component.spec.ts
  libs/designsystem/slide-button/src/slide-button.component.spec.ts
Due: prettier --write, eslint --fix

Enhancement-4039 - extracted overlay related styling to its own file
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/components/_overlays.scss
Due: prettier --write, stylelint --fix

Refactor spot illustration and update styles for improved clarity Also modifying the story to better present the component. Ensuring that the component is properly exported.
  libs/extensions/angular/spot-illustration/src/index.ts
  libs/extensions/angular/spot-illustration/src/spot-illustration.component.scss
  libs/extensions/angular/spot-illustration/src/spot-illustration.component.stories.ts
  libs/extensions/angular/spot-illustration/src/spot-illustration.component.ts
  libs/extensions/angular/spot-illustration/src/spot-illustrations.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-spot-illustrations
  branch/kby-spot-illustrations/404.html
  branch/kby-spot-illustrations/index.html
  branch/kby-spot-illustrations/main.2bb44d6c3f2389a9.js
Due: prettier --write

same character cycle added and test
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.ts
Due: prettier --write, eslint --fix

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.0b603011f17c8280.js
Due: prettier --write

Accordion: fix alignment for multiline titles
  libs/designsystem/accordion/src/accordion-item.component.scss
Due: prettier --write, stylelint --fix

added new _visaully hidden style
  libs/core/src/scss/base/_visually-hidden.scss
Due: prettier --write, stylelint --fix

Release: kby-4019-bug-input-field-should-have-live-region-on-c
  branch/kby-4019-bug-input-field-should-have-live-region-on/404.html
  branch/kby-4019-bug-input-field-should-have-live-region-on/index.html
  branch/kby-4019-bug-input-field-should-have-live-region-on/main.1f8b201be22c4210.js
  branch/kby-4019-bug-input-field-should-have-live-region-on/styles.39a9588aff54de70.css
Due: prettier --write

Add small viewport testing to verify text wrapping
  libs/designsystem/accordion/src/accordion-item.component.stories.ts
Due: prettier --write, eslint --fix

review changes
  apps/cookbook/src/app/examples/dropdown-example/examples/attention-level.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/default.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/expand.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/pre-selected.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/right-aligned.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/scroll.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
Due: prettier --write, eslint --fix

scroll to focusitem adjusted
  libs/designsystem/dropdown/src/dropdown.component.ts
Due: prettier --write, eslint --fix

Release: kby-4008-bug-implement-keyboard-support-for-select-on
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/404.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/index.html
  branch/kby-4008-bug-implement-keyboard-support-for-select-o/main.5c5e5bb39d3b883e.js
Due: prettier --write

Deps: Define package deps as peerDependencies (#4046)
  libs/designsystem/ng-package.json
  libs/designsystem/package.json
  package-lock.json
  scripts/publish.js
Due: prettier --write

Dropdown: Improved keyboard support and added support for navigating by printable chars (#4015)
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example.component.html
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example.component.scss
  apps/cookbook/src/app/examples/dropdown-example/examples/attention-level.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/default.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/expand.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/item-select.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/ng-forms.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/pre-selected.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/right-aligned.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/scroll.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.scss
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.html
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/helpers/src/public_api.ts
  libs/designsystem/helpers/src/string-search.helper.spec.ts
  libs/designsystem/helpers/src/string-search.helper.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

updated kirby-icon-settings
  libs/designsystem/icon/src/icons/svg/bank.svg
Due: none

updated kirby-icon-settings
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Release: kby-4048-enhancement-new-bank-icon
  branch/kby-4048-enhancement-new-bank-icon/404.html
  branch/kby-4048-enhancement-new-bank-icon/index.html
  branch/kby-4048-enhancement-new-bank-icon/main.8259390576c5d3f1.js
Due: prettier --write

Accordion: fix alignment for multiline titles (#4049)
  libs/designsystem/accordion/src/accordion-item.component.scss
  libs/designsystem/accordion/src/accordion-item.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4048-enhancement-new-bank-icon
  branch/kby-4048-enhancement-new-bank-icon/404.html
  branch/kby-4048-enhancement-new-bank-icon/index.html
  branch/kby-4048-enhancement-new-bank-icon/main.008b3ad0a7696133.js
Due: prettier --write
