Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Update scripts/publish.js
  scripts/publish.js
Due: none

🐛 Fix backdrop showing up when fab is closed
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.html
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
Due: prettier --write, tslint --fix

Fix accordion sticky focus visible background
  libs/core/src/scss/interaction-state/_focus.scss
Due: prettier --write, stylelint --fix

🐛 Add back logic to preserve animation
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.html
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
Due: prettier --write, tslint --fix

Release: kby-2452-fab-sheet-backdrop-shows-when-sheet-closed
  branch/kby-2452-fab-sheet-backdrop-shows-when-sheet-closed/404.html
  branch/kby-2452-fab-sheet-backdrop-shows-when-sheet-closed/index.html
  branch/kby-2452-fab-sheet-backdrop-shows-when-sheet-closed/main.13a07cba43ba18a6.js
Due: prettier --write

Reorganize the tests to adhere to the AAA pattern
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

Release: kby-2412-add-enabledates-to-the-kirby-calendar
  branch/kby-2412-add-enabledates-to-the-kirby-calendar/404.html
  branch/kby-2412-add-enabledates-to-the-kirby-calendar/index.html
  branch/kby-2412-add-enabledates-to-the-kirby-calendar/main.7aae455720ae0dc9.js
Due: prettier --write

⬆️ Upgrade RxJS - version 7
  package-lock.json
  package.json
Due: prettier --write

🏷️ Use firstValueFrom() in place of toPromise()
  libs/designsystem/src/lib/components/modal/modal-wrapper/compact/modal-compact-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.spec.ts
Due: prettier --write, tslint --fix

🏷️ Specify Subject types to be RxJS 7 compatible
  apps/cookbook/src/app/examples/alert-example/alert-example.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, tslint --fix

Release: kby-2412-add-enabledates-to-the-kirby-calendar
  branch/kby-2412-add-enabledates-to-the-kirby-calendar/404.html
  branch/kby-2412-add-enabledates-to-the-kirby-calendar/index.html
  branch/kby-2412-add-enabledates-to-the-kirby-calendar/main.8bf1af2f7f420147.js
Due: prettier --write

Release: kby-setup-user-flows-app
  branch/kby-setup-user-flows-app/1995.b3e2e2c870fd4bc2.js
  branch/kby-setup-user-flows-app/404.html
  branch/kby-setup-user-flows-app/730.1e0476de765a27f0.js
  branch/kby-setup-user-flows-app/7513.9f7aa34a7cd254cf.js
  branch/kby-setup-user-flows-app/8105.befec4883c0e8ab1.js
  branch/kby-setup-user-flows-app/9223.89193f24f5d09dd8.js
  branch/kby-setup-user-flows-app/common.4c7b2eb4e85839d5.js
  branch/kby-setup-user-flows-app/index.html
  branch/kby-setup-user-flows-app/main.abc76cf3a2456a52.js
  branch/kby-setup-user-flows-app/runtime.7c1178573dea3bc3.js
Due: prettier --write

Refactor tests to make sure that Arrange and Act are correct
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

Use nx convertion tool to convert tslint to eslint
  .eslintrc.json
  .vscode/extensions.json
  angular.json
  libs/designsystem/.eslintrc.json
  libs/designsystem/src/lib/components/app/app.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.spec.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.ts
  libs/designsystem/src/lib/components/form-field/textarea/textarea.component.ts
  libs/designsystem/src/lib/components/grid/grid.component.ts
  libs/designsystem/src/lib/components/icon/icon.component.ts
  libs/designsystem/src/lib/components/icon/kirby-icon-settings.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/compact/modal-compact-wrapper.component.ts
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
  libs/designsystem/src/lib/components/shared/component-loader.directive.ts
  libs/designsystem/src/lib/directives/element-as-button/element-as-button.directive.ts
  libs/designsystem/src/lib/directives/fit-heading/fit-heading.directive.ts
  libs/designsystem/src/lib/directives/key-handler/key-handler.directive.ts
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
  libs/designsystem/src/lib/directives/theme-color/theme-color.directive.ts
  libs/designsystem/src/test.ts
  libs/designsystem/testing-base/src/lib/components/mock.button.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.input.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.textarea.component.ts
  libs/designsystem/testing-base/src/lib/directives/mock.fit-heading.directive.ts
  libs/designsystem/testing-base/src/lib/directives/mock.theme-color.directive.ts
  libs/designsystem/tslint.json
  package-lock.json
  package.json
  tslint.json
Due: prettier --write, tslint --fix

Update .eslintrc.json to enable prettier
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Add rules for imports
  .eslintrc.json
Due: prettier --write

Create custom overrides config file
  .eslintrc.json
  eslintrc-custom-overrides.json
  libs/designsystem/.eslintrc.json
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Move the sort-import rules to the overrides file
  .eslintrc.json
  eslintrc-custom-overrides.json
Due: prettier --write

Remove tslint as a recommended plugin
  .vscode/extensions.json
Due: prettier --write

Remove tslint-plugin-prettier from package.json
  package-lock.json
  package.json
Due: prettier --write

Add NPM automation token to workflow
  .github/workflows/publish.yml
Due: none

Refactor npm scripts to use eslint instead of tslint
  package.json
Due: prettier --write

Remove unused custom ts-lint rules
  tools/tslint-rules/disallowHttpClientModuleImportInSpecsRule.ts
  tools/tslint-rules/disallowSpecificEnvironmentImportRule.ts
  tools/tslint-rules/tsconfig.json
Due: prettier --write, tslint --fix

🔥 Remove duplicate function after merge
  libs/designsystem/src/lib/components/accordion/accordion-item.component.ts
Due: prettier --write, tslint --fix

Release: kby-v7-0-0
  branch/kby-v7-0-0/404.html
  branch/kby-v7-0-0/index.html
  branch/kby-v7-0-0/main.6fdf369f51cb3a86.js
Due: prettier --write

✨ Add input property to control interaction states
  apps/cookbook/src/app/examples/card-example/examples/card-background-image-example/card-background-image-example.component.html
  apps/cookbook/src/app/examples/card-example/examples/card-css-background-image-example/card-css-background-image-example.component.html
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
  libs/designsystem/src/lib/components/card/card.component.scss
  libs/designsystem/src/lib/components/card/card.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-2443-card-expose-options
  branch/kby-2443-card-expose-options/404.html
  branch/kby-2443-card-expose-options/index.html
  branch/kby-2443-card-expose-options/main.8a42e6488b36f55e.js
Due: prettier --write

Bump core version
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

6.4.0
  package-lock.json
  package.json
Due: prettier --write

Update changelog
  CHANGELOG.md
Due: prettier --write
