Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Sidebar: fix header logo slot assignment and image sizing (#4212)
  libs/extensions/angular/package.json
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-header/sidebar-header.component.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
  package-lock.json
Due: prettier --write, eslint --fix

Icons: Add ownership icon and replace top-up icon
  libs/designsystem/icon/src/icons/svg/ownership.svg
  libs/designsystem/icon/src/icons/svg/top-up.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Release: v11.5.0
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release: v11.5.0 (#4218)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Await active element update before asserting
  libs/designsystem/router-outlet/src/router-outlet.integration.spec.ts
Due: prettier --write, eslint --fix

Add upper and lower bounds for text size and update docs
  apps/cookbook/src/app/examples/fonts-example/fonts-example.component.html
  apps/cookbook/src/app/showcase/fonts-showcase/fonts-showcase.component.scss
  libs/core/src/scss/base/_typography.scss
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Update tests to use clamp
  libs/core/src/helpers/design-token-helper.ts
Due: prettier --write, eslint --fix

Release: kby-4200-non-linear-font-scaling
  branch/kby-4200-non-linear-font-scaling/404.html
  branch/kby-4200-non-linear-font-scaling/chunk-5XUTIDMW.js
  branch/kby-4200-non-linear-font-scaling/chunk-7HBTMODF.js
  branch/kby-4200-non-linear-font-scaling/chunk-AOWFR72M.js
  branch/kby-4200-non-linear-font-scaling/chunk-FQXZK34N.js
  branch/kby-4200-non-linear-font-scaling/chunk-FT45UXVB.js
  branch/kby-4200-non-linear-font-scaling/chunk-IGOHFW66.js
  branch/kby-4200-non-linear-font-scaling/chunk-SY7SLZ5T.js
  branch/kby-4200-non-linear-font-scaling/index.html
  branch/kby-4200-non-linear-font-scaling/main-EOXN27AG.js
  branch/kby-4200-non-linear-font-scaling/styles-EJ3SW2OM.css
Due: prettier --write

bump version
  package-lock.json
  package.json
Due: prettier --write

Migrate dropdown
  libs/designsystem/dropdown/src/dropdown.component.html
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/dropdown/src/dropdown.types.ts
Due: prettier --write, eslint --fix, stylelint --fix

Adjust calendar use of popover
  libs/designsystem/calendar/src/calendar.component.html
  libs/designsystem/calendar/src/calendar.component.stories.ts
  libs/designsystem/calendar/src/calendar.component.ts
Due: prettier --write, eslint --fix

Tweak dropdown docs
  apps/cookbook/src/app/examples/dropdown-example/examples/attention-level.ts
Due: prettier --write, eslint --fix

Tweak calendar docs
  apps/cookbook/src/app/examples/calendar-example/examples/year-navigator.ts
Due: prettier --write, eslint --fix

Cleanup
  libs/designsystem/dropdown/src/dropdown.component.ts
Due: prettier --write, eslint --fix

Add integration test
  libs/designsystem/dropdown/src/dropdown.component.integration.spec.ts
Due: prettier --write, eslint --fix

Add more visual tests for popout direction
  libs/designsystem/dropdown/src/dropdown.component.stories.ts
Due: prettier --write, eslint --fix

Housekeeping: Use exact versions for angular deps
  package-lock.json
  package.json
Due: prettier --write

Use exact version for storybook too
  package.json
Due: prettier --write

storybook update and eksact versions
  libs/designsystem/.storybook/main.ts
  libs/extensions/angular/.storybook/main.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

update lock json
  package-lock.json
Due: prettier --write

Revert unintentional xxl preferred value change
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

delete comment
  libs/designsystem/.storybook/main.ts
  libs/extensions/angular/.storybook/main.ts
Due: prettier --write, eslint --fix

Release: kby-4200-non-linear-font-scaling
  branch/kby-4200-non-linear-font-scaling/404.html
  branch/kby-4200-non-linear-font-scaling/chunk-5FGC3TLN.js
  branch/kby-4200-non-linear-font-scaling/chunk-E7IA6VEG.js
  branch/kby-4200-non-linear-font-scaling/chunk-QUJV2WMY.js
  branch/kby-4200-non-linear-font-scaling/chunk-TOTW37RM.js
  branch/kby-4200-non-linear-font-scaling/chunk-UOZDHFCK.js
  branch/kby-4200-non-linear-font-scaling/chunk-YFLLVAGG.js
  branch/kby-4200-non-linear-font-scaling/chunk-ZFT3ZZJ5.js
  branch/kby-4200-non-linear-font-scaling/index.html
  branch/kby-4200-non-linear-font-scaling/main-BYCLLHWQ.js
  branch/kby-4200-non-linear-font-scaling/styles-JRIJNNDT.css
Due: prettier --write

Tabs, Page: improve readability by adjusting max allowed value for text resize (#4213)
  apps/cookbook/src/app/examples/tabs-example/tabs-example.component.html
  libs/designsystem/badge/src/badge.component.scss
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
Due: prettier --write, stylelint --fix

Tests: await navigation in router integration spec (#4214)
  libs/designsystem/router-outlet/src/router-outlet.integration.spec.ts
Due: prettier --write, eslint --fix

Typography: add non-linear font scaling (#4216)
  apps/cookbook/src/app/examples/fonts-example/fonts-example.component.html
  apps/cookbook/src/app/showcase/fonts-showcase/fonts-showcase.component.scss
  libs/core/src/helpers/design-token-helper.ts
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, eslint --fix, stylelint --fix

Icons: Add ownership icon and replace top-up icon (#4217)
  libs/designsystem/icon/src/icons/svg/ownership.svg
  libs/designsystem/icon/src/icons/svg/top-up.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Release: kby-bump-angular-version
  branch/kby-bump-angular-version/404.html
  branch/kby-bump-angular-version/assets/kirby/icons/svg/ownership.svg
  branch/kby-bump-angular-version/assets/kirby/icons/svg/top-up.svg
  branch/kby-bump-angular-version/chunk-4PNZFQCD.js
  branch/kby-bump-angular-version/chunk-5GO2IGGV.js
  branch/kby-bump-angular-version/chunk-ALDLAAZ6.js
  branch/kby-bump-angular-version/chunk-KBQVW66D.js
  branch/kby-bump-angular-version/chunk-M6A4NUUE.js
  branch/kby-bump-angular-version/chunk-OM2LKOBO.js
  branch/kby-bump-angular-version/chunk-QQBX66NU.js
  branch/kby-bump-angular-version/index.html
  branch/kby-bump-angular-version/main-GOVI3PNZ.js
Due: prettier --write

Remove redundant test suite
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
Due: prettier --write, eslint --fix

Housekeeping: Use exact versions for angular deps (#4219)
  package-lock.json
  package.json
Due: prettier --write
