Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Update Kirby Team (#3312)
  .github/SUPPORT.md
Due: prettier --write

Release: kby-3234-custom-calendar-icon-for-date-input
  branch/kby-3234-custom-calendar-icon-for-date-input/1220.f0f72203851ff694.js
  branch/kby-3234-custom-calendar-icon-for-date-input/404.html
  branch/kby-3234-custom-calendar-icon-for-date-input/5440.96e2d92a8d5c2225.js
  branch/kby-3234-custom-calendar-icon-for-date-input/6613.c0c47985d01c2e5a.js
  branch/kby-3234-custom-calendar-icon-for-date-input/9435.474f360608a3f074.js
  branch/kby-3234-custom-calendar-icon-for-date-input/common.adc4eaf788c076b7.js
  branch/kby-3234-custom-calendar-icon-for-date-input/index.html
  branch/kby-3234-custom-calendar-icon-for-date-input/main.32cd9e1418383c43.js
  branch/kby-3234-custom-calendar-icon-for-date-input/runtime.d4dc7b5bef6bfdfa.js
Due: prettier --write

Make config object internal and expose props as inputs
  libs/designsystem/modal/src/modal/modal-component/modal.component.html
  libs/designsystem/modal/src/modal/modal-component/modal.component.spec.ts
  libs/designsystem/modal/src/modal/modal-component/modal.component.ts
Due: prettier --write, eslint --fix

Simplify modal component example
  apps/cookbook/src/app/examples/modal-example/modal-component-example.component.ts
Due: prettier --write, eslint --fix

Add missing whitespace
  libs/designsystem/modal/src/modal-wrapper/config/modal-config.ts
Due: prettier --write, eslint --fix

Place focus inside modal after it is presented
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix

Show modal example config properly when tabbing to config card
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
Due: prettier --write, stylelint --fix

Import from '@floating-ui/dom'
  libs/designsystem/shared/floating/src/floating.directive.spec.ts
  libs/designsystem/shared/floating/src/floating.directive.ts
Due: prettier --write, eslint --fix

Organize imports
  libs/designsystem/shared/floating/src/floating.directive.ts
Due: prettier --write, eslint --fix

Release: kby-3234-custom-calendar-icon-for-date-input
  branch/kby-3234-custom-calendar-icon-for-date-input/404.html
  branch/kby-3234-custom-calendar-icon-for-date-input/index.html
  branch/kby-3234-custom-calendar-icon-for-date-input/main.9cf212b04ca3c6e2.js
Due: prettier --write

🔧 Change "source.fixAll.eslint" settings from "true" to "explicit"
  .vscode/settings.json
Due: prettier --write

🔧 Change "source.fixAll.eslint" settings from "true" to "explicit" (#3315)
  .vscode/settings.json
Due: prettier --write

Fix floating-ui compile error (#3314)
  libs/designsystem/shared/floating/src/floating.directive.spec.ts
  libs/designsystem/shared/floating/src/floating.directive.ts
Due: prettier --write, eslint --fix

Add budget and history icons
  libs/designsystem/icon/src/icons/svg/budget.svg
  libs/designsystem/icon/src/icons/svg/history.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

bug: fix theme color
  libs/designsystem/badge/src/badge.component.ts
Due: prettier --write, eslint --fix

test: remove ThemeColor directive
  libs/designsystem/badge/src/badge.component.spec.ts
Due: prettier --write, eslint --fix

refactor: removed unused ThemeColor directive
  libs/designsystem/avatar/src/avatar.component.ts
Due: prettier --write, eslint --fix

test: remove ThemeColor directive
  libs/designsystem/avatar/src/avatar.component.spec.ts
Due: prettier --write, eslint --fix

refactor: removed ThemeColor directive
  libs/designsystem/modal/src/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/modal/src/modal/footer/modal-footer.component.ts
Due: prettier --write, eslint --fix

refactor: removed unused ThemeColor directive import
  libs/designsystem/progress-circle/src/progress-circle-ring.component.ts
Due: prettier --write, eslint --fix

refactor: use get-color util function instead of raw color value
  libs/designsystem/progress-circle/src/progress-circle-ring.component.scss
Due: prettier --write, stylelint --fix

Icon: Add budget and history icons (#3318)
  libs/designsystem/icon/src/icons/svg/budget.svg
  libs/designsystem/icon/src/icons/svg/history.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

fix: themecolor css class
  libs/designsystem/modal/src/modal/footer/modal-footer.component.ts
Due: prettier --write, eslint --fix

Add dot icon
  libs/designsystem/icon/src/icons/svg/dot.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Icon: Add new dot icon (#3322)
  libs/designsystem/icon/src/icons/svg/dot.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

🙈 Ignore .nx directory
  .gitignore
Due: none

revert: undo change
  libs/designsystem/badge/src/badge.component.ts
Due: prettier --write, eslint --fix

🙈 Ignore .nx directory (#3323)
  .gitignore
Due: none

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
