Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Create inquery-request
  .github/ISSUE_TEMPLATE/inquery-request
Due: none

Update and rename inquery-request to inquiry-request.md
  .github/ISSUE_TEMPLATE/inquery-request
  .github/ISSUE_TEMPLATE/inquiry-request.md
Due: prettier --write

Update inquiry-request.md
  .github/ISSUE_TEMPLATE/inquiry-request.md
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Added support for medium sized inputs (#1298)
  apps/cookbook/src/app/examples/form-field-example/examples/input/borderless.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/counter.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/default.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/disabled.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/error.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/focus.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/label-message.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/label.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/numeric.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example-configuration-component/form-field-example-configuration.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example-configuration-component/form-field-example-configuration.component.scss
  apps/cookbook/src/app/examples/form-field-example/form-field-example-configuration-component/form-field-example-configuration.component.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.ts
  libs/designsystem/src/lib/components/form-field/index.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
  libs/designsystem/src/lib/components/form-field/input/input.component.spec.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.input.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark:Bumping version to 1.4.8
  package-lock.json
  package.json
Due: prettier --write

✅ Add tests for min-width
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
Due: prettier --write, tslint --fix

💄 Add min-width to 'sm' and 'md'
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

♻️ store button min-widths in map
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

mobile tweaks
  apps/cookbook/src/app/page/header/header.component.html
  apps/cookbook/src/app/page/header/header.component.scss
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/page/side-nav/side-nav.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

:pencil: Improve modal header showcase description
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

:pencil: Update modal header example
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, tslint --fix

:recycle: Fix modal header example
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, tslint --fix

:pencil: :lipstick: Add flex to page header
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, tslint --fix

Made logo link to intro
  apps/cookbook/src/app/page/header/header.component.html
Due: prettier --write

Bugfix: button with text and icon is recognized as icon only (#1294)
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.9
  package-lock.json
  package.json
Due: prettier --write

📝 Showcase CSS custom properties in table
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.ts
Due: prettier --write, tslint --fix

🏷️ Add interface ShowCasePropertyColumns
  apps/cookbook/src/app/shared/showcase-properties/showcase-properties.component.ts
  apps/cookbook/src/app/shared/showcase-properties/showcase-property.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.ts
Due: prettier --write, tslint --fix

:white_check_mark: :recycle: Re-structure embedded component tests
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

:recycle: Minor improvements to modal wrapper test builder
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.testbuilder.ts
Due: prettier --write, tslint --fix

🤡 Add mock for Size directive (#1341)
  libs/designsystem/testing-base/src/lib/directives/mock.size.directive.ts
  libs/designsystem/testing-base/src/lib/mock-directives.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.10
  package-lock.json
  package.json
Due: prettier --write

🔥 Remove font folder in cookbook & designsystem
  apps/cookbook/src/assets/fonts/roboto-bold-webfont.woff2
  apps/cookbook/src/assets/fonts/roboto-light-webfont.woff2
  apps/cookbook/src/assets/fonts/roboto-regular-webfont.woff2
  libs/designsystem/src/lib/fonts/roboto/roboto-black-webfont.woff2
  libs/designsystem/src/lib/fonts/roboto/roboto-bold-webfont.woff2
  libs/designsystem/src/lib/fonts/roboto/roboto-light-webfont.woff2
  libs/designsystem/src/lib/fonts/roboto/roboto-regular-webfont.woff2
Due: none

:pencil: Revert calendar example to default state
  apps/cookbook/src/app/examples/calendar-example/calendar-example.component.html
  apps/cookbook/src/app/examples/calendar-example/calendar-example.component.ts
Due: prettier --write, tslint --fix

:lipstick: Improve styling default on month navigator
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

♻️ Move definition of fontfaces to _typography
  libs/designsystem/src/lib/scss/_global-styles.scss
  libs/designsystem/src/lib/scss/base/_fonts.scss
  libs/designsystem/src/lib/scss/base/_typography.scss
Due: prettier --write, stylelint --fix

Update apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
Due: prettier --write, tslint --fix

:white_check_mark: Improve year navigator year change test
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

Enhancement/document items css vars (#1344)
  apps/cookbook/src/app/shared/showcase-properties/showcase-properties.component.ts
  apps/cookbook/src/app/shared/showcase-properties/showcase-property.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.ts
Due: prettier --write, tslint --fix

Make it possible to remove list item color class (#1334)
  libs/designsystem/src/lib/components/list/directives/list-item-color.directive.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.11
  package-lock.json
  package.json
Due: prettier --write

chore: page footer testing mocks (#1338)
  libs/designsystem/src/lib/components/page/index.ts
  libs/designsystem/testing-base/src/lib/components/mock.page-footer.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.12
  package-lock.json
  package.json
Due: prettier --write

Enhance/calendar year selector (#1228)
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.html
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.scss
  apps/cookbook/src/app/examples/calendar-example/calendar-card-example.component.ts
  apps/cookbook/src/app/examples/calendar-example/calendar-example.component.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.html
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
  libs/designsystem/src/lib/components/calendar/index.ts
  libs/designsystem/src/lib/components/calendar/options/calendar-year-navigator-config.ts
  libs/designsystem/src/lib/components/card/card-footer/card-footer.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/testing-base/src/lib/components/mock.calendar.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark:Bumping version to 1.4.13
  package-lock.json
  package.json
Due: prettier --write

Update tasks section
  .github/ISSUE_TEMPLATE/component-request.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
