Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-3841-bug-cant-scroll-view-when-showing-toast
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/404.html
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/5496.6d18cddafbaacd0d.js
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/index.html
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/main.6622ec09a23e948f.js
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/runtime.51ce87ddceb7ac0d.js
Due: prettier --write

Release: kby-fix-chromatic-baseline
  branch/kby-fix-chromatic-baseline/2403.af13ffa79e9d5c3b.js
  branch/kby-fix-chromatic-baseline/2910.2bb68c45c2da18f4.js
  branch/kby-fix-chromatic-baseline/404.html
  branch/kby-fix-chromatic-baseline/index.html
  branch/kby-fix-chromatic-baseline/main.d68ee48a474cccf6.js
  branch/kby-fix-chromatic-baseline/runtime.8bb6fc7b9149f31a.js
Due: prettier --write

Use readMore translation as default action btn text
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/image-banner/src/image-banner.component.ts
Due: prettier --write, eslint --fix

callback as h4
  apps/cookbook/src/app/showcase/toast-showcase/toast-showcase.component.html
Due: prettier --write

ignore flaky dropdown test after multiple tries on fixing it
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
Due: prettier --write, eslint --fix

remote 'f' before describe
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
Due: prettier --write, eslint --fix

Make toolbar title h1 to be focusable with focus manager on page enter
  libs/designsystem/page/src/page.component.html
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Image Banner: toggle button mobile view, refactor and accessibility changes (#3853)
  libs/designsystem/shared/src/translation/translation.interface.ts
  libs/designsystem/shared/src/translation/translations/da.ts
  libs/designsystem/shared/src/translation/translations/de.ts
  libs/designsystem/shared/src/translation/translations/en.ts
  libs/extensions/angular/image-banner/src/image-banner.component.html
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/image-banner/src/image-banner.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Make fit heading work with any element
  libs/designsystem/shared/src/fit-heading/fit-heading.directive.ts
Due: prettier --write, eslint --fix

Update radio showcase with accesibility
  apps/cookbook/src/app/showcase/radio-showcase/radio-showcase.component.html
Due: prettier --write

add attributes directive for forwarding mulitple attributes
  libs/designsystem/radio/src/radio-group/radio-group.component.html
  libs/designsystem/radio/src/radio-group/radio-group.component.ts
  libs/designsystem/radio/src/radio-module.ts
  libs/designsystem/shared/src/controls/attributes.directive.spec.ts
  libs/designsystem/shared/src/controls/attributes.directive.ts
  libs/designsystem/shared/src/controls/label-helpers.ts
  libs/designsystem/shared/src/public_api.ts
Due: prettier --write, eslint --fix

only do dom manipulation if attributes defer
  libs/designsystem/radio/src/radio-group/radio-group.component.spec.ts
  libs/designsystem/shared/src/controls/attributes.directive.ts
Due: prettier --write, eslint --fix

Release: kby-3795-bug-aria-label-on-kirby-radio-group-is-not-f
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/2403.af13ffa79e9d5c3b.js
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/2910.2bb68c45c2da18f4.js
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/404.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/assets/images/de.svg
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/index.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/main.e3faa7e10202f089.js
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/runtime.8bb6fc7b9149f31a.js
Due: prettier --write

Create provideKirby function
  libs/designsystem/kirby-ionic-module/src/kirby-ionic.module.ts
Due: prettier --write, eslint --fix

Release: kby-3841-bug-cant-scroll-view-when-showing-toast
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/404.html
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/index.html
  branch/kby-3841-bug-cant-scroll-view-when-showing-toast/main.158947001b3c2196.js
Due: prettier --write

Release: kby-disable-flaky-test-use-popover-dropdown
  branch/kby-disable-flaky-test-use-popover-dropdown/404.html
  branch/kby-disable-flaky-test-use-popover-dropdown/index.html
  branch/kby-disable-flaky-test-use-popover-dropdown/main.d68ee48a474cccf6.js
Due: prettier --write

Ignore two more tests
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Naming and type correction
  libs/designsystem/shared/src/controls/attributes.directive.spec.ts
  libs/designsystem/shared/src/controls/attributes.directive.ts
  libs/designsystem/shared/src/controls/label-helpers.ts
Due: prettier --write, eslint --fix

Release: kby-3795-bug-aria-label-on-kirby-radio-group-is-not-f
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/404.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/index.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/main.2d28d12669a48667.js
Due: prettier --write

Another one
  libs/designsystem/modal/src/modal/services/alert.helper.spec.ts
Due: prettier --write, eslint --fix

Housekeeping: Ignore flaky unit tests (#3861)
  libs/designsystem/dropdown/src/dropdown-popover.component.spec.ts
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
  libs/designsystem/modal/src/modal/services/alert.helper.spec.ts
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Remove article from empty-state
  libs/designsystem/empty-state/src/empty-state.component.html
  libs/designsystem/empty-state/src/empty-state.component.scss
Due: prettier --write, stylelint --fix

feat(segment-control): implement vca
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, eslint --fix

Release Extensions v3.1.0
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write

Release Extensions v3.1.0 (#3867)
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write

feat(toggle-button): cva
  libs/designsystem/toggle-button/src/toggle-button.component.spec.ts
  libs/designsystem/toggle-button/src/toggle-button.component.ts
Due: prettier --write, eslint --fix

Make kirby config usable in standalone apps
  libs/designsystem/.storybook/preview.ts
  libs/designsystem/kirby-ionic-module/src/kirby-ionic.module.ts
  libs/designsystem/modal/src/modal/modal-component/modal.component.ts
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/extensions/angular/.storybook/preview.ts
Due: prettier --write, eslint --fix

Use setHtmlDocTitle config in page
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Release: kby-3795-bug-aria-label-on-kirby-radio-group-is-not-f
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/404.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/index.html
  branch/kby-3795-bug-aria-label-on-kirby-radio-group-is-not/main.9af9bfa3fcdd04f4.js
Due: prettier --write

test: fix leak
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, eslint --fix

fix: emit kirbyChange on formcontrol value change
  libs/designsystem/form-field/src/textarea/textarea.component.spec.ts
  libs/designsystem/form-field/src/textarea/textarea.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
