Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

🎨 replace directive with input property for icon size
  libs/designsystem/src/lib/components/icon/icon.component.ts
  libs/designsystem/src/lib/directives/size/size.directive.ts
Due: prettier --write, tslint --fix

✅ add tests for size input property to icon
  libs/designsystem/src/lib/components/icon/icon.component.spec.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/testing-base/src/lib/components/mock.icon.component.ts
Due: prettier --write, tslint --fix

Fixed e-2-e tests
  libs/core/src/components/badge/badge.e2e.ts
  package.json
Due: prettier --write, tslint --fix

:memo: add multiline label example for radio & checkbox
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.module.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/multiline.ts
  apps/cookbook/src/app/examples/empty-state-example/empty-state-example.component.html
  apps/cookbook/src/app/examples/radio-example/examples/multiline.ts
  apps/cookbook/src/app/examples/radio-example/radio-example.module.ts
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
  apps/cookbook/src/app/showcase/radio-showcase/radio-showcase.component.html
Due: prettier --write, tslint --fix

:fire: Remove align-center tests
  libs/designsystem/src/lib/components/checkbox/checkbox.component.spec.ts
  libs/designsystem/src/lib/components/radio/radio.component.spec.ts
Due: prettier --write, tslint --fix

:rotating_light: Reorder imports
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.ts
Due: prettier --write, tslint --fix

:rewind: 🤦‍♂️Revert accidentally changed file️
  apps/cookbook/src/app/examples/empty-state-example/empty-state-example.component.html
Due: prettier --write

⏪ revert file that only has imports reordered
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.ts
Due: prettier --write, tslint --fix

🔧 Change module option from 'esnext' to 'es2020' in tsconfig.json
  tsconfig.json
Due: prettier --write

updated prefiix suffix to support size and host binding
  apps/cookbook/src/app/examples/form-field-example/examples/input/form-field-input-prefix-postfix-example.component.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  libs/designsystem/src/lib/components/form-field/form-field.component.html
  libs/designsystem/src/lib/components/form-field/form-field.component.scss
  libs/designsystem/src/lib/components/form-field/index.ts
  libs/designsystem/src/lib/components/form-field/input-postfix/input-postfix.component.scss
  libs/designsystem/src/lib/components/form-field/input-postfix/input-postfix.component.ts
  libs/designsystem/src/lib/components/form-field/input-prefix-postfix/input-postfix.component.spec.ts
  libs/designsystem/src/lib/components/form-field/input-prefix-postfix/input-postfix.component.ts
  libs/designsystem/src/lib/components/form-field/input-prefix-postfix/input-prefix-postfix.component.scss
  libs/designsystem/src/lib/components/form-field/input-prefix-postfix/input-prefix.component.spec.ts
  libs/designsystem/src/lib/components/form-field/input-prefix-postfix/input-prefix.component.ts
  libs/designsystem/src/lib/components/form-field/input-prefix/input-prefix.component.scss
  libs/designsystem/src/lib/components/form-field/input-prefix/input-prefix.component.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

added mocks
  libs/designsystem/testing-base/src/lib/components/mock.input-postfix.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.input-prefix.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

🎨 replace directive with input property for avatar size
  libs/designsystem/src/lib/components/avatar/avatar.component.ts
  libs/designsystem/src/lib/directives/size/size.directive.ts
Due: prettier --write, tslint --fix

bump node version in ci
  .github/workflows/build.yml
  .github/workflows/publish.yml
  package.json
Due: prettier --write

✅ modify size property binding in test
  libs/designsystem/src/lib/components/avatar/avatar.component.spec.ts
  libs/designsystem/testing-base/src/lib/components/mock.avatar.component.ts
Due: prettier --write, tslint --fix

added mock
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

:lipstick: Add correct sizes to modal header specaing
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

:lipstick: Fix incorrect use of size in modal wrapper scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

:lipstick: Mobile first styling
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

node version on ci
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

🔥 removed some unused size directive imports
  libs/designsystem/src/lib/components/avatar/avatar.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/modal/alert/alert.component.spec.ts
Due: prettier --write, tslint --fix

try to fix ci build
  .gitignore
  .prettierignore
  libs/core/component-docs.json
  libs/designsystem/src/lib/components/proxies.ts
  libs/designsystem/tslint.json
Due: prettier --write, tslint --fix

removed autogenerated files
  .gitignore
  libs/core/component-docs.d.ts
  libs/core/component-docs.json
  libs/core/src/components.d.ts
Due: prettier --write, tslint --fix

more ci
  .gitignore
  .prettierignore
  libs/core/src/components/badge/readme.md
Due: prettier --write

updated prettier ignore
  .prettierignore
  libs/designsystem/src/lib/components/angular-component-lib/utils.ts
Due: prettier --write, tslint --fix

further work on the details in the charts. incl testing
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-areaspline-1.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-bar-1.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-bar-2.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-bar-3.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-doughnut-1.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-horizontal-bar.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-line-2.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-line-3.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-pie-1.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-timeseries-1.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-timeseries-2.component.ts
  libs/designsystem/src/lib/components/chart2/chart.component.html
  libs/designsystem/src/lib/components/chart2/chart.component.scss
  libs/designsystem/src/lib/components/chart2/chart.component.spec.ts
  libs/designsystem/src/lib/components/chart2/chart.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:white_check_mark: Add test for modal header spacing
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

:white_check_mark: Fix modal header spacing tests
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

:white_check_mark: Fix test regression in modal wrapper
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

Enhancement/modal header spacing (#1400)
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark:Bumping version to 1.4.25
  package-lock.json
  package.json
Due: prettier --write

Revert package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

remove debug.log files
  debug.log
  libs/designsystem/debug.log
Due: none

[Enhancement] Radio & Checkbox Icon Alignment (#1374)
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.module.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/multiline.ts
  apps/cookbook/src/app/examples/radio-example/examples/multiline.ts
  apps/cookbook/src/app/examples/radio-example/radio-example.module.ts
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
  apps/cookbook/src/app/showcase/radio-showcase/radio-showcase.component.html
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.spec.ts
  libs/designsystem/src/lib/components/radio/radio.component.scss
  libs/designsystem/src/lib/components/radio/radio.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark:Bumping version to 1.4.26
  package-lock.json
  package.json
Due: prettier --write

🎨 replace directive with input property for item size
  libs/designsystem/src/lib/components/item/item.component.ts
  libs/designsystem/src/lib/directives/size/size.directive.ts
Due: prettier --write, tslint --fix

✅ add tests for size input property to item
  libs/designsystem/src/lib/components/item/item.component.spec.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/testing-base/src/lib/components/mock.item.component.ts
Due: prettier --write, tslint --fix

🐛 Fix setExampleComponentFromUrl()
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
