Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

💄 Reference core util scss file for layout recipe
  apps/cookbook/src/app/examples/grid-layout-example/grid-layout-single-container-example/grid-layout-single-container-example.component.scss
  apps/cookbook/src/app/layout-recipes/layout-recipes.component.scss
Due: prettier --write, stylelint --fix

🔥 Remove unused ColorHelper reference
  libs/core/src/components/badge/badge.component.tsx
Due: none

➕ Use npm-run-all to build and serve in parallel
  package.json
Due: prettier --write

🎨 Add whitespace for readability
  libs/core/src/components/badge/badge.component.tsx
Due: none

✨ Add slotted badge to segmented control
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
  libs/core/src/components/badge/badge.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
Due: prettier --write, tslint --fix, stylelint --fix

:lipstick: Add correct typography to 'line' charts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

:lipstick: Add correct styling for x-axis in line charts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

:label: Update 'context' type for scripted options
  libs/designsystem/src/lib/components/chart/configs/shared.utils.ts
Due: prettier --write, tslint --fix

:lipstick: Add correct styling for line elements
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/configs/global-defaults.config.ts
Due: prettier --write, tslint --fix

:sparkles: Add line chart to popout
  apps/cookbook/src/app/examples/chart-example/chart-example.component.html
Due: prettier --write

:bulb: Add comment detailing why 'bar' is expected
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
Due: prettier --write, tslint --fix

:truck: Move CHART_ANNOTATIONS_CONFIG to own file
  libs/designsystem/src/lib/components/chart/configs/annotations.config.ts
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

:truck: Move & rename INTERACTION_FUNCTIONS_EXTENSIONS
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.ts
  libs/designsystem/src/lib/components/chart/configs/interaction-functions-extensions.config.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

:lipstick: Have dataLabels use same color as remaining charts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

🚧 Introduce ActionSheet controller
  apps/cookbook/src/app/examples/page-example/advanced/page-custom-title-example.component.ts
  libs/designsystem/src/lib/components/action-sheet/action-sheet.controller.ts
  libs/designsystem/src/lib/components/action-sheet/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

Added 'line' chart type (#1737)
  apps/cookbook/src/app/examples/chart-example/chart-example.component.html
  apps/cookbook/src/app/examples/chart-example/chart-example.module.ts
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-line.component.ts
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
  libs/designsystem/src/lib/components/chart/chart-js/configured-chart-js.ts
  libs/designsystem/src/lib/components/chart/chart.configs.ts
  libs/designsystem/src/lib/components/chart/chart.module.ts
  libs/designsystem/src/lib/components/chart/chart.types.ts
  libs/designsystem/src/lib/components/chart/configs/annotations.config.ts
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.ts
  libs/designsystem/src/lib/components/chart/configs/global-defaults.config.ts
  libs/designsystem/src/lib/components/chart/configs/interaction-functions-extensions.config.ts
  libs/designsystem/src/lib/components/chart/configs/shared.utils.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
  libs/designsystem/src/lib/components/chart/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 3.0.10
  package-lock.json
  package.json
Due: prettier --write

added GHP deploy
  .github/workflows/build.yml
Due: none

correct cp command
  .github/workflows/build.yml
Due: none

added git user & email
  .github/workflows/build.yml
Due: none

move user info
  .github/workflows/build.yml
Due: none

⬆️ Bump core version dependency in designsystem
  libs/designsystem/package.json
Due: prettier --write

added auth token
  .github/workflows/build.yml
Due: none

change token
  .github/workflows/build.yml
Due: none

test ny auth
  .github/workflows/build.yml
Due: none

added debug info
  .github/workflows/build.yml
Due: none

d
  .github/workflows/build.yml
Due: none

add more debug
  .github/workflows/build.yml
Due: none

Release: kby-ghpages
  kby-ghpages/index.html
Due: prettier --write

correct sed replace
  .github/workflows/build.yml
Due: none

remove debug
  .github/workflows/build.yml
Due: none

delete old branches
  .github/workflows/build.yml
Due: none

test deploy fro master branch
  .github/workflows/build.yml
Due: none

remove master test
  .github/workflows/build.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
