Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Add back core package essentials
  libs/core/package-lock.json
  libs/core/package.json
  libs/core/tsconfig.json
Due: prettier --write

Fix tests
  package.json
Due: prettier --write

Remove stencil and related utils
  libs/core/package-lock.json
  libs/core/package.json
  libs/core/src/index.ts
  libs/core/tsconfig.json
  package.json
Due: prettier --write, eslint --fix

Compile core helpers with tsc
  libs/core/package.json
  libs/core/tsconfig.json
Due: prettier --write

Sync package-lock.json
  package-lock.json
Due: prettier --write

Preserve structure in core package dist
  libs/core/src/index.ts
  libs/core/tsconfig.json
Due: prettier --write, eslint --fix

Add back jest dependency
  package-lock.json
  package.json
Due: prettier --write

Ensure core ts files are transpiled
  package-lock.json
  package.json
Due: prettier --write

Update package descriptions
  libs/core/package.json
Due: prettier --write

Remove nx migrations.json
  migrations.json
Due: prettier --write

Pin angular to only support tested version
  libs/designsystem/package.json
Due: prettier --write

Run angular 16 migrations
  .eslintignore
  .eslintrc.json
  .scripts/kube-config.enc
  angular.json
  apps/cookbook/.eslintrc.json
  apps/cookbook/project.json
  apps/flows/.eslintrc.json
  apps/flows/project.json
  decorate-angular-cli.js
  libs/designsystem/.eslintrc.json
  libs/designsystem/form-field/src/directives/date/date-input.directive.spec.ts
  libs/designsystem/project.json
  libs/designsystem/toggle/src/toggle.component.html
  libs/designsystem/toggle/src/toggle.component.ts
  migrations.json
  nx.json
  package-lock.json
  package.json
  scripts/certs/AppleWWDRCA.cer
  scripts/sass-extract-to-ts.js
  tools/generators/.gitkeep
Due: prettier --write, eslint --fix

Fix compiler errors
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/radio/src/radio-group/radio-group.component.ts
Due: prettier --write, eslint --fix

Remove use of entryComponents in module
  libs/designsystem/modal/src/modal/action-sheet/action-sheet.component.spec.ts
Due: prettier --write, eslint --fix

Migrate to nx command and remove cli decoration
  decorate-angular-cli.js
  package-lock.json
  package.json
Due: prettier --write

Bump jest and fix postinstall script
  package-lock.json
  package.json
  tools/generate-mocks/tsconfig.json
Due: prettier --write

Revert to correct ionic version
  package.json
Due: prettier --write

Revert unrelated changes
  .scripts/kube-config.enc
  libs/designsystem/toggle/src/toggle.component.html
  libs/designsystem/toggle/src/toggle.component.ts
  scripts/certs/AppleWWDRCA.cer
Due: prettier --write, eslint --fix

Fix nx config
  nx.json
Due: prettier --write

Remove automatically added nx-cloud dependency
  package-lock.json
  package.json
Due: prettier --write

Debug action
  .github/actions/kirby-setup/action.yml
Due: none

Remove implementation-specific tests
  libs/designsystem/shared/floating/src/floating.directive.spec.ts
Due: prettier --write, eslint --fix

Adjust tsconfig
  libs/core/tsconfig.json
  tools/sass-to-ts/tsconfig.json
Due: prettier --write

Revert unnecessary tsconfig change
  libs/core/tsconfig.json
Due: prettier --write

Add comment to explain setup action fix
  .github/actions/kirby-setup/action.yml
Due: none

Release: kby-angular-16
  branch/kby-angular-16/404.html
  branch/kby-angular-16/index.html
  branch/kby-angular-16/main.52e1d93e879d1a50.js
Due: prettier --write

Remove unused import
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Dependencies: Upgrade to Angular 16 (#3264)
  .eslintignore
  .eslintrc.json
  .github/actions/kirby-setup/action.yml
  angular.json
  apps/cookbook/.eslintrc.json
  apps/cookbook/project.json
  apps/flows/.eslintrc.json
  apps/flows/project.json
  decorate-angular-cli.js
  libs/designsystem/.eslintrc.json
  libs/designsystem/form-field/src/directives/date/date-input.directive.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal/action-sheet/action-sheet.component.spec.ts
  libs/designsystem/package.json
  libs/designsystem/page/src/page.component.ts
  libs/designsystem/project.json
  libs/designsystem/radio/src/radio-group/radio-group.component.ts
  libs/designsystem/shared/floating/src/floating.directive.spec.ts
  nx.json
  package-lock.json
  package.json
  project.json
  scripts/sass-extract-to-ts.js
  tools/generate-mocks/tsconfig.json
  tools/generators/.gitkeep
  tools/sass-to-ts/tsconfig.json
Due: prettier --write, eslint --fix

Move inline modal v2 to existing modal entry point
  libs/designsystem/modal/src/modal/index.ts
  libs/designsystem/modal/src/modal/inline-modal/inline-modal.module.ts
  libs/designsystem/modal/src/modal/inline-modal/modal.component.html
  libs/designsystem/modal/src/modal/inline-modal/modal.component.scss
  libs/designsystem/modal/src/modal/inline-modal/modal.component.spec.ts
  libs/designsystem/modal/src/modal/inline-modal/modal.component.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

Rename modal and export as standalone component
  libs/designsystem/modal/src/modal/index.ts
  libs/designsystem/modal/src/modal/inline-modal/inline-modal.module.ts
  libs/designsystem/modal/src/modal/modal-component/modal.component.html
  libs/designsystem/modal/src/modal/modal-component/modal.component.scss
  libs/designsystem/modal/src/modal/modal-component/modal.component.spec.ts
  libs/designsystem/modal/src/modal/modal-component/modal.component.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

Only set height to auto where applicable
  libs/core/src/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

Fix github example link in cookbook showcase
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, eslint --fix

Docs: Fix github example link in cookbook showcases (#3273)
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, eslint --fix

Use size input instead of class on host for checkbox sizes
  apps/cookbook/src/app/examples/dropdown-example/examples/ng-forms.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/radio-example/examples/reactive-forms.ts
  apps/cookbook/src/app/examples/radio-example/examples/template-driven-forms.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.html
Due: prettier --write, eslint --fix

Remove hidden size feature
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/radio/src/radio.component.scss
Due: prettier --write, stylelint --fix

Fix order of attributes
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
