Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix(spot-illustration): update key for coin bars illustration
  libs/extensions/angular/spot-illustration/src/spot-illustrations.ts
Due: prettier --write, eslint --fix

Update libs/extensions/angular/spot-illustration/src/spot-illustration.component.stories.ts
  libs/extensions/angular/spot-illustration/src/spot-illustration.component.stories.ts
Due: prettier --write, eslint --fix

Update libs/extensions/angular/spot-illustration/src/spot-illustrations.ts
  libs/extensions/angular/spot-illustration/src/spot-illustrations.ts
Due: prettier --write, eslint --fix

Release: kby-adjust-right-padding-on-checkbox-radio
  branch/kby-adjust-right-padding-on-checkbox-radio/404.html
  branch/kby-adjust-right-padding-on-checkbox-radio/chunk-NII7JCQF.js
  branch/kby-adjust-right-padding-on-checkbox-radio/chunk-RMCMYIFJ.js
  branch/kby-adjust-right-padding-on-checkbox-radio/chunk-S3HDWL6L.js
  branch/kby-adjust-right-padding-on-checkbox-radio/chunk-TCP3ZE43.js
  branch/kby-adjust-right-padding-on-checkbox-radio/index.html
  branch/kby-adjust-right-padding-on-checkbox-radio/main-23J7N2VZ.js
Due: prettier --write

Radio, Checkbox: adjust right padding (#4319)
  apps/cookbook/src/app/examples/checkbox-example/examples/states.ts
  apps/cookbook/src/app/examples/radio-example/examples/custom.ts
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/checkbox/src/checkbox.component.spec.ts
  libs/designsystem/radio/src/radio.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4324-add-two-new-spot-illustration-icons
  branch/kby-4324-add-two-new-spot-illustration-icons/404.html
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-6A2EGOVV.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-ANTQUJRV.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-NII7JCQF.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-RMCMYIFJ.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-S3HDWL6L.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-TCP3ZE43.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-YSPL4IFJ.js
  branch/kby-4324-add-two-new-spot-illustration-icons/index.html
  branch/kby-4324-add-two-new-spot-illustration-icons/main-23J7N2VZ.js
Due: prettier --write

Release: kby-core-21-1-6
  branch/kby-core-21-1-6/404.html
  branch/kby-core-21-1-6/chunk-6YP7C4WZ.js
  branch/kby-core-21-1-6/chunk-D53MUV5X.js
  branch/kby-core-21-1-6/chunk-EFPJNNVM.js
  branch/kby-core-21-1-6/chunk-JPQYDTJK.js
  branch/kby-core-21-1-6/chunk-LASFL5ZL.js
  branch/kby-core-21-1-6/chunk-WP7JEKOM.js
  branch/kby-core-21-1-6/chunk-XH63R4WE.js
  branch/kby-core-21-1-6/index.html
  branch/kby-core-21-1-6/main-TOKQA2N6.js
Due: prettier --write

Release: kby-4324-add-two-new-spot-illustration-icons
  branch/kby-4324-add-two-new-spot-illustration-icons/404.html
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-6YP7C4WZ.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-D53MUV5X.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-EFPJNNVM.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-JPQYDTJK.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-LASFL5ZL.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-WP7JEKOM.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-XH63R4WE.js
  branch/kby-4324-add-two-new-spot-illustration-icons/index.html
  branch/kby-4324-add-two-new-spot-illustration-icons/main-TOKQA2N6.js
Due: prettier --write

Docs: fix out-of-sync showcase title
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-card-reduce-themecolor
  branch/kby-card-reduce-themecolor/404.html
  branch/kby-card-reduce-themecolor/chunk-C2A2X6W3.js
  branch/kby-card-reduce-themecolor/chunk-CKJGLCDX.js
  branch/kby-card-reduce-themecolor/chunk-D53MUV5X.js
  branch/kby-card-reduce-themecolor/chunk-EFPJNNVM.js
  branch/kby-card-reduce-themecolor/chunk-FDCNFSVO.js
  branch/kby-card-reduce-themecolor/chunk-I4UKL4XP.js
  branch/kby-card-reduce-themecolor/chunk-LASFL5ZL.js
  branch/kby-card-reduce-themecolor/index.html
  branch/kby-card-reduce-themecolor/main-HJMMCMNM.js
Due: prettier --write

Card: reduce themeColor examples (#4320)
  apps/cookbook/src/app/examples/card-example/examples/color.ts
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-fix-cookbook-title
  branch/kby-fix-cookbook-title/404.html
  branch/kby-fix-cookbook-title/chunk-C2A2X6W3.js
  branch/kby-fix-cookbook-title/chunk-CKJGLCDX.js
  branch/kby-fix-cookbook-title/chunk-ROHJ6NNA.js
  branch/kby-fix-cookbook-title/chunk-W5U7K5OR.js
  branch/kby-fix-cookbook-title/index.html
  branch/kby-fix-cookbook-title/main-3EMRJD4Y.js
Due: prettier --write

Docs: fix out-of-sync showcase title (#4342)
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, eslint --fix

Revert "remove label in component"
  apps/cookbook/src/app/examples/toggle-example/examples/default.ts
  apps/cookbook/src/app/examples/toggle-example/examples/toggle-examples.shared.scss
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.html
Due: prettier --write, eslint --fix, stylelint --fix

toggle in item added
  apps/cookbook/src/app/examples/toggle-example/examples/item.ts
  apps/cookbook/src/app/examples/toggle-example/examples/toggle-examples.shared.scss
  apps/cookbook/src/app/examples/toggle-example/toggle-example.component.html
  apps/cookbook/src/app/examples/toggle-example/toggle-example.component.ts
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.html
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

storybook adjusted
  libs/designsystem/toggle/src/toggle.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-4324-add-two-new-spot-illustration-icons
  branch/kby-4324-add-two-new-spot-illustration-icons/404.html
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-C2A2X6W3.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-CKJGLCDX.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-ROHJ6NNA.js
  branch/kby-4324-add-two-new-spot-illustration-icons/chunk-W5U7K5OR.js
  branch/kby-4324-add-two-new-spot-illustration-icons/index.html
  branch/kby-4324-add-two-new-spot-illustration-icons/main-3EMRJD4Y.js
Due: prettier --write

remove checked
  libs/designsystem/toggle/src/toggle.component.stories.ts
Due: prettier --write, eslint --fix

oncheckedchange added
  apps/cookbook/src/app/examples/toggle-example/examples/item.ts
Due: prettier --write, eslint --fix

Release: kby-4287-housekeeping-toggle-remove-label-in-example
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/404.html
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/chunk-D53MUV5X.js
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/chunk-EFPJNNVM.js
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/chunk-FQYAR3HU.js
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/chunk-LASFL5ZL.js
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/chunk-UWHG6QHX.js
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/chunk-WBQUOBOL.js
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/chunk-ZSAT7YI2.js
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/index.html
  branch/kby-4287-housekeeping-toggle-remove-label-in-example/main-4GTXMOSN.js
Due: prettier --write

feat(spot-illustration): add and register new spot illustrations (#4335)
  libs/extensions/angular/spot-illustration/src/spot-illustrations.ts
  libs/extensions/angular/spot-illustration/src/svgs/money-coinstack.graphline.topcoin.bars.medium.svg
  libs/extensions/angular/spot-illustration/src/svgs/money-notes.shield.heart.circle.medium.svg
Due: prettier --write, eslint --fix

adjust header hight
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

adjust sortable header
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Release: kby-4268-housekeeping-data-table-header-row-hight
  branch/kby-4268-housekeeping-data-table-header-row-hight/404.html
  branch/kby-4268-housekeeping-data-table-header-row-hight/index.html
  branch/kby-4268-housekeeping-data-table-header-row-hight/styles-CDTVQRXB.css
Due: prettier --write

add height
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Release: kby-4268-housekeeping-data-table-header-row-hight
  branch/kby-4268-housekeeping-data-table-header-row-hight/404.html
  branch/kby-4268-housekeeping-data-table-header-row-hight/index.html
  branch/kby-4268-housekeeping-data-table-header-row-hight/styles-JU5YT3NJ.css
Due: prettier --write

adjusted header
  libs/core/src/scss/base/_html-table.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
