Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Update apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.ts
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/components/chart/configs/chart-config.service.ts
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.ts
Due: prettier --write, tslint --fix

updating test
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
Due: prettier --write, tslint --fix

Minor adjustments to PR feedback
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
  libs/designsystem/src/lib/components/chart/chart.types.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

Adjust tooltips acording to UX request.
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-stock.comparison.component.ts
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-stock.component.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

Reactivating tests
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.spec.ts
Due: prettier --write, tslint --fix

Adjust examples
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-stock.comparison.component.ts
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-stock.component.ts
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
  libs/designsystem/src/lib/components/chart/configs/global-defaults.config.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
Due: prettier --write, tslint --fix

cleanup
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
Due: prettier --write, tslint --fix

refactor ChartDataDateSpan
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
  libs/designsystem/src/lib/components/chart/chart.types.ts
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.spec.ts
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
Due: prettier --write, tslint --fix

wrong import
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.ts
Due: prettier --write, tslint --fix

cleanup
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
  libs/designsystem/src/lib/components/chart/chart-js/configured-chart-js.ts
  libs/designsystem/src/lib/components/chart/chart.component.ts
Due: prettier --write, tslint --fix

time was removed from type.config
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.ts
Due: prettier --write, tslint --fix

updating chart documentation
  apps/cookbook/src/app/shared/api-description/api-description-properties/api-description-properties.component.html
  apps/cookbook/src/app/shared/api-description/api-description-properties/api-description-properties.component.ts
  apps/cookbook/src/app/shared/api-description/api-description.shared.scss
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

updating imports
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/test-utils.ts
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.spec.ts
Due: prettier --write, tslint --fix

missing end parathensis
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
Due: prettier --write, tslint --fix

decorate datapoi t with datalabels
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
Due: prettier --write, tslint --fix

💄 Add styling for detail, label and heading 3
  libs/designsystem/src/lib/components/item/label/label.component.scss
  libs/designsystem/src/lib/components/section-header/_section-header.utils.scss
  libs/designsystem/src/lib/components/section-header/section-header.component.scss
Due: prettier --write, stylelint --fix

📝 Show section header in menu
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix

🚧 Initial documentation for typography styling
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.html
Due: prettier --write

Release: kby-1910-section-header
  branch/kby-1910-section-header/2-es2017.13346f9fd0080400e809.js
  branch/kby-1910-section-header/2-es5.13346f9fd0080400e809.js
  branch/kby-1910-section-header/404.html
  branch/kby-1910-section-header/index.html
  branch/kby-1910-section-header/main-es2017.90df861dfeaf502e0b6f.js
  branch/kby-1910-section-header/main-es5.90df861dfeaf502e0b6f.js
  branch/kby-1910-section-header/runtime-es2017.9512b9be686913347e0b.js
  branch/kby-1910-section-header/runtime-es5.9512b9be686913347e0b.js
Due: prettier --write

replace switch with conditional
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.ts
Due: prettier --write, tslint --fix

Release: kby-1728-stock-chart-type
  branch/kby-1728-stock-chart-type/15-es2017.eb2c70ab5813f9ebb0ef.js
  branch/kby-1728-stock-chart-type/15-es5.eb2c70ab5813f9ebb0ef.js
  branch/kby-1728-stock-chart-type/16-es2017.79c88904c7fd601d3473.js
  branch/kby-1728-stock-chart-type/16-es5.79c88904c7fd601d3473.js
  branch/kby-1728-stock-chart-type/2-es2017.d47801d657759c40cb4a.js
  branch/kby-1728-stock-chart-type/2-es5.d47801d657759c40cb4a.js
  branch/kby-1728-stock-chart-type/404.html
  branch/kby-1728-stock-chart-type/index.html
  branch/kby-1728-stock-chart-type/main-es2017.adc2c7db57df7b9a36ee.js
  branch/kby-1728-stock-chart-type/main-es5.adc2c7db57df7b9a36ee.js
  branch/kby-1728-stock-chart-type/runtime-es2017.0b4466d6b6c9bd0788aa.js
  branch/kby-1728-stock-chart-type/runtime-es5.0b4466d6b6c9bd0788aa.js
Due: prettier --write

seperating tests by newlines
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.spec.ts
Due: prettier --write, tslint --fix

formating tests according to The Good: Test
  libs/designsystem/src/lib/components/chart/chart-js/chart-i18n.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
Due: prettier --write, tslint --fix

:label: Generate ListSwipeAction from ItemSwipeAction
  libs/designsystem/src/lib/components/list/list-swipe-action.type.ts
Due: prettier --write, tslint --fix

💄 Reuse mixin for both section and label
  libs/designsystem/src/lib/components/section-header/_section-header.utils.scss
  libs/designsystem/src/lib/components/section-header/section-header.component.scss
Due: prettier --write, stylelint --fix

update deepcopy
  libs/designsystem/src/lib/helpers/deep-copy.ts
Due: prettier --write, tslint --fix

Release: kby-1910-section-header
  branch/kby-1910-section-header/404.html
  branch/kby-1910-section-header/index.html
  branch/kby-1910-section-header/main-es2017.9d98a5514075fc408a05.js
  branch/kby-1910-section-header/main-es5.9d98a5514075fc408a05.js
Due: prettier --write

Release: kby-1728-stock-chart-type
  branch/kby-1728-stock-chart-type/404.html
  branch/kby-1728-stock-chart-type/index.html
  branch/kby-1728-stock-chart-type/main-es2017.635911cd01f5e239cef9.js
  branch/kby-1728-stock-chart-type/main-es5.635911cd01f5e239cef9.js
Due: prettier --write

Update libs/designsystem/src/lib/components/item/item.component.integration.spec.ts
  libs/designsystem/src/lib/components/item/item.component.integration.spec.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
