Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

remove fdescsribe
  libs/designsystem/form-field/src/form-field.component.html
  libs/designsystem/form-field/src/form-field.component.scss
Due: prettier --write, stylelint --fix

allow a toggle button in sidebar menu link items
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.html
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.scss
  libs/extensions/angular/sidebar-menu/src/components/menu-anchor-item/menu-anchor-item.component.ts
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.scss
  libs/extensions/angular/sidebar-menu/src/models/index.ts
  libs/extensions/angular/sidebar-menu/src/models/menu-item.ts
  libs/extensions/angular/sidebar-menu/src/models/toggle-button.model.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add font size cap and language test with queryparam
  apps/cookbook/src/app/examples/tabs-example/tabs-example.component.html
  apps/cookbook/src/app/examples/tabs-example/tabs-example.component.ts
  libs/core/src/scss/base/_typography.scss
  libs/designsystem/badge/src/badge.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

fixed issue with menu items indentation sometimes being wrong
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.scss
Due: prettier --write, stylelint --fix

Release v11.4.1
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

update package lock
  package-lock.json
Due: prettier --write

updating selectable to true for all future items in menu also if changed later
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

loosened specificity on reorder list and added storybook for screenshot test
  libs/designsystem/reorder-list/src/reorder-list.component.scss
  libs/designsystem/reorder-list/src/reorder-list.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Manually add unresolved dependency
  package-lock.json
  package.json
Due: prettier --write

Release: kby-v11-4-1
  branch/kby-v11-4-1/404.html
  branch/kby-v11-4-1/chunk-27SGA5VG.js
  branch/kby-v11-4-1/chunk-5CTHIGD2.js
  branch/kby-v11-4-1/chunk-AX3XPFWS.js
  branch/kby-v11-4-1/chunk-KH435FWE.js
  branch/kby-v11-4-1/chunk-NRGUH3DS.js
  branch/kby-v11-4-1/chunk-ON6IHPYU.js
  branch/kby-v11-4-1/chunk-WT6YMHOW.js
  branch/kby-v11-4-1/index.html
  branch/kby-v11-4-1/main-WZQILHIQ.js
Due: prettier --write

Add missing getAbsolutePath
  libs/designsystem/.storybook/main.ts
  libs/extensions/angular/.storybook/main.ts
  package-lock.json
Due: prettier --write, eslint --fix

Update libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.spec.ts
Due: prettier --write, eslint --fix

Apply suggestions from code review
  libs/designsystem/menu/src/menu.component.spec.ts
Due: prettier --write, eslint --fix

unit test improvement and injection of destroy ref in constructor
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Release v11.4.1 (#4170)
  libs/core/package.json
  libs/designsystem/.storybook/main.ts
  libs/designsystem/package.json
  libs/extensions/angular/.storybook/main.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Release: designsystem
  browser/chunk-27SGA5VG.js
  browser/chunk-5CTHIGD2.js
  browser/chunk-AX3XPFWS.js
  browser/chunk-KH435FWE.js
  browser/chunk-NRGUH3DS.js
  browser/chunk-ON6IHPYU.js
  browser/chunk-WT6YMHOW.js
  browser/index.html
  browser/main-WZQILHIQ.js
Due: prettier --write

Release: kby-4168-bug-extra-click-needed-if-menu-items-exists-
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/404.html
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-BDDFFO7W.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-KTCY6OE6.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-NTYMEEJG.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-PSCWAPFV.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-UPU7TNOP.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-VF42N3GH.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-WVJNNK6M.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/index.html
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/main-NWQC5ILU.js
Due: prettier --write

added missing /browser part to the cp step in the build action
  .github/workflows/build.yml
Due: none

Housekeeping: Added missing "/browser" part to the cp step in the build action (#4176)
  .github/workflows/build.yml
Due: none

Update libs/designsystem/item/src/item.component.ts
  libs/designsystem/item/src/item.component.ts
Due: prettier --write, eslint --fix

Release: kby-4168-bug-extra-click-needed-if-menu-items-exists-
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/404.html
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-52T3FJ4H.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-6DDONJIH.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-AZSMAVJM.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-CJZHQLLO.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-HKC5PX7Z.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-TM3BXBKJ.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/chunk-YE6HIOCA.js
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/index.html
  branch/kby-4168-bug-extra-click-needed-if-menu-items-exists/main-D4R4XRMO.js
Due: prettier --write

Housekeeing: Bump angular to v20-lts
  package-lock.json
  package.json
Due: prettier --write

Extension Peer Deps: specify needed version of designsystem
  libs/extensions/angular/package.json
Due: prettier --write

Menu: Items added after creation of menu also gets selected set to true (#4171)
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-52T3FJ4H.js
  branch/kby-develop/chunk-6DDONJIH.js
  branch/kby-develop/chunk-AZSMAVJM.js
  branch/kby-develop/chunk-CJZHQLLO.js
  branch/kby-develop/chunk-HKC5PX7Z.js
  branch/kby-develop/chunk-TM3BXBKJ.js
  branch/kby-develop/chunk-YE6HIOCA.js
  branch/kby-develop/index.html
  branch/kby-develop/main-D4R4XRMO.js
Due: prettier --write

Release: kby-specify-extensions-designsystem-peer-dep
  branch/kby-specify-extensions-designsystem-peer-dep/404.html
  branch/kby-specify-extensions-designsystem-peer-dep/chunk-52T3FJ4H.js
  branch/kby-specify-extensions-designsystem-peer-dep/chunk-6DDONJIH.js
  branch/kby-specify-extensions-designsystem-peer-dep/chunk-AZSMAVJM.js
  branch/kby-specify-extensions-designsystem-peer-dep/chunk-CJZHQLLO.js
  branch/kby-specify-extensions-designsystem-peer-dep/chunk-HKC5PX7Z.js
  branch/kby-specify-extensions-designsystem-peer-dep/chunk-TM3BXBKJ.js
  branch/kby-specify-extensions-designsystem-peer-dep/chunk-YE6HIOCA.js
  branch/kby-specify-extensions-designsystem-peer-dep/index.html
  branch/kby-specify-extensions-designsystem-peer-dep/main-D4R4XRMO.js
Due: prettier --write
