Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Create example components for experimental routing
  apps/cookbook/src/app/examples/modal-experimental-example/modal-route-example/modal-route-page1-example.component.ts
  apps/cookbook/src/app/examples/modal-experimental-example/modal-route-example/modal-route-page2-example.component.ts
Due: prettier --write, eslint --fix

Release: kby-2456-statusbar-white-text-on-modal
  branch/kby-2456-statusbar-white-text-on-modal/3975.330d6ce83c70e786.js
  branch/kby-2456-statusbar-white-text-on-modal/404.html
  branch/kby-2456-statusbar-white-text-on-modal/assets/kirby/icons/svg/user-blocked.svg
  branch/kby-2456-statusbar-white-text-on-modal/index.html
  branch/kby-2456-statusbar-white-text-on-modal/kirby/polyfills/intersection-observer-polyfill-loader.js
  branch/kby-2456-statusbar-white-text-on-modal/kirby/polyfills/resize-observer-polyfill-loader.js
  branch/kby-2456-statusbar-white-text-on-modal/main.b37c191b5e7eb840.js
  branch/kby-2456-statusbar-white-text-on-modal/runtime.a192b22fa6e7eb5c.js
Due: prettier --write

Update build.yml
  .github/workflows/build.yml
Due: none

Change Background color
  apps/cookbook/src/app/home/home.component.scss
Due: prettier --write, stylelint --fix

Change background-color
  apps/cookbook/src/app/home/home.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2599-chart-configurations-for-stock-chart
  branch/kby-2599-chart-configurations-for-stock-chart/404.html
  branch/kby-2599-chart-configurations-for-stock-chart/5306.928dc391ae2e6772.js
  branch/kby-2599-chart-configurations-for-stock-chart/8877.dc4170bcae9cfc97.js
  branch/kby-2599-chart-configurations-for-stock-chart/index.html
  branch/kby-2599-chart-configurations-for-stock-chart/main.b63a8e907893077a.js
  branch/kby-2599-chart-configurations-for-stock-chart/runtime.48fd2468082e3916.js
Due: prettier --write

Update page header and add divider line and scroll animation (#2460)
  apps/cookbook/src/app/examples/page-example/advanced/page-advanced-example.component.ts
  apps/cookbook/src/app/examples/page-example/advanced/page-custom-title-example.component.ts
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/page/page.component.html
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/page/page.component.spec.ts
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
  package-lock.json
Due: prettier --write, eslint --fix, stylelint --fix

Change bg color
  apps/cookbook/src/app/home/home.component.scss
Due: prettier --write, stylelint --fix

Change blue
  apps/cookbook/src/app/home/home.component.scss
Due: prettier --write, stylelint --fix

Release: kby-developactiontest
  branch/kby-developactiontest/404.html
  branch/kby-developactiontest/index.html
  branch/kby-developactiontest/main.01a743fe5efe3d2c.js
Due: prettier --write

Add more component SVG
  apps/cookbook/src/assets/component-svg/Badge-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Button-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Calendar-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Card-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Chart-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Chart-Stock-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Checkbox-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Colors-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Dropdown-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Flag-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Fonts-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Icons-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Progress-Circle-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Radio-Buttons-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Range-Slider-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Segmented-Control-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Slide-Button-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Spinner-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Toggle-Kirby-Component-Overview.svg
Due: none

Add more component display to component overview
  apps/cookbook/src/app/component-overview/component-configuration.json
Due: prettier --write

Release: kby-2612-upload-add-bank-icon-to-kirby-icons
  branch/kby-2612-upload-add-bank-icon-to-kirby-icons/404.html
  branch/kby-2612-upload-add-bank-icon-to-kirby-icons/index.html
  branch/kby-2612-upload-add-bank-icon-to-kirby-icons/main.a435557bdb7cbf2b.js
Due: prettier --write

Update build.yml triggers
  .github/workflows/build.yml
Due: none

Yellow
  apps/cookbook/src/app/home/home.component.scss
Due: prettier --write, stylelint --fix

Release: kby-
  branch/kby/404.html
  branch/kby/index.html
  branch/kby/main.7c945e22efc37bf2.js
Due: prettier --write

ReplaySubject tabs service leak fix
  libs/designsystem/src/lib/components/tabs/tabs.component.ts
  libs/designsystem/src/lib/components/tabs/tabs.service.ts
Due: prettier --write, eslint --fix

Release: kby-developactiontest
  branch/kby-developactiontest/404.html
  branch/kby-developactiontest/index.html
  branch/kby-developactiontest/main.7c945e22efc37bf2.js
Due: prettier --write

Change to yellow
  apps/cookbook/src/app/home/home.component.scss
Due: prettier --write, stylelint --fix

Release: kby-developactiontest
  branch/kby-developactiontest/404.html
  branch/kby-developactiontest/index.html
  branch/kby-developactiontest/main.a5fe4fa2775fbc8c.js
Due: prettier --write

Update git tag detection
  .github/workflows/build.yml
Due: none

Release:
  branch/404.html
  branch/index.html
  branch/main.a5fe4fa2775fbc8c.js
Due: prettier --write

Update build trigger detection
  .github/workflows/build.yml
Due: none

Add "add-bank" icon (#2616)
  libs/designsystem/src/lib/components/icon/kirby-icon-settings.ts
  libs/designsystem/src/lib/icons/svg/add-bank.svg
Due: prettier --write, eslint --fix

Change to red
  apps/cookbook/src/app/home/home.component.scss
Due: prettier --write, stylelint --fix

Add space-around for better layout
  apps/cookbook/src/app/component-overview/component-display/component-display.component.html
  apps/cookbook/src/app/component-overview/component-overview.component.html
  apps/cookbook/src/app/component-overview/component-overview.component.scss
Due: prettier --write, stylelint --fix

Release: kby-developactiontest
  branch/kby-developactiontest/404.html
  branch/kby-developactiontest/index.html
  branch/kby-developactiontest/main.e217379a6bfee804.js
Due: prettier --write

Release: kby-loader-utils-2-0-4
  branch/kby-loader-utils-2-0-4/404.html
  branch/kby-loader-utils-2-0-4/index.html
  branch/kby-loader-utils-2-0-4/main.7e11ac0c3b065f3e.js
Due: prettier --write

Release: kby-loader-utils-2-0-4
  branch/kby-loader-utils-2-0-4/404.html
  branch/kby-loader-utils-2-0-4/assets/kirby/icons/svg/add-bank.svg
  branch/kby-loader-utils-2-0-4/index.html
  branch/kby-loader-utils-2-0-4/main.a435557bdb7cbf2b.js
Due: prettier --write

Make flows app work correctly in Capacitor
  apps/flows/src/app/app.component.html
  apps/flows/src/app/home/home.component.html
  apps/flows/src/app/transfer-and-pay-flow/home-page/home-page.component.html
  apps/flows/src/app/transfer-and-pay-flow/transfer-and-pay-flow.component.html
  apps/flows/src/index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
