Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-resizeobserver-exception-fix
  branch/kby-resizeobserver-exception-fix/404.html
  branch/kby-resizeobserver-exception-fix/index.html
  branch/kby-resizeobserver-exception-fix/main-es2017.13cc445d26e730715d99.js
  branch/kby-resizeobserver-exception-fix/main-es5.13cc445d26e730715d99.js
Due: prettier --write

Mute "ResizeObserver loop limit exceeded" exception (#2032)
  libs/designsystem/src/lib/directives/fit-heading/fit-heading.directive.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 5.0.21 (designsystem)
  package-lock.json
  package.json
Due: prettier --write

Release: kby-2007-verify-hover-in-components-that-use-button
  branch/kby-2007-verify-hover-in-components-that-use-button/11-es2017.5690723db337c2a3b8ec.js
  branch/kby-2007-verify-hover-in-components-that-use-button/11-es5.5690723db337c2a3b8ec.js
  branch/kby-2007-verify-hover-in-components-that-use-button/15-es2017.dd98cbd9de004ffbbc2a.js
  branch/kby-2007-verify-hover-in-components-that-use-button/15-es5.dd98cbd9de004ffbbc2a.js
  branch/kby-2007-verify-hover-in-components-that-use-button/2-es2017.e22cad78552f1225a6fd.js
  branch/kby-2007-verify-hover-in-components-that-use-button/2-es5.e22cad78552f1225a6fd.js
  branch/kby-2007-verify-hover-in-components-that-use-button/404.html
  branch/kby-2007-verify-hover-in-components-that-use-button/index.html
  branch/kby-2007-verify-hover-in-components-that-use-button/main-es2017.308d0a55e2a1a37412ed.js
  branch/kby-2007-verify-hover-in-components-that-use-button/main-es5.308d0a55e2a1a37412ed.js
  branch/kby-2007-verify-hover-in-components-that-use-button/runtime-es2017.bcbf5f21efdf910ac665.js
  branch/kby-2007-verify-hover-in-components-that-use-button/runtime-es5.bcbf5f21efdf910ac665.js
Due: prettier --write

Release: kby-811-subtitle-on-page-title
  branch/kby-811-subtitle-on-page-title/11-es2017.5690723db337c2a3b8ec.js
  branch/kby-811-subtitle-on-page-title/11-es5.5690723db337c2a3b8ec.js
  branch/kby-811-subtitle-on-page-title/15-es2017.dd98cbd9de004ffbbc2a.js
  branch/kby-811-subtitle-on-page-title/15-es5.dd98cbd9de004ffbbc2a.js
  branch/kby-811-subtitle-on-page-title/16-es2017.42f3f26ffe46fb74a825.js
  branch/kby-811-subtitle-on-page-title/16-es5.42f3f26ffe46fb74a825.js
  branch/kby-811-subtitle-on-page-title/2-es2017.1a760e39c29c26dd0ceb.js
  branch/kby-811-subtitle-on-page-title/2-es5.1a760e39c29c26dd0ceb.js
  branch/kby-811-subtitle-on-page-title/404.html
  branch/kby-811-subtitle-on-page-title/index.html
  branch/kby-811-subtitle-on-page-title/main-es2017.6626f4e739478f4f5954.js
  branch/kby-811-subtitle-on-page-title/main-es5.6626f4e739478f4f5954.js
  branch/kby-811-subtitle-on-page-title/runtime-es2017.637a8078a6bf68ef2171.js
  branch/kby-811-subtitle-on-page-title/runtime-es5.637a8078a6bf68ef2171.js
Due: prettier --write

Release: kby-2033-font-color-black-instead-of-kirby-black
  branch/kby-2033-font-color-black-instead-of-kirby-black/11-es2017.5690723db337c2a3b8ec.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/11-es5.5690723db337c2a3b8ec.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/15-es2017.dd98cbd9de004ffbbc2a.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/15-es5.dd98cbd9de004ffbbc2a.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/16-es2017.42f3f26ffe46fb74a825.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/16-es5.42f3f26ffe46fb74a825.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/2-es2017.e22cad78552f1225a6fd.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/2-es5.e22cad78552f1225a6fd.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/404.html
  branch/kby-2033-font-color-black-instead-of-kirby-black/index.html
  branch/kby-2033-font-color-black-instead-of-kirby-black/main-es2017.fcd394935274387610a6.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/main-es5.fcd394935274387610a6.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/runtime-es2017.bcbf5f21efdf910ac665.js
  branch/kby-2033-font-color-black-instead-of-kirby-black/runtime-es5.bcbf5f21efdf910ac665.js
Due: prettier --write

Revert "Mute "ResizeObserver loop limit exceeded" exception (#2032)"
  libs/designsystem/src/lib/directives/fit-heading/fit-heading.directive.ts
Due: prettier --write, tslint --fix

Revert "Mute "ResizeObserver loop limit exceeded" exception (#2032)" (#2044)
  libs/designsystem/src/lib/directives/fit-heading/fit-heading.directive.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 5.0.22 (designsystem)
  package-lock.json
  package.json
Due: prettier --write

Release: kby-2007-verify-hover-in-components-that-use-button
  branch/kby-2007-verify-hover-in-components-that-use-button/404.html
  branch/kby-2007-verify-hover-in-components-that-use-button/index.html
  branch/kby-2007-verify-hover-in-components-that-use-button/main-es2017.f78348e188c8ddd5adf4.js
  branch/kby-2007-verify-hover-in-components-that-use-button/main-es5.f78348e188c8ddd5adf4.js
Due: prettier --write

Added inline style for kirby-modal-footer (#1982)
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-2007-verify-hover-in-components-that-use-button
  branch/kby-2007-verify-hover-in-components-that-use-button/404.html
  branch/kby-2007-verify-hover-in-components-that-use-button/index.html
  branch/kby-2007-verify-hover-in-components-that-use-button/main-es2017.858f3f7348a97ec70069.js
  branch/kby-2007-verify-hover-in-components-that-use-button/main-es5.858f3f7348a97ec70069.js
Due: prettier --write

:sparkles: Make it possible to set & control card bg image
  libs/designsystem/src/lib/components/card/card.component.scss
Due: prettier --write, stylelint --fix

:sparkles: Add 'backgroundImageUrl' input property to card
  libs/designsystem/src/lib/components/card/card.component.ts
Due: prettier --write, tslint --fix

:memo: Document background-image related API
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.html
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
Due: prettier --write, tslint --fix

:memo: Reword table text & remove type column
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.html
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
Due: prettier --write, tslint --fix

Remove realtion-bank example
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/page-example/advanced/wip-page-custom-title-example.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.html
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
  libs/designsystem/src/lib/components/page/index.ts
  libs/designsystem/src/lib/components/page/page.component.spec.ts
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

Release: kby-811-subtitle-on-page-title
  branch/kby-811-subtitle-on-page-title/404.html
  branch/kby-811-subtitle-on-page-title/index.html
  branch/kby-811-subtitle-on-page-title/main-es2017.e9d569ced2c9f0f9e4ae.js
  branch/kby-811-subtitle-on-page-title/main-es5.e9d569ced2c9f0f9e4ae.js
Due: prettier --write

:memo: Add card with background image examples
  apps/cookbook/src/app/examples/card-example/examples/card-background-image-example.ts
  apps/cookbook/src/app/examples/card-example/examples/card-css-background-image-example.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.html
Due: prettier --write, tslint --fix

:truck: Move all card examples to a shared module
  apps/cookbook/src/app/examples/card-example/card-example.module.ts
  apps/cookbook/src/app/examples/card-example/examples/card-clickable-example/card-clickable-example.component.html
  apps/cookbook/src/app/examples/card-example/examples/card-clickable-example/card-clickable-example.component.scss
  apps/cookbook/src/app/examples/card-example/examples/card-clickable-example/card-clickable-example.component.ts
  apps/cookbook/src/app/examples/card-example/examples/card-elevations-example/card-elevations-example.component.html
  apps/cookbook/src/app/examples/card-example/examples/card-elevations-example/card-elevations-example.component.scss
  apps/cookbook/src/app/examples/card-example/examples/card-elevations-example/card-elevations-example.component.ts
  apps/cookbook/src/app/examples/card-example/examples/card-themecolor-example/card-themecolor-example.component.html
  apps/cookbook/src/app/examples/card-example/examples/card-themecolor-example/card-themecolor-example.component.scss
  apps/cookbook/src/app/examples/card-example/examples/card-themecolor-example/card-themecolor-example.component.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

:white_check_mark: Add tests for backgroundImageUrl
  libs/designsystem/src/lib/components/card/card.component.spec.ts
Due: prettier --write, tslint --fix

:pen: Uppercase CSS in documentation
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.html
Due: prettier --write

Release: kby-2022-card-background-image
  branch/kby-2022-card-background-image/404.html
  branch/kby-2022-card-background-image/index.html
  branch/kby-2022-card-background-image/main-es2017.e31e65e7c8da8f8c081e.js
  branch/kby-2022-card-background-image/main-es5.e31e65e7c8da8f8c081e.js
Due: prettier --write

:bookmark:Bumping version to 5.1.0 (designsystem)
  package-lock.json
  package.json
Due: prettier --write

Release version 5.1 (#2048)
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/list-experimental-example/examples/item-sliding.ts
  apps/cookbook/src/app/examples/list-experimental-example/examples/item.ts
  apps/cookbook/src/app/examples/list-experimental-example/list-experimental-example.component.html
  apps/cookbook/src/app/examples/list-experimental-example/list-experimental-example.component.scss
  apps/cookbook/src/app/examples/list-experimental-example/list-experimental-example.component.ts
  apps/cookbook/src/app/examples/list-experimental-example/list-experimental-example.module.ts
  apps/cookbook/src/app/showcase/list-experimental-showcase/list-experimental-showcase.component.html
  apps/cookbook/src/app/showcase/list-experimental-showcase/list-experimental-showcase.component.scss
  apps/cookbook/src/app/showcase/list-experimental-showcase/list-experimental-showcase.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_html-list.scss
  libs/core/src/scss/base/_list.scss
  libs/designsystem/src/lib/components/chart/chart.component.spec.ts
  libs/designsystem/src/lib/components/chart/chart.component.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.scss
  libs/designsystem/src/lib/components/item/item.component.scss
  libs/designsystem/src/lib/components/item/item.component.spec.ts
  libs/designsystem/src/lib/components/list/list-experimental/list-experimental.component.html
  libs/designsystem/src/lib/components/list/list-experimental/list-experimental.component.scss
  libs/designsystem/src/lib/components/list/list-experimental/list-experimental.component.spec.ts
  libs/designsystem/src/lib/components/list/list-experimental/list-experimental.component.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.ts
  package-lock.json
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark:Bumping version to 0.0.24 (core)
  libs/core/package-lock.json
  libs/core/package.json
  libs/designsystem/package.json
Due: prettier --write

:bookmark:Bumping version to 5.1.1 (designsystem)
  package-lock.json
  package.json
Due: prettier --write

Release: designsystem
  15-es2017.dd98cbd9de004ffbbc2a.js
  15-es5.dd98cbd9de004ffbbc2a.js
  16-es2017.42f3f26ffe46fb74a825.js
  16-es5.42f3f26ffe46fb74a825.js
  2-es2017.e22cad78552f1225a6fd.js
  2-es5.e22cad78552f1225a6fd.js
  404.html
  index.html
  main-es2017.15407b92c256cab0b167.js
  main-es5.15407b92c256cab0b167.js
  runtime-es2017.bcbf5f21efdf910ac665.js
  runtime-es5.bcbf5f21efdf910ac665.js
Due: prettier --write

Deprecated attention-level 4 on kirby-button (#1993)
  apps/cookbook/src/app/examples/button-example/button-example.component.html
  apps/cookbook/src/app/examples/empty-state-example/empty-state-example.component.html
  apps/cookbook/src/app/page/header/header.component.html
  apps/cookbook/src/app/page/header/header.component.scss
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/button/button.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/empty-state/empty-state.component.integration.spec.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/testing-base/src/lib/components/mock.button.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

[Enhancement] Create hover interaction state utility (#1991)
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/themes/_colors.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Fixed wrong cancel-button color on action-sheet (#2019)
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

💄 Reduce default hover loudness
  libs/core/src/scss/interaction-state/_hover.scss
Due: prettier --write, stylelint --fix

💄 Create solution for transparent background
  libs/core/src/scss/interaction-state/_hover.scss
Due: prettier --write, stylelint --fix

💄 Transition on all properties
  libs/core/src/scss/interaction-state/_hover.scss
Due: prettier --write, stylelint --fix

💄 Use quoted strings for keys in maps
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix
