Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Badge: Convert Badge to web component (#3521)
  .gitignore
  libs/angular/badge/src/badge.component.spec.ts.todo
  libs/angular/badge/src/badge.component.ts
  libs/angular/badge/src/public_api.ts
  libs/angular/tsconfig.json
  libs/core/package.json
  libs/core/src/badge/badge.element.styles.ts
  libs/core/src/badge/badge.element.ts
  libs/core/src/badge/index.ts
  libs/core/src/internal/kirby-element.ts
  libs/core/src/styles/element.base.styles.ts
  libs/designsystem/badge/src/badge.component.ts
  package-lock.json
Due: prettier --write, eslint --fix

Release: kby-3637-refactor-button-docs
  branch/kby-3637-refactor-button-docs/404.html
  branch/kby-3637-refactor-button-docs/7565.0c32d8aafba2fb30.js
  branch/kby-3637-refactor-button-docs/8996.5f3c07e44bee87c2.js
  branch/kby-3637-refactor-button-docs/index.html
  branch/kby-3637-refactor-button-docs/main.df94e1d2fc9b2a92.js
  branch/kby-3637-refactor-button-docs/runtime.d8e21c73c20cf34a.js
Due: prettier --write

Housekeeping: Refactor `Button` docs (#3639)
  apps/cookbook/src/app/examples/button-example/button-example.component.html
  apps/cookbook/src/app/examples/button-example/button-example.component.scss
  apps/cookbook/src/app/examples/button-example/button-example.component.ts
  apps/cookbook/src/app/examples/button-example/button-example.module.ts
  apps/cookbook/src/app/examples/button-example/examples/_grid-layout.scss
  apps/cookbook/src/app/examples/button-example/examples/_responsive-grid-layout.scss
  apps/cookbook/src/app/examples/button-example/examples/_shared.scss
  apps/cookbook/src/app/examples/button-example/examples/attention-level.scss
  apps/cookbook/src/app/examples/button-example/examples/attention-level.ts
  apps/cookbook/src/app/examples/button-example/examples/block.ts
  apps/cookbook/src/app/examples/button-example/examples/default.ts
  apps/cookbook/src/app/examples/button-example/examples/disabled.ts
  apps/cookbook/src/app/examples/button-example/examples/icon-only.ts
  apps/cookbook/src/app/examples/button-example/examples/icons.ts
  apps/cookbook/src/app/examples/button-example/examples/link.ts
  apps/cookbook/src/app/examples/button-example/examples/sizes.scss
  apps/cookbook/src/app/examples/button-example/examples/sizes.ts
  apps/cookbook/src/app/examples/button-example/examples/undecorated.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/shared/example-viewer/example-viewer.component.scss
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.scss
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  libs/designsystem/button/src/button.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: update styles
  apps/cookbook/src/app/examples/button-example/examples/_responsive-grid-layout.scss
  apps/cookbook/src/app/examples/button-example/examples/sizes.scss
Due: prettier --write, stylelint --fix

Release: kby-develop
  branch/kby-develop/2372.b8a652a67699e2b8.js
  branch/kby-develop/404.html
  branch/kby-develop/5766.c89c6b043d74f738.js
  branch/kby-develop/7565.0c32d8aafba2fb30.js
  branch/kby-develop/8996.5f3c07e44bee87c2.js
  branch/kby-develop/common.a27a04c31e3eaa3d.js
  branch/kby-develop/index.html
  branch/kby-develop/main.df94e1d2fc9b2a92.js
  branch/kby-develop/runtime.d8e21c73c20cf34a.js
Due: prettier --write

Release: kby-3605-add-keyboard-support-to-slide-button
  branch/kby-3605-add-keyboard-support-to-slide-button/2372.b8a652a67699e2b8.js
  branch/kby-3605-add-keyboard-support-to-slide-button/404.html
  branch/kby-3605-add-keyboard-support-to-slide-button/5766.c89c6b043d74f738.js
  branch/kby-3605-add-keyboard-support-to-slide-button/7565.0c32d8aafba2fb30.js
  branch/kby-3605-add-keyboard-support-to-slide-button/8996.5f3c07e44bee87c2.js
  branch/kby-3605-add-keyboard-support-to-slide-button/common.a27a04c31e3eaa3d.js
  branch/kby-3605-add-keyboard-support-to-slide-button/index.html
  branch/kby-3605-add-keyboard-support-to-slide-button/main.dee4fad0fac060a1.js
  branch/kby-3605-add-keyboard-support-to-slide-button/runtime.d8e21c73c20cf34a.js
Due: prettier --write

Update deps to get correct types
  .prettierrc.json
  package-lock.json
  package.json
  tools/eslint-config/base.json
  tools/eslint-config/package.json
  tools/generate-proxies/generate-angular-proxies.ts
Due: prettier --write, eslint --fix

Release: kby-3551-enhancement-make-kirby-list-work-out-of-the-
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/2372.b8a652a67699e2b8.js
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/404.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/5766.c89c6b043d74f738.js
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/7565.7875dbda28e158b8.js
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/8996.5f3c07e44bee87c2.js
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/common.a27a04c31e3eaa3d.js
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/index.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/main.6eecc73e1d9a4713.js
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/runtime.c50b1d72ed13a0b2.js
Due: prettier --write

Enhancement: Add keyboard support to slide button (#3628)
  libs/core/src/scss/interaction-state/_focus.scss
  libs/designsystem/slide-button/src/slide-button.component.html
  libs/designsystem/slide-button/src/slide-button.component.scss
  libs/designsystem/slide-button/src/slide-button.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add new icons
  libs/designsystem/icon/src/icons/svg/basket.svg
  libs/designsystem/icon/src/icons/svg/contract.svg
  libs/designsystem/icon/src/icons/svg/expand.svg
  libs/designsystem/icon/src/icons/svg/flower.svg
  libs/designsystem/icon/src/icons/svg/house.svg
  libs/designsystem/icon/src/icons/svg/tractor.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

feat: add Spinner web component
  libs/core/package.json
  libs/core/src/spinner/spinner.element.styles.ts
  libs/core/src/spinner/spinner.element.ts
Due: prettier --write, eslint --fix

feat: add Spinner angular component
  libs/angular/spinner/ng-package.json
  libs/angular/spinner/src/public_api.ts
  libs/angular/spinner/src/spinner.component.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

docs: temporarily use angular version for Chromatic screenshot
  libs/designsystem/spinner/src/spinner.component.stories.ts
Due: prettier --write, eslint --fix

Revert "docs: temporarily use angular version for Chromatic screenshot"
  libs/designsystem/spinner/src/spinner.component.stories.ts
Due: prettier --write, eslint --fix

Icons: Add basket, contract, expand, flower, house and tractor (#3641)
  libs/designsystem/icon/src/icons/svg/basket.svg
  libs/designsystem/icon/src/icons/svg/contract.svg
  libs/designsystem/icon/src/icons/svg/expand.svg
  libs/designsystem/icon/src/icons/svg/flower.svg
  libs/designsystem/icon/src/icons/svg/house.svg
  libs/designsystem/icon/src/icons/svg/tractor.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Add slot end complex stories for controls in item
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

Sort icons by name
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Fix alignment of nested label in control inside item
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3551-enhancement-make-kirby-list-work-out-of-the-
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/404.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/assets/kirby/icons/svg/basket.svg
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/assets/kirby/icons/svg/contract.svg
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/assets/kirby/icons/svg/expand.svg
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/assets/kirby/icons/svg/flower.svg
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/assets/kirby/icons/svg/house.svg
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/assets/kirby/icons/svg/tractor.svg
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/index.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/main.49d586d2ba7d101d.js
Due: prettier --write

Release: kby-3642-convert-spinner-to-web-component
  branch/kby-3642-convert-spinner-to-web-component/404.html
  branch/kby-3642-convert-spinner-to-web-component/assets/kirby/icons/svg/basket.svg
  branch/kby-3642-convert-spinner-to-web-component/assets/kirby/icons/svg/contract.svg
  branch/kby-3642-convert-spinner-to-web-component/assets/kirby/icons/svg/expand.svg
  branch/kby-3642-convert-spinner-to-web-component/assets/kirby/icons/svg/flower.svg
  branch/kby-3642-convert-spinner-to-web-component/assets/kirby/icons/svg/house.svg
  branch/kby-3642-convert-spinner-to-web-component/assets/kirby/icons/svg/tractor.svg
  branch/kby-3642-convert-spinner-to-web-component/index.html
  branch/kby-3642-convert-spinner-to-web-component/main.b7471376f944547d.js
Due: prettier --write

Cookbook accordion update
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.scss
Due: prettier --write, stylelint --fix

Add white-space declaration to label part
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/radio/src/radio.component.scss
Due: prettier --write, stylelint --fix

accordion cookbook
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
Due: prettier --write

Release: kby-3551-enhancement-make-kirby-list-work-out-of-the-
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/404.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/index.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/main.3ec947adb174c68b.js
Due: prettier --write

Change text alignment to logical values
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Fix failing tests
  libs/designsystem/form-field/src/form-field.component.spec.ts
  libs/designsystem/form-field/src/input/input.component.integration.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3645-multiline-label-item-wrong-alignment
  branch/kby-3645-multiline-label-item-wrong-alignment/404.html
  branch/kby-3645-multiline-label-item-wrong-alignment/index.html
  branch/kby-3645-multiline-label-item-wrong-alignment/main.36d86148b340a567.js
Due: prettier --write

Checkbox, Radio: fix slotted text not wrapping (#3649)
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/radio/src/radio.component.scss
Due: prettier --write, stylelint --fix

Clarify complex label text
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-3645-multiline-label-item-wrong-alignment
  branch/kby-3645-multiline-label-item-wrong-alignment/404.html
  branch/kby-3645-multiline-label-item-wrong-alignment/index.html
  branch/kby-3645-multiline-label-item-wrong-alignment/main.26662c33719c717a.js
Due: prettier --write

Release: kby-noissue-sort-icons-by-name
  branch/kby-noissue-sort-icons-by-name/404.html
  branch/kby-noissue-sort-icons-by-name/index.html
  branch/kby-noissue-sort-icons-by-name/main.90349a37a8b9070f.js
Due: prettier --write
