Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Release: kby-1008-close-on-backdrop
  branch/kby-1008-close-on-backdrop/404.html
  branch/kby-1008-close-on-backdrop/index.html
  branch/kby-1008-close-on-backdrop/styles.e332fa50d0e722b3bbd1.css
Due: prettier --write

Release: kby-1008-close-on-backdrop
  branch/kby-1008-close-on-backdrop/404.html
  branch/kby-1008-close-on-backdrop/index.html
  branch/kby-1008-close-on-backdrop/styles.68c2cc750076501ce4a9.css
Due: prettier --write

:memo: Split up badge examples
  apps/cookbook/src/app/examples/badge-example/badge-example.component.html
  apps/cookbook/src/app/examples/badge-example/badge-example.module.ts
  apps/cookbook/src/app/examples/badge-example/examples/badge-example-icon.component.ts
  apps/cookbook/src/app/examples/badge-example/examples/badge-example-number.component.ts
  apps/cookbook/src/app/examples/badge-example/examples/badge-example-shared.scss
  apps/cookbook/src/app/examples/badge-example/examples/badge-example-small.component.ts
  apps/cookbook/src/app/examples/badge-example/examples/badge-example-text.component.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
Due: prettier --write, tslint --fix, stylelint --fix

:memo: Add text to the badge documentation
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
Due: prettier --write

:lipstick: Add cards around badge examples
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.ts
Due: prettier --write, tslint --fix

:lipstick: Add examples 'h2' heading
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.ts
Due: prettier --write, tslint --fix

:clown_face: Add MockAccordionDirective
  libs/designsystem/testing-base/src/lib/directives/mock.accordion.directive.ts
  libs/designsystem/testing-base/src/lib/mock-directives.ts
Due: prettier --write, tslint --fix

Revert "Merge branch 'master' into enhancement/498-small-badge"
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/component-request.md
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  apps/cookbook/src/app/app.module.ts
  apps/cookbook/src/app/iphone/iphone.component.ts
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.html
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/src/lib/components/item/item.component.scss
  libs/designsystem/src/lib/components/router-outlet/index.ts
  libs/designsystem/src/lib/components/tabs/index.ts
  libs/designsystem/src/lib/components/tabs/tabs.service.ts
  package-lock.json
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

:sparkles: Add zLayer designTokenHelper function
  libs/core/src/helpers/design-token-helper.ts
Due: prettier --write, tslint --fix

:recycle: Update scss utils path to new core structure
  libs/designsystem/src/lib/components/popover/popover.component.scss
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-web-components
  branch/kby-web-components/404.html
  branch/kby-web-components/index.html
  branch/kby-web-components/main-es2017.fde156417df7d49c5d19.js
  branch/kby-web-components/main-es5.fde156417df7d49c5d19.js
  branch/kby-web-components/styles.6da05840a0ad3fc3772a.css
Due: prettier --write

Revert "Revert "Merge branch 'master' into enhancement/498-small-badge""
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/component-request.md
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  apps/cookbook/src/app/app.module.ts
  apps/cookbook/src/app/iphone/iphone.component.ts
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.html
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/src/lib/components/item/item.component.scss
  libs/designsystem/src/lib/components/router-outlet/index.ts
  libs/designsystem/src/lib/components/tabs/index.ts
  libs/designsystem/src/lib/components/tabs/tabs.service.ts
Due: prettier --write, tslint --fix, stylelint --fix

:white_check_mark: Fill in missing 'should have md class' test
  libs/designsystem/src/lib/components/badge/badge.component.spec.ts
Due: prettier --write, tslint --fix

Add MockAccordionDirective (#1811)
  libs/designsystem/testing-base/src/lib/directives/mock.accordion.directive.ts
  libs/designsystem/testing-base/src/lib/mock-directives.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 4.0.6
  package-lock.json
  package.json
Due: prettier --write

:memo: Add css custom properties table
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.ts
Due: prettier --write, tslint --fix

Release: kby-498-small-badge
  branch/kby-498-small-badge/404.html
  branch/kby-498-small-badge/index.html
  branch/kby-498-small-badge/main-es2017.634b966a780b41bf5859.js
  branch/kby-498-small-badge/main-es5.634b966a780b41bf5859.js
Due: prettier --write

Revert "✨ Add slotted badge to segmented control"
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
  libs/core/src/components/badge/badge.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
Due: prettier --write, tslint --fix, stylelint --fix

✨ Add badge with icon to segment control
  libs/designsystem/src/lib/components/segmented-control/segment-item.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
Due: prettier --write, tslint --fix

♻️ Make use of exposed badge custom properties
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

📝 Document icon badge in segmented control
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
Due: prettier --write, tslint --fix

📝 Update badge description in documentation
  apps/cookbook/src/app/examples/segmented-control-example/default/default.ts
Due: prettier --write, tslint --fix

Release: kby-815-support-slotted-badge-in-segmented-control
  branch/kby-815-support-slotted-badge-in-segmented-control/17-es2017.44e0b85cdd3317c7d492.js
  branch/kby-815-support-slotted-badge-in-segmented-control/17-es5.44e0b85cdd3317c7d492.js
  branch/kby-815-support-slotted-badge-in-segmented-control/404.html
  branch/kby-815-support-slotted-badge-in-segmented-control/index.html
  branch/kby-815-support-slotted-badge-in-segmented-control/main-es2017.67d3c2580413cdefb5f9.js
  branch/kby-815-support-slotted-badge-in-segmented-control/main-es5.67d3c2580413cdefb5f9.js
  branch/kby-815-support-slotted-badge-in-segmented-control/runtime-es2017.13c3b68d5d10452b0a1b.js
  branch/kby-815-support-slotted-badge-in-segmented-control/runtime-es5.13c3b68d5d10452b0a1b.js
  branch/kby-815-support-slotted-badge-in-segmented-control/styles.6da05840a0ad3fc3772a.css
Due: prettier --write

Release: kby-815-support-slotted-badge-in-segmented-control
  branch/kby-815-support-slotted-badge-in-segmented-control/404.html
  branch/kby-815-support-slotted-badge-in-segmented-control/index.html
  branch/kby-815-support-slotted-badge-in-segmented-control/main-es2017.1b33ddf372aaa039a3c7.js
  branch/kby-815-support-slotted-badge-in-segmented-control/main-es5.1b33ddf372aaa039a3c7.js
Due: prettier --write

🐛 Make sure both icon and content does not render
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
Due: prettier --write

Release: kby-815-support-slotted-badge-in-segmented-control
  branch/kby-815-support-slotted-badge-in-segmented-control/404.html
  branch/kby-815-support-slotted-badge-in-segmented-control/index.html
  branch/kby-815-support-slotted-badge-in-segmented-control/main-es2017.af0a89824cbf2543b704.js
  branch/kby-815-support-slotted-badge-in-segmented-control/main-es5.af0a89824cbf2543b704.js
Due: prettier --write

:pencil2: Change "inlines" to "inline"
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
Due: prettier --write

💄 Revert unintentional change to badge elevation
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

:memo: Remove 'but can be used to indicate status' part
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
Due: prettier --write

:memo: Have 'number' paragraph sound more like guidelines
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
Due: prettier --write

Release: kby-498-small-badge
  branch/kby-498-small-badge/404.html
  branch/kby-498-small-badge/index.html
  branch/kby-498-small-badge/main-es2017.07b80b012b11087f42a7.js
  branch/kby-498-small-badge/main-es5.07b80b012b11087f42a7.js
Due: prettier --write

:memo: Add attachment example
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.html
Due: prettier --write

:pencil2: Change kirby-badge-zindex to kirby-badge-z-index
  libs/core/src/components/badge/badge.component.scss
  libs/designsystem/src/lib/components/avatar/avatar.component.scss
Due: prettier --write, stylelint --fix

Release: kby-498-small-badge
  branch/kby-498-small-badge/17-es2017.692cbe2c8c10f896ebd9.js
  branch/kby-498-small-badge/17-es5.692cbe2c8c10f896ebd9.js
  branch/kby-498-small-badge/404.html
  branch/kby-498-small-badge/index.html
  branch/kby-498-small-badge/main-es2017.9489c6af873a4611e563.js
  branch/kby-498-small-badge/main-es5.9489c6af873a4611e563.js
  branch/kby-498-small-badge/runtime-es2017.085a781cc545764ac6f9.js
  branch/kby-498-small-badge/runtime-es5.085a781cc545764ac6f9.js
Due: prettier --write

✅ Add badge tests to segmented control
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, tslint --fix

:memo: Make proper spacing in popout & add elevation
  apps/cookbook/src/app/examples/badge-example/badge-example.component.html
  apps/cookbook/src/app/examples/badge-example/badge-example.component.scss
  libs/core/src/components/badge/badge.component.scss
Due: prettier --write, stylelint --fix

Release: kby-498-small-badge
  branch/kby-498-small-badge/2-es2017.662fc1425f3f5fa1f1e6.js
  branch/kby-498-small-badge/2-es5.662fc1425f3f5fa1f1e6.js
  branch/kby-498-small-badge/404.html
  branch/kby-498-small-badge/index.html
  branch/kby-498-small-badge/main-es2017.18fcd8b7afd2520ec5e4.js
  branch/kby-498-small-badge/main-es5.18fcd8b7afd2520ec5e4.js
  branch/kby-498-small-badge/runtime-es2017.b48223736fa645d71336.js
  branch/kby-498-small-badge/runtime-es5.b48223736fa645d71336.js
Due: prettier --write

:bug: Fix elevation not displaying
  apps/cookbook/src/app/examples/badge-example/examples/badge-example-shared.scss
  libs/core/src/components/badge/badge.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
