Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Update build.yml
  .github/workflows/build.yml
Due: none

🔧 Add `engines`
  package.json
Due: prettier --write

Update .nvmrc
  .nvmrc
Due: none

:memo: Reformat "read as a sentence" examples section
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: Insert full AAA example & reformat that section
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: Add hint to 'test scenarios' in WET/DRY section
  .github/CONTRIBUTING.md
Due: prettier --write

brought styling up to date
  libs/core/src/components/badge/badge.scss
  package-lock.json
  package.json
Due: prettier --write, stylelint --fix

Review fixes
  .tool-versions
  .vscode/settings.json
  libs/designsystem/src/lib/components/list/list-item/list-item.component.ts
Due: prettier --write, tslint --fix

re-exporting scroller settings types
  libs/designsystem/src/lib/components/list/index.ts
  libs/designsystem/src/lib/components/list/list-virtual-scroll-settings.type.ts
Due: prettier --write, tslint --fix

:memo: Replace readability examples & inline them
  .github/CONTRIBUTING.md
  .github/images/readable-tests.png
  .github/images/unreadable-tests.png
Due: prettier --write

:memo: Add missing syntax highlighting for code examples
  .github/CONTRIBUTING.md
Due: prettier --write

🔧 Add sync-node-version pre-commit action
  package.json
  scripts/sync-node-version.js
Due: prettier --write

🔧 Add `.npmrc`
  .npmrc
Due: none

🔧 Set node version
  package.json
Due: prettier --write

:bookmark:Bumping version to 2.0.8
  package-lock.json
  package.json
Due: prettier --write

🔧 Set node version
  .nvmrc
  package.json
Due: prettier --write

🔧 Update sync-node-version script
  scripts/sync-node-version.js
Due: none

⏪ Revert pre-commit
  package.json
Due: prettier --write

👷 Get node version from package.json
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

⏪ Revert test config
  .github/workflows/build.yml
Due: none

🔧 Add newline
  .npmrc
Due: none
