Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-shell-quote-1-8-4
  branch/kby-shell-quote-1-8-4/404.html
  branch/kby-shell-quote-1-8-4/chunk-7YAQPOJD.js
  branch/kby-shell-quote-1-8-4/chunk-CXT7QJMX.js
  branch/kby-shell-quote-1-8-4/chunk-H5P36PJD.js
  branch/kby-shell-quote-1-8-4/chunk-HPGCIHJL.js
  branch/kby-shell-quote-1-8-4/chunk-LO6LGB7O.js
  branch/kby-shell-quote-1-8-4/chunk-LUXU4P6P.js
  branch/kby-shell-quote-1-8-4/chunk-STZFQ4RQ.js
  branch/kby-shell-quote-1-8-4/chunk-WH2B4CNK.js
  branch/kby-shell-quote-1-8-4/chunk-YMKJJAJ4.js
  branch/kby-shell-quote-1-8-4/index.html
  branch/kby-shell-quote-1-8-4/main-6NL5BS5X.js
  branch/kby-shell-quote-1-8-4/main-ZGHP3LMW.js
Due: prettier --write

Release: kby-hono-4-12-26
  branch/kby-hono-4-12-26/404.html
  branch/kby-hono-4-12-26/chunk-7YAQPOJD.js
  branch/kby-hono-4-12-26/chunk-CXT7QJMX.js
  branch/kby-hono-4-12-26/chunk-H5P36PJD.js
  branch/kby-hono-4-12-26/chunk-HPGCIHJL.js
  branch/kby-hono-4-12-26/chunk-LO6LGB7O.js
  branch/kby-hono-4-12-26/chunk-LUXU4P6P.js
  branch/kby-hono-4-12-26/chunk-STZFQ4RQ.js
  branch/kby-hono-4-12-26/chunk-WH2B4CNK.js
  branch/kby-hono-4-12-26/chunk-YMKJJAJ4.js
  branch/kby-hono-4-12-26/index.html
  branch/kby-hono-4-12-26/main-6NL5BS5X.js
  branch/kby-hono-4-12-26/main-ZGHP3LMW.js
Due: prettier --write

Release: kby-tar-7-5-16
  branch/kby-tar-7-5-16/404.html
  branch/kby-tar-7-5-16/chunk-7YAQPOJD.js
  branch/kby-tar-7-5-16/chunk-CXT7QJMX.js
  branch/kby-tar-7-5-16/chunk-H5P36PJD.js
  branch/kby-tar-7-5-16/chunk-HPGCIHJL.js
  branch/kby-tar-7-5-16/chunk-LO6LGB7O.js
  branch/kby-tar-7-5-16/chunk-LUXU4P6P.js
  branch/kby-tar-7-5-16/chunk-STZFQ4RQ.js
  branch/kby-tar-7-5-16/chunk-WH2B4CNK.js
  branch/kby-tar-7-5-16/chunk-YMKJJAJ4.js
  branch/kby-tar-7-5-16/index.html
  branch/kby-tar-7-5-16/main-6NL5BS5X.js
  branch/kby-tar-7-5-16/main-ZGHP3LMW.js
Due: prettier --write

Release: kby-multi-c449e0b749
  branch/kby-multi-c449e0b749/404.html
  branch/kby-multi-c449e0b749/chunk-7YAQPOJD.js
  branch/kby-multi-c449e0b749/chunk-CXT7QJMX.js
  branch/kby-multi-c449e0b749/chunk-H5P36PJD.js
  branch/kby-multi-c449e0b749/chunk-HPGCIHJL.js
  branch/kby-multi-c449e0b749/chunk-LO6LGB7O.js
  branch/kby-multi-c449e0b749/chunk-LUXU4P6P.js
  branch/kby-multi-c449e0b749/chunk-STZFQ4RQ.js
  branch/kby-multi-c449e0b749/chunk-WH2B4CNK.js
  branch/kby-multi-c449e0b749/chunk-YMKJJAJ4.js
  branch/kby-multi-c449e0b749/index.html
  branch/kby-multi-c449e0b749/main-6NL5BS5X.js
  branch/kby-multi-c449e0b749/main-ZGHP3LMW.js
Due: prettier --write

add maxsize to md
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  libs/designsystem/progress-circle/src/progress-circle.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4556-bug-resize-zoom-bug-on-progress-circle-steps
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/404.html
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-3NBCFWCP.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-E67ZNBR2.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-FFFIBNAE.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-RIXMNPEL.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-U3FYBVUO.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-V2JSPPWM.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-VA6XFJTX.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/chunk-YLFHJ3DH.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/index.html
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/main-JCQDJHNI.js
  branch/kby-4556-bug-resize-zoom-bug-on-progress-circle-steps/main-VFVRE5R6.js
Due: prettier --write

wrap button on text resize
  apps/cookbook/src/app/examples/item-example/examples/nested-controls.ts
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

adding new icons
  libs/designsystem/icon/src/icons/svg/key.svg
  libs/designsystem/icon/src/icons/svg/note-create.svg
  libs/designsystem/icon/src/icons/svg/note.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

fix click in modal issues
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

Wip
  apps/cookbook/src/app/examples/dropdown-example/examples/custom-item-template.ts
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/intro/intro.component.html
  apps/cookbook/src/app/intro/intro.component.ts
  apps/cookbook/src/app/page/header/header.component.html
  apps/cookbook/src/app/page/header/header.component.ts
  libs/core/src/popover/popover.element.styles.ts
  libs/core/src/popover/popover.element.ts
  libs/core/src/tooltip/tooltip.element.styles.ts
  libs/core/src/tooltip/tooltip.element.ts
Due: prettier --write, eslint --fix

Icon: Add key, note, note-create (#4588)
  libs/designsystem/icon/src/icons/svg/key.svg
  libs/designsystem/icon/src/icons/svg/note-create.svg
  libs/designsystem/icon/src/icons/svg/note.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/assets/kirby/icons/svg/key.svg
  branch/kby-develop/assets/kirby/icons/svg/note-create.svg
  branch/kby-develop/assets/kirby/icons/svg/note.svg
  branch/kby-develop/chunk-4QZIIAJ5.js
  branch/kby-develop/chunk-54MDD4WP.js
  branch/kby-develop/chunk-H5P36PJD.js
  branch/kby-develop/chunk-IPNEIWOJ.js
  branch/kby-develop/chunk-LFW7F4HV.js
  branch/kby-develop/chunk-M4A4KHDZ.js
  branch/kby-develop/chunk-MIIMOWRT.js
  branch/kby-develop/chunk-YR4GVYAB.js
  branch/kby-develop/index.html
  branch/kby-develop/main-AAVPB3QP.js
  branch/kby-develop/main-ZGHP3LMW.js
Due: prettier --write

Release: kby-morgan-1-11-0
  branch/kby-morgan-1-11-0/404.html
  branch/kby-morgan-1-11-0/assets/kirby/icons/svg/key.svg
  branch/kby-morgan-1-11-0/assets/kirby/icons/svg/note-create.svg
  branch/kby-morgan-1-11-0/assets/kirby/icons/svg/note.svg
  branch/kby-morgan-1-11-0/chunk-4QZIIAJ5.js
  branch/kby-morgan-1-11-0/chunk-54MDD4WP.js
  branch/kby-morgan-1-11-0/chunk-H5P36PJD.js
  branch/kby-morgan-1-11-0/chunk-IPNEIWOJ.js
  branch/kby-morgan-1-11-0/chunk-LFW7F4HV.js
  branch/kby-morgan-1-11-0/chunk-M4A4KHDZ.js
  branch/kby-morgan-1-11-0/chunk-MIIMOWRT.js
  branch/kby-morgan-1-11-0/chunk-YR4GVYAB.js
  branch/kby-morgan-1-11-0/index.html
  branch/kby-morgan-1-11-0/main-AAVPB3QP.js
  branch/kby-morgan-1-11-0/main-ZGHP3LMW.js
Due: prettier --write

Release: kby-tmp-0-2-7
  branch/kby-tmp-0-2-7/404.html
  branch/kby-tmp-0-2-7/assets/kirby/icons/svg/key.svg
  branch/kby-tmp-0-2-7/assets/kirby/icons/svg/note-create.svg
  branch/kby-tmp-0-2-7/assets/kirby/icons/svg/note.svg
  branch/kby-tmp-0-2-7/chunk-4QZIIAJ5.js
  branch/kby-tmp-0-2-7/chunk-54MDD4WP.js
  branch/kby-tmp-0-2-7/chunk-CXT7QJMX.js
  branch/kby-tmp-0-2-7/chunk-IPNEIWOJ.js
  branch/kby-tmp-0-2-7/chunk-LFW7F4HV.js
  branch/kby-tmp-0-2-7/chunk-LUXU4P6P.js
  branch/kby-tmp-0-2-7/chunk-M4A4KHDZ.js
  branch/kby-tmp-0-2-7/chunk-MIIMOWRT.js
  branch/kby-tmp-0-2-7/chunk-YR4GVYAB.js
  branch/kby-tmp-0-2-7/index.html
  branch/kby-tmp-0-2-7/main-6NL5BS5X.js
  branch/kby-tmp-0-2-7/main-AAVPB3QP.js
Due: prettier --write

Release: kby-tar-7-5-16
  branch/kby-tar-7-5-16/404.html
  branch/kby-tar-7-5-16/assets/kirby/icons/svg/key.svg
  branch/kby-tar-7-5-16/assets/kirby/icons/svg/note-create.svg
  branch/kby-tar-7-5-16/assets/kirby/icons/svg/note.svg
  branch/kby-tar-7-5-16/chunk-4QZIIAJ5.js
  branch/kby-tar-7-5-16/chunk-54MDD4WP.js
  branch/kby-tar-7-5-16/chunk-H5P36PJD.js
  branch/kby-tar-7-5-16/chunk-IPNEIWOJ.js
  branch/kby-tar-7-5-16/chunk-LFW7F4HV.js
  branch/kby-tar-7-5-16/chunk-M4A4KHDZ.js
  branch/kby-tar-7-5-16/chunk-MIIMOWRT.js
  branch/kby-tar-7-5-16/chunk-YR4GVYAB.js
  branch/kby-tar-7-5-16/index.html
  branch/kby-tar-7-5-16/main-AAVPB3QP.js
  branch/kby-tar-7-5-16/main-ZGHP3LMW.js
Due: prettier --write

Release: kby-core-3-2-1
  branch/kby-core-3-2-1/404.html
  branch/kby-core-3-2-1/assets/kirby/icons/svg/key.svg
  branch/kby-core-3-2-1/assets/kirby/icons/svg/note-create.svg
  branch/kby-core-3-2-1/assets/kirby/icons/svg/note.svg
  branch/kby-core-3-2-1/chunk-4QZIIAJ5.js
  branch/kby-core-3-2-1/chunk-54MDD4WP.js
  branch/kby-core-3-2-1/chunk-CXT7QJMX.js
  branch/kby-core-3-2-1/chunk-IPNEIWOJ.js
  branch/kby-core-3-2-1/chunk-LFW7F4HV.js
  branch/kby-core-3-2-1/chunk-LUXU4P6P.js
  branch/kby-core-3-2-1/chunk-M4A4KHDZ.js
  branch/kby-core-3-2-1/chunk-MIIMOWRT.js
  branch/kby-core-3-2-1/chunk-YR4GVYAB.js
  branch/kby-core-3-2-1/index.html
  branch/kby-core-3-2-1/main-6NL5BS5X.js
  branch/kby-core-3-2-1/main-AAVPB3QP.js
Due: prettier --write

Release: kby-verify-3-1-1
  branch/kby-verify-3-1-1/404.html
  branch/kby-verify-3-1-1/assets/kirby/icons/svg/key.svg
  branch/kby-verify-3-1-1/assets/kirby/icons/svg/note-create.svg
  branch/kby-verify-3-1-1/assets/kirby/icons/svg/note.svg
  branch/kby-verify-3-1-1/chunk-4QZIIAJ5.js
  branch/kby-verify-3-1-1/chunk-54MDD4WP.js
  branch/kby-verify-3-1-1/chunk-CXT7QJMX.js
  branch/kby-verify-3-1-1/chunk-IPNEIWOJ.js
  branch/kby-verify-3-1-1/chunk-LFW7F4HV.js
  branch/kby-verify-3-1-1/chunk-LUXU4P6P.js
  branch/kby-verify-3-1-1/chunk-M4A4KHDZ.js
  branch/kby-verify-3-1-1/chunk-MIIMOWRT.js
  branch/kby-verify-3-1-1/chunk-YR4GVYAB.js
  branch/kby-verify-3-1-1/index.html
  branch/kby-verify-3-1-1/main-6NL5BS5X.js
  branch/kby-verify-3-1-1/main-AAVPB3QP.js
Due: prettier --write

Release: kby-multi-c449e0b749
  branch/kby-multi-c449e0b749/404.html
  branch/kby-multi-c449e0b749/assets/kirby/icons/svg/key.svg
  branch/kby-multi-c449e0b749/assets/kirby/icons/svg/note-create.svg
  branch/kby-multi-c449e0b749/assets/kirby/icons/svg/note.svg
  branch/kby-multi-c449e0b749/chunk-4QZIIAJ5.js
  branch/kby-multi-c449e0b749/chunk-54MDD4WP.js
  branch/kby-multi-c449e0b749/chunk-H5P36PJD.js
  branch/kby-multi-c449e0b749/chunk-IPNEIWOJ.js
  branch/kby-multi-c449e0b749/chunk-LFW7F4HV.js
  branch/kby-multi-c449e0b749/chunk-M4A4KHDZ.js
  branch/kby-multi-c449e0b749/chunk-MIIMOWRT.js
  branch/kby-multi-c449e0b749/chunk-YR4GVYAB.js
  branch/kby-multi-c449e0b749/index.html
  branch/kby-multi-c449e0b749/main-AAVPB3QP.js
  branch/kby-multi-c449e0b749/main-ZGHP3LMW.js
Due: prettier --write

Add new table with typography classes
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.html
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.scss
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Improve general auto-layout and align color tables wiht each other
  apps/cookbook/src/app/showcase/_design-token-table.scss
  apps/cookbook/src/app/showcase/border-radius-showcase/border-radius-showcase.component.html
  apps/cookbook/src/app/showcase/border-radius-showcase/border-radius-showcase.component.scss
  apps/cookbook/src/app/showcase/breakpoints-showcase/breakpoints-showcase.component.html
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.html
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.scss
  apps/cookbook/src/app/showcase/elevation-showcase/elevation-showcase.component.html
  apps/cookbook/src/app/showcase/elevation-showcase/elevation-showcase.component.scss
  apps/cookbook/src/app/showcase/spacing-showcase/spacing-showcase.component.html
  apps/cookbook/src/app/showcase/spacing-showcase/spacing-showcase.component.scss
Due: prettier --write, stylelint --fix

Add typography css class table
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.html
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.scss
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Do not show popout links for foundation showcases
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, eslint --fix

Add option to copy class
  apps/cookbook/src/app/shared/copy-token/copy-token.component.ts
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.html
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.ts
Due: prettier --write, eslint --fix

Restore border radius preview shape
  apps/cookbook/src/app/showcase/border-radius-showcase/border-radius-showcase.component.scss
Due: prettier --write, stylelint --fix

Adjust text
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.html
Due: prettier --write

Release: kby-hono-4-12-26
  branch/kby-hono-4-12-26/404.html
  branch/kby-hono-4-12-26/assets/kirby/icons/svg/key.svg
  branch/kby-hono-4-12-26/assets/kirby/icons/svg/note-create.svg
  branch/kby-hono-4-12-26/assets/kirby/icons/svg/note.svg
  branch/kby-hono-4-12-26/chunk-4QZIIAJ5.js
  branch/kby-hono-4-12-26/chunk-54MDD4WP.js
  branch/kby-hono-4-12-26/chunk-H5P36PJD.js
  branch/kby-hono-4-12-26/chunk-IPNEIWOJ.js
  branch/kby-hono-4-12-26/chunk-LFW7F4HV.js
  branch/kby-hono-4-12-26/chunk-M4A4KHDZ.js
  branch/kby-hono-4-12-26/chunk-MIIMOWRT.js
  branch/kby-hono-4-12-26/chunk-YR4GVYAB.js
  branch/kby-hono-4-12-26/index.html
  branch/kby-hono-4-12-26/main-AAVPB3QP.js
  branch/kby-hono-4-12-26/main-ZGHP3LMW.js
Due: prettier --write

Revert unintentional copy token error
  apps/cookbook/src/app/showcase/typography-showcase/typography-showcase.component.html
Due: prettier --write

Release: kby-add-typography-classes
  branch/kby-add-typography-classes/404.html
  branch/kby-add-typography-classes/chunk-7FYNDYNH.js
  branch/kby-add-typography-classes/chunk-NFU543BL.js
  branch/kby-add-typography-classes/chunk-ZHAOOOSV.js
  branch/kby-add-typography-classes/index.html
  branch/kby-add-typography-classes/main-3S5UL5ZW.js
  branch/kby-add-typography-classes/main-GMPFWIGS.js
Due: prettier --write
