Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Review feedback
  libs/designsystem/icon/src/icon-registry.service.spec.ts
  libs/designsystem/icon/src/icon-registry.service.ts
Due: prettier --write, eslint --fix

Use forEach instead of for-of to align with kirby coding standards
  libs/designsystem/icon/src/icon-registry.service.spec.ts
  libs/designsystem/icon/src/icon-registry.service.ts
Due: prettier --write, eslint --fix

update README
  readme.md
Due: prettier --write

Fix test
  libs/designsystem/icon/src/icon-registry.service.spec.ts
Due: prettier --write, eslint --fix

Docs: add DataTable to Storybook (#3600)
  apps/cookbook/src/app/examples/data-table-example/data-table-example.component.html
  apps/cookbook/src/app/examples/data-table-example/data-table-example.component.ts
  apps/cookbook/src/app/examples/data-table-example/table-example.module.ts
  apps/cookbook/src/app/examples/examples.common.ts
  libs/designsystem/data-table/src/data-table.stories.ts
Due: prettier --write, eslint --fix

Release: kby-fix-flaky-page-test
  branch/kby-fix-flaky-page-test/3485.358a6bc3c49c069a.js
  branch/kby-fix-flaky-page-test/404.html
  branch/kby-fix-flaky-page-test/index.html
  branch/kby-fix-flaky-page-test/runtime.b4c907232ade0138.js
Due: prettier --write

Documentation: Update migration notes for v10 (#3587)
  MIGRATION.md
Due: prettier --write

test: add logging
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
Due: prettier --write, eslint --fix

💄 replace design token helper with css vars
  libs/core/src/badge/badge.styles.ts
Due: prettier --write, eslint --fix

test: comment typo
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
Due: prettier --write, eslint --fix

Test: add logging to flaky tests (#3602)
  libs/designsystem/dropdown/src/dropdown.component.spec.ts
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix

Use relative units for font sizes and line heights
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/flag/src/flag.component.scss
Due: prettier --write, stylelint --fix

Make calculations explicit in transpiled styles
  apps/cookbook/src/app/showcase/showcase.component.scss
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_typography.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/section-header/src/_section-header.utils.scss
Due: prettier --write, stylelint --fix

Use Sass string interpolation instead of CSS custom properties
  apps/cookbook/src/app/showcase/showcase.component.scss
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_typography.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/section-header/src/_section-header.utils.scss
Due: prettier --write, stylelint --fix

Exclude failing typography tests
  libs/designsystem/badge/src/badge.component.spec.ts
  libs/designsystem/button/src/button.component.integration.spec.ts
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/chart/src/shared/chart-js-service/chart-js.service.integration.spec.ts
  libs/designsystem/flag/src/flag.component.spec.ts
  libs/designsystem/form-field/src/form-field.component.spec.ts
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/section-header/src/section-header.component.spec.ts
  libs/designsystem/section-header/src/section-header.integration.spec.ts
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix

Adjust line-height for button
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for card header
  libs/designsystem/card/src/card-header/card-header.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for button lg
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for checkbox xs
  libs/designsystem/checkbox/src/checkbox.component.scss
Due: prettier --write, stylelint --fix

Adjust line-heights for form field
  libs/designsystem/form-field/src/form-field-message/form-field-message.component.scss
  libs/designsystem/form-field/src/form-field.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for segmented control example
  apps/cookbook/src/app/examples/segmented-control-example/segmented-control-example.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for item example
  apps/cookbook/src/app/examples/item-example/item-example.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for shared examples
  apps/cookbook/src/app/examples/_examples.shared.scss
Due: prettier --write, stylelint --fix

Adjust line-height for paragraphs slotted in item
  libs/designsystem/item/src/_item.utils.scss
Due: prettier --write, stylelint --fix

Adjust line-height for reactive form state
  apps/cookbook/src/app/examples/reactive-form-state/reactive-form-state.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for button sm
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Adjust line-height for ng-forms shared
  apps/cookbook/src/app/examples/ng-forms.shared.scss
Due: prettier --write, stylelint --fix

Adjust line-height for fit-heading (line clamp)
  libs/designsystem/shared/src/fit-heading/fit-heading.directive.ts
Due: prettier --write, eslint --fix

Adjust line-heights for fonts showcase
  apps/cookbook/src/app/showcase/fonts-showcase/fonts-showcase.component.scss
Due: prettier --write, stylelint --fix

Declare min-height in image-banner explicitly to make build pass
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Create Cookbook example story for Card
  apps/cookbook/src/app/examples/card-example/card-example.module.ts
  libs/designsystem/card/src/card.component.stories.ts
Due: prettier --write, eslint --fix

Remove unnecessary responsiveModes
  libs/designsystem/card/src/card.component.stories.ts
Due: prettier --write, eslint --fix

Housekeeping: Create Cookbook example story for Card (#3609)
  apps/cookbook/src/app/examples/card-example/card-example.module.ts
  libs/designsystem/card/src/card.component.stories.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
