Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

💄 Adjust checkbox active to new loudness scale
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2218-fix-interaction-state-regressions
  branch/kby-2218-fix-interaction-state-regressions/404.html
  branch/kby-2218-fix-interaction-state-regressions/index.html
  branch/kby-2218-fix-interaction-state-regressions/main-es2017.cb621b1ebeb13c027946.js
  branch/kby-2218-fix-interaction-state-regressions/main-es5.cb621b1ebeb13c027946.js
Due: prettier --write

Release: kby-interaction-states-and-attention-levels
  branch/kby-interaction-states-and-attention-levels/404.html
  branch/kby-interaction-states-and-attention-levels/index.html
  branch/kby-interaction-states-and-attention-levels/main-es2017.884fbdd76ef2e334c881.js
  branch/kby-interaction-states-and-attention-levels/main-es5.884fbdd76ef2e334c881.js
Due: prettier --write

📝 Add migration notes for v6
  MIGRATION.md
  readme.md
Due: prettier --write

Add migration notes for v6 (#2221)
  MIGRATION.md
  readme.md
Due: prettier --write

💫 Apply transition to all properties on focus
  libs/core/src/scss/interaction-state/_focus.scss
Due: prettier --write, stylelint --fix

Reintroduce sass strip-unit utility function
  libs/core/src/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

Reintroduce sass strip-unit utility function (#2228)
  libs/core/src/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

Fix Reported Flaky Tests
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.spec.ts
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

💄 Adjust loudness for attention level 2 active
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Fix Reported Flaky Tests (#2217)
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.spec.ts
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

💄 Adjust calendar loudness levels
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💫 Apply transition to all properties on focus (#2223)
  libs/core/src/scss/interaction-state/_focus.scss
Due: prettier --write, stylelint --fix

Release: kby-interaction-states-and-attention-levels
  branch/kby-interaction-states-and-attention-levels/404.html
  branch/kby-interaction-states-and-attention-levels/index.html
  branch/kby-interaction-states-and-attention-levels/main-es2017.cbd117f18b28de857a37.js
  branch/kby-interaction-states-and-attention-levels/main-es5.cbd117f18b28de857a37.js
  branch/kby-interaction-states-and-attention-levels/runtime-es2017.5a12b2ee0f5cf1f4667a.js
  branch/kby-interaction-states-and-attention-levels/runtime-es5.5a12b2ee0f5cf1f4667a.js
  branch/kby-interaction-states-and-attention-levels/styles.7422789d728eb0700de3.css
Due: prettier --write

Release: kby-interaction-states-and-attention-levels
  branch/kby-interaction-states-and-attention-levels/404.html
  branch/kby-interaction-states-and-attention-levels/index.html
  branch/kby-interaction-states-and-attention-levels/main-es2017.82cedb379c73cf44d578.js
  branch/kby-interaction-states-and-attention-levels/main-es5.82cedb379c73cf44d578.js
Due: prettier --write

Release: kby-interaction-states-and-attention-levels-adjustmen
  branch/kby-interaction-states-and-attention-levels-adjustme/404.html
  branch/kby-interaction-states-and-attention-levels-adjustme/index.html
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es2017.f97a6a29d95bf91eb671.js
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es5.f97a6a29d95bf91eb671.js
  branch/kby-interaction-states-and-attention-levels-adjustme/runtime-es2017.5a12b2ee0f5cf1f4667a.js
  branch/kby-interaction-states-and-attention-levels-adjustme/runtime-es5.5a12b2ee0f5cf1f4667a.js
  branch/kby-interaction-states-and-attention-levels-adjustme/styles.7422789d728eb0700de3.css
Due: prettier --write

Release: kby-1155-refactor-update-page-header
  branch/kby-1155-refactor-update-page-header/404.html
  branch/kby-1155-refactor-update-page-header/index.html
  branch/kby-1155-refactor-update-page-header/main-es2017.222485200f43eaf6abc9.js
  branch/kby-1155-refactor-update-page-header/main-es5.222485200f43eaf6abc9.js
Due: prettier --write

:alembic: Move modal footer to a separate comp with conditional
  apps/cookbook/src/app/examples/modal-example/modal-example.module.ts
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page2-example.component.ts
Due: prettier --write, tslint --fix

💄 Move state layer
  libs/designsystem/src/lib/components/accordion/accordion-item.component.html
  libs/designsystem/src/lib/components/accordion/accordion-item.component.scss
Due: prettier --write, stylelint --fix

💄 Move state layer (#2234)
  libs/designsystem/src/lib/components/accordion/accordion-item.component.html
  libs/designsystem/src/lib/components/accordion/accordion-item.component.scss
Due: prettier --write, stylelint --fix

:recycle: Make footer responsible for positioning itself
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

Release: kby-interaction-states-and-attention-levels-adjustmen
  branch/kby-interaction-states-and-attention-levels-adjustme/404.html
  branch/kby-interaction-states-and-attention-levels-adjustme/index.html
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es2017.5c799310de17c5c75190.js
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es5.5c799310de17c5c75190.js
Due: prettier --write

Fix smaller interaction state regressions (#2220)
  apps/cookbook/src/app/examples/item-example/examples/input/default.ts
  apps/cookbook/src/app/examples/item-example/examples/input/numeric.ts
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/slide-button/slide-button.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

disable change on swipe attribute
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

💄 Adjust Checkbox loudness levels
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
Due: prettier --write, stylelint --fix

💄 Adjust Chip loudness levels
  libs/designsystem/src/lib/components/chip/chip.component.scss
Due: prettier --write, stylelint --fix

added missing semicolon
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Due: prettier --write, tslint --fix

Release: kby-interaction-states-and-attention-levels-adjustmen
  branch/kby-interaction-states-and-attention-levels-adjustme/404.html
  branch/kby-interaction-states-and-attention-levels-adjustme/index.html
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es2017.50bc9473a3826b4743fd.js
  branch/kby-interaction-states-and-attention-levels-adjustme/main-es5.50bc9473a3826b4743fd.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
