Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-trailing-icon
  branch/kby-trailing-icon/1648.de69fd098fbc9fd3.js
  branch/kby-trailing-icon/3rdpartylicenses.txt
  branch/kby-trailing-icon/404.html
  branch/kby-trailing-icon/5565.fc3351ef490d7b5d.js
  branch/kby-trailing-icon/common.bc85780f37a7b5e6.js
  branch/kby-trailing-icon/index.html
  branch/kby-trailing-icon/main.82fd8ae0ae6cb69d.js
  branch/kby-trailing-icon/runtime.a9f514017b2a9fb5.js
Due: prettier --write

Release: kby-979-last-item-in-reorder-list-has-padding-on-the-
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/1648.de69fd098fbc9fd3.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/3rdpartylicenses.txt
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/404.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/5565.3aa329aaf4751d93.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/common.bc85780f37a7b5e6.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/index.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/main.046ef5fd3eedb12a.js
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/runtime.2b62ef9d46f66e58.js
Due: prettier --write

Release: kby-979-last-item-in-reorder-list-has-padding-on-the-
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/404.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/index.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/main.b475e9817ef7c311.js
Due: prettier --write

Release: kby-979-last-item-in-reorder-list-has-padding-on-the-
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/404.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/index.html
  branch/kby-979-last-item-in-reorder-list-has-padding-on-the/main.0b749df64a1555a6.js
Due: prettier --write

Adjust test to new padding for icon only button
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3098-action-group-doesnt-update-when-changing-vis
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/1648.de69fd098fbc9fd3.js
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/3rdpartylicenses.txt
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/404.html
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/5565.3aa329aaf4751d93.js
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/common.bc85780f37a7b5e6.js
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/index.html
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/main.ce0d387fbb8c2bef.js
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/runtime.2b62ef9d46f66e58.js
Due: prettier --write

refactor: add null checks
  libs/designsystem/action-group/src/action-group.component.ts
Due: prettier --write, eslint --fix

Release: kby-3098-action-group-doesnt-update-when-changing-vis
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/404.html
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/index.html
  branch/kby-3098-action-group-doesnt-update-when-changing-vi/main.79c40461c7ca6ec9.js
Due: prettier --write

Unique style for XS checkbox but hardcoded valus
  libs/designsystem/checkbox/src/checkbox.component.scss
Due: prettier --write, stylelint --fix

Adjust xs checkbox test to new size
  libs/designsystem/checkbox/src/checkbox.component.spec.ts
Due: prettier --write, eslint --fix

Fix showcase typos
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write, eslint --fix

Action Group: Render changes to `visibleActions` (#3101)
  libs/designsystem/action-group/src/action-group.component.ts
Due: prettier --write, eslint --fix

Add outlet link to showcase
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/index.html
  branch/kby-develop/main.79c40461c7ca6ec9.js
Due: prettier --write

Trailing icon now a part of utills and can use external icon (#3093)
  apps/cookbook/src/app/examples/link-example/examples/link-examples.shared.scss
  apps/cookbook/src/app/examples/link-example/examples/trailing-icon.ts
  apps/cookbook/src/app/examples/link-example/link-example.module.ts
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_functions.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix too large click area for extra small button (#3103)
  apps/cookbook/src/app/examples/button-example/button-example.component.html
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix another typo
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
Due: prettier --write, eslint --fix

Release: kby-3043-pass-modal-config-to-routed-modal
  branch/kby-3043-pass-modal-config-to-routed-modal/404.html
  branch/kby-3043-pass-modal-config-to-routed-modal/5565.39cb998ce11616d9.js
  branch/kby-3043-pass-modal-config-to-routed-modal/index.html
  branch/kby-3043-pass-modal-config-to-routed-modal/main.ff78391133d40e18.js
  branch/kby-3043-pass-modal-config-to-routed-modal/runtime.c8b5522aab73d451.js
  branch/kby-3043-pass-modal-config-to-routed-modal/styles.606d644319e6c056.css
Due: prettier --write

Release: kby-3043-pass-modal-config-to-routed-modal
  branch/kby-3043-pass-modal-config-to-routed-modal/404.html
  branch/kby-3043-pass-modal-config-to-routed-modal/index.html
  branch/kby-3043-pass-modal-config-to-routed-modal/main.ef836f625ec9d511.js
Due: prettier --write

Pass ModalConfig to modal via route data (#3095)
  apps/cookbook/src/app/examples/dropdown-example/examples/dropdown-examples.shared.scss
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.scss
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  apps/cookbook/src/styles.scss
  libs/core/src/scss/base/_link.scss
  libs/designsystem/modal/src/modal-wrapper/config/modal-config.ts
  libs/designsystem/modal/src/modal/services/modal.controller.ts
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
Due: prettier --write, eslint --fix, stylelint --fix

style: remove title margin on key value scenario
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/header/src/header.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

style: remove column-gap to avoid double spacing
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

style: use margin instead of padding
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

style: update toolbar padding to design spec
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

style: update buttons margin to design spec
  libs/designsystem/action-group/src/action-group.component.scss
Due: prettier --write, stylelint --fix

test: add tests
  libs/designsystem/action-group/src/action-group.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-2606-data-table-sorting
  branch/kby-2606-data-table-sorting/1648.b8ce9c8c5847156f.js
  branch/kby-2606-data-table-sorting/3rdpartylicenses.txt
  branch/kby-2606-data-table-sorting/404.html
  branch/kby-2606-data-table-sorting/5565.2278b4223717a3b1.js
  branch/kby-2606-data-table-sorting/common.f521921962bd9e72.js
  branch/kby-2606-data-table-sorting/index.html
  branch/kby-2606-data-table-sorting/main.b9fe90c52ab7f8d4.js
  branch/kby-2606-data-table-sorting/runtime.39647fc9464562c3.js
  branch/kby-2606-data-table-sorting/styles.69f545818ab58c6b.css
Due: prettier --write

feat: add toolbarTitleClick
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Replace dropdown with menu
  libs/designsystem/action-group/src/action-group.component.html
  libs/designsystem/action-group/src/action-group.component.scss
  libs/designsystem/action-group/src/action-group.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Shift menu by default on viewport collision
  libs/designsystem/menu/src/menu.component.html
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Remove temporary more menu fix from dropdown
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/dropdown/src/dropdown.component.html
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.dropdown.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Use Anuglar renderer for listening and disposing listener
  libs/designsystem/dropdown/src/dropdown.component.ts
  libs/designsystem/menu/src/menu.component.ts
  libs/designsystem/types/src/event-listener-dispose-fn.ts
  libs/designsystem/types/src/public_api.ts
Due: prettier --write, eslint --fix

style: sync spacing with design spec
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/page/src/page.component.scss
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

tests: add tests for action buttons spacing
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/page/src/page.component.spec.ts
Due: prettier --write, eslint --fix
