Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

♿️ Make Home and End key press behave properly
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

Update todo-comment
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

♿️ Focus on last item if key press ArrowUp
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

⚗️ Try to remove focus outline on iOS
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
Due: prettier --write, stylelint --fix

🚧 stash commit
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

✨Introduce new user-flows app for performance test
  .eslintrc.json
  .vscode/extensions.json
  angular.json
  apps/user-flows/.browserslistrc
  apps/user-flows/.eslintrc.json
  apps/user-flows/src/app/app-routing.module.ts
  apps/user-flows/src/app/app.component.html
  apps/user-flows/src/app/app.component.spec.ts
  apps/user-flows/src/app/app.component.ts
  apps/user-flows/src/app/app.module.ts
  apps/user-flows/src/app/home/base-list.component.ts
  apps/user-flows/src/app/home/home-routing.module.ts
  apps/user-flows/src/app/home/home.module.ts
  apps/user-flows/src/app/home/home.page.html
  apps/user-flows/src/app/home/home.page.ts
  apps/user-flows/src/app/home/transaction-item/transaction-item.component.html
  apps/user-flows/src/app/home/transaction-item/transaction-item.component.ts
  apps/user-flows/src/app/home/transaction-item/transaction-item.module.ts
  apps/user-flows/src/app/home/transactions.json
  apps/user-flows/src/app/transaction.ts
  apps/user-flows/src/assets/.gitkeep
  apps/user-flows/src/environments/environment.prod.ts
  apps/user-flows/src/environments/environment.ts
  apps/user-flows/src/favicon.ico
  apps/user-flows/src/index.html
  apps/user-flows/src/main.ts
  apps/user-flows/src/polyfills.ts
  apps/user-flows/src/styles.scss
  apps/user-flows/tsconfig.app.json
  apps/user-flows/tsconfig.editor.json
  apps/user-flows/tsconfig.json
  apps/user-flows/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

➕ Add user-flows and webpack-bundle-analyzer
  angular.json
  apps/user-flows/src/app/app.component.ts
  package-lock.json
Due: prettier --write, tslint --fix

🚚 Add copy script
  package-lock.json
Due: prettier --write

Add userflow journey "foryou" page and routing
  apps/user-flows/src/app/app-routing.module.ts
  apps/user-flows/src/app/app.module.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-flow.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-flow.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-flow.component.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-foryou/transaction-details-foryou.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-foryou/transaction-details-foryou.component.scss
  apps/user-flows/src/app/transaction-details-flow/transaction-details-foryou/transaction-details-foryou.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-foryou/transaction-details-foryou.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

add account page and navigation. start on list
  apps/user-flows/src/app/app-routing.module.ts
  apps/user-flows/src/app/app.module.ts
  apps/user-flows/src/app/transaction-details-flow/tranaction-details-account/tranaction-details-account.component.html
  apps/user-flows/src/app/transaction-details-flow/tranaction-details-account/tranaction-details-account.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/tranaction-details-account/tranaction-details-account.component.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-flow.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-foryou/transaction-details-foryou.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transactions/transaction-details-transactions.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transactions/transaction-details-transactions.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transactions/transaction-details-transactions.component.ts
Due: prettier --write, tslint --fix

add overview for transactions
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transactions/transaction-details-transactions.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transactions/transaction-details-transactions.component.scss
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transactions/transaction-details-transactions.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Showing correct transaction details
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transaction-details/transaction-details-transaction-details.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transaction-details/transaction-details-transaction-details.component.ts
Due: prettier --write, tslint --fix

Routing fix and transaction details page add
  apps/user-flows/src/app/app-routing.module.ts
  apps/user-flows/src/app/app.module.ts
  apps/user-flows/src/app/transaction-details-flow/tranaction-details-account/tranaction-details-account.component.html
  apps/user-flows/src/app/transaction-details-flow/tranaction-details-account/tranaction-details-account.component.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-foryou/transaction-details-foryou.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transaction-details/transaction-details-transaction-details.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transaction-details/transaction-details-transaction-details.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transaction-details/transaction-details-transaction-details.component.ts
Due: prettier --write, tslint --fix

Renaming components: transaction and detail
  apps/user-flows/src/app/app-routing.module.ts
  apps/user-flows/src/app/app.module.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details-transactions/transaction-details-transactions.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details/transaction-details.component.html
  apps/user-flows/src/app/transaction-details-flow/transaction-details/transaction-details.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details/transaction-details.component.ts
  apps/user-flows/src/app/transaction-details-flow/transactions/transactions.component.html
  apps/user-flows/src/app/transaction-details-flow/transactions/transactions.component.scss
  apps/user-flows/src/app/transaction-details-flow/transactions/transactions.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/transactions/transactions.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Renaming foryou component
  apps/user-flows/src/app/transaction-details-flow/foryou/foryou.component.html
  apps/user-flows/src/app/transaction-details-flow/foryou/foryou.component.scss
  apps/user-flows/src/app/transaction-details-flow/foryou/foryou.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/foryou/foryou.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Renaming account component
  apps/user-flows/src/app/app-routing.module.ts
  apps/user-flows/src/app/transaction-details-flow/account/account.component.html
  apps/user-flows/src/app/transaction-details-flow/account/account.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/account/account.component.ts
  apps/user-flows/src/app/transaction-details-flow/tranaction-details-account/tranaction-details-account.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/tranaction-details-account/tranaction-details-account.component.ts
Due: prettier --write, tslint --fix

Add custom schema to app module
  apps/user-flows/src/app/app.module.ts
  apps/user-flows/src/app/transaction-details-flow/foryou/foryou.component.ts
  apps/user-flows/src/app/transaction-details-flow/transaction-details/transaction-details.component.spec.ts
Due: prettier --write, tslint --fix

Remove SCSS file and clean up
  apps/user-flows/src/app/transaction-details-flow/transaction-details/transaction-details.component.ts
  apps/user-flows/src/app/transaction-details-flow/transactions/transactions.component.ts
Due: prettier --write, tslint --fix

Remove schema from app module and clean up
  apps/user-flows/src/app/app.module.ts
  apps/user-flows/src/app/transaction-details-flow/foryou/foryou.component.spec.ts
  apps/user-flows/src/app/transaction-details-flow/foryou/foryou.component.ts
Due: prettier --write, tslint --fix

Refactor the groupedListTemplate to make it more dynamic
  libs/designsystem/src/lib/components/list/list.component.html
Due: prettier --write

Fix linting errors in the cookbook
  apps/cookbook/src/app/examples/list-example/examples/sections-with-standalone.ts
  apps/cookbook/src/app/examples/list-example/examples/stand-alone.ts
Due: prettier --write, tslint --fix

Removed deprecated tslint comments
  apps/cookbook/src/app/examples/list-example/examples/sections-with-standalone.ts
  apps/cookbook/src/app/examples/list-example/examples/stand-alone.ts
Due: prettier --write, tslint --fix

Change language attribute on cookbook to danish
  apps/cookbook/src/index.html
Due: prettier --write

fixed top content directive
  apps/cookbook/src/app/examples/page-example/simple/page-simple-example.component.ts
  libs/designsystem/src/lib/components/page/index.ts
  libs/designsystem/src/lib/components/page/page.component.html
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/page/page.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

removed cookbook example
  apps/cookbook/src/app/examples/page-example/simple/page-simple-example.component.ts
Due: prettier --write, tslint --fix

updates
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/page/page.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

removed redundant style
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Change locale on cookbook to danish
  apps/cookbook/src/app/app.module.ts
  apps/cookbook/src/index.html
Due: prettier --write, tslint --fix

Update nvm version string
  .github/CODEOWNERS
  .nvmrc
Due: none

Add back navigation on for you page
  apps/flows/src/app/transaction-details-flow/for-you/for-you.component.html
Due: prettier --write

local navigation component
  apps/cookbook/src/app/examples/page-example/simple/page-simple-example.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/page-local-navigation/index.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation-item.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.scss
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.ts
  libs/designsystem/src/lib/kirby.module.ts
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

Add toast message on card button
  apps/flows/src/app/transaction-details-flow/account/account.component.html
  apps/flows/src/app/transaction-details-flow/account/account.component.ts
Due: prettier --write, tslint --fix

Add chart for styling on for you page
  apps/flows/src/app/transaction-details-flow/for-you/for-you.component.html
  apps/flows/src/app/transaction-details-flow/for-you/for-you.component.ts
Due: prettier --write, tslint --fix
