Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

💄 Shrink vertical padding on modal footer
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

✏️ Typo
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
Due: prettier --write, tslint --fix

Fix/modal footer animation (#1204)
  apps/cookbook/src/app/examples/examples.component.scss
  apps/cookbook/src/app/examples/examples.component.ts
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
  libs/designsystem/src/lib/scss/base/_variables.scss
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark: Bumping version to 1.3.7
  package-lock.json
  package.json
Due: prettier --write

Add Expandable component
  libs/designsystem/src/lib/components/expandable/expandable.component.html
  libs/designsystem/src/lib/components/expandable/expandable.component.scss
  libs/designsystem/src/lib/components/expandable/expandable.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

Add Expandable showcase with 4 examples
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/expandable-example/examples/several-card.ts
  apps/cookbook/src/app/examples/expandable-example/examples/several.ts
  apps/cookbook/src/app/examples/expandable-example/examples/single-card.ts
  apps/cookbook/src/app/examples/expandable-example/examples/single.ts
  apps/cookbook/src/app/examples/expandable-example/expandable-example.component.html
  apps/cookbook/src/app/examples/expandable-example/expandable-example.component.ts
  apps/cookbook/src/app/examples/expandable-example/expandable-example.module.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/showcase/expandable-showcase/expandable-showcase.component.html
  apps/cookbook/src/app/showcase/expandable-showcase/expandable-showcase.component.scss
  apps/cookbook/src/app/showcase/expandable-showcase/expandable-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix, stylelint --fix

Add autogenerated mock files
  libs/designsystem/testing-base/src/lib/components/mock.expandable.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

💄 Size drawer to content
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄 Fix checkbox vertical alignment
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
Due: prettier --write, stylelint --fix

🔥 Remove obsolete template wrappers
  libs/designsystem/src/lib/components/checkbox/checkbox.component.html
Due: prettier --write

💄 Let drawer stack on modal
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
Due: prettier --write, tslint --fix

📝 Improve modal example
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.component.ts
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

💩 Comment out failing test for now
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

Rename Expandable to Accordion
  apps/cookbook/src/app/examples/accordion-example/accordion-example.component.html
  apps/cookbook/src/app/examples/accordion-example/accordion-example.component.ts
  apps/cookbook/src/app/examples/accordion-example/accordion-example.module.ts
  apps/cookbook/src/app/examples/accordion-example/examples/several-card.ts
  apps/cookbook/src/app/examples/accordion-example/examples/several.ts
  apps/cookbook/src/app/examples/accordion-example/examples/single-card.ts
  apps/cookbook/src/app/examples/accordion-example/examples/single.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/expandable-example/expandable-example.component.html
  apps/cookbook/src/app/examples/expandable-example/expandable-example.component.ts
  apps/cookbook/src/app/examples/expandable-example/expandable-example.module.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.scss
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.ts
  apps/cookbook/src/app/showcase/expandable-showcase/expandable-showcase.component.html
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  libs/designsystem/src/lib/components/accordion/accordion.component.html
  libs/designsystem/src/lib/components/accordion/accordion.component.scss
  libs/designsystem/src/lib/components/accordion/accordion.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

Add accordion auto generated mock
  libs/designsystem/testing-base/src/lib/components/mock.accordion.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

💄 Reset Ionic Card style height
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄 Replace magic number with max width variable
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

✨ Add `disabled` property
  libs/designsystem/src/lib/components/checkbox/checkbox.component.html
  libs/designsystem/src/lib/components/checkbox/checkbox.component.ts
Due: prettier --write, tslint --fix

📝 Improve Modal example
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🤡 Generate mock
  libs/designsystem/testing-base/src/lib/components/mock.checkbox.component.ts
Due: prettier --write, tslint --fix

💄 Keep same padding-top for drawer
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄 Add drawer-default-height
  libs/designsystem/src/lib/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

📝 Update example
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.scss
Due: prettier --write, stylelint --fix

💄 ♻️ Move drawer padding top to function
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄 Size drawer to content on small screens
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄 Fix safe area padding
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄 Fix backdrop opacity on drawer
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄📱 Also align drawer to bottom on phone
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

💄🎨 Clean up duplicated selectors
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

📝 Add Kirby keys
  apps/cookbook/src/app/examples/examples.component.scss
Due: prettier --write, stylelint --fix

⏪ Don't stack drawer
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

⏪ Revert backdrop style
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

✅ Fix tests
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

💄 Fix modal styles
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

✅ ✏️ Typo
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
Due: prettier --write, tslint --fix

💄 Don't freeze height on drawer
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

🚸 Animate drawer on keyboard enter/leave
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚸 Animate drawer on keyboard enter/leave on phone
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

📝Improve modal example config
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
