Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-2599-chart-configurations-for-stock-chart
  branch/kby-2599-chart-configurations-for-stock-chart/404.html
  branch/kby-2599-chart-configurations-for-stock-chart/index.html
  branch/kby-2599-chart-configurations-for-stock-chart/main.aea51ada384e7450.js
Due: prettier --write

Release: kby-2599-chart-configurations-for-stock-chart
  branch/kby-2599-chart-configurations-for-stock-chart/2091.252f8a47e532b985.js
  branch/kby-2599-chart-configurations-for-stock-chart/404.html
  branch/kby-2599-chart-configurations-for-stock-chart/index.html
  branch/kby-2599-chart-configurations-for-stock-chart/main.ef71d89ce4431bd9.js
  branch/kby-2599-chart-configurations-for-stock-chart/runtime.42bfa5fbdd5b675c.js
Due: prettier --write

Allow developers to provide a 'role' argument in the close method
  apps/cookbook/src/app/examples/modal-experimental-example/controller/modal-controller-experimental-example.component.ts
  libs/designsystem/src/lib/components/modal-experimental/services/modal.controller.ts
Due: prettier --write, eslint --fix

Release: kby-2599-chart-configurations-for-stock-chart
  branch/kby-2599-chart-configurations-for-stock-chart/404.html
  branch/kby-2599-chart-configurations-for-stock-chart/index.html
  branch/kby-2599-chart-configurations-for-stock-chart/main.85ba9d88e30775d2.js
Due: prettier --write

Add scss based grid and deprecate grid the component
  apps/cookbook/src/app/examples/grid-example/grid-example.component.html
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.html
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/components/_grid.scss
  libs/designsystem/src/lib/components/grid/grid.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-2599-chart-configurations-for-stock-chart
  branch/kby-2599-chart-configurations-for-stock-chart/2091.139209128d1a1c9d.js
  branch/kby-2599-chart-configurations-for-stock-chart/404.html
  branch/kby-2599-chart-configurations-for-stock-chart/index.html
  branch/kby-2599-chart-configurations-for-stock-chart/main.dd86ebced2f7400e.js
  branch/kby-2599-chart-configurations-for-stock-chart/runtime.16561bc4359c7784.js
Due: prettier --write

Add descriptions to grid docs
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.html
Due: prettier --write

Release: kby-2599-chart-configurations-for-stock-chart
  branch/kby-2599-chart-configurations-for-stock-chart/404.html
  branch/kby-2599-chart-configurations-for-stock-chart/5306.ae21da5ec2b4f825.js
  branch/kby-2599-chart-configurations-for-stock-chart/index.html
  branch/kby-2599-chart-configurations-for-stock-chart/main.13dd629306c7ea4c.js
  branch/kby-2599-chart-configurations-for-stock-chart/runtime.eef4147ea0ed446c.js
Due: prettier --write

Add box shadow to button
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Update attention level 3 colors
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Adjust opacity
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Align avatar shadow with other components
  libs/designsystem/src/lib/components/avatar/avatar.component.scss
Due: prettier --write, stylelint --fix

Adapt unit tests to new button look
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.spec.ts
Due: prettier --write, eslint --fix

Add elevation to segmented control
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Action sheet should use white (att. lvl 3) btn
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.html
Due: prettier --write, stylelint --fix

Adapt unit test to action sheet cancel btn color
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.spec.ts
Due: prettier --write, eslint --fix

Change elevation lvl 2 box shadow
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Release:
  branch/404.html
  branch/index.html
  branch/main.e217379a6bfee804.js
Due: prettier --write

changed ts formatter to 'Prettier'
  .vscode/settings.json
Due: prettier --write

changed ts formatter to 'Prettier' (#2626)
  .vscode/settings.json
Due: prettier --write

Remove grid component showcase leftovers
  apps/cookbook/src/app/examples/grid-example/grid-example.component.ts
Due: prettier --write, eslint --fix

Release: kby-2322-new-scss-grid
  branch/kby-2322-new-scss-grid/3975.a469ad5ce29154e7.js
  branch/kby-2322-new-scss-grid/404.html
  branch/kby-2322-new-scss-grid/730.baf14a5cf34f4044.js
  branch/kby-2322-new-scss-grid/8877.09a287cb0170bf7a.js
  branch/kby-2322-new-scss-grid/common.79b8b89d970929bf.js
  branch/kby-2322-new-scss-grid/index.html
  branch/kby-2322-new-scss-grid/main.1fe2e349b1c0b274.js
  branch/kby-2322-new-scss-grid/runtime.0ae406b0ba65a5b8.js
Due: prettier --write

Add support for data-* properties
  libs/core/src/scss/components/_grid.scss
Due: prettier --write, stylelint --fix

Release: kby-2322-new-scss-grid
  branch/kby-2322-new-scss-grid/404.html
  branch/kby-2322-new-scss-grid/index.html
  branch/kby-2322-new-scss-grid/styles.064fe63bf1ff60e0.css
Due: prettier --write

Add notice about html validtity
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.html
Due: prettier --write

Release: kby-2322-new-scss-grid
  branch/kby-2322-new-scss-grid/404.html
  branch/kby-2322-new-scss-grid/index.html
  branch/kby-2322-new-scss-grid/main.8cf5d9732c8899ad.js
Due: prettier --write

Refactor _getBoundaryClass removing headerTemplate
  libs/designsystem/src/lib/components/list/list-item/list-item.component.ts
  libs/designsystem/src/lib/components/list/list.component.spec.ts
  libs/designsystem/src/lib/components/list/list.component.ts
Due: prettier --write, eslint --fix

Release: kby-2599-chart-configurations-for-stock-chart
  branch/kby-2599-chart-configurations-for-stock-chart/404.html
  branch/kby-2599-chart-configurations-for-stock-chart/5306.45690e16be4e9f24.js
  branch/kby-2599-chart-configurations-for-stock-chart/index.html
  branch/kby-2599-chart-configurations-for-stock-chart/main.c3e6d13f9ee78bdc.js
  branch/kby-2599-chart-configurations-for-stock-chart/runtime.b3882252f508882f.js
Due: prettier --write

[push-based.io] chart component memory leak fix
  libs/designsystem/src/lib/components/charts/shared/base-chart/base-chart.component.ts
  libs/designsystem/src/lib/components/charts/shared/chart-js-service/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/charts/shared/chart-js-service/chart-js.service.ts
Due: prettier --write, eslint --fix

[push-based.io] chart component memory leak fix
  libs/designsystem/src/lib/components/charts/shared/chart-js-service/chart-js.service.spec.ts
Due: prettier --write, eslint --fix

Add component SVGS for cookbook
  apps/cookbook/src/assets/component-svg/Accordion-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Action-Sheet-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Alert-Kirby-Component-Overview.svg
  apps/cookbook/src/assets/component-svg/Avatar-Kirby-Component-Overview.svg
Due: none

Add component display for showcasing component
  apps/cookbook/src/app/component-overview/component-display/component-display.component.html
  apps/cookbook/src/app/component-overview/component-display/component-display.component.scss
  apps/cookbook/src/app/component-overview/component-display/component-display.component.spec.ts
  apps/cookbook/src/app/component-overview/component-display/component-display.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add component-configuration.json
  apps/cookbook/src/app/component-overview/component-configuration.json
  apps/cookbook/src/app/component-overview/display.ts
Due: prettier --write, eslint --fix

Add component overview
  apps/cookbook/src/app/component-overview/component-overview.component.html
  apps/cookbook/src/app/component-overview/component-overview.component.scss
  apps/cookbook/src/app/component-overview/component-overview.component.spec.ts
  apps/cookbook/src/app/component-overview/component-overview.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add routing and navigation to component overview
  apps/cookbook/src/app/app.module.ts
  apps/cookbook/src/app/app.routes.ts
  apps/cookbook/src/app/page/header/header.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
