Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-2TNXFEBZ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-4BD7SHRB.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-5TSMVOLX.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-6VD34BZ2.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-DALVILEI.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-NGFXAXOQ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-UVBM7I24.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-6LFPGPUX.js
Due: prettier --write

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/chunk-DRFQBE6M.js
  branch/kby-3578-relative-font-sizes/chunk-FPNBG2YN.js
  branch/kby-3578-relative-font-sizes/chunk-KDY2E2UT.js
  branch/kby-3578-relative-font-sizes/chunk-KNEOAFPB.js
  branch/kby-3578-relative-font-sizes/chunk-LNSI6RLI.js
  branch/kby-3578-relative-font-sizes/chunk-NJ4OIFGC.js
  branch/kby-3578-relative-font-sizes/chunk-PJJB4KWS.js
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/main-NN5JDGQQ.js
Due: prettier --write

added missing item-height check for menu
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

removed code comments
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

fixed item size for menu test
  libs/designsystem/item/item-in-menu.integration.spec.ts
Due: prettier --write, eslint --fix

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-AULGEOIW.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-C565B5UV.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-CUK2PHP2.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-IATOF3VI.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-OVZVNIET.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-PZG5OVII.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-XD54FAGQ.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-V3STJ53Z.js
Due: prettier --write

add WCAG compliance warning to toggle buttons example
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-3733-bug-missing-blue-outline-of-selectable-focus
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/404.html
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/chunk-2I7BQ2SP.js
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/chunk-4JFYBXNO.js
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/chunk-EGMA7SEO.js
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/chunk-IWFYB7R4.js
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/chunk-MKXJHJUH.js
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/chunk-P6RB52YY.js
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/chunk-X4W7CLHH.js
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/index.html
  branch/kby-3733-bug-missing-blue-outline-of-selectable-focu/main-4NSQCCGG.js
Due: prettier --write

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/chunk-24WDWMDI.js
  branch/kby-3578-relative-font-sizes/chunk-CJ25C6CG.js
  branch/kby-3578-relative-font-sizes/chunk-THLCG45H.js
  branch/kby-3578-relative-font-sizes/chunk-VXPQ3SNA.js
  branch/kby-3578-relative-font-sizes/chunk-WGGIVJ7S.js
  branch/kby-3578-relative-font-sizes/chunk-Y665HU6O.js
  branch/kby-3578-relative-font-sizes/chunk-Y7AZUJFB.js
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/main-HCL2OGSU.js
  branch/kby-3578-relative-font-sizes/styles-OOXDQFEJ.css
Due: prettier --write

Housekeeping: Exclude core from cookbook prebundling to ensure proper hot-reloading
  apps/cookbook/project.json
Due: prettier --write

Housekeeping: Exclude core from cookbook prebundling for proper reloading (#4194)
  apps/cookbook/project.json
Due: prettier --write

Convert to relative styles and support font scaling in ionic
  apps/cookbook/src/styles.scss
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_design-tokens.scss
  libs/core/src/scss/base/_typography.scss
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Replace section header specs with better coverage through visual tests
  libs/core/src/helpers/design-token-helper.ts
  libs/designsystem/section-header/src/section-header.component.spec.ts
  libs/designsystem/section-header/src/section-header.component.stories.ts
  libs/designsystem/section-header/src/section-header.integration.spec.ts
Due: prettier --write, eslint --fix

Update avatar with new tokens
  libs/designsystem/avatar/src/avatar.component.scss
Due: prettier --write, stylelint --fix

Add tabs stories for visual validation of component
  libs/core/src/scss/base/_functions.scss
  libs/designsystem/tabs/src/tabs.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Make flag use relative units and simplify code to avoid fixed height calculations
  libs/designsystem/flag/src/flag.component.scss
Due: prettier --write, stylelint --fix

fix image banner height issue
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Make xs button scale with text when text grows above btn height
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Remove difficult-to-change line-height tests that are replaced by visual tests
  libs/designsystem/form-field/src/form-field.component.spec.ts
  libs/designsystem/tabs/src/tab-button/tab-button.component.spec.ts
Due: prettier --write, eslint --fix

Use spacing instead of line-height for card header layout
  libs/designsystem/card/src/card-header/card-header.component.scss
Due: prettier --write, stylelint --fix

Hard code non-existing flag variables into tests
  libs/designsystem/flag/src/flag.component.spec.ts
Due: prettier --write, eslint --fix

Fix wrong icon-font-size value for lg
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Make checkbox label style responsive
  libs/designsystem/checkbox/src/checkbox.component.scss
Due: prettier --write, stylelint --fix

Add relative spacing tokens as CSS Custom Properties
  libs/core/src/scss/base/_design-tokens.scss
Due: prettier --write, stylelint --fix

fix rounding error
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Use correct variable for message min height
  libs/designsystem/form-field/src/form-field-message/form-field-message.component.scss
Due: prettier --write, stylelint --fix

Adjust card header
  libs/designsystem/card/src/card-header/card-header.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/chunk-4ZKXSIV7.js
  branch/kby-3578-relative-font-sizes/chunk-EAENTLUV.js
  branch/kby-3578-relative-font-sizes/chunk-FZLHVWLI.js
  branch/kby-3578-relative-font-sizes/chunk-GDF2GWV6.js
  branch/kby-3578-relative-font-sizes/chunk-RJODC46L.js
  branch/kby-3578-relative-font-sizes/chunk-XCLN4QNC.js
  branch/kby-3578-relative-font-sizes/chunk-Y52GK6H5.js
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/main-Y7GJF6UQ.js
Due: prettier --write

Solve visual differences in image banner
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Add fixes to next batch of comps
  libs/designsystem/accordion/src/accordion-item.component.scss
  libs/designsystem/action-group/src/action-group.component.scss
  libs/designsystem/badge/src/badge.component.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
Due: prettier --write, stylelint --fix

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/chunk-7C27AYGW.js
  branch/kby-3578-relative-font-sizes/chunk-7S6NJFJC.js
  branch/kby-3578-relative-font-sizes/chunk-JVPWEBHB.js
  branch/kby-3578-relative-font-sizes/chunk-KJN4LJSS.js
  branch/kby-3578-relative-font-sizes/chunk-WMU6VLJ5.js
  branch/kby-3578-relative-font-sizes/chunk-WU7L4P34.js
  branch/kby-3578-relative-font-sizes/chunk-WWFPNKQT.js
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/main-WXCMHYRL.js
Due: prettier --write

Minor Item and Header tweaks
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, stylelint --fix

Break buttons onto next line in alert if space is constrained
  libs/designsystem/modal/src/modal/alert/alert.component.scss
Due: prettier --write, stylelint --fix

Make radio fixed size and solve multiline alignment
  libs/designsystem/radio/src/radio.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/chunk-77PPYPCV.js
  branch/kby-3578-relative-font-sizes/chunk-EXPEA5GH.js
  branch/kby-3578-relative-font-sizes/chunk-GYSS56S5.js
  branch/kby-3578-relative-font-sizes/chunk-SRDMSEJK.js
  branch/kby-3578-relative-font-sizes/chunk-U2SN6CNV.js
  branch/kby-3578-relative-font-sizes/chunk-XPDBZNCX.js
  branch/kby-3578-relative-font-sizes/chunk-ZXH3ZKKJ.js
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/main-M7IYZJAX.js
Due: prettier --write

Add spacing only when both title and subtitle is present
  libs/designsystem/card/src/card-header/card-header.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3578-relative-font-sizes
  branch/kby-3578-relative-font-sizes/404.html
  branch/kby-3578-relative-font-sizes/chunk-6CSNYROA.js
  branch/kby-3578-relative-font-sizes/chunk-CWQVJEEC.js
  branch/kby-3578-relative-font-sizes/chunk-D2T7M4YG.js
  branch/kby-3578-relative-font-sizes/chunk-HVSCMC5P.js
  branch/kby-3578-relative-font-sizes/chunk-JARBOA5H.js
  branch/kby-3578-relative-font-sizes/chunk-KP6J4XSZ.js
  branch/kby-3578-relative-font-sizes/chunk-KZ7W6K5O.js
  branch/kby-3578-relative-font-sizes/index.html
  branch/kby-3578-relative-font-sizes/main-7MKOWMYD.js
Due: prettier --write

removed example for testing
  apps/cookbook/src/app/examples/item-example/examples/selectable.ts
Due: prettier --write, eslint --fix
