Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

add chromatic test
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/header/src/header.component.stories.ts
Due: prettier --write, eslint --fix

Apply suggestion from @RasmusKjeldgaard
  apps/cookbook/src/app/examples/header-example/examples/default.ts
Due: prettier --write, eslint --fix

Release: kby-4535-bug-header-subtitles-are-truncated-on-200-zo
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/404.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-4G5G7ZV2.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-CAC4XQN4.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-EQMRFNSS.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-GOYO5G2N.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-Q4EWCGTM.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/index.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-RVAJBDRG.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-SGBUTLK6.js
Due: prettier --write

add calc
  libs/designsystem/dropdown/src/dropdown.component.scss
Due: prettier --write, stylelint --fix

add truncate option
  apps/cookbook/src/app/examples/header-example/examples/truncate-subtitle.ts
  apps/cookbook/src/app/examples/header-example/header-example.component.html
  apps/cookbook/src/app/examples/header-example/header-example.component.ts
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.html
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.ts
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/header/src/header.component.stories.ts
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4535-bug-header-subtitles-are-truncated-on-200-zo
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/404.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-4G5G7ZV2.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-ARXVBC7D.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-CAC4XQN4.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-EQMRFNSS.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-FG3TPFRJ.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-GGMDJWS7.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-GOYO5G2N.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-NP7TFWXL.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-NSMVJEUS.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-QBALCDXO.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-YMEQLUBL.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-ZCXQQN3G.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/index.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-RVAJBDRG.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-S6NJJ6S3.js
Due: prettier --write

adjust details
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.html
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

Release: kby-4535-bug-header-subtitles-are-truncated-on-200-zo
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/404.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-52Y4DGOH.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-5ZK6SC65.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-6BSC3R5X.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-6UVVWJU4.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-S5SPHM3E.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-TKQBB4CB.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-ZCXQQN3G.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-ZW3G2TJZ.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/index.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-MYJ62I7P.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-S6NJJ6S3.js
Due: prettier --write

revert and adjust
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.stories.ts
  libs/designsystem/item/src/item.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/404.html
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-4UEGJPLV.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-DO7BX7RK.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-DUAYSFFP.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-INC2P36M.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-IUZZBW3G.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-NZLAHZGT.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-PFKJ4QIC.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-QOXXH6RC.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/chunk-XNJD4ZT5.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/index.html
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/main-5EYS6MA5.js
  branch/kby-4569-kirby-item-ombrydes-ikke-hvis-der-er-en-butt/main-OT3MWW5C.js
Due: prettier --write

add truncation to template
  apps/cookbook/src/app/examples/header-example/examples/subtitles.ts
Due: prettier --write, eslint --fix

Release: kby-4535-bug-header-subtitles-are-truncated-on-200-zo
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/404.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-2HZYLX2P.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-7GCL2S6D.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-SQSGWFTQ.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-ZQ23D5QH.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/chunk-ZW3G2TJZ.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/index.html
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-MYJ62I7P.js
  branch/kby-4535-bug-header-subtitles-are-truncated-on-200-zo/main-XPVXQFEK.js
Due: prettier --write

adjustments
  apps/cookbook/src/app/examples/dropdown-example/examples/form-field.ts
Due: prettier --write, eslint --fix

Release: kby-4563-bug-dropdown-is-too-large-on-text-resize-on-
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/404.html
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-5Y6OC5LA.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-E5DOVITW.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-MEEWXU2T.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-YN7JTLI7.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-YVCPI7JL.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/index.html
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/main-LRND3TU4.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/main-PRLCEB2R.js
Due: prettier --write

circle now grows to fit text for sm
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-advanced.component.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  libs/designsystem/progress-circle/src/progress-circle-ring.component.html
  libs/designsystem/progress-circle/src/progress-circle-ring.component.scss
  libs/designsystem/progress-circle/src/progress-circle-ring.component.ts
  libs/designsystem/progress-circle/src/progress-circle.component.scss
  libs/designsystem/progress-circle/src/progress-circle.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

sm pcircle grow
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-advanced.component.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  libs/designsystem/progress-circle/src/progress-circle-ring.component.spec.ts
  libs/designsystem/progress-circle/src/progress-circle.component.scss
  libs/designsystem/progress-circle/src/progress-circle.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Item: apply layout changes for icon-only buttons on text resize (#4586)
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-4UEGJPLV.js
  branch/kby-develop/chunk-DO7BX7RK.js
  branch/kby-develop/chunk-DUAYSFFP.js
  branch/kby-develop/chunk-IUZZBW3G.js
  branch/kby-develop/chunk-PFKJ4QIC.js
  branch/kby-develop/chunk-QOXXH6RC.js
  branch/kby-develop/chunk-XNJD4ZT5.js
  branch/kby-develop/chunk-YSORE2LD.js
  branch/kby-develop/index.html
  branch/kby-develop/main-5EYS6MA5.js
  branch/kby-develop/main-QIPVXRE3.js
Due: prettier --write

remove min-width
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Release: kby-4563-bug-dropdown-is-too-large-on-text-resize-on-
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/404.html
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-42CMHIVB.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-4IXL2IMW.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-AWLNTHTO.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-BBWNX2WS.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-EYOGOLAK.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-WLIYEKQG.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-YJUEXC2F.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-YKUXG5IY.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/chunk-YVCPI7JL.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/index.html
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/main-LRND3TU4.js
  branch/kby-4563-bug-dropdown-is-too-large-on-text-resize-on-/main-OWH3447W.js
Due: prettier --write

Release: kby-publish-stylelint-plugin
  branch/kby-publish-stylelint-plugin/404.html
  branch/kby-publish-stylelint-plugin/chunk-4UEGJPLV.js
  branch/kby-publish-stylelint-plugin/chunk-DO7BX7RK.js
  branch/kby-publish-stylelint-plugin/chunk-DUAYSFFP.js
  branch/kby-publish-stylelint-plugin/chunk-IUZZBW3G.js
  branch/kby-publish-stylelint-plugin/chunk-PFKJ4QIC.js
  branch/kby-publish-stylelint-plugin/chunk-QOXXH6RC.js
  branch/kby-publish-stylelint-plugin/chunk-XNJD4ZT5.js
  branch/kby-publish-stylelint-plugin/chunk-YSORE2LD.js
  branch/kby-publish-stylelint-plugin/index.html
  branch/kby-publish-stylelint-plugin/main-5EYS6MA5.js
  branch/kby-publish-stylelint-plugin/main-QIPVXRE3.js
Due: prettier --write

Release: kby-replace-scss-functions-with-tokens-2
  branch/kby-replace-scss-functions-with-tokens-2/404.html
  branch/kby-replace-scss-functions-with-tokens-2/chunk-COLHR2R7.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-K3R6TEZT.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-N6QBOS5I.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-O2CWAL5T.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-TIGXVMJJ.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-UZEFROQW.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-UZW3GQOK.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-UZYVJS4N.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-XY2W4RSP.js
  branch/kby-replace-scss-functions-with-tokens-2/index.html
  branch/kby-replace-scss-functions-with-tokens-2/main-RDBQQCEZ.js
  branch/kby-replace-scss-functions-with-tokens-2/main-VQQ5W666.js
Due: prettier --write

Release: kby-replace-scss-functions-with-tokens-2
  branch/kby-replace-scss-functions-with-tokens-2/404.html
  branch/kby-replace-scss-functions-with-tokens-2/chunk-24SJ3YPF.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-37MQY3IS.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-4DS5F54N.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-F7SXPOK6.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-HH454OWF.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-JND6TUXX.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-K3R6TEZT.js
  branch/kby-replace-scss-functions-with-tokens-2/chunk-Y7OUOH35.js
  branch/kby-replace-scss-functions-with-tokens-2/index.html
  branch/kby-replace-scss-functions-with-tokens-2/main-VQQ5W666.js
  branch/kby-replace-scss-functions-with-tokens-2/main-Y5DIOLYJ.js
Due: prettier --write

adjustments
  libs/designsystem/form-field/src/_form-field-inputs.shared.scss
  libs/designsystem/form-field/src/input/input.component.scss
  libs/designsystem/form-field/src/textarea/textarea.component.scss
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/item/src/item.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

css change
  libs/designsystem/calendar/src/calendar.component.scss
Due: prettier --write, stylelint --fix

adjust active state
  apps/cookbook/src/app/examples/item-example/examples/slots.ts
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4428-enhancement-update-text-color-for-hover-and-
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/404.html
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-DW2TMIOR.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-FS3GXSQ3.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-FWJYQQZ4.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-GBD4TRU5.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-J4FTLO5G.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-L2XDFKQG.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-PBNPCAVQ.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-TCHGCVCC.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/index.html
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/main-7PMRLOXC.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/main-TLGQWVOI.js
Due: prettier --write

remove test template
  apps/cookbook/src/app/examples/item-example/examples/slots.ts
Due: prettier --write, eslint --fix

Release: kby-4428-enhancement-update-text-color-for-hover-and-
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/404.html
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-ABUZ7ZMK.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-EDS7FZ4W.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-J4FTLO5G.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-SJ5YRG4V.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/chunk-VXJZ7BBX.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/index.html
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/main-3DZK4VSW.js
  branch/kby-4428-enhancement-update-text-color-for-hover-and-/main-7PMRLOXC.js
Due: prettier --write

boyscouting footer with test and better styling on modal drawer
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

poc for progress circle responsiveness
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  libs/designsystem/progress-circle/src/progress-circle-ring.component.html
  libs/designsystem/progress-circle/src/progress-circle-ring.component.scss
  libs/designsystem/progress-circle/src/progress-circle-ring.component.spec.ts
  libs/designsystem/progress-circle/src/progress-circle-ring.component.ts
  libs/designsystem/progress-circle/src/progress-circle.component.html
  libs/designsystem/progress-circle/src/progress-circle.component.scss
  libs/designsystem/progress-circle/src/progress-circle.component.spec.ts
  libs/designsystem/progress-circle/src/progress-circle.component.ts
Due: prettier --write, eslint --fix, stylelint --fix
