Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Fix errors in design system files
  libs/designsystem/src/lib/components/card/card-footer/card-footer.component.ts
  libs/designsystem/src/lib/components/charts/shared/chart-js-service/chartjs-plugin-marker/chartjs-plugin-marker.ts
  libs/designsystem/src/lib/components/grid/grid.component.ts
  libs/designsystem/src/lib/components/list/list-section-header/list-section-header.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/drawer-supplementary-action.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/shared/resize-observer/resize-observer.factory.ts
  libs/designsystem/src/lib/components/spinner/spinner.component.ts
  libs/designsystem/src/lib/helpers/deep-copy.ts
  libs/designsystem/src/lib/helpers/merge-deep.ts
  libs/designsystem/src/typings.test.d.ts
  libs/designsystem/testing-base/src/lib/components/mock.base-chart.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.card.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.chart.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
  libs/designsystem/testing-jasmine/src/lib/kirby-testing.module.ts
  libs/designsystem/testing-jasmine/src/lib/mock-providers.ts
  libs/designsystem/testing-jest/src/lib/kirby-testing.module.ts
  libs/designsystem/testing-jest/src/lib/mock-providers.ts
Due: prettier --write, tslint --fix

Fix errors in cookbook files
  apps/cookbook/src/app/designer/card-designer/card-designer.component.ts
  apps/cookbook/src/app/examples/avatar-example/examples/colors.ts
  apps/cookbook/src/app/examples/avatar-example/examples/image.ts
  apps/cookbook/src/app/examples/badge-example/badge-example.component.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/right-aligned.ts
  apps/cookbook/src/app/examples/fonts-example/fonts-example.component.ts
  apps/cookbook/src/app/examples/list-example/examples/colored-items.ts
  apps/cookbook/src/app/examples/list-example/examples/dividers.ts
  apps/cookbook/src/app/examples/list-example/examples/header-and-footer.ts
  apps/cookbook/src/app/examples/list-example/examples/items.ts
  apps/cookbook/src/app/examples/list-example/examples/sections-and-colored-items.ts
  apps/cookbook/src/app/examples/list-example/examples/sections.ts
  apps/cookbook/src/app/examples/list-example/examples/selectable-items.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/radio-example/examples/reactive-forms.ts
  apps/cookbook/src/app/examples/spinner-example/spinner-example.component.ts
  apps/cookbook/src/app/home/home.component.ts
  apps/cookbook/src/app/intro/intro.component.ts
  apps/cookbook/src/app/showcase/avatar-showcase/avatar-showcase.component.ts
  apps/cookbook/src/app/showcase/fonts-showcase/fonts-showcase.component.ts
  apps/cookbook/src/app/showcase/grid-showcase/grid-showcase.component.ts
  apps/cookbook/src/app/showcase/list-showcase/list-showcase.component.ts
  apps/cookbook/src/app/showcase/spinner-showcase/spinner-showcase.component.ts
  apps/cookbook/src/app/showcase/tabs-showcase/tabs-showcase.component.ts
  libs/designsystem/src/lib/helpers/deep-copy.ts
  libs/designsystem/src/lib/helpers/merge-deep.ts
Due: prettier --write, tslint --fix

♻️ use firstValueFrom for everything
  libs/designsystem/src/lib/components/modal/modal-wrapper/compact/modal-compact-wrapper.component.ts
Due: prettier --write, tslint --fix

Remove publish workflow
  .github/workflows/publish.yml
Due: none

Release: kby-update-rxjs
  branch/kby-update-rxjs/404.html
  branch/kby-update-rxjs/index.html
  branch/kby-update-rxjs/main.139c0480743e8891.js
Due: prettier --write

Assume IS_NEW_RELEASE is always true
  .github/workflows/build.yml
Due: none

Release: kby-1974-housekeeping-copy-scss-files-from-core-on-pu
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/1995.9a1c17070c4dcc07.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/3rdpartylicenses.txt
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/404.html
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/730.92f4672faaee20dd.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/7513.c8c52b10913e3235.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/8105.d062d0af38c7b35e.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/9223.db6b745c7c09f8ed.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/common.c0102f67bc4e9d74.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/index.html
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/main.64d3d6b820ce011e.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/runtime.ae15642bf5f5800a.js
  branch/kby-1974-housekeeping-copy-scss-files-from-core-on-p/styles.f06af87ae615c6eb.css
Due: prettier --write

🔨Call copyCoreDistributionFiles with correct name
  scripts/publish.js
Due: none

Disable eslint rules in utils.ts
  libs/designsystem/src/lib/components/angular-component-lib/utils.ts
Due: prettier --write, tslint --fix

Fix no fabSheet close on item select
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.html
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.scss
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Add unit-tests for fabSheet
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.spec.ts
Due: prettier --write, tslint --fix

Release: kby-2457-fab-sheet-not-automatically-closing-when-inn
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/1995.9a1c17070c4dcc07.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/3rdpartylicenses.txt
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/404.html
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/730.92f4672faaee20dd.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/7513.c8c52b10913e3235.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/8105.d062d0af38c7b35e.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/9223.db6b745c7c09f8ed.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/common.c0102f67bc4e9d74.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/index.html
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/main.d4d2d777314140d2.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/runtime.ae15642bf5f5800a.js
  branch/kby-2457-fab-sheet-not-automatically-closing-when-in/styles.f06af87ae615c6eb.css
Due: prettier --write

Streamline import paths
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix

Add utils.ts to the list of files to be ignored
  libs/designsystem/.eslintrc.json
  libs/designsystem/src/lib/components/angular-component-lib/utils.ts
Due: prettier --write, tslint --fix

Remove 'Check for new release'-step
  .github/workflows/build.yml
Due: none

Rename functions and parameters
  scripts/publish.js
Due: none

Convert host metadata to HostBinding
  apps/cookbook/src/app/examples/avatar-example/examples/colors.ts
  libs/designsystem/src/lib/components/grid/grid.component.ts
Due: prettier --write, tslint --fix

Change the type back to Function
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/drawer-supplementary-action.ts
Due: prettier --write, tslint --fix

Export BaseChart and shared types
  libs/designsystem/src/lib/components/charts/index.ts
  libs/designsystem/testing-base/src/lib/components/index.ts
  libs/designsystem/testing-base/src/lib/components/mock.base-chart.component.ts
Due: prettier --write, tslint --fix

Release: kby-1317-tslint-to-eslint
  branch/kby-1317-tslint-to-eslint/404.html
  branch/kby-1317-tslint-to-eslint/index.html
  branch/kby-1317-tslint-to-eslint/main.1adf85521c3bb6b8.js
  branch/kby-1317-tslint-to-eslint/runtime.a0b902b106045ad1.js
Due: prettier --write

Refactor groupSectionsWithStandAlone items for readability
  libs/designsystem/src/lib/components/list/helpers/list-helper.ts
Due: prettier --write, tslint --fix

Remove unused CSS
  libs/designsystem/src/lib/components/list/list.component.scss
Due: prettier --write, stylelint --fix

Refactor groupStandAloneItems for readability
  libs/designsystem/src/lib/components/list/helpers/list-helper.ts
Due: prettier --write, tslint --fix

Add rule to warn against nedsted ternary operators
  eslintrc-custom-overrides.json
Due: prettier --write

Release: kby-2342-dropdown-keyboard-navigation
  branch/kby-2342-dropdown-keyboard-navigation/404.html
  branch/kby-2342-dropdown-keyboard-navigation/index.html
  branch/kby-2342-dropdown-keyboard-navigation/main.daa062ea91885cbc.js
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

💡 Add dummy TODO comment
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

Work In Progress
  libs/designsystem/src/lib/components/dropdown/dropdown.component.html
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/item/item.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Keep focusedIndex variable updated
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/item/item.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

🚧 Clean up a bit
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

🚧 Select item on Enter/Space keypress
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

🚧 Control arrow up/down depending on open/closed
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

🐛 Only select focused item on enter/space when open
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

✅ Extend test
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

On opening move focus to selected index (if any)
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

✅ Update tests to match new behavior
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix
