Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

♻️ Document toggle style changes
  libs/core/src/scss/interaction-state/_focus.scss
  libs/designsystem/src/lib/components/toggle/toggle.component.scss
Due: prettier --write, stylelint --fix

♻️ Reorder for clarity
  libs/core/src/scss/interaction-state/_index.scss
  libs/designsystem/src/lib/components/card/card.component.scss
Due: prettier --write, stylelint --fix

📝 Update comments for focus to be more specific
  libs/core/src/scss/interaction-state/_focus.scss
Due: prettier --write, stylelint --fix

🔥 Remove todo
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

:sparkles: Allow usePopover to be turned on in calendar
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
Due: prettier --write, tslint --fix

Release: kby-2008-refactor-interaction-state-solution
  branch/kby-2008-refactor-interaction-state-solution/404.html
  branch/kby-2008-refactor-interaction-state-solution/index.html
  branch/kby-2008-refactor-interaction-state-solution/main-es2017.23b36e53bf4145653447.js
  branch/kby-2008-refactor-interaction-state-solution/main-es5.23b36e53bf4145653447.js
  branch/kby-2008-refactor-interaction-state-solution/styles.8bdcea1bdbc9e74b4773.css
Due: prettier --write

:sparkles: Allow usePopover to be turned on in calendar (#2102)
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.ts
Due: prettier --write, tslint --fix

Deprecated attention-level 4 on kirby-button (#1993)
  apps/cookbook/src/app/examples/button-example/button-example.component.html
  apps/cookbook/src/app/examples/empty-state-example/empty-state-example.component.html
  apps/cookbook/src/app/page/header/header.component.html
  apps/cookbook/src/app/page/header/header.component.scss
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/button/button.component.spec.ts
  libs/designsystem/src/lib/components/button/button.component.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/src/lib/components/empty-state/empty-state.component.integration.spec.ts
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/testing-base/src/lib/components/mock.button.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Fixed wrong cancel-button color on action-sheet (#2019)
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/modal/action-sheet/action-sheet.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

Adjust hover in components that use kirby-button (#2037)
  angular.json
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

[Enhancement] Create hover interaction state utility (#1991)
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_variables.scss
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/themes/_colors.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

Add consistent keyboard focus ring across interactive components (#2050)
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/page/side-nav/side-nav.component.scss
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/interaction-state/_focus.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/themes/_colors.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/card/card.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/chip/chip.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.scss
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/radio/radio.component.scss
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
  libs/designsystem/src/lib/components/slide-button/slide-button.component.scss
  libs/designsystem/src/lib/components/toggle/toggle.component.scss
  libs/designsystem/src/lib/directives/element-as-button/element-as-button.directive.spec.ts
  libs/designsystem/src/lib/directives/element-as-button/element-as-button.directive.ts
Due: prettier --write, tslint --fix, stylelint --fix

✅ Declare button to avoid errors in calendar test (#2053)
  libs/designsystem/src/lib/components/calendar/calendar.component.initialization.spec.ts
  libs/designsystem/src/lib/components/calendar/calendar.component.spec.ts
Due: prettier --write, tslint --fix

💄 Fine-tune loudness levels for different cases
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💄 Use undecorated kirby-buttons in calendar
  libs/designsystem/src/lib/components/calendar/calendar.component.html
Due: prettier --write

💄 Handle transparent background in _button-hover
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💄 Adjust hover on buttons in dark context
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💄 Increase alert ok button hover loudness
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💄 Reduce attention level 3 hover loudness
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

💄 Adjust hover loudness for action sheet button
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

🚧 stash commit
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💄 Remove margin from buttons in calendar
  libs/designsystem/src/lib/components/calendar/calendar.component.html
Due: prettier --write

🚧 Make PoC with state layer
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.html
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

⚗️ Try to use state layer in calendar
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

⚗️ Continue experiment with state layer
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.html
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💄 Fix icon positioning in buttons
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.html
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/button/button.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🚧 separate button specific styles for content from generic layer styles
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

🚧 separate hover styles from generic layer styles
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🔥 Do not use parenthesis with argument-less mixins
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💡 add todo comments
  libs/core/src/scss/interaction-state/_hover.scss
Due: prettier --write, stylelint --fix

🔥 Do not use parenthesis with argument-less mixins
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

💡 Add comments
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🚚 Rename mixins
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_state-layer.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

🔥 Clean up
  libs/core/src/scss/interaction-state/_hover.scss
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/calendar/calendar.component.scss
Due: prettier --write, stylelint --fix

♻️ Extract generic interaction state layer styles
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_state-layer.scss
Due: prettier --write, stylelint --fix

♻️ Extract state layer styles for all states
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_state-layer.scss
Due: prettier --write, stylelint --fix

♻️ Rename module
  libs/core/src/scss/interaction-state/_hover.scss
  libs/core/src/scss/interaction-state/_index.scss
  libs/core/src/scss/interaction-state/_layer.scss
Due: prettier --write, stylelint --fix

🔥 Clean up
  libs/core/src/scss/interaction-state/_hover.scss
Due: prettier --write, stylelint --fix
