Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

add title prop to simple example
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.ts
Due: prettier --write, eslint --fix

add title prop
  apps/cookbook/src/app/examples/slides-example/slides-advanced-example/slides-advanced-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-advanced-example/slides-advanced-example.component.ts
  apps/cookbook/src/app/examples/slides-example/slides-code-snippets.ts
  apps/cookbook/src/app/examples/slides-example/slides-height-example/slides-height-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-height-example/slides-height-example.component.ts
Due: prettier --write, eslint --fix

Add missing Ionic provider
  libs/designsystem/config/src/provide-kirby.ts
Due: prettier --write, eslint --fix

Release: kby-iphone-imagebanner-fix
  branch/kby-iphone-imagebanner-fix/404.html
  branch/kby-iphone-imagebanner-fix/assets/kirby/icons/svg/payment.svg
  branch/kby-iphone-imagebanner-fix/assets/kirby/icons/svg/star-fill.svg
  branch/kby-iphone-imagebanner-fix/assets/kirby/icons/svg/star.svg
  branch/kby-iphone-imagebanner-fix/index.html
  branch/kby-iphone-imagebanner-fix/main.23f1145d28c46c92.js
Due: prettier --write

removed unused import of kirby module in examples routing module, causing multiple instances of ion-modal
  apps/cookbook/src/app/examples/examples-routing.module.ts
Due: prettier --write, eslint --fix

Release: kby-3951-optional-global-config-in-provider-func
  branch/kby-3951-optional-global-config-in-provider-func/404.html
  branch/kby-3951-optional-global-config-in-provider-func/index.html
  branch/kby-3951-optional-global-config-in-provider-func/main.ef9daff3abd86d67.js
Due: prettier --write

Tweak showcase
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write

Release: kby-pad-precision-digits
  branch/kby-pad-precision-digits/404.html
  branch/kby-pad-precision-digits/index.html
  branch/kby-pad-precision-digits/main.7128050614289892.js
Due: prettier --write

Housekeeping: Removed unused import of kirby module in examples routing module (#3966)
  apps/cookbook/src/app/examples/examples-routing.module.ts
Due: prettier --write, eslint --fix

Added kirby link class.
  apps/cookbook/src/app/examples/link-example/examples/button.ts
  apps/cookbook/src/app/examples/link-example/link-example.component.html
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/components/_button-link.scss
  libs/designsystem/link/src/link.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Modify existing test
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Add test for placing focus back on activating element
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix

Queue focus to allow ionic code to run first
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Removed LinkComponent.
  apps/cookbook/src/app/examples/link-example/examples/button.ts
  libs/core/src/scss/components/_button-link.scss
  libs/designsystem/link/src/link.component.scss
  libs/designsystem/link/src/link.component.spec.ts
  libs/designsystem/link/src/link.component.stories.ts
  libs/designsystem/link/src/link.component.ts
  libs/designsystem/link/src/public_api.ts
Due: prettier --write, eslint --fix, stylelint --fix

Modal: fixed focus not correctly restored to activating element on dismiss (#3969)
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix

Release: kby-iphone-imagebanner-fix
  branch/kby-iphone-imagebanner-fix/404.html
  branch/kby-iphone-imagebanner-fix/6837.087b7901b9bf14fb.js
  branch/kby-iphone-imagebanner-fix/index.html
  branch/kby-iphone-imagebanner-fix/main.e3dc9c0492c6c9f9.js
  branch/kby-iphone-imagebanner-fix/runtime.177a2f32bee395bf.js
Due: prettier --write

Release: kby-pad-precision-digits
  branch/kby-pad-precision-digits/404.html
  branch/kby-pad-precision-digits/6837.087b7901b9bf14fb.js
  branch/kby-pad-precision-digits/index.html
  branch/kby-pad-precision-digits/main.14af02e4423c4f09.js
  branch/kby-pad-precision-digits/runtime.177a2f32bee395bf.js
Due: prettier --write

added custom heading and adjust template
  apps/cookbook/src/app/examples/_examples.shared.scss
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/slides-example/examples/_shared.scss
  apps/cookbook/src/app/examples/slides-example/examples/slides-advanced.component.ts
  apps/cookbook/src/app/examples/slides-example/examples/slides-custom-heading.component.ts
  apps/cookbook/src/app/examples/slides-example/examples/slides-height.component.ts
  apps/cookbook/src/app/examples/slides-example/examples/slides-simple.component.ts
  apps/cookbook/src/app/examples/slides-example/slides-advanced-example/slides-advanced-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-code-snippets.ts
  apps/cookbook/src/app/examples/slides-example/slides-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-example.component.ts
  apps/cookbook/src/app/examples/slides-example/slides-height-example/slides-height-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-simple-example/slides-simple-example.component.ts
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/slide/src/slides.component.html
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3858-enhancement-allow-custom-heading-markup-for-
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/404.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/9678.962d9f4c57cb3308.js
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/index.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/main.0f4ea6cf72668c07.js
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/runtime.10fc4b63ccc2d727.js
Due: prettier --write

Image Banner: fixed missing image and overlay on mobile Safari (#3937)
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

example frames added
  apps/cookbook/src/app/examples/_examples.shared.scss
  apps/cookbook/src/app/examples/slides-example/examples/slides-advanced.component.ts
  apps/cookbook/src/app/examples/slides-example/examples/slides-custom-heading.component.ts
  apps/cookbook/src/app/examples/slides-example/examples/slides-height.component.ts
  apps/cookbook/src/app/examples/slides-example/slides-example.component.html
  apps/cookbook/src/app/showcase/_showcase.shared.scss
Due: prettier --write, eslint --fix, stylelint --fix

Input: added option for decimal mask to pad precision digits (#3949)
  apps/cookbook/src/app/examples/form-field-example/examples/input/pad-precision-digits.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.ts
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.spec.ts
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, eslint --fix

label adjeusted
  apps/cookbook/src/app/examples/_examples.shared.scss
  apps/cookbook/src/app/examples/label-example/label-example.component.html
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.html
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3918-housekeeping-improve-docs-on-when-to-use-kir
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/404.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/5193.1833ad7bcefae097.js
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/index.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/main.481a14ccafb1b47d.js
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/runtime.643aa09b37d3abcd.js
Due: prettier --write

Add migration notes and readme docs
  MIGRATION.md
  readme.md
Due: prettier --write

adjustments
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.html
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-3918-housekeeping-improve-docs-on-when-to-use-kir
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/404.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/index.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/main.c4d8b65aaec99649.js
Due: prettier --write

adjust routes
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/slides-example/slides-example.component.ts
Due: prettier --write, eslint --fix

Release: kby-3858-enhancement-allow-custom-heading-markup-for-
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/404.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/9678.43af3b5d23f0fe5b.js
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/index.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/main.7ea063c5e1a5defb.js
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/runtime.331f8b4292e7c827.js
Due: prettier --write

direct routes adjust
  apps/cookbook/src/app/examples/examples.routes.ts
Due: prettier --write, eslint --fix

Release: kby-3858-enhancement-allow-custom-heading-markup-for-
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/404.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/9678.01d2da4578ecb3cd.js
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/index.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/runtime.a4d78324a1b00c9f.js
Due: prettier --write

add description columns
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.html
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-3918-housekeeping-improve-docs-on-when-to-use-kir
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/404.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/index.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/main.82d0d2b96fdb31f2.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
