Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-http-proxy-middleware-2-0-10
  branch/kby-http-proxy-middleware-2-0-10/404.html
  branch/kby-http-proxy-middleware-2-0-10/chunk-2GS6VTJQ.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-2IILWM7E.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-3PAHFFPG.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-EVIYSULC.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-F5XEYBHY.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-JIZQIC3G.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-VQX3WZ44.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-WY2AKPHG.js
  branch/kby-http-proxy-middleware-2-0-10/index.html
  branch/kby-http-proxy-middleware-2-0-10/main-BJDPPBFJ.js
  branch/kby-http-proxy-middleware-2-0-10/main-FZXBIQFU.js
Due: prettier --write

review adjustments
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, eslint --fix

Release: kby-4719-bug-formfield-paste-number-into-decimal-mask
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/404.html
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-5BYJF7C5.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-CCCVBDCB.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-CRONFNAC.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-G3ZNS5BY.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-K2UVFUQB.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-VVE7HPO5.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-XHTGCZPJ.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/chunk-ZADINRQQ.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/index.html
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/main-5FNVWW3Z.js
  branch/kby-4719-bug-formfield-paste-number-into-decimal-mask/main-7NETKLLJ.js
Due: prettier --write

Form field: fix decimal padding on paste (#4720)
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.spec.ts
  libs/designsystem/form-field/src/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-5BYJF7C5.js
  branch/kby-develop/chunk-CCCVBDCB.js
  branch/kby-develop/chunk-CRONFNAC.js
  branch/kby-develop/chunk-G3ZNS5BY.js
  branch/kby-develop/chunk-K2UVFUQB.js
  branch/kby-develop/chunk-VVE7HPO5.js
  branch/kby-develop/chunk-WY2AKPHG.js
  branch/kby-develop/chunk-XHTGCZPJ.js
  branch/kby-develop/index.html
  branch/kby-develop/main-5FNVWW3Z.js
  branch/kby-develop/main-FZXBIQFU.js
Due: prettier --write

Bump @angular/animations and @angular/platform-browser-dynamic to 21.2.23
  package-lock.json
  package.json
Due: prettier --write

Release: kby-4646-bug-keyboard-covers-input-fields-in-modal-2
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/404.html
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-C2GLBNBZ.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-FDDBRZHN.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-NM74O56V.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-PIQOTHK5.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-PR2PVLFO.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-T7TSVGJE.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-W24XRDGG.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/chunk-XR4G3CJ7.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/index.html
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/main-PPDKTJJ5.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal-2/main-V4SESANU.js
Due: prettier --write

Test: assert precise --kirby-keyboard-content-overlap on modal wrapper (#4646)
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.integration.spec.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-35Q77PTC.js
  branch/kby-develop/chunk-62L2JCH4.js
  branch/kby-develop/chunk-CRONFNAC.js
  branch/kby-develop/chunk-DY4R3DCE.js
  branch/kby-develop/chunk-FIYASV75.js
  branch/kby-develop/chunk-HI43RLXE.js
  branch/kby-develop/chunk-O5AU4IQU.js
  branch/kby-develop/chunk-XHTGCZPJ.js
  branch/kby-develop/chunk-ZKZOOT6S.js
  branch/kby-develop/index.html
  branch/kby-develop/main-5FNVWW3Z.js
  branch/kby-develop/main-SOUD4YE5.js
Due: prettier --write

add available max height
  apps/cookbook/src/app/examples/dropdown-example/examples/scroll.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/popover/src/popover.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

add tests
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/dropdown/src/dropdown.component.stories.ts
  libs/designsystem/popover/src/popover.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4501-bug-dropdown-can-grow-outside-the-viewport-o
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/404.html
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-4624HJLV.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-4YUC4YUM.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-64JHK6IA.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-DMV673ES.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-KY2UGYVJ.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-KZHPAZ7Z.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-SHCGGIUG.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-XF5WBPKR.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/index.html
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/main-4A2J7YHQ.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/main-4QHSTTBQ.js
Due: prettier --write

tiny rename adjust
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  libs/designsystem/dropdown/src/dropdown.component.scss
  libs/designsystem/popover/src/popover.component.spec.ts
  libs/designsystem/popover/src/popover.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4501-bug-dropdown-can-grow-outside-the-viewport-o
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/404.html
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-3N7EXSXQ.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-7DERCH4R.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-ALPOFA5G.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-DMV673ES.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-GSCRZV7J.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-JHGLSGRY.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-K2NCCLWD.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-L5GYTHFD.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/index.html
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/main-4A2J7YHQ.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/main-QTG7GMN4.js
Due: prettier --write

chromatic test small viewport
  libs/designsystem/dropdown/src/dropdown.component.stories.ts
Due: prettier --write, eslint --fix

adjust test with consts
  libs/designsystem/popover/src/popover.component.spec.ts
Due: prettier --write, eslint --fix

refactor: simplify Cookbook imports
  apps/cookbook/package.json
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.ts
  apps/cookbook/src/app/showcase/action-sheet-showcase/action-sheet-showcase.component.ts
  apps/cookbook/src/app/showcase/alert-showcase/alert-showcase.component.ts
  apps/cookbook/src/app/showcase/avatar-showcase/avatar-showcase.component.ts
  apps/cookbook/src/app/showcase/badge-showcase/badge-showcase.component.ts
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  apps/cookbook/src/app/showcase/card-showcase/card-showcase.component.ts
  apps/cookbook/src/app/showcase/chart-showcase/base-chart-api.ts
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.ts
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.ts
  apps/cookbook/src/app/showcase/data-table-showcase/data-table-showcase.component.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
  apps/cookbook/src/app/showcase/empty-state-showcase/empty-state-showcase.component.ts
  apps/cookbook/src/app/showcase/fab-sheet-showcase/fab-sheet-showcase.component.ts
  apps/cookbook/src/app/showcase/flag-showcase/flag-showcase.component.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.ts
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.ts
  apps/cookbook/src/app/showcase/icon-showcase/icon-showcase.component.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.ts
  apps/cookbook/src/app/showcase/item-sliding-showcase/item-sliding-showcase.component.ts
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.ts
  apps/cookbook/src/app/showcase/list-showcase/list-showcase.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
  apps/cookbook/src/app/showcase/page-tab-navigation-showcase/tab-navigation-showcase.component.ts
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.ts
  apps/cookbook/src/app/showcase/radio-showcase/radio-showcase.component.ts
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
  apps/cookbook/src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.ts
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.ts
  apps/cookbook/src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
  apps/cookbook/src/app/showcase/slide-button-showcase/slide-button-showcase.component.ts
  apps/cookbook/src/app/showcase/stock-chart-showcase/stock-chart-showcase.component.ts
  apps/cookbook/src/app/showcase/tabs-showcase/tabs-showcase.component.ts
  apps/cookbook/src/app/showcase/toast-showcase/toast-showcase.component.ts
  apps/cookbook/src/app/showcase/toggle-button-showcase/toggle-button-showcase.component.ts
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.ts
Due: prettier --write, eslint --fix

move to helper function incl spec
  libs/designsystem/popover/src/popover.component.spec.ts
  libs/designsystem/popover/src/popover.component.ts
  libs/designsystem/popover/src/popover.helper.spec.ts
  libs/designsystem/popover/src/popover.helper.ts
Due: prettier --write, eslint --fix

Release: kby-4501-bug-dropdown-can-grow-outside-the-viewport-o
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/404.html
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-3A4Z24UL.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-4TVIGN23.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-64VBE4NO.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-775WYVQK.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-GSCRZV7J.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-KV6BHJRH.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-L5GYTHFD.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-TPZXELDQ.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/chunk-YWO5KZMS.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/index.html
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/main-QTG7GMN4.js
  branch/kby-4501-bug-dropdown-can-grow-outside-the-viewport-o/main-V4DDDLZF.js
Due: prettier --write

designsystem: fix modal-wrapper spec dist/src type conflict
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.integration.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

ci: use --legacy-peer-deps for npm ci in kirby-setup
  .github/actions/kirby-setup/action.yml
Due: none

storybook: fix build-storybook for designsystem and extensions-angular
  libs/designsystem/.storybook/preview.ts
  libs/designsystem/.storybook/tsconfig.json
  libs/designsystem/accordion/src/accordion-item.component.stories.ts
  libs/designsystem/calendar/src/calendar.component.stories.ts
  libs/designsystem/dropdown/src/dropdown.component.stories.ts
  libs/designsystem/header/src/header.component.stories.ts
  libs/designsystem/item/src/item.component.stories.ts
  libs/designsystem/package.json
  libs/designsystem/page/src/page.component.stories.ts
  libs/designsystem/slide/src/slides.component.stories.ts
  libs/designsystem/tabs/src/tabs.component.stories.ts
  libs/extensions/angular/.storybook/preview.ts
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  package-lock.json
  tools/storybook-config/package.json
Due: prettier --write, eslint --fix

storybook: restore Chromatic modes
  libs/designsystem/.storybook/preview.ts
  libs/designsystem/.storybook/tsconfig.json
  libs/designsystem/accordion/src/accordion-item.component.stories.ts
  libs/designsystem/calendar/src/calendar.component.stories.ts
  libs/designsystem/dropdown/src/dropdown.component.stories.ts
  libs/designsystem/header/src/header.component.stories.ts
  libs/designsystem/item/src/item.component.stories.ts
  libs/designsystem/page/src/page.component.stories.ts
  libs/designsystem/slide/src/slides.component.stories.ts
  libs/designsystem/tabs/src/tabs.component.stories.ts
  libs/extensions/angular/.storybook/preview.ts
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/tsconfig.json
  package-lock.json
  tools/storybook-config/package.json
Due: prettier --write, eslint --fix
