Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Create Cookbook example story for Icon
  apps/cookbook/src/app/examples/icon-example/icon-example.module.ts
  libs/designsystem/icon/src/icon.component.stories.ts
Due: prettier --write, eslint --fix

Remove Icon example from Examples declaration
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/icon-example/icon-example.module.ts
Due: prettier --write, eslint --fix

Make checkbox fetching label work
  libs/designsystem/checkbox/src/checkbox.component.html
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/checkbox/src/checkbox.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Do not move checkbox label from item
  libs/designsystem/item/src/item.component.ts
Due: prettier --write, eslint --fix

Add aria-label docs
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
  apps/cookbook/src/app/showcase/radio-showcase/radio-showcase.component.html
Due: prettier --write

Add additional end slot content to legacy stories
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

Clean up item
  libs/designsystem/item/src/item.component.ts
Due: prettier --write, eslint --fix

Make checkbox fetching label work
  libs/designsystem/checkbox/src/checkbox.component.html
  libs/designsystem/radio/src/radio.component.html
  libs/designsystem/radio/src/radio.component.scss
  libs/designsystem/radio/src/radio.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Use shared functionality for label stuff
  libs/designsystem/checkbox/src/checkbox.component.ts
  libs/designsystem/radio/src/radio.component.ts
  libs/designsystem/shared/src/controls/label-helpers.ts
  libs/designsystem/shared/src/public_api.ts
Due: prettier --write, eslint --fix

Adjust radio stories to match checkbox
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-item-opt-out-with-aria-label
  branch/kby-item-opt-out-with-aria-label/404.html
  branch/kby-item-opt-out-with-aria-label/assets/kirby/icons/svg/drag-drop.svg
  branch/kby-item-opt-out-with-aria-label/index.html
  branch/kby-item-opt-out-with-aria-label/main.6da63addedcd3d29.js
  branch/kby-item-opt-out-with-aria-label/runtime.bb986b85d0d55950.js
Due: prettier --write

Add clarifying comments
  libs/designsystem/checkbox/src/checkbox.component.ts
  libs/designsystem/radio/src/radio.component.ts
Due: prettier --write, eslint --fix

Clean up
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/project.json
  libs/designsystem/radio/src/radio.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-item-opt-out-with-aria-label
  branch/kby-item-opt-out-with-aria-label/404.html
  branch/kby-item-opt-out-with-aria-label/index.html
  branch/kby-item-opt-out-with-aria-label/main.f111f123a9d92ed5.js
Due: prettier --write

Wait for content init to make sure label is present
  libs/designsystem/checkbox/src/checkbox.component.ts
  libs/designsystem/radio/src/radio.component.ts
Due: prettier --write, eslint --fix

Release: kby-item-opt-out-with-aria-label
  branch/kby-item-opt-out-with-aria-label/404.html
  branch/kby-item-opt-out-with-aria-label/index.html
  branch/kby-item-opt-out-with-aria-label/main.8b47130fba016826.js
Due: prettier --write

Checkbox, Radio: infer label text when used with label and item (#3657)
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
  apps/cookbook/src/app/showcase/radio-showcase/radio-showcase.component.html
  libs/designsystem/checkbox/src/checkbox.component.html
  libs/designsystem/checkbox/src/checkbox.component.scss
  libs/designsystem/checkbox/src/checkbox.component.ts
  libs/designsystem/item/src/item.component.stories.ts
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/project.json
  libs/designsystem/radio/src/radio.component.html
  libs/designsystem/radio/src/radio.component.scss
  libs/designsystem/radio/src/radio.component.ts
  libs/designsystem/shared/src/controls/label-helpers.ts
  libs/designsystem/shared/src/public_api.ts
Due: prettier --write, eslint --fix, stylelint --fix

Icons: Add basket, contract, expand, flower, house and tractor (#3641)
  libs/designsystem/icon/src/icons/svg/basket.svg
  libs/designsystem/icon/src/icons/svg/contract.svg
  libs/designsystem/icon/src/icons/svg/expand.svg
  libs/designsystem/icon/src/icons/svg/flower.svg
  libs/designsystem/icon/src/icons/svg/house.svg
  libs/designsystem/icon/src/icons/svg/tractor.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Icon: Add drag-drop (#3661)
  libs/designsystem/icon/src/icons/svg/drag-drop.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Bump designsystem version to 9.7.1
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Bump package versions
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release v10.1.0 (#3662)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release: kby-develop
  branch/kby-develop/2372.cb60a26a29e84654.js
  branch/kby-develop/3rdpartylicenses.txt
  branch/kby-develop/404.html
  branch/kby-develop/5766.c3b181597339b800.js
  branch/kby-develop/7565.a4b84f435e0ea1ac.js
  branch/kby-develop/8996.f33459cbe9876901.js
  branch/kby-develop/common.29fcd6b366cdb34d.js
  branch/kby-develop/index.html
  branch/kby-develop/main.c4e84eb995de1c93.js
  branch/kby-develop/runtime.fcf71726bf3e1cd5.js
Due: prettier --write

Release: designsystem
  2372.cb60a26a29e84654.js
  3rdpartylicenses.txt
  404.html
  5766.c3b181597339b800.js
  7565.a4b84f435e0ea1ac.js
  8996.f33459cbe9876901.js
  assets/kirby/icons/svg/basket.svg
  assets/kirby/icons/svg/contract.svg
  assets/kirby/icons/svg/drag-drop.svg
  assets/kirby/icons/svg/expand.svg
  assets/kirby/icons/svg/flower.svg
  assets/kirby/icons/svg/house.svg
  assets/kirby/icons/svg/tractor.svg
  common.29fcd6b366cdb34d.js
  index.html
  main.c4e84eb995de1c93.js
  runtime.fcf71726bf3e1cd5.js
  styles.f0f918f914f57c19.css
Due: prettier --write

Add missing icon svg paths
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Bump designsystem to 9.7.2
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release: kby-3612-create-cookbook-example-story-for-icon
  branch/kby-3612-create-cookbook-example-story-for-icon/2372.cb60a26a29e84654.js
  branch/kby-3612-create-cookbook-example-story-for-icon/3rdpartylicenses.txt
  branch/kby-3612-create-cookbook-example-story-for-icon/404.html
  branch/kby-3612-create-cookbook-example-story-for-icon/5766.c3b181597339b800.js
  branch/kby-3612-create-cookbook-example-story-for-icon/7565.7612f2e1f95e9e12.js
  branch/kby-3612-create-cookbook-example-story-for-icon/8996.f33459cbe9876901.js
  branch/kby-3612-create-cookbook-example-story-for-icon/common.29fcd6b366cdb34d.js
  branch/kby-3612-create-cookbook-example-story-for-icon/index.html
  branch/kby-3612-create-cookbook-example-story-for-icon/main.c4e84eb995de1c93.js
  branch/kby-3612-create-cookbook-example-story-for-icon/runtime.30b7d9d85355159a.js
Due: prettier --write

Housekeeping: Create Cookbook example story for Icon (#3659)
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/icon-example/icon-example.module.ts
  libs/designsystem/icon/src/icon.component.stories.ts
Due: prettier --write, eslint --fix

Experiement with container queries in image-banner
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add scss exports to core
  libs/core/package.json
  package-lock.json
Due: prettier --write

Minor changes
  libs/extensions/angular/image-banner/src/image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Respect existing imports during generation
  custom-elements-manifest.config.mjs
  tools/generate-proxies/generate-angular-proxies.ts
Due: prettier --write, eslint --fix

Update image-banner.component.scss
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix
