Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Fix checkbox and label alignment when text is resized
  libs/designsystem/checkbox/src/checkbox.component.scss
Due: prettier --write, stylelint --fix

fix: uniform height
  libs/designsystem/form-field/src/input/input.component.scss
Due: prettier --write, stylelint --fix

adjust list
  apps/cookbook/src/app/examples/accordion-example/examples/list.ts
Due: prettier --write, eslint --fix

dependon cookbook added
  libs/designsystem/project.json
Due: prettier --write

Image Banner: do not show focus outline on click (#4091)
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Tabs WIP
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/badge/src/badge.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
  libs/designsystem/tabs/src/tabs.component.scss
Due: prettier --write, stylelint --fix

Use Ionic dynamic typography
  apps/cookbook/src/styles.scss
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_typography.scss
Due: prettier --write, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/index.html
  branch/kby-develop/main.96902401ac155ad5.js
Due: prettier --write

Add a11y addon to designsystem storybook
  libs/designsystem/.storybook/main.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add a11y addon to extensions storybook
  libs/extensions/angular/.storybook/main.ts
Due: prettier --write, eslint --fix

Lazy inject Router in ModalNavigationService
  libs/designsystem/modal/src/modal-navigation.service.ts
Due: prettier --write, eslint --fix

address review comments
  libs/extensions/angular/package.json
  libs/extensions/angular/sidebar-menu/src/components/menu-item-content/menu-item-content.component.scss
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-footer/index.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-footer/sidebar-footer.component.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-header/index.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar-header/sidebar-header.component.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/index.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-sidebar-menu
  branch/kby-sidebar-menu/404.html
  branch/kby-sidebar-menu/index.html
  branch/kby-sidebar-menu/main.96902401ac155ad5.js
Due: prettier --write

Lazy inject Route in ModalNavigationService
  libs/designsystem/modal/src/modal-navigation.service.ts
Due: prettier --write, eslint --fix

Dropdown: reserve transparent button border to prevent 1px layout shift on error state
  apps/cookbook/src/app/examples/form-field-example/examples/input/error.ts
  libs/designsystem/dropdown/src/dropdown.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix imports
  apps/cookbook/src/app/examples/form-field-example/examples/input/error.ts
Due: prettier --write, eslint --fix

Extract focus to own public function and reuse in onSiblingModalRouteActivated
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Dropdown: switch error styling from border to outline to avoid size shift
  libs/designsystem/dropdown/src/dropdown.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3788-dropdown-formfield-alignment-fix
  branch/kby-3788-dropdown-formfield-alignment-fix/404.html
  branch/kby-3788-dropdown-formfield-alignment-fix/index.html
  branch/kby-3788-dropdown-formfield-alignment-fix/main.8d7920867ed7dbe4.js
Due: prettier --write

Dropdown: reserve transparent button border to prevent 1px layout shi… (#4100)
  apps/cookbook/src/app/examples/form-field-example/examples/input/error.ts
  libs/designsystem/dropdown/src/dropdown.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add test
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Add public API for focusTitle
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal.interfaces.ts
Due: prettier --write, eslint --fix

Add docs
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

Typo
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

Release: kby-3896-focus-removed-from-modal-on-navigation
  branch/kby-3896-focus-removed-from-modal-on-navigation/404.html
  branch/kby-3896-focus-removed-from-modal-on-navigation/index.html
  branch/kby-3896-focus-removed-from-modal-on-navigation/main.6175f859be592663.js
Due: prettier --write

Modal: fix focus being lost when component in outlet changes (#4102)
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal.interfaces.ts
Due: prettier --write, eslint --fix

Testing: add storybook a11y addon (#4099)
  libs/designsystem/.storybook/main.ts
  libs/extensions/angular/.storybook/main.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

adjustments
  apps/cookbook/src/app/examples/accordion-example/examples/card-list.ts
  apps/cookbook/src/app/examples/accordion-example/examples/card.ts
  apps/cookbook/src/app/examples/accordion-example/examples/default.ts
  apps/cookbook/src/app/examples/accordion-example/examples/events.ts
  apps/cookbook/src/app/examples/accordion-example/examples/expanded.ts
  apps/cookbook/src/app/examples/accordion-example/examples/heading-level.ts
  apps/cookbook/src/app/examples/accordion-example/examples/list.ts
Due: prettier --write, eslint --fix

test add standalone true
  libs/designsystem/accordion/src/accordion-item.component.ts
  libs/designsystem/accordion/src/accordion.directive.ts
Due: prettier --write, eslint --fix

pagecontentcomponent imports
  apps/cookbook/src/app/examples/label-example/examples/direction.ts
  apps/cookbook/src/app/examples/list-example/examples/colored-items.ts
  apps/cookbook/src/app/examples/list-example/examples/header-and-footer.ts
  apps/cookbook/src/app/examples/list-example/examples/sections-and-colored-items.ts
  apps/cookbook/src/app/examples/list-example/examples/sections-with-standalone.ts
  apps/cookbook/src/app/examples/list-example/examples/sections.ts
  apps/cookbook/src/app/examples/list-example/examples/selectable-items.ts
  apps/cookbook/src/app/examples/list-example/examples/stand-alone.ts
Due: prettier --write, eslint --fix

add imports
  apps/cookbook/src/app/examples/card-example/examples/disclosure.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/counter.ts
  apps/cookbook/src/app/examples/form-field-example/examples/textarea/counter.ts
  apps/cookbook/src/app/examples/form-field-example/examples/textarea/reactive-forms.ts
  apps/cookbook/src/app/examples/grid-example/grid-example.component.ts
  apps/cookbook/src/app/examples/header-example/examples/action-group.ts
Due: prettier --write, eslint --fix
