Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

🎨 Merge toHaveStyle+toHaveThemeColorStyle => toHaveComputedStyle
  src/kirby/components/button/button.component.integration.spec.ts
  src/kirby/components/button/button.component.spec.ts
Due: prettier --write, tslint --fix

:art: Return tokens as strings
  src/kirby/helpers/design-token-helper.ts
Due: prettier --write, tslint --fix

:wrench: Global jasmine custom matcher registration
  src/kirby/components/button/button.component.integration.spec.ts
  src/kirby/components/button/button.component.spec.ts
  src/test.ts
Due: prettier --write, tslint --fix

:wrench: Add typings
  src/kirby/components/button/button.component.integration.spec.ts
  src/kirby/components/button/button.component.spec.ts
  src/typings.test.d.ts
Due: prettier --write, tslint --fix

refactored loadingoverlayservice to prevent 'portal error' (#854)
  src/kirby/components/loading-overlay/fullscreen-loading-overlay/loading-overlay.service.ts
  src/kirby/index.ts
Due: prettier --write, tslint --fix

:bookmark: Bumping version to 0.8.73
  package-lock.json
  package.json
Due: prettier --write

:recycle: Fix tests
  src/kirby/components/button/button.component.integration.spec.ts
  src/kirby/components/button/button.component.spec.ts
Due: prettier --write, tslint --fix

:pencil2: Fix tests
  src/kirby/components/button/button.component.spec.ts
Due: prettier --write, tslint --fix

:pencil2: Typo
  src/kirby/helpers/design-token-helper.ts
Due: prettier --write, tslint --fix

:pencil2: Typo
  src/kirby/components/button/button.component.spec.ts
Due: prettier --write, tslint --fix

:ok_hand: Changes from review
  src/kirby/testing/test-helper.ts
Due: prettier --write, tslint --fix

Add/integration tests (#855)
  package-lock.json
  package.json
  src/app/examples/button-example/button-example.component.ts
  src/app/examples/chip-example/chip-example.component.ts
  src/app/examples/divider-example/divider-example.component.ts
  src/app/iphone/iphone.component.ts
  src/kirby/components/button/button.component.integration.spec.ts
  src/kirby/components/button/button.component.scss
  src/kirby/components/button/button.component.spec.ts
  src/kirby/components/checkbox/checkbox.component.spec.ts
  src/kirby/components/form-field/input/input.component.spec.ts
  src/kirby/components/form-field/textarea/textarea.component.spec.ts
  src/kirby/components/item/item.component.spec.ts
  src/kirby/components/item/label/label.component.spec.ts
  src/kirby/components/list/directives/infinite-scroll.directive.spec.ts
  src/kirby/components/list/list.component.spec.ts
  src/kirby/components/tabs/tab-button/tab-button.component.spec.ts
  src/kirby/components/tabs/tabs.component.spec.ts
  src/kirby/components/toolbar/toolbar.component.spec.ts
  src/kirby/helpers/color-helper.scss
  src/kirby/helpers/color-helper.ts
  src/kirby/helpers/design-token-helper.scss
  src/kirby/helpers/design-token-helper.ts
  src/kirby/testing/element-css-custom-matchers.d.ts
  src/kirby/testing/element-css-custom-matchers.ts
  src/kirby/testing/test-helper.ts
  src/test.ts
  src/typings.test.d.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark: Bumping version to 0.8.74
  package-lock.json
  package.json
Due: prettier --write

fix(input): fixed default value of counter when used with late binding
  src/kirby/components/form-field/input/input.component.ts
Due: prettier --write, tslint --fix

:bug: outside visible on swipe
  src/kirby/components/item/item.component.html
  src/kirby/components/item/item.component.scss
Due: prettier --write, stylelint --fix

:bug: Fixed item swipe containment in safari
  src/kirby/components/list/list.component.scss
Due: prettier --write, stylelint --fix

:memo: Added comment
  src/kirby/components/list/list.component.scss
Due: prettier --write, stylelint --fix

Disabled button color changed to semi-light-base
  src/kirby/components/button/button.component.scss
  src/kirby/components/button/button.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

Disabled button color changed to semi-light-base (#867)
  src/kirby/components/button/button.component.scss
  src/kirby/components/button/button.component.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark: Bumping version to 0.8.75
  package-lock.json
  package.json
Due: prettier --write

Add CheckboxComponent mock to KirbyTestingModule (#852)
  src/kirby/index.ts
  src/kirby/testing/kirby-testing.module.ts
Due: prettier --write, tslint --fix

:bookmark: Bumping version to 0.8.76
  package-lock.json
  package.json
Due: prettier --write

fix(input): fixed default value of counter when used with late binding (#859)
  src/kirby/components/form-field/input/input.component.ts
Due: prettier --write, tslint --fix

:bookmark: Bumping version to 0.8.77
  package-lock.json
  package.json
Due: prettier --write

:bug: outside visible on swipe (#862)
  src/kirby/components/item/item.component.html
  src/kirby/components/item/item.component.scss
Due: prettier --write, stylelint --fix

:bookmark: Bumping version to 0.8.78
  package-lock.json
  package.json
Due: prettier --write

Extend ModalController spy in TestingModule
  src/kirby/testing/kirby-testing.module.ts
Due: prettier --write, tslint --fix

:zap: running ionScroll outside angular zone
  src/kirby/components/list/directives/infinite-scroll.directive.ts
Due: prettier --write, tslint --fix

:zap: Bette trackBy for sections
  src/kirby/components/list/list.component.html
  src/kirby/components/list/list.component.ts
Due: prettier --write, tslint --fix

:white_check_mark: fixed tests
  src/kirby/components/list/directives/infinite-scroll.directive.spec.ts
Due: prettier --write, tslint --fix

Extend ModalController spy in TestingModule (#869)
  src/kirby/testing/kirby-testing.module.ts
Due: prettier --write, tslint --fix

:bookmark: Bumping version to 0.8.79
  package-lock.json
  package.json
Due: prettier --write

:fire: removed unneeded vendor prefixes.
  src/kirby/components/list/list.component.scss
Due: prettier --write, stylelint --fix

863/item-corners-on-swipe-safari (#864)
  src/kirby/components/list/list.component.scss
Due: prettier --write, stylelint --fix

:bookmark: Bumping version to 0.8.80
  package-lock.json
  package.json
Due: prettier --write

fix(input): fixed max. characters slice
  src/kirby/components/form-field/input/input.component.ts
Due: prettier --write, tslint --fix

feat(fit-heading): add truncation for multi-line text
  src/app/examples/examples.common.ts
  src/app/examples/examples.routes.ts
  src/app/examples/page-example/advanced/page-custom-title-example.component.ts
  src/app/examples/page-example/truncate-heading/truncate-heading-example.component.ts
  src/app/showcase/page-showcase/page-showcase.component.html
  src/app/showcase/page-showcase/page-showcase.component.ts
  src/kirby/components/page/page.component.scss
  src/kirby/components/page/page.component.ts
  src/kirby/directives/fit-heading/fit-heading.directive.ts
  src/kirby/scss/base/_typography.scss
Due: prettier --write, tslint --fix, stylelint --fix

Perf/performance update to kirby list (#870)
  src/kirby/components/list/directives/infinite-scroll.directive.spec.ts
  src/kirby/components/list/directives/infinite-scroll.directive.ts
  src/kirby/components/list/list.component.html
  src/kirby/components/list/list.component.ts
Due: prettier --write, tslint --fix

:bookmark: Bumping version to 0.8.81
  package-lock.json
  package.json
Due: prettier --write

Create pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
