Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release v8.4.1 (#3031)
  package-lock.json
  package.json
Due: prettier --write

enhancement: add support for progress circle in header (#3028)
  apps/cookbook/src/app/examples/header-example/examples/progress-circle-with-avatar.ts
  apps/cookbook/src/app/examples/header-example/header-example.component.html
  apps/cookbook/src/app/examples/header-example/header-example.module.ts
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.html
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.spec.ts
  libs/designsystem/header/src/header.component.ts
Due: prettier --write, eslint --fix

fix: remove hidden title and refactor title and value layout (#3027)
  libs/designsystem/header/src/header.component.html
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

Release: kby-1986-desktop-ready-carousel
  branch/kby-1986-desktop-ready-carousel/1648.6132a2d17ce4cbf3.js
  branch/kby-1986-desktop-ready-carousel/404.html
  branch/kby-1986-desktop-ready-carousel/5565.4650e72b01ad5c9b.js
  branch/kby-1986-desktop-ready-carousel/common.3a791de89b1e5737.js
  branch/kby-1986-desktop-ready-carousel/index.html
  branch/kby-1986-desktop-ready-carousel/main.e65b8232395b8a41.js
  branch/kby-1986-desktop-ready-carousel/runtime.d972f6ec23efe165.js
Due: prettier --write

fix: align attentionLevel getter and setter type
  libs/designsystem/button/src/button.component.ts
Due: prettier --write, eslint --fix

packaging: bump version
  package-lock.json
  package.json
Due: prettier --write

fix: align attentionLevel getter and setter type (#3034)
  libs/designsystem/button/src/button.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Release: designsystem
  404.html
  5565.6b60d58af5fc3a5a.js
  index.html
  main.e2da8d5dbe226ef6.js
  runtime.f4ff76c1bfc23033.js
Due: prettier --write

Add sm, md and lg sizes to modal on large screens
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/modal/src/modal-wrapper/config/modal-config.ts
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix, stylelint --fix

Adapt modal wrapper to larger screen sizes
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Make drawer and modal header buttons similar
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Use existing (unused) ModalSize for non-fullscreen sizes
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/modal/src/modal-wrapper/config/modal-config.ts
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove shared example scss from modal example
  apps/cookbook/src/app/examples/modal-example/modal-example.component.scss
Due: prettier --write, stylelint --fix

Make drawer and modal medium sized by default
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix

Adjust design of small, medium and large modal on larger screens
  libs/core/src/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

WIP: Update showcase examples with size selector
  apps/cookbook/src/app/examples/examples.component.ts
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write, eslint --fix

Fix spacings of toolbar, footer and collapsible title
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal/footer/modal-footer.component.scss
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Adjust modal title and toolbar paddings
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal/footer/modal-footer.component.scss
Due: prettier --write, stylelint --fix

Do not show footer in examples by default
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, eslint --fix

Make icon in close button in header comsistent across flavors
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
Due: prettier --write

Align modal wrapper tests to new design
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Use dropdown for size selection in modal config
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Make no button decoration for custom interact-with-background behavior
  libs/designsystem/button/src/button.component.scss
Due: prettier --write, stylelint --fix

Align modals tests to design changes
  libs/designsystem/modal/src/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix

Preserve interact-with-background drawer functionality on desktop
  libs/core/src/scss/_global-styles.scss
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix, stylelint --fix

Temporarily remove flaky modal helper test suite
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix

Make header border appear on scroll on mobile
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix failing tests
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix

Remove magin on buttons in modal header and footer
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/modal/src/modal/footer/modal-footer.component.scss
  libs/designsystem/modal/src/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Adjust paddings for correct header height
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Move snapFooterToKeyboard to example config
  apps/cookbook/src/app/examples/examples.component.ts
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
Due: prettier --write, eslint --fix

Remove unused imports
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
Due: prettier --write, eslint --fix

Revert whitespace change
  apps/cookbook/src/app/examples/examples.component.ts
Due: prettier --write, eslint --fix

Reorder modal size variables
  libs/core/src/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

Remove unnecessary modal shadow margin
  libs/core/src/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

Refactor global styles for readability
  libs/core/src/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
