Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/assets/kirby/icons/svg/message-read.svg
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-B6LLSZWW.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-BLOFTY23.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-DOBMGAWD.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-FCHJXZCK.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-GE4XLDBI.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-L6H4F3PO.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-XDC75OMT.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-PZFTJBKU.js
Due: prettier --write

fontsize md adjust to 16px
  libs/designsystem/button/src/button.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

adjust test
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix

adjust deault fontsize in test
  libs/designsystem/button/src/button.component.spec.ts
Due: prettier --write, eslint --fix

test adjust
  libs/designsystem/button/src/button.component.integration.spec.ts
Due: prettier --write, eslint --fix

Adjust md font size and make badge size relative
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Release: kby-segmented-control-font-resize-cap
  branch/kby-segmented-control-font-resize-cap/404.html
  branch/kby-segmented-control-font-resize-cap/chunk-B2FZP45Z.js
  branch/kby-segmented-control-font-resize-cap/chunk-DAMIBUYV.js
  branch/kby-segmented-control-font-resize-cap/chunk-DI4IWHAQ.js
  branch/kby-segmented-control-font-resize-cap/chunk-JPXJLCJ6.js
  branch/kby-segmented-control-font-resize-cap/chunk-NRVBRGAW.js
  branch/kby-segmented-control-font-resize-cap/chunk-ORUND3GS.js
  branch/kby-segmented-control-font-resize-cap/chunk-T5BBJQA7.js
  branch/kby-segmented-control-font-resize-cap/index.html
  branch/kby-segmented-control-font-resize-cap/main-S2GC4SAW.js
Due: prettier --write

Revert font-size change
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Release: kby-segmented-control-font-resize-cap
  branch/kby-segmented-control-font-resize-cap/404.html
  branch/kby-segmented-control-font-resize-cap/chunk-2K7ZFMWT.js
  branch/kby-segmented-control-font-resize-cap/chunk-2VCKOPNA.js
  branch/kby-segmented-control-font-resize-cap/chunk-3XVMIQZD.js
  branch/kby-segmented-control-font-resize-cap/chunk-72AMXFUW.js
  branch/kby-segmented-control-font-resize-cap/chunk-C6QYBZAF.js
  branch/kby-segmented-control-font-resize-cap/chunk-QLR2V6UJ.js
  branch/kby-segmented-control-font-resize-cap/chunk-ZMJFOMT6.js
  branch/kby-segmented-control-font-resize-cap/index.html
  branch/kby-segmented-control-font-resize-cap/main-W2NWPMOB.js
Due: prettier --write

Fix badge size for reverted font size
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Release: kby-segmented-control-font-resize-cap
  branch/kby-segmented-control-font-resize-cap/404.html
  branch/kby-segmented-control-font-resize-cap/chunk-GL2XZBCT.js
  branch/kby-segmented-control-font-resize-cap/chunk-LZUAZBMQ.js
  branch/kby-segmented-control-font-resize-cap/chunk-MYGY6LSZ.js
  branch/kby-segmented-control-font-resize-cap/chunk-Q6YK6AQT.js
  branch/kby-segmented-control-font-resize-cap/chunk-SDDQIDCM.js
  branch/kby-segmented-control-font-resize-cap/chunk-TNO3IAVV.js
  branch/kby-segmented-control-font-resize-cap/chunk-VMEHCPEF.js
  branch/kby-segmented-control-font-resize-cap/index.html
  branch/kby-segmented-control-font-resize-cap/main-CUO7MNZM.js
Due: prettier --write

Convert Segmented Control to secondary entry
  libs/designsystem/segmented-control/index.ts
  libs/designsystem/segmented-control/ng-package.json
  libs/designsystem/segmented-control/src/index.ts
  libs/designsystem/segmented-control/src/public_api.ts
  libs/designsystem/segmented-control/src/segment-item.ts
  libs/designsystem/segmented-control/src/segmented-control.component.html
  libs/designsystem/segmented-control/src/segmented-control.component.scss
  libs/designsystem/segmented-control/src/segmented-control.component.spec.ts
  libs/designsystem/segmented-control/src/segmented-control.component.stories.ts
  libs/designsystem/segmented-control/src/segmented-control.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write, eslint --fix, stylelint --fix

Move directives to matching entry points
  libs/designsystem/modal/src/modal-router-link.directive.ts
  libs/designsystem/modal/src/public_api.ts
  libs/designsystem/shared/src/key-handler/key-handler.directive.ts
  libs/designsystem/shared/src/public_api.ts
  libs/designsystem/src/lib/directives/index.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, eslint --fix

add poc implementation
  apps/cookbook/src/app/examples/list-example/examples/header-and-footer.ts
  apps/cookbook/src/app/examples/list-example/list-example.component.html
  apps/cookbook/src/app/examples/list-shared/base-list.component.ts
  apps/cookbook/src/app/showcase/list-showcase/list-showcase.component.html
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/config/src/provide-kirby.ts
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/item/src/label/label.component.scss
  libs/designsystem/shared/src/preferred-text-scale/preferred-text-scale.service.ts
  libs/designsystem/shared/src/public_api.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix icon font size tests
  libs/core/src/helpers/design-token-helper.ts
Due: prettier --write, eslint --fix

Align text in label start slot properle
  libs/designsystem/item/src/label/label.component.scss
Due: prettier --write, stylelint --fix

Adjust implementation to better share scss utils
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/item/src/label/label.component.scss
Due: prettier --write, stylelint --fix

Add story for validating behavior
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-4243-adjust-item-layout-text-resize
  branch/kby-4243-adjust-item-layout-text-resize/404.html
  branch/kby-4243-adjust-item-layout-text-resize/chunk-2QZKFBKJ.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-BASTRQSX.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-MO7CBDHP.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-RMT5LE7G.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-XBONYLDC.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-XIPZJ5WE.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-YYJG5HWK.js
  branch/kby-4243-adjust-item-layout-text-resize/index.html
  branch/kby-4243-adjust-item-layout-text-resize/main-OG2BG3PV.js
Due: prettier --write

Do not change layout when item has interactive inside
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/item/src/label/label.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Apply suggestion from @RasmusKjeldgaard
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

dlt forwardatributes
  libs/designsystem/progress-circle/src/progress-circle.component.ts
Due: prettier --write, eslint --fix

dlt forward attributes
  libs/designsystem/progress-circle/src/progress-circle.component.ts
Due: prettier --write, eslint --fix

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-642TAOVZ.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-LAK5IHFX.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-NBQO5RUV.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-O3SOXL57.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-OBZOKYAM.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-QBYD43KF.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-YSJM6B2J.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-UQZ5K7JV.js
Due: prettier --write

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-43CD4TIM.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-GXPZNAOL.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-POLSP2TO.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-R27VYPRA.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-SBKN4VJX.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-XHE2VRQU.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-YPFTD5YI.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-HV5GY72B.js
Due: prettier --write

review comments
  apps/cookbook/src/app/examples/progress-circle-example/examples/animated.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/avatar.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/card.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-percent.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/default.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/sizes.ts
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.html
Due: prettier --write, eslint --fix

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-5NJGMJJX.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-AHORMPG4.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-QR3MLHQN.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-USKJQEY6.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-CMGDOZPW.js
Due: prettier --write

text adjust
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.html
Due: prettier --write

dlt txt
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.html
Due: prettier --write

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-5G6YHM3O.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-QE7KS533.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-5IN76MIH.js
Due: prettier --write

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-4DIEILK4.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-P6YSLRLP.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-HA43MWIA.js
Due: prettier --write

readded ally attributes
  libs/designsystem/menu/src/menu.component.html
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

removed unused functions
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

label adjust
  apps/cookbook/src/app/examples/progress-circle-example/examples/animated.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/avatar.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-percent.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/content-steps.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/default.ts
  apps/cookbook/src/app/examples/progress-circle-example/examples/sizes.ts
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.html
Due: prettier --write, eslint --fix

Apply suggestions from code review
  apps/cookbook/src/app/showcase/progress-circle-showcase/progress-circle-showcase.component.html
Due: prettier --write

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-BSZ7P2UW.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-COOXKHS5.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-CRYT33NQ.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-NLYJGSAM.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-SONSPQJN.js
Due: prettier --write

Release: kby-3948-enhancement-add-docs-or-functionality-for-pr
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/404.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-FH74VXRJ.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/chunk-IMVAYPXB.js
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/index.html
  branch/kby-3948-enhancement-add-docs-or-functionality-for-p/main-UH7LD3BZ.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
