Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Bundle versions bump
  .github/dependabot.yml
Due: none

Release: kby-bundle-dependabot
  branch/kby-bundle-dependabot/404.html
  branch/kby-bundle-dependabot/chunk-56LCMK4G.js
  branch/kby-bundle-dependabot/chunk-5VCRMQRJ.js
  branch/kby-bundle-dependabot/chunk-AY3MODPY.js
  branch/kby-bundle-dependabot/chunk-DQMDIA5K.js
  branch/kby-bundle-dependabot/chunk-EMYUCBZG.js
  branch/kby-bundle-dependabot/chunk-FPULINQX.js
  branch/kby-bundle-dependabot/chunk-IOIYTWXW.js
  branch/kby-bundle-dependabot/chunk-L2QSZUZ5.js
  branch/kby-bundle-dependabot/chunk-VQCP53VS.js
  branch/kby-bundle-dependabot/index.html
  branch/kby-bundle-dependabot/main-B2V6HJVK.js
  branch/kby-bundle-dependabot/main-EKBNDZ6R.js
Due: prettier --write

Add security group
  .github/dependabot.yml
Due: none

Loading-overlay: apply overflow hidden only if loading spinner is showing (#4698)
  libs/designsystem/loading-overlay/src/loading-overlay.component.html
  libs/designsystem/loading-overlay/src/loading-overlay.component.scss
  libs/designsystem/loading-overlay/src/loading-overlay.component.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Tooling: Bundle dependabot package versions bump (#4696)
  .github/dependabot.yml
Due: none

Modal: fix keyboard overlap computed against 0 viewport height (#4646)
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

Release: v11.11.1 (#4702)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

add cap title font size
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

Ignore all major bumps
  .github/dependabot.yml
Due: none

Tooling: Ignore all major bumps (#4710)
  .github/dependabot.yml
Due: none

Modal: cap text size in toolbar (#4715)
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/chunk-4S5CCP6K.js
  branch/kby-develop/chunk-7VYYAPTN.js
  branch/kby-develop/chunk-CZKCBUAS.js
  branch/kby-develop/chunk-FPULINQX.js
  branch/kby-develop/chunk-OC2FLGAW.js
  branch/kby-develop/chunk-PQADUAXH.js
  branch/kby-develop/chunk-RKN4HGW6.js
  branch/kby-develop/chunk-RQ63GX4C.js
  branch/kby-develop/index.html
  branch/kby-develop/main-B2V6HJVK.js
  branch/kby-develop/main-MDM5D2Y4.js
Due: prettier --write

Bump package versions
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release: v11.11.2 (#4716)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

Release: kby-http-proxy-middleware-2-0-10
  branch/kby-http-proxy-middleware-2-0-10/404.html
  branch/kby-http-proxy-middleware-2-0-10/chunk-4S5CCP6K.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-7VYYAPTN.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-CZKCBUAS.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-FPULINQX.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-OC2FLGAW.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-PQADUAXH.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-RKN4HGW6.js
  branch/kby-http-proxy-middleware-2-0-10/chunk-RQ63GX4C.js
  branch/kby-http-proxy-middleware-2-0-10/index.html
  branch/kby-http-proxy-middleware-2-0-10/main-B2V6HJVK.js
  branch/kby-http-proxy-middleware-2-0-10/main-MDM5D2Y4.js
Due: prettier --write

Release: kby-brace-expansion-1-1-21
  branch/kby-brace-expansion-1-1-21/404.html
  branch/kby-brace-expansion-1-1-21/chunk-4S5CCP6K.js
  branch/kby-brace-expansion-1-1-21/chunk-7VYYAPTN.js
  branch/kby-brace-expansion-1-1-21/chunk-CZKCBUAS.js
  branch/kby-brace-expansion-1-1-21/chunk-FPULINQX.js
  branch/kby-brace-expansion-1-1-21/chunk-OC2FLGAW.js
  branch/kby-brace-expansion-1-1-21/chunk-PQADUAXH.js
  branch/kby-brace-expansion-1-1-21/chunk-RKN4HGW6.js
  branch/kby-brace-expansion-1-1-21/chunk-RQ63GX4C.js
  branch/kby-brace-expansion-1-1-21/index.html
  branch/kby-brace-expansion-1-1-21/main-B2V6HJVK.js
  branch/kby-brace-expansion-1-1-21/main-MDM5D2Y4.js
Due: prettier --write

Release: kby-4646-bug-keyboard-covers-input-fields-in-modal
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/404.html
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-2DYI6S33.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-2WJYE6X6.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-3V5F5C6F.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-JRJVXLOU.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-NKFK5F5F.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-T3R2MFQP.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-VPGN2WZ7.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/chunk-ZSTTI5VS.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/index.html
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/main-ALOAX5S6.js
  branch/kby-4646-bug-keyboard-covers-input-fields-in-modal/main-OAVFV6SL.js
Due: prettier --write

Modal: add fallback for keyboard offset calculation (#4709)
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, eslint --fix

add new icons
  libs/designsystem/icon/src/icons/svg/person-blocked.svg
  libs/designsystem/icon/src/icons/svg/person-check.svg
  libs/designsystem/icon/src/icons/svg/person-close.svg
  libs/designsystem/icon/src/icons/svg/person-cloud.svg
  libs/designsystem/icon/src/icons/svg/person-power.svg
  libs/designsystem/icon/src/icons/svg/person-warning.svg
  libs/designsystem/icon/src/icons/svg/phone-device-pin.svg
  libs/designsystem/icon/src/icons/svg/phone-device.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
