Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

🔥 Remove example stylesheet and wrapping div
  apps/cookbook/src/app/examples/styling-list-example/styling-list-example.component.html
  apps/cookbook/src/app/examples/styling-list-example/styling-list-example.component.scss
  apps/cookbook/src/app/examples/styling-list-example/styling-list-example.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🐛 Fix bug where ol was a ul
  apps/cookbook/src/app/examples/styling-list-example/styling-list-example.component.html
Due: prettier --write

Release: kby-1391-default-list-styling
  branch/kby-1391-default-list-styling/404.html
  branch/kby-1391-default-list-styling/index.html
  branch/kby-1391-default-list-styling/main-es2015.534db395911b3c7f52f8.js
  branch/kby-1391-default-list-styling/main-es5.534db395911b3c7f52f8.js
Due: prettier --write

💄 Change list-item-line-height
  libs/designsystem/src/lib/scss/base/_list.scss
Due: prettier --write, stylelint --fix

🎨 Change unitless function to strip-unit
  libs/designsystem/src/lib/scss/base/_functions.scss
  libs/designsystem/src/lib/scss/base/_list.scss
Due: prettier --write, stylelint --fix

Release: kby-1391-default-list-styling
  branch/kby-1391-default-list-styling/404.html
  branch/kby-1391-default-list-styling/index.html
  branch/kby-1391-default-list-styling/main-es2015.3464182f8e281974ae30.js
  branch/kby-1391-default-list-styling/main-es5.3464182f8e281974ae30.js
  branch/kby-1391-default-list-styling/styles.0d94c2a5538c0a7b9ddf.css
Due: prettier --write

:white_check_mark: Add 1 ms to delay in 'open dropdown within...' test
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
Due: prettier --write, tslint --fix

Release: kby-popover
  branch/kby-popover/404.html
  branch/kby-popover/index.html
  branch/kby-popover/main-es2015.8189e33a9dd0c52cc6e7.js
  branch/kby-popover/main-es5.8189e33a9dd0c52cc6e7.js
Due: prettier --write

:recycle: Create integration tests file, move tests there
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.integration.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown-popover.component.spec.ts
Due: prettier --write, tslint --fix

:recycle: Replace the use of 'unset' with 'initial'
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
Due: prettier --write, stylelint --fix

Release: kby-popover
  branch/kby-popover/404.html
  branch/kby-popover/index.html
  branch/kby-popover/main-es2015.2f44e7411092cd2ad498.js
  branch/kby-popover/main-es5.2f44e7411092cd2ad498.js
Due: prettier --write

:fire: Remove TODO comments
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:recycle: Use 'initial' instead of 'unset' for card widths
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:recycle: Rename '--width' to '--kirby-card-width'
  libs/designsystem/src/lib/components/card/card.component.scss
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Release: kby-popover
  branch/kby-popover/404.html
  branch/kby-popover/index.html
  branch/kby-popover/main-es2015.4d40d27234987ca4abef.js
  branch/kby-popover/main-es5.4d40d27234987ca4abef.js
Due: prettier --write

Release: kby-popover
  branch/kby-popover/404.html
  branch/kby-popover/index.html
  branch/kby-popover/main-es2015.8f71cb79b37b128d116f.js
  branch/kby-popover/main-es5.8f71cb79b37b128d116f.js
Due: prettier --write

:memo: Enable usePopover in dropdown cookbook examples
  apps/cookbook/src/app/examples/dropdown-example/examples/attention-level.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/custom-item-template.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/default.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/expand.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/item-select.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/ng-forms.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/pre-selected.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/right-aligned.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/scroll.ts
Due: prettier --write, tslint --fix

:heavy_plus_sign: Use include-media npm package
  libs/designsystem/src/lib/scss/base/_include-media.scss
  package-lock.json
  package.json
Due: prettier --write, stylelint --fix

:sparkles: Introduce 'size' input property
  libs/core/src/components/badge/badge.component.tsx
  libs/core/src/components/badge/readme.md
  libs/designsystem/src/lib/components/web-component-proxies.component.ts
Due: prettier --write, tslint --fix

:recycle: Redo 'badgeContent' getter
  libs/core/src/components/badge/badge.component.tsx
Due: none

:lipstick: Add styling for badge with size = sm
  libs/core/src/components/badge/badge.component.scss
Due: prettier --write, stylelint --fix

:recycle: Move and rename getClassList & getClassMap
  libs/core/src/components/badge/badge.component.tsx
  libs/core/src/helpers/css-classes-helper.ts
Due: prettier --write, tslint --fix

:white_check_mark: Update test to include 'md' class
  libs/core/src/components/badge/badge.component.spec.ts
Due: prettier --write, tslint --fix

Added additional help for the modal navigation.
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

Added some more links to the Angular API.
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

Release: kby-modal-cookbook-update
  branch/kby-modal-cookbook-update/404.html
  branch/kby-modal-cookbook-update/index.html
  branch/kby-modal-cookbook-update/main-es2015.c815c6540b039ac199e5.js
  branch/kby-modal-cookbook-update/main-es5.c815c6540b039ac199e5.js
Due: prettier --write

Correct small typo
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

Release: kby-modal-cookbook-update
  branch/kby-modal-cookbook-update/404.html
  branch/kby-modal-cookbook-update/index.html
  branch/kby-modal-cookbook-update/main-es2015.d565a02afdad8d0659b5.js
  branch/kby-modal-cookbook-update/main-es5.d565a02afdad8d0659b5.js
Due: prettier --write

Added additional help for the modal navigation. (#1800)
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

:fire: Remove unused --kirby_internal_min-screen-width
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
Due: prettier --write, stylelint --fix

:recycle: Use named constants for min-width values
  libs/designsystem/src/lib/components/dropdown/dropdown.component.scss
Due: prettier --write, stylelint --fix

Release: kby-popover
  branch/kby-popover/404.html
  branch/kby-popover/index.html
  branch/kby-popover/main-es2015.97e2c89229d945041216.js
  branch/kby-popover/main-es5.97e2c89229d945041216.js
Due: prettier --write
