Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Release: kby-3370-convert-badge-to-lit-component
  branch/kby-3370-convert-badge-to-lit-component/404.html
  branch/kby-3370-convert-badge-to-lit-component/index.html
  branch/kby-3370-convert-badge-to-lit-component/main.8b91261488f18052.js
Due: prettier --write

missing end argument in slice for examples
  apps/cookbook/src/app/examples/accordion-example/examples/card-list.ts
  apps/cookbook/src/app/examples/accordion-example/examples/list.ts
Due: prettier --write, eslint --fix

Release: kby-3551-enhancement-make-kirby-list-work-out-of-the-
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/404.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/index.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/main.18549761d4a1095a.js
Due: prettier --write

Do not change state if button is disabled
  libs/designsystem/toggle-button/src/toggle-button.component.ts
Due: prettier --write, eslint --fix

Simplify template
  libs/designsystem/toggle-button/src/toggle-button.component.html
Due: prettier --write

Add tests
  libs/designsystem/toggle-button/src/toggle-button.component.spec.ts
Due: prettier --write, eslint --fix

Add disabled example to cookbook
  apps/cookbook/src/app/examples/toggle-button-example/toggle-button-example.component.ts
Due: prettier --write, eslint --fix

Enhance readability
  libs/designsystem/toggle-button/src/toggle-button.component.ts
Due: prettier --write, eslint --fix

Toggle Button: respect disabled state of slotted buttons (#3633)
  apps/cookbook/src/app/examples/toggle-button-example/toggle-button-example.component.ts
  libs/designsystem/toggle-button/src/toggle-button.component.html
  libs/designsystem/toggle-button/src/toggle-button.component.spec.ts
  libs/designsystem/toggle-button/src/toggle-button.component.ts
Due: prettier --write, eslint --fix

Release: kby-3605-add-keyboard-support-to-slide-button
  branch/kby-3605-add-keyboard-support-to-slide-button/404.html
  branch/kby-3605-add-keyboard-support-to-slide-button/index.html
  branch/kby-3605-add-keyboard-support-to-slide-button/main.887ddea9082c060d.js
Due: prettier --write

Expose focus ring mixin and apply it to slider thumb
  libs/core/src/scss/interaction-state/_focus.scss
  libs/designsystem/slide-button/src/slide-button.component.scss
Due: prettier --write, stylelint --fix

Add key up/down host listeners to existing mouse up/down methods
  libs/designsystem/slide-button/src/slide-button.component.ts
Due: prettier --write, eslint --fix

make slide button inert when isSlideDone is true
  libs/designsystem/slide-button/src/slide-button.component.html
Due: prettier --write

Release: kby-3605-add-keyboard-support-to-slide-button
  branch/kby-3605-add-keyboard-support-to-slide-button/404.html
  branch/kby-3605-add-keyboard-support-to-slide-button/index.html
  branch/kby-3605-add-keyboard-support-to-slide-button/main.7742cc2f0fcc7206.js
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Use staticDir instead of angular assets config
  libs/extensions/angular/.storybook/main.ts
  libs/extensions/angular/project.json
Due: prettier --write, eslint --fix

Update story with new image url
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
Due: prettier --write, eslint --fix

🔊 warn if tagName is missing
  libs/core/src/internal/kirby-element.ts
Due: prettier --write, eslint --fix

typo
  libs/core/package.json
Due: prettier --write

throw error if tagName is missing
  libs/core/src/internal/kirby-element.ts
Due: prettier --write, eslint --fix

Release: kby-3370-convert-badge-to-lit-component
  branch/kby-3370-convert-badge-to-lit-component/404.html
  branch/kby-3370-convert-badge-to-lit-component/index.html
  branch/kby-3370-convert-badge-to-lit-component/main.3f569704d3f9f4a3.js
Due: prettier --write

Release: kby-3370-convert-badge-to-lit-component
  branch/kby-3370-convert-badge-to-lit-component/3485.d651c2a8eb84f1d3.js
  branch/kby-3370-convert-badge-to-lit-component/404.html
  branch/kby-3370-convert-badge-to-lit-component/8996.e46d0b4919f162c7.js
  branch/kby-3370-convert-badge-to-lit-component/index.html
  branch/kby-3370-convert-badge-to-lit-component/main.a33b06df4b61dfe6.js
  branch/kby-3370-convert-badge-to-lit-component/runtime.e5dceaef86be411d.js
Due: prettier --write

typo
  libs/core/src/internal/kirby-element.ts
Due: prettier --write, eslint --fix

🔇 avoid warning in getter
  libs/designsystem/badge/src/badge.component.ts
Due: prettier --write, eslint --fix

🗑️ deprecate `badge.text` prop
  libs/core/src/badge/badge.element.ts
Due: prettier --write, eslint --fix

Release: kby-3551-enhancement-make-kirby-list-work-out-of-the-
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/404.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/index.html
  branch/kby-3551-enhancement-make-kirby-list-work-out-of-the/main.73bd66e5bb162c69.js
Due: prettier --write

Housekeeping: Use storybooks staticDir for assets in extensions lib (#3635)
  libs/extensions/angular/.storybook/main.ts
  libs/extensions/angular/image-banner/src/image-banner.component.stories.ts
  libs/extensions/angular/project.json
Due: prettier --write, eslint --fix

🔇 remove deprecation warning in Angular comp
  libs/angular/badge/src/badge.component.ts
Due: prettier --write, eslint --fix

Update libs/designsystem/accordion/src/accordion-item.component.spec.ts
  libs/designsystem/accordion/src/accordion-item.component.spec.ts
Due: prettier --write, eslint --fix

Align font preloading with designsystem storybook
  libs/extensions/angular/.storybook/preview-head.html
Due: prettier --write

Update package-lock.json (#3634)
  package-lock.json
Due: prettier --write
