Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

♻️ Streamline use of showcase-methods component
  apps/cookbook/src/app/shared/showcase-properties/showcase-property.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.ts
  apps/cookbook/src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.html
  apps/cookbook/src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.ts
Due: prettier --write, tslint --fix

♻️ Update showcase-events template
  apps/cookbook/src/app/shared/showcase-events/showcase-events.component.html
Due: prettier --write

♻️ Use ShowcaseEvent in form-field showcase component
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.ts
Due: prettier --write, tslint --fix

♻️ Create showcase-member interfaces for shared stuff
  apps/cookbook/src/app/shared/showcase-events/showcase-event.ts
  apps/cookbook/src/app/shared/showcase-events/showcase-events.component.ts
  apps/cookbook/src/app/shared/showcase-member/showcase-member.ts
  apps/cookbook/src/app/shared/showcase-methods/showcase-method.ts
  apps/cookbook/src/app/shared/showcase-methods/showcase-methods.component.ts
  apps/cookbook/src/app/shared/showcase-properties/showcase-properties.component.ts
  apps/cookbook/src/app/shared/showcase-properties/showcase-property.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
Due: prettier --write, tslint --fix

🐛 Fix template error causing build failure
  apps/cookbook/src/app/showcase/list-load-on-demand-showcase/list-load-on-demand-showcase.component.html
Due: prettier --write

feat(modal): add support for queryParams for modal outlets
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page1-example.component.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
Due: prettier --write, tslint --fix

worked on line and timeseries demoes
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-bar-3.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-horizontal-bar.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-line-2.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-line-3.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-timeseries-1.component.ts
  apps/cookbook/src/app/examples/chart2-example/examples/chart-example-timeseries-2.component.ts
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
Due: prettier --write, tslint --fix

Feature/page progress in modal header (#1217)
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-default.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.testbuilder.ts
  libs/designsystem/src/lib/components/page/index.ts
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/page/page.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.18
  package-lock.json
  package.json
Due: prettier --write

🏷️ Update list-load-on-demand showcase component
  apps/cookbook/src/app/showcase/list-load-on-demand-showcase/list-load-on-demand-showcase.component.ts
Due: prettier --write, tslint --fix

Update apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/components/modal/services/modal.controller.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
Due: prettier --write, tslint --fix

🏷️ Update interfaces
  apps/cookbook/src/app/shared/showcase-events/showcase-events.component.ts
  apps/cookbook/src/app/shared/showcase-member/showcase-member.ts
  apps/cookbook/src/app/shared/showcase-methods/showcase-methods.component.ts
Due: prettier --write, tslint --fix

doc(modal): add docs for query params inside showcase
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write, tslint --fix

🏷️ Update page showcase component
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.html
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
Due: prettier --write, tslint --fix

doc(modal): adjust doc for query params
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write

fix(modal): linting
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

🏷️ Update slides showcase component
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
Due: prettier --write, tslint --fix

feat(modal): add support for queryParams for modal outlets (#1376)
  apps/cookbook/src/app/examples/modal-example/modal-example-outlet.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page1-example.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.4.19
  package-lock.json
  package.json
Due: prettier --write

💄 Move showcase-properties styles
  apps/cookbook/src/app/shared/showcase-properties/showcase-properties.component.scss
  apps/cookbook/src/app/shared/showcase-properties/showcase-properties.component.ts
  apps/cookbook/src/app/showcase/list-showcase/list-showcase.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

💄 Move styles for showcase-events and showcase-methods
  apps/cookbook/src/app/shared/showcase-events/showcase-events.component.scss
  apps/cookbook/src/app/shared/showcase-events/showcase-events.component.ts
  apps/cookbook/src/app/shared/showcase-methods/showcase-methods.component.scss
  apps/cookbook/src/app/shared/showcase-methods/showcase-methods.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

🏷️ Remove interface ShowcaseMember
  apps/cookbook/src/app/shared/showcase-events/showcase-event.ts
  apps/cookbook/src/app/shared/showcase-member/showcase-member.ts
  apps/cookbook/src/app/shared/showcase-methods/showcase-method.ts
  apps/cookbook/src/app/shared/showcase-properties/showcase-property.ts
Due: prettier --write, tslint --fix

🏷️ Remove showcase-member interface
  apps/cookbook/src/app/shared/showcase-events/showcase-event.ts
  apps/cookbook/src/app/shared/showcase-events/showcase-events.component.ts
  apps/cookbook/src/app/shared/showcase-member/showcase-member.ts
  apps/cookbook/src/app/shared/showcase-methods/showcase-method.ts
  apps/cookbook/src/app/shared/showcase-methods/showcase-methods.component.ts
  apps/cookbook/src/app/shared/showcase-properties/showcase-properties.component.ts
  apps/cookbook/src/app/shared/showcase-properties/showcase-property.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.ts
  apps/cookbook/src/app/showcase/page-showcase/page-showcase.component.ts
Due: prettier --write, tslint --fix

🚚 Update paths to shared showcase properties/events/methods
  apps/cookbook/src/app/showcase/list-load-on-demand-showcase/list-load-on-demand-showcase.component.ts
  apps/cookbook/src/app/showcase/tabs-showcase/tabs-showcase.component.ts
  apps/cookbook/src/app/showcase/toggle-button-showcase/toggle-button-showcase.component.ts
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.ts
Due: prettier --write, tslint --fix

:pencil: Remove unused setErrorState method
  libs/designsystem/src/lib/components/radio/radio-group/radio-group.component.ts
Due: prettier --write, tslint --fix

💄 Modify showcase-properties template
  apps/cookbook/src/app/shared/showcase-properties/showcase-properties.component.html
Due: prettier --write

Review comments
  apps/cookbook/src/app/home/home.component.scss
  apps/cookbook/src/app/page/footer/footer.component.scss
  apps/cookbook/src/app/page/footer/footer.component.spec.ts
  apps/cookbook/src/app/page/footer/footer.component.ts
  apps/cookbook/src/app/page/header/header.component.html
  apps/cookbook/src/app/page/header/header.component.scss
  apps/cookbook/src/app/page/header/header.component.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/page/side-nav/side-nav.component.scss
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
  apps/cookbook/src/app/showcase/showcase.component.html
  apps/cookbook/src/app/showcase/showcase.component.scss
  apps/cookbook/src/app/showcase/showcase.component.ts
  libs/designsystem/src/lib/helpers/color-helper.ts
  libs/designsystem/src/lib/helpers/index.ts
  libs/designsystem/src/lib/helpers/string-helper.spec.ts
  libs/designsystem/src/lib/helpers/string-helper.ts
Due: prettier --write, tslint --fix, stylelint --fix

💄 use hover func and set opacity on active
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

👷 Add dummy comment for testing auto-merge
  readme.md
Due: prettier --write

💄 use hover func and set opacity on active (#1380)
  libs/designsystem/src/lib/components/button/button.component.scss
Due: prettier --write, stylelint --fix

:bookmark:Bumping version to 1.4.20
  package-lock.json
  package.json
Due: prettier --write

alphabetic grouping of links
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/page/side-nav/side-nav.component.scss
  apps/cookbook/src/app/page/side-nav/side-nav.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
