Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

test: add missing color tests
  libs/designsystem/src/lib/components/badge/badge.component.spec.ts
Due: prettier --write, eslint --fix

test: add test for custom css props
  libs/designsystem/src/lib/components/badge/badge.component.spec.ts
Due: prettier --write, eslint --fix

Rename toggle config function
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.html
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.ts
Due: prettier --write, eslint --fix

Add explaining comment to page progress margin
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix

Improve readability
  libs/designsystem/modal/src/modal/services/modal.helper.ts
Due: prettier --write, eslint --fix

Refactor test for readability
  libs/designsystem/modal/src/modal/services/modal.helper.spec.ts
Due: prettier --write, eslint --fix

Reestablish css selector
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.scss
Due: prettier --write, stylelint --fix

Finetune showcase
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
Due: prettier --write, eslint --fix

Add back desktop config wrapper styles
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
Due: prettier --write, stylelint --fix

Set defaults for nested config options
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-advanced-config.component.ts
Due: prettier --write, eslint --fix

style: fix css vars for badge (#3056)
  libs/core/src/components/badge/badge.component.scss
  libs/designsystem/src/lib/components/badge/badge.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Allow setting title on config wrapper
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.html
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.ts
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
Due: prettier --write, eslint --fix

Update package versions
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Release v8.5.1 (#3057)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
  package.json
Due: prettier --write

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/9623.1b27d919450b02ab.js
  branch/kby-develop/index.html
  branch/kby-develop/runtime.43f21ec6bf6448dc.js
Due: prettier --write

style: update comments
  libs/designsystem/header/src/header.component.scss
Due: prettier --write, stylelint --fix

Release: kby-3051-header-emphasize-actions
  branch/kby-3051-header-emphasize-actions/404.html
  branch/kby-3051-header-emphasize-actions/9623.1b27d919450b02ab.js
  branch/kby-3051-header-emphasize-actions/index.html
  branch/kby-3051-header-emphasize-actions/runtime.51086be05dc41fbc.js
Due: prettier --write

docs: add icon to action button
  apps/cookbook/src/app/examples/header-example/examples/emphasize-actions.ts
Due: prettier --write, eslint --fix

Enhancement: header emphasize actions (#3052)
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/header-example/examples/emphasize-actions.ts
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.html
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.ts
  libs/designsystem/action-group/src/action-group.component.scss
  libs/designsystem/action-group/src/action-group.component.ts
  libs/designsystem/header/src/header.component.scss
  libs/designsystem/header/src/header.component.ts
  libs/designsystem/page/src/page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-3051-header-emphasize-actions
  branch/kby-3051-header-emphasize-actions/404.html
  branch/kby-3051-header-emphasize-actions/index.html
  branch/kby-3051-header-emphasize-actions/main.6fdad53ace2b9fd7.js
Due: prettier --write

Update package versions
  package-lock.json
  package.json
Due: prettier --write

Update package versions (#3059)
  package-lock.json
  package.json
Due: prettier --write

Release: designsystem
  1648.287e0240a3ce1ac3.js
  404.html
  5565.06d97c7e6adb32fa.js
  9623.1b27d919450b02ab.js
  assets/kirby/icons/svg/feedback.svg
  assets/kirby/icons/svg/keyboard.svg
  assets/kirby/icons/svg/lock.svg
  assets/kirby/icons/svg/overview-outline.svg
  assets/kirby/icons/svg/overview.svg
  assets/kirby/icons/svg/see.svg
  index.html
  main.6fdad53ace2b9fd7.js
  runtime.51086be05dc41fbc.js
Due: prettier --write

Use new value on viewMode in header
  apps/cookbook/src/app/showcase/header-showcase/header-showcase.component.html
Due: prettier --write

Release: kby-2977-add-large-screen-functionality-to-modal
  branch/kby-2977-add-large-screen-functionality-to-modal/1648.4f37108ddd51f611.js
  branch/kby-2977-add-large-screen-functionality-to-modal/404.html
  branch/kby-2977-add-large-screen-functionality-to-modal/5565.f2bb7cfe23792778.js
  branch/kby-2977-add-large-screen-functionality-to-modal/index.html
  branch/kby-2977-add-large-screen-functionality-to-modal/main.fb8ba65b3bc25d91.js
  branch/kby-2977-add-large-screen-functionality-to-modal/runtime.91aab43b39890e1d.js
Due: prettier --write

Rename modal examples
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-advanced.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-advanced.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-simple.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-simple.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.module.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove unneeded example scss file
  apps/cookbook/src/app/examples/modal-example/modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-2977-add-large-screen-functionality-to-modal
  branch/kby-2977-add-large-screen-functionality-to-modal/1648.cd1013c7acf0bf6e.js
  branch/kby-2977-add-large-screen-functionality-to-modal/404.html
  branch/kby-2977-add-large-screen-functionality-to-modal/5565.b06d8e82ac8565b0.js
  branch/kby-2977-add-large-screen-functionality-to-modal/index.html
  branch/kby-2977-add-large-screen-functionality-to-modal/main.92d6bf642440b74d.js
  branch/kby-2977-add-large-screen-functionality-to-modal/runtime.bdf5fca7fc2eec6d.js
Due: prettier --write

Release: kby-2977-add-large-screen-functionality-to-modal
  branch/kby-2977-add-large-screen-functionality-to-modal/404.html
  branch/kby-2977-add-large-screen-functionality-to-modal/5565.03ba571b12835e5c.js
  branch/kby-2977-add-large-screen-functionality-to-modal/index.html
  branch/kby-2977-add-large-screen-functionality-to-modal/runtime.7592fb2df777024a.js
Due: prettier --write

docs: refactor modal size selector to own comp
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/embedded-modal-example/embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-size-selector.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-size-selector.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-simple.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-simple.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: re-style config wrapper
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.scss
  apps/cookbook/src/app/examples/example-configuration-wrapper/example-configuration-wrapper.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: use toggle-mode for config wrapper
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.scss
Due: prettier --write, stylelint --fix

docs: remove modal size from modal config
  apps/cookbook/src/app/examples/modal-example/modal-example-advanced.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: remove redundant host selector
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
Due: prettier --write, stylelint --fix

Release: kby-2977-add-large-screen-functionality-to-modal
  branch/kby-2977-add-large-screen-functionality-to-modal/404.html
  branch/kby-2977-add-large-screen-functionality-to-modal/5565.5ccdf9436d33e14a.js
  branch/kby-2977-add-large-screen-functionality-to-modal/index.html
  branch/kby-2977-add-large-screen-functionality-to-modal/main.5304eca7a7740675.js
  branch/kby-2977-add-large-screen-functionality-to-modal/runtime.066b715520f419cf.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
