Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

pr changes
  libs/designsystem/src/lib/components/icon/icon.component.ts
Due: prettier --write, tslint --fix

✨ Add `Overlay.onWillDismiss`
  libs/designsystem/src/lib/components/modal/services/action-sheet.helper.ts
  libs/designsystem/src/lib/components/modal/services/alert.helper.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/components/modal/services/modal.interfaces.ts
Due: prettier --write, tslint --fix

♻️ Refactor modal outlet stuff to ModalNavigationService
  libs/designsystem/src/lib/components/modal/index.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/modal-config.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal-outlet.service.ts
  libs/designsystem/src/lib/components/modal/services/modal-resolver.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

🔥 Cleanup
  libs/designsystem/src/lib/components/app/app.component.ts
Due: prettier --write, tslint --fix

Update libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

Icon registry cookbook (#1158)
  apps/cookbook/src/app/showcase/icon-showcase/icon-showcase.component.html
  libs/designsystem/src/lib/components/icon/icon.component.ts
Due: prettier --write, tslint --fix

:bookmark: Bumping version to 1.2.86
  package-lock.json
  package.json
Due: prettier --write

✨ Add `navigateWithinModal` method
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

📝 Fix showcase title
  apps/cookbook/src/app/showcase/showcase.component.ts
Due: prettier --write, tslint --fix

📝 Add modal route examples
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page1-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page2-example.component.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix

♻️ Simplify `navigateToModal` API
  libs/designsystem/src/lib/components/modal/services/modal-navigation.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

✨ Add ModalRouterLinkDirective
  libs/designsystem/src/lib/directives/modal-router-link/modal-router-link.directive.ts
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

📝 Update modal route examples
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write, tslint --fix

refactor(modal-wrapper): remove sizing from ts and instead use styling as much as posible
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, tslint --fix, stylelint --fix

fix(modal-wrapper): ensure embeddedComponentElement in onScrollElementResize
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

fix(modal-wrapper): adjust import of windowRef
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

✨ Add PageTitleComponent
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/page/page.module.ts
Due: prettier --write, tslint --fix

💄Modal footer: Support justify-content as css var
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
Due: prettier --write, stylelint --fix

✨ Add outlet suport for embedded title+footer
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/modal-config.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/services/modal.controller.ts
Due: prettier --write, tslint --fix

📦 Export PageTitleComponent
  libs/designsystem/src/lib/components/page/index.ts
  libs/designsystem/src/lib/components/page/page.module.ts
Due: prettier --write, tslint --fix

🤡 Add PageTitleComponent mock
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix

📝 Add title+footer to modal outlet examples
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page1-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page2-example.component.ts
Due: prettier --write, tslint --fix

Deprecate `ModalConfig.title`
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/modal-config.ts
Due: prettier --write, tslint --fix

📝 Use embedded page-title in modal examples
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/second-embedded-modal-example/second-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/second-embedded-modal-example/second-embedded-modal-example.component.ts
Due: prettier --write, tslint --fix

📝 Update modal docs and code snippets
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/examples/modal-example/modal-route-example/modal-route-page1-example.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write, tslint --fix

📝 Add title snippet
  apps/cookbook/src/app/examples/modal-example/modal-example.component.ts
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
Due: prettier --write, tslint --fix

⚡️ Reuse MutationObserver on modal routing
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

style(modal): disable scrolling of modals which is not in front
  libs/designsystem/src/lib/scss/_global-styles.scss
Due: prettier --write, stylelint --fix

remove iconregistryservice from providers
  libs/designsystem/src/lib/kirby.module.ts
Due: prettier --write, tslint --fix

fix: is touch device query
  libs/designsystem/src/lib/components/list/list.component.ts
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, tslint --fix, stylelint --fix

feat(modal-wrapper): move underlaying modal backdrops in front of underlaying modal
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

chore: added hover comment
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

chore: comment
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

💡 Update comment
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
