Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

:construction_worker: merge fetch_or_create into other steps
  .github/workflows/build.yml
Due: none

:memo: Use a list in good message body section
  .github/CONTRIBUTING.md
Due: prettier --write

:construction_worker: Add caching to publish
  .github/workflows/publish.yml
Due: none

🐛 Make sure to import inputmask aliasses
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, tslint --fix

:construction_worker: Use mixed strategy for caching of node_modules
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

:construction_worker: Rename Clean Install step
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

:green_heart: Fix minor syntax error
  .github/workflows/build.yml
Due: none

:green_heart: Remove old cache action
  .github/workflows/publish.yml
Due: none

:green_heart: Add missing "npm install" instruction
  .github/workflows/publish.yml
Due: none

Perf/inputmask import (#1514)
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.5.10
  package-lock.json
  package.json
Due: prettier --write

⏪ Remove @ngrx/component-store
  package-lock.json
  package.json
Due: prettier --write

✅ Test with greater than or equal check instead
  libs/designsystem/src/lib/components/button/button.component.spec.ts
  libs/designsystem/src/lib/components/chip/chip.component.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
Due: prettier --write, tslint --fix

🔥 Remove import of color-helper
  libs/designsystem/src/lib/components/range/range.component.scss
Due: prettier --write, stylelint --fix

try making it possible to revert files
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, tslint --fix

⏪ Revert unrelated changes
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.ts
Due: prettier --write, tslint --fix

🔥 Remove color-helper from range.component.scss
  libs/designsystem/src/lib/components/range/range.component.scss
Due: prettier --write, stylelint --fix

Fix/range unused styles (#1516)
  libs/designsystem/src/lib/components/range/range.component.scss
Due: prettier --write, stylelint --fix

:bookmark:Bumping version to 1.5.11
  package-lock.json
  package.json
Due: prettier --write

:construction_worker: add build_kirby to needs of deploy_to_cookbook
  .github/workflows/build.yml
Due: none

♻️ Replace @angular/cdk overlay with Ionic loading
  libs/designsystem/src/lib/components/loading-overlay/fullscreen-loading-overlay/loading-overlay.service.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.scss
  libs/designsystem/src/lib/scss/_global-styles.scss
  libs/designsystem/src/lib/scss/base/_variables.scss
Due: prettier --write, tslint --fix, stylelint --fix

🔥 Remove full-screen overlay component
  libs/designsystem/src/lib/components/loading-overlay/fullscreen-loading-overlay/fullscreen-loading-overlay.component.html
  libs/designsystem/src/lib/components/loading-overlay/fullscreen-loading-overlay/fullscreen-loading-overlay.component.scss
  libs/designsystem/src/lib/components/loading-overlay/fullscreen-loading-overlay/fullscreen-loading-overlay.component.ts
  libs/designsystem/src/lib/components/loading-overlay/index.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.service.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.fullscreen-loading-overlay.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Due: prettier --write, tslint --fix, stylelint --fix

➖ Remove @angular/cdk
  libs/designsystem/ng-package.json
  libs/designsystem/package.json
  libs/designsystem/src/lib/kirby.module.ts
  package-lock.json
  package.json
Due: prettier --write, tslint --fix

💩 Don't Merge! Commit used for visual testing only.
  libs/designsystem/src/lib/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

🐛 💄 Fix spinner transparency
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.scss
Due: prettier --write, stylelint --fix

📝 Improve loading-overlay example
  apps/cookbook/src/app/examples/loading-overlay-example/loading-overlay-example.component.scss
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.html
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.scss
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

⚰️ Remove unused imports
  apps/cookbook/src/app/examples/loading-overlay-example/loading-overlay-example.component.ts
Due: prettier --write, tslint --fix

📦 Bump angular peerDependencies
  libs/designsystem/package.json
Due: prettier --write

📦 Fix package.json deps in published npm package
  angular.json
Due: prettier --write

📝 Rephrase documentation
  .github/CONTRIBUTING.md
Due: prettier --write

🐛 Fix drawer resize
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
Due: prettier --write, tslint --fix

✏️ Typo
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, tslint --fix

📝 Create cookbook example for links
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/link-example/examples/external.ts
  apps/cookbook/src/app/examples/link-example/link-example.component.html
  apps/cookbook/src/app/examples/link-example/link-example.component.ts
  apps/cookbook/src/app/examples/link-example/link-example.module.ts
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
Due: prettier --write, tslint --fix

[Bug] Scrollbar disappears briefly when opening Feature Hint Drawer (#1506)
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
Due: prettier --write, tslint --fix

:bookmark:Bumping version to 1.5.12
  package-lock.json
  package.json
Due: prettier --write

Documentation/the good commit (#1488)
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: Make heading unique
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: Add more items to list
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: Add more bullet points
  .github/CONTRIBUTING.md
Due: prettier --write

:memo: Rephrase introduction
  .github/CONTRIBUTING.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
