Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

Icon: Maintenance icon added (#4303)
  libs/designsystem/icon/src/icons/svg/maintenance.svg
  libs/designsystem/icon/src/kirby-icon-settings.ts
Due: prettier --write, eslint --fix

Release: kby-v11-6-0
  branch/kby-v11-6-0/404.html
  branch/kby-v11-6-0/assets/kirby/icons/svg/maintenance.svg
  branch/kby-v11-6-0/chunk-3KGVOBWN.js
  branch/kby-v11-6-0/chunk-5JFCO56H.js
  branch/kby-v11-6-0/chunk-BCDVCYET.js
  branch/kby-v11-6-0/chunk-J7UFMMKE.js
  branch/kby-v11-6-0/chunk-KXWEF7GF.js
  branch/kby-v11-6-0/chunk-LHUZEF6V.js
  branch/kby-v11-6-0/chunk-Q5QLI3AE.js
  branch/kby-v11-6-0/index.html
  branch/kby-v11-6-0/main-W4LIEBZL.js
Due: prettier --write

Release: v11.6.0 (#4301)
  libs/core/package.json
  libs/designsystem/package.json
  package-lock.json
Due: prettier --write

package-lock and package conflict resolved
  package-lock.json
  package.json
Due: prettier --write

change text color
  libs/designsystem/accordion/src/accordion-item.component.scss
Due: prettier --write, stylelint --fix

Fix: Adjust section header layout to align items properly
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-label.ts
  libs/designsystem/section-header/src/section-header.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

avatar adjustments
  apps/cookbook/src/app/examples/avatar-example/examples/colors.ts
  apps/cookbook/src/app/examples/avatar-example/examples/default.ts
Due: prettier --write, eslint --fix

feat: add SectionHeaderExampleComponent to section header stories
  libs/designsystem/section-header/src/section-header.component.stories.ts
Due: prettier --write, eslint --fix

fix: remove hasPadding attribute from kirby-card in section header components
  apps/cookbook/src/app/examples/section-header-example/examples/header-with-card.ts
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-label.ts
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  apps/cookbook/src/app/examples/section-header-example/examples/label-and-detail.ts
Due: prettier --write, eslint --fix

Release: kby-section-header
  branch/kby-section-header/404.html
  branch/kby-section-header/chunk-42BQEMY2.js
  branch/kby-section-header/chunk-JEB3P7AA.js
  branch/kby-section-header/chunk-S4FNBPSF.js
  branch/kby-section-header/chunk-ZSS53UA2.js
  branch/kby-section-header/index.html
  branch/kby-section-header/main-PE5L3FCX.js
Due: prettier --write

adjust formatting
  apps/cookbook/src/app/examples/avatar-example/examples/default.ts
Due: prettier --write, eslint --fix

Release: Extensions v4.1.0
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write

Release: kby-4261-housekeeping-avatar-reduce-themecolor-exampl
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/404.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-BSSPMAER.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-ETXYGUES.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-IXURZH4D.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-QPPGKYRK.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/index.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/main-TEVBBJ24.js
Due: prettier --write

remove redundant icon example
  apps/cookbook/src/app/examples/avatar-example/avatar-example.component.html
Due: prettier --write

Release: kby-4261-housekeeping-avatar-reduce-themecolor-exampl
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/404.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-2RAL5FQ3.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/index.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/main-7VAAPTPE.js
Due: prettier --write

remove icon example
  apps/cookbook/src/app/showcase/avatar-showcase/avatar-showcase.component.html
Due: prettier --write

Release: kby-4261-housekeeping-avatar-reduce-themecolor-exampl
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/404.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-5KHJZGIA.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-MJM56VFW.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-TXDT6JUH.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-W6623TL2.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/index.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/main-ND4U7TNZ.js
Due: prettier --write

Apply suggestions from code review
  libs/designsystem/item/src/item.component.stories.ts
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.spec.ts
Due: prettier --write, eslint --fix

remove icon example
  apps/cookbook/src/app/examples/avatar-example/avatar-example.component.ts
  apps/cookbook/src/app/examples/avatar-example/examples/icon.ts
  apps/cookbook/src/app/showcase/avatar-showcase/avatar-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-4261-housekeeping-avatar-reduce-themecolor-exampl
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/404.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-4XBTAQCM.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-CH2FJYLO.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-DB2VXX6A.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/chunk-ROFBUD7O.js
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/index.html
  branch/kby-4261-housekeeping-avatar-reduce-themecolor-examp/main-YSRIP4OQ.js
Due: prettier --write

Release: Extensions v4.1.0 (#4308)
  libs/extensions/angular/package.json
  package-lock.json
Due: prettier --write

Test: Section header stories (#4307)
  apps/cookbook/src/app/examples/section-header-example/examples/header-with-card.ts
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-label.ts
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  apps/cookbook/src/app/examples/section-header-example/examples/label-and-detail.ts
  libs/designsystem/section-header/src/section-header.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-4293-section-header-same-line
  branch/kby-4293-section-header-same-line/404.html
  branch/kby-4293-section-header-same-line/chunk-4P4JR6BQ.js
  branch/kby-4293-section-header-same-line/chunk-HAUKSS44.js
  branch/kby-4293-section-header-same-line/chunk-PENSJH5E.js
  branch/kby-4293-section-header-same-line/chunk-VMEZLI6R.js
  branch/kby-4293-section-header-same-line/index.html
  branch/kby-4293-section-header-same-line/main-BGDFEM26.js
Due: prettier --write

fix: align header margins to standard
  libs/designsystem/section-header/src/_section-header.utils.scss
Due: prettier --write, stylelint --fix

Fix sloppy test
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.spec.ts
Due: prettier --write, eslint --fix

Remove duplicate test with wrong description
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.spec.ts
Due: prettier --write, eslint --fix

Release: kby-4293-section-header-same-line
  branch/kby-4293-section-header-same-line/404.html
  branch/kby-4293-section-header-same-line/chunk-6TCNVCTO.js
  branch/kby-4293-section-header-same-line/chunk-K6VA5JVT.js
  branch/kby-4293-section-header-same-line/chunk-LS7FV2QC.js
  branch/kby-4293-section-header-same-line/chunk-MCTNMI2I.js
  branch/kby-4293-section-header-same-line/chunk-MLA74HEM.js
  branch/kby-4293-section-header-same-line/chunk-TCD5FBDR.js
  branch/kby-4293-section-header-same-line/chunk-WQ47X7GN.js
  branch/kby-4293-section-header-same-line/index.html
  branch/kby-4293-section-header-same-line/main-MHCZMJRC.js
Due: prettier --write

added focus stories for visual test
  libs/designsystem/item/src/item.component.stories.ts
Due: prettier --write, eslint --fix
