Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Release: kby-4159-bug-screen-reader-not-focussing-menu-when-op
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/404.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-6DHLSGHO.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-AJZCQEJG.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-J34XBIFE.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-MILPRWYH.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-NRR53MBP.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-SCWOEQUD.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/chunk-TYVE6FJP.js
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/index.html
  branch/kby-4159-bug-screen-reader-not-focussing-menu-when-o/main-RJVPNHUV.js
Due: prettier --write

Menu: Add role to native input or button within item (#4185)
  libs/designsystem/menu/src/menu.component.spec.ts
  libs/designsystem/menu/src/menu.component.ts
Due: prettier --write, eslint --fix

Updated illustration svg
  libs/extensions/angular/spot-illustration/src/svgs/device.arrow-download.dot.circle.xlarge.svg
Due: none

Release: kby-multi-select-autocomplete
  branch/kby-multi-select-autocomplete/404.html
  branch/kby-multi-select-autocomplete/chunk-6DHLSGHO.js
  branch/kby-multi-select-autocomplete/chunk-AJZCQEJG.js
  branch/kby-multi-select-autocomplete/chunk-J34XBIFE.js
  branch/kby-multi-select-autocomplete/chunk-MILPRWYH.js
  branch/kby-multi-select-autocomplete/chunk-NRR53MBP.js
  branch/kby-multi-select-autocomplete/chunk-SCWOEQUD.js
  branch/kby-multi-select-autocomplete/chunk-TYVE6FJP.js
  branch/kby-multi-select-autocomplete/index.html
  branch/kby-multi-select-autocomplete/main-RJVPNHUV.js
Due: prettier --write

move comment
  libs/angular/accordion-item/src/accordion-item-base.component.ts
Due: prettier --write, eslint --fix

Spot Illustration: update device.arrow-download (#4409)
  libs/extensions/angular/spot-illustration/src/svgs/device.arrow-download.dot.circle.xlarge.svg
Due: none

adjust implicitdependencies
  libs/designsystem/project.json
Due: prettier --write

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-5RWYPLBN.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-ITY4U6IX.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-KBWMGJQV.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-MGYCNZ6A.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-O4YIBQFR.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-TXOFL3DU.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-YZYSOKNL.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-XLESPHYK.js
Due: prettier --write

change flexgrow
  libs/core/src/accordion-item/accordion-item.element.styles.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-ECGEKYPQ.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-F23UQRAT.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-NFTOPRDR.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-WFJNUDU3.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-T3SZP3LW.js
Due: prettier --write

add private to gettitle
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

private ontoggleexpand
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

adjus to willupdate
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-7UTB3R24.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-CXRGBCBN.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-QKUF4TFO.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-YDAVWJBO.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-RFM3PRSE.js
Due: prettier --write

remove incard replace with css in card
  libs/angular/accordion-item/src/accordion-item.component.ts
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/accordion-item/accordion-item.element.ts
  libs/designsystem/card/src/card.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-J3VDLWL7.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-P52SFVZY.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-QO6CM4KE.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-VJJNPLLK.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-WFBMME6T.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-Y4S6MNAX.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-ZKHAZYLG.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-SJQHUI5X.js
Due: prettier --write

move css to host
  libs/designsystem/card/src/card.component.scss
Due: prettier --write, stylelint --fix

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-37OXHYRO.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-5UTAKU6A.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-AVMEKOU2.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-BA5JFMTO.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-ICZ7OGTY.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-QKFRLECO.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-ZRAGAJPK.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-AWERMMAM.js
Due: prettier --write

remove default from toggleexpand
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

test add preventdefault
  libs/core/src/accordion-item/accordion-item.element.ts
Due: prettier --write, eslint --fix

Tweaks
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

set haspadding add haslist
  libs/angular/accordion-item/src/accordion-item.component.ts
  libs/core/src/accordion-item/accordion-item.element.styles.ts
  libs/core/src/accordion-item/accordion-item.element.ts
  package.json
Due: prettier --write, eslint --fix

Renamed event type and updated story description
  libs/extensions/angular/sidebar-menu/src/models/index.ts
  libs/extensions/angular/sidebar-menu/src/models/sidebar-menu-item-reorder-event.model.ts
  libs/extensions/angular/sidebar-menu/src/public-components/sidebar/sidebar.component.stories.ts
  libs/extensions/angular/sidebar-menu/src/services/menu-state/menu-state.service.ts
Due: prettier --write, eslint --fix

Release: kby-3586-resize-text-accessibility-success-criterion
  branch/kby-3586-resize-text-accessibility-success-criterion/404.html
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-6DMYDOAI.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-C34LKMPL.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-FMJHKJXE.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-HSHHYEI6.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-O2QSY35J.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-RZZRMVSM.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-UCLAZGSN.js
  branch/kby-3586-resize-text-accessibility-success-criterion/index.html
  branch/kby-3586-resize-text-accessibility-success-criterion/main-2YX37JFT.js
Due: prettier --write

Release: kby-4357-reorderable-submenu-component
  branch/kby-4357-reorderable-submenu-component/404.html
  branch/kby-4357-reorderable-submenu-component/chunk-6DHLSGHO.js
  branch/kby-4357-reorderable-submenu-component/chunk-AJZCQEJG.js
  branch/kby-4357-reorderable-submenu-component/chunk-J34XBIFE.js
  branch/kby-4357-reorderable-submenu-component/chunk-MILPRWYH.js
  branch/kby-4357-reorderable-submenu-component/chunk-NRR53MBP.js
  branch/kby-4357-reorderable-submenu-component/chunk-SCWOEQUD.js
  branch/kby-4357-reorderable-submenu-component/chunk-TYVE6FJP.js
  branch/kby-4357-reorderable-submenu-component/index.html
  branch/kby-4357-reorderable-submenu-component/main-RJVPNHUV.js
Due: prettier --write

Release: kby-4148-webcomponent-convert-accordion-to-web-compon
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/404.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-E7WPWPXP.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-K6TVELW4.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-LF7ERFFM.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/chunk-PWI5SVEE.js
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/index.html
  branch/kby-4148-webcomponent-convert-accordion-to-web-compo/main-NAZZZIPN.js
Due: prettier --write

Add clarifying comment
  libs/core/src/scss/base/_variables.scss
Due: prettier --write, stylelint --fix

Release: kby-4243-adjust-item-layout-text-resize
  branch/kby-4243-adjust-item-layout-text-resize/404.html
  branch/kby-4243-adjust-item-layout-text-resize/chunk-67DOZVMZ.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-6PPTNPQE.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-DVZH63QC.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-GSGOIYLG.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-JDRTQCGE.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-NUKLJIU7.js
  branch/kby-4243-adjust-item-layout-text-resize/chunk-PUYVBJHO.js
  branch/kby-4243-adjust-item-layout-text-resize/index.html
  branch/kby-4243-adjust-item-layout-text-resize/main-IYGEP3SM.js
Due: prettier --write

Item: adjust layout when text is scaled on narrow viewports (#4248)
  libs/core/src/helpers/design-token-helper.ts
  libs/core/src/scss/_utils.scss
  libs/core/src/scss/base/_line-clamp.scss
  libs/core/src/scss/base/_variables.scss
  libs/designsystem/config/src/provide-kirby.ts
  libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/item/src/item.component.stories.ts
  libs/designsystem/item/src/item.component.ts
  libs/designsystem/item/src/label/label.component.scss
  libs/designsystem/router-outlet/src/router-outlet.integration.spec.ts
  libs/designsystem/shared/src/public_api.ts
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.spec.ts
  libs/designsystem/shared/src/text-resize-observer/text-resize-observer.service.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
  libs/designsystem/tab-navigation/src/tab-navigation-item/tab-navigation-item.component.scss
  libs/designsystem/tabs/src/tab-button/tab-button.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

commit test
  libs/designsystem/accordion/src/accordion-item.component.scss
Due: prettier --write, stylelint --fix

Tests: fix failing tests after Chrome User Agent update to outline-width behavior
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/form-field/src/input/input.component.spec.ts
  libs/designsystem/form-field/src/textarea/textarea.component.spec.ts
Due: prettier --write, eslint --fix

remove test comment
  libs/designsystem/accordion/src/accordion-item.component.scss
Due: prettier --write, stylelint --fix

Tests: fix failing tests after Chrome User Agent update to outline-width behavior (#4411)
  libs/designsystem/button/src/button.component.spec.ts
  libs/designsystem/form-field/src/input/input.component.spec.ts
  libs/designsystem/form-field/src/textarea/textarea.component.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
