Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

Removed index.d.ts file from toast-component (should be produced by nbc compiler, and not checked in).
  libs/designsystem/src/lib/components/toast/index.d.ts
Due: prettier --write, tslint --fix

Removed index.d.ts file from testing-folder (should be produced by nbc compiler, and not checked in).
  libs/designsystem/src/lib/testing/index.d.ts
Due: prettier --write, tslint --fix

:bug: Added CDK and Ionic as dependencies to package.json (not peerDependencies)
  libs/designsystem/ng-package.json
  libs/designsystem/package.json
  scripts/publish.js
Due: prettier --write

Change semi-dark color
  src/kirby/scss/themes/_colors.scss
Due: prettier --write, stylelint --fix

Add text colors
  src/kirby/components/chip/chip.component.scss
  src/kirby/components/form-field/_form-field-inputs.shared.scss
  src/kirby/components/form-field/form-field-message/form-field-message.component.scss
  src/kirby/components/item/_item.utils.scss
  src/kirby/scss/_global-styles.scss
  src/kirby/scss/base/_functions.scss
  src/kirby/scss/themes/_colors.scss
Due: prettier --write, stylelint --fix

Added clean-css ignore / Changed test descriptions
  src/kirby/components/item/item.component.integration.spec.ts
  src/kirby/components/item/item.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

Fix/last first item in list (#923)
  src/kirby/components/item/item.component.integration.spec.ts
  src/kirby/components/item/item.component.scss
  src/kirby/components/list/list.component.scss
  src/kirby/components/list/list.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:bookmark: Bumping version to 0.8.107
  package-lock.json
  package.json
Due: prettier --write

:lipstick: Fixing issue with colors showcase not displaying correctly. :pencil2: Missing type-declaratiosn for custom jasmine matchers.
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.ts
  libs/designsystem/src/lib/helpers/color-helper.ts
  libs/designsystem/src/typings.test.d.ts
Due: prettier --write, tslint --fix

:wrench: Fixed "get computed style"-tests, due to misconfiguration in angular.json (global styles weren't included, hence no CSS4 variables set).
  angular.json
Due: prettier --write

:construction_worker: Didn't extract global variables (styling) from SCSS-variables, making test fail (since test build relies on those files as well).
  .travis.yml
Due: none

:twisted_rightwards_arrows: Merged master into branch (fixed conflicts, failing functionality etc.).
  apps/cookbook/src/app/examples/form-field-example/examples/textarea/counter.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/showcase/colors-showcase/colors-showcase.component.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  libs/designsystem/src/lib/components/checkbox/checkbox.component.ts
  libs/designsystem/src/lib/components/empty-state/empty-state.component.spec.ts
  libs/designsystem/src/lib/components/item/item.component.integration.spec.ts
  libs/designsystem/src/lib/directives/fit-heading/fit-heading.directive.ts
  libs/designsystem/src/lib/helpers/color-helper.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/src/lib/testing/index.ts
  libs/designsystem/src/lib/testing/kirby-testing.module.ts
  src/app/examples/form-field-example/form-field-example.component.html
  src/app/showcase/form-field-showcase/form-field-showcase.component.html
Due: prettier --write, tslint --fix

:bug: Changes to TextAreaComponent resulted in component not being able to på ngc-compiled.. Changed private methods to be public.
  libs/designsystem/src/lib/components/form-field/textarea/textarea.component.ts
Due: prettier --write, tslint --fix

:bulb: Added documentation to README.md and updated issue templates.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/component-request.md
  readme.md
Due: prettier --write

:fire: :truck: Delete DropDown module
  src/kirby/components/dropdown/dropdown.module.ts
  src/kirby/kirby.common.ts
  src/kirby/kirby.module.ts
Due: prettier --write, tslint --fix

:sparkles: Implement dropdown component
  src/kirby/components/dropdown/dropdown.component.html
  src/kirby/components/dropdown/dropdown.component.scss
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:lipstick: Button style inside drowdown
  src/kirby/components/button/button.component.integration.spec.ts
  src/kirby/components/button/button.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

:white_check_mark: Add tests
  src/kirby/components/dropdown/dropdown.component.spec.ts
Due: prettier --write, tslint --fix

:pencil2: Typo
  src/kirby/components/button/button.component.integration.spec.ts
Due: prettier --write, tslint --fix

:bug: Listen for clicks on custom template item
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:memo: Add dropdown examples
  src/app/examples/dropdown-example/dropdown-example.component.html
  src/app/examples/dropdown-example/dropdown-example.component.scss
  src/app/examples/dropdown-example/dropdown-example.component.ts
  src/app/examples/dropdown-example/dropdown-example.module.ts
  src/app/examples/dropdown-example/examples/attention-level.ts
  src/app/examples/dropdown-example/examples/custom-item-template.ts
  src/app/examples/dropdown-example/examples/default.ts
  src/app/examples/dropdown-example/examples/expand.ts
  src/app/examples/dropdown-example/examples/scroll.ts
  src/app/examples/examples.module.ts
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.scss
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

:white_check_mark: Fix tests
  src/app/examples/dropdown-example/dropdown-example.component.spec.ts
Due: prettier --write, tslint --fix

:white_check_mark: Fix tests
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.spec.ts
Due: prettier --write, tslint --fix

:ok_hand: Changes from review
  src/kirby/components/dropdown/dropdown.component.html
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:ok_hand: Changes from review
  src/app/examples/dropdown-example/dropdown-example.component.spec.ts
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.spec.ts
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
Due: prettier --write, tslint --fix

:memo: Improve examples
  src/app/examples/dropdown-example/dropdown-example.component.html
  src/app/examples/dropdown-example/dropdown-example.component.scss
  src/app/examples/dropdown-example/examples/custom-item-template.ts
  src/app/examples/dropdown-example/examples/scroll.ts
Due: prettier --write, tslint --fix, stylelint --fix

:art: Improve code structure
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:sparkles: Add itemSelect event, simplify state... ... make `selectedItem` and `selectedText` readonly
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:memo: Add example
  src/app/examples/dropdown-example/dropdown-example.component.html
  src/app/examples/dropdown-example/dropdown-example.module.ts
  src/app/examples/dropdown-example/examples/pre-selected.ts
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
Due: prettier --write, tslint --fix

:fire: Clean up unused import
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:memo: Add item select example
  src/app/examples/dropdown-example/dropdown-example.component.html
  src/app/examples/dropdown-example/dropdown-example.module.ts
  src/app/examples/dropdown-example/examples/item-select.ts
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
Due: prettier --write, tslint --fix

:memo: Add API documentation
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
Due: prettier --write, tslint --fix

:zap: Register `Unlisten` handler
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:recycle: Rename `selectedItem` to `value`
  src/kirby/components/dropdown/dropdown.component.spec.ts
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

:recycle: Mimic HTML select default values
  src/kirby/components/dropdown/dropdown.component.html
  src/kirby/components/dropdown/dropdown.component.spec.ts
  src/kirby/components/dropdown/dropdown.component.ts
Due: prettier --write, tslint --fix

Fix more text colors
  src/app/changelog/changelog.component.scss
  src/app/examples/button-example/button-example.component.scss
  src/app/examples/item-example/item-example.component.scss
  src/app/examples/modal-example/modal-example.component.scss
  src/app/iphone/iphone.component.scss
  src/app/page/side-nav/side-nav.component.scss
  src/app/showcase/fonts-showcase/fonts-showcase.component.scss
  src/app/showcase/item-showcase/item-showcase.component.scss
  src/app/showcase/showcase.component.scss
Due: prettier --write, stylelint --fix

Add dark text color
  src/kirby/scss/themes/_colors.scss
Due: prettier --write, stylelint --fix

changed the css
  src/kirby/components/avatar/avatar.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
