Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

test: align code
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
Due: prettier --write, eslint --fix

Release: kby-3044-optimize-content-scroll-listening-in-modal
  branch/kby-3044-optimize-content-scroll-listening-in-modal/1220.f0f72203851ff694.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/404.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/5440.c62a7045dac86cf8.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/6613.c0c47985d01c2e5a.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/9435.474f360608a3f074.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/common.adc4eaf788c076b7.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/index.html
  branch/kby-3044-optimize-content-scroll-listening-in-modal/main.4e10ed3d3474654e.js
  branch/kby-3044-optimize-content-scroll-listening-in-modal/runtime.af846d9ee3d8023f.js
Due: prettier --write

Modal: Optimize content scroll listening in modal (#3163)
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/modal/src/modal-wrapper/modal-wrapper.testbuilder.ts
Due: prettier --write, eslint --fix

Release: kby-develop
  branch/kby-develop/404.html
  branch/kby-develop/index.html
  branch/kby-develop/main.d008a516f600af58.js
Due: prettier --write

style: adjust flagged header colors
  libs/designsystem/card/src/card-header/card-header.component.scss
  libs/designsystem/card/src/card-header/card-header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: adjust flagged header colors
  apps/cookbook/src/app/examples/card-example/examples/card-example.shared.scss
Due: prettier --write, stylelint --fix

Multiline as global style
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_typography.scss
  libs/designsystem/item/src/label/label.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

enhancement: Card flagged header color adjustment (#3307)
  apps/cookbook/src/app/examples/card-example/examples/card-example.shared.scss
  libs/designsystem/card/src/card-header/card-header.component.scss
  libs/designsystem/card/src/card-header/card-header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-2991-smaller-checkboxes
  branch/kby-2991-smaller-checkboxes/1220.24c111ebe4d2b632.js
  branch/kby-2991-smaller-checkboxes/404.html
  branch/kby-2991-smaller-checkboxes/5440.c62a7045dac86cf8.js
  branch/kby-2991-smaller-checkboxes/6613.c0c47985d01c2e5a.js
  branch/kby-2991-smaller-checkboxes/9435.474f360608a3f074.js
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Alert-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Calendar-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Checkbox-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Header-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Menu-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Radio-Buttons-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Range-Slider-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Spinner-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/assets/component-svg/Toggle-Kirby-Component-Overview.svg
  branch/kby-2991-smaller-checkboxes/common.adc4eaf788c076b7.js
  branch/kby-2991-smaller-checkboxes/index.html
  branch/kby-2991-smaller-checkboxes/main.166da4c8230de058.js
  branch/kby-2991-smaller-checkboxes/runtime.13708b42d6f09a68.js
  branch/kby-2991-smaller-checkboxes/styles.bb93fee32eceab9d.css
Due: prettier --write

Add wrap to support multiline
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_typography.scss
  libs/designsystem/item/src/_item.utils.scss
Due: prettier --write, eslint --fix, stylelint --fix

Multiline example for item
  apps/cookbook/src/app/examples/item-example/examples/simple/multiline.ts
  apps/cookbook/src/app/examples/item-example/item-example.module.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write, eslint --fix

Release: kby-3292-kirby-label-option-for-multiline
  branch/kby-3292-kirby-label-option-for-multiline/404.html
  branch/kby-3292-kirby-label-option-for-multiline/5440.627a4e1f0c260dda.js
  branch/kby-3292-kirby-label-option-for-multiline/index.html
  branch/kby-3292-kirby-label-option-for-multiline/main.b5f71bd5aec29bac.js
  branch/kby-3292-kirby-label-option-for-multiline/runtime.74e3f0b8c0ce8649.js
  branch/kby-3292-kirby-label-option-for-multiline/styles.bb93fee32eceab9d.css
Due: prettier --write

Add docs for wrap section header
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.html
Due: prettier --write

Release: kby-3292-kirby-label-option-for-multiline
  branch/kby-3292-kirby-label-option-for-multiline/404.html
  branch/kby-3292-kirby-label-option-for-multiline/index.html
  branch/kby-3292-kirby-label-option-for-multiline/main.73532ead47b472b2.js
Due: prettier --write

Remove logic and update example
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  libs/designsystem/item/src/label/label.component.ts
Due: prettier --write, eslint --fix

Release: kby-3292-kirby-label-option-for-multiline
  branch/kby-3292-kirby-label-option-for-multiline/404.html
  branch/kby-3292-kirby-label-option-for-multiline/index.html
  branch/kby-3292-kirby-label-option-for-multiline/main.6b10e8c911930b03.js
Due: prettier --write

Remove the character y from example
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.html
Due: prettier --write

Release: kby-3292-kirby-label-option-for-multiline
  branch/kby-3292-kirby-label-option-for-multiline/404.html
  branch/kby-3292-kirby-label-option-for-multiline/5440.96e2d92a8d5c2225.js
  branch/kby-3292-kirby-label-option-for-multiline/index.html
  branch/kby-3292-kirby-label-option-for-multiline/runtime.d4dc7b5bef6bfdfa.js
Due: prettier --write

config: lock date-fns peer deps version
  libs/designsystem/package.json
Due: prettier --write

config: lock date-fns peer dependencies version (#3310)
  libs/designsystem/package.json
Due: prettier --write

Update apps/cookbook/src/app/examples/item-example/examples/simple/multiline.ts
  apps/cookbook/src/app/examples/item-example/examples/simple/multiline.ts
Due: prettier --write, eslint --fix

Update apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
Due: prettier --write, eslint --fix

Update apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
Due: prettier --write

Release: kby-3292-kirby-label-option-for-multiline
  branch/kby-3292-kirby-label-option-for-multiline/404.html
  branch/kby-3292-kirby-label-option-for-multiline/index.html
  branch/kby-3292-kirby-label-option-for-multiline/main.86b31235c6e28e9b.js
Due: prettier --write

Release: kby-3292-kirby-label-option-for-multiline
  branch/kby-3292-kirby-label-option-for-multiline/404.html
  branch/kby-3292-kirby-label-option-for-multiline/index.html
  branch/kby-3292-kirby-label-option-for-multiline/main.5f13ac1bb2d4a7ab.js
Due: prettier --write

Update libs/core/src/scss/base/_functions.scss
  libs/core/src/scss/base/_functions.scss
Due: prettier --write, stylelint --fix

Update libs/designsystem/item/src/_item.utils.scss
  libs/designsystem/item/src/_item.utils.scss
Due: prettier --write, stylelint --fix

Release: kby-3292-kirby-label-option-for-multiline
  branch/kby-3292-kirby-label-option-for-multiline/404.html
  branch/kby-3292-kirby-label-option-for-multiline/index.html
  branch/kby-3292-kirby-label-option-for-multiline/main.0cc12b98fd55e573.js
Due: prettier --write

Label: Option for multiline - Wrap attribute (#3308)
  apps/cookbook/src/app/examples/item-example/examples/simple/multiline.ts
  apps/cookbook/src/app/examples/item-example/item-example.module.ts
  apps/cookbook/src/app/examples/section-header-example/examples/heading-with-multiline-label.ts
  apps/cookbook/src/app/examples/section-header-example/section-header-example.component.html
  apps/cookbook/src/app/examples/section-header-example/section-header-example.module.ts
  apps/cookbook/src/app/showcase/item-showcase/item-showcase.component.html
  apps/cookbook/src/app/showcase/section-header-showcase/section-header-showcase.component.html
  libs/core/src/scss/base/_functions.scss
  libs/designsystem/item/src/_item.utils.scss
Due: prettier --write, eslint --fix, stylelint --fix

Update Kirby Team
  .github/SUPPORT.md
Due: prettier --write
