Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

dlt csscustom
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.html
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-3918-housekeeping-improve-docs-on-when-to-use-kir
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/404.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/index.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/main.72c567af5dac7fd3.js
Due: prettier --write

image banner reworked with breakout buttons
  libs/extensions/angular/image-banner/src/image-banner.component.html
  libs/extensions/angular/image-banner/src/image-banner.component.scss
Due: prettier --write, stylelint --fix

Moved some documentation.
  apps/cookbook/src/app/examples/button-example/button-example.component.html
  apps/cookbook/src/app/examples/button-example/button-example.component.ts
  apps/cookbook/src/app/examples/button-example/examples/button-link.ts
  apps/cookbook/src/app/examples/link-example/link-example.component.html
  apps/cookbook/src/app/examples/link-example/link-example.component.ts
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.ts
  libs/core/src/scss/components/_button-link.scss
  libs/designsystem/link/index.ts
  libs/designsystem/link/ng-package.json
  libs/designsystem/link/src/index.ts
  libs/designsystem/link/src/link.component.integration.spec.ts
  libs/designsystem/link/src/link.component.stories.ts
  libs/designsystem/link/src/public_api.ts
Due: prettier --write, eslint --fix, stylelint --fix

Removed unused style.
  apps/cookbook/src/app/examples/button-example/examples/button-link.ts
Due: prettier --write, eslint --fix

Fixed selector.
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
Due: prettier --write

introduced orange decoration color
  libs/core/src/scss/themes/_colors.scss
Due: prettier --write, stylelint --fix

headinglevel added
  apps/cookbook/src/app/examples/accordion-example/examples/default.ts
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.ts
  libs/designsystem/accordion/src/accordion-item.component.html
  libs/designsystem/accordion/src/accordion-item.component.scss
  libs/designsystem/accordion/src/accordion-item.component.spec.ts
  libs/designsystem/accordion/src/accordion-item.component.ts
  libs/designsystem/accordion/src/accordion.directive.ts
Due: prettier --write, eslint --fix, stylelint --fix

adjust toggle
  libs/designsystem/accordion/src/accordion-item.component.spec.ts
Due: prettier --write, eslint --fix

dlt tabindex
  libs/designsystem/accordion/src/accordion-item.component.spec.ts
Due: prettier --write, eslint --fix

expand styling added to accordion button
  libs/designsystem/accordion/src/accordion-item.component.html
  libs/designsystem/accordion/src/accordion-item.component.scss
  libs/designsystem/accordion/src/accordion-item.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

ex frame added
  apps/cookbook/src/app/examples/_examples.shared.scss
  apps/cookbook/src/app/examples/accordion-example/accordion-example.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.scss
Due: prettier --write, stylelint --fix

add role presentation to ion-header
  libs/designsystem/page/src/page.component.html
Due: prettier --write

adjustments
  apps/cookbook/src/app/examples/_examples.shared.scss
  apps/cookbook/src/app/examples/label-example/label-example.component.html
  apps/cookbook/src/app/showcase/_showcase.shared.scss
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.html
  apps/cookbook/src/styles.scss
Due: prettier --write, stylelint --fix

default vertical
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-3918-housekeeping-improve-docs-on-when-to-use-kir
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/404.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/5193.8e0bcbdd2ae73f1a.js
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/index.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/main.770001b08084b87a.js
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/runtime.b8f1a8f3eed96a82.js
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/styles.08c195fbaab581e5.css
Due: prettier --write

Release: kby-3918-housekeeping-improve-docs-on-when-to-use-kir
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/404.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/index.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/main.a569cc0c523fe36b.js
Due: prettier --write

Page: add role presentation to ion-header (#3975)
  libs/designsystem/page/src/page.component.html
Due: prettier --write

Fix failing extension tests
  libs/extensions/angular/.storybook/tsconfig.json
  libs/extensions/angular/jest.config.ts
Due: prettier --write, eslint --fix

Update apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
Due: prettier --write

Reverted version change.
  libs/designsystem/package.json
Due: prettier --write

Release: kby-button-link
  branch/kby-button-link/404.html
  branch/kby-button-link/index.html
  branch/kby-button-link/main.803561a94beb927d.js
Due: prettier --write

Moved kirby-button-link css class to _link.scss
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_link.scss
  libs/core/src/scss/components/_button-link.scss
Due: prettier --write, stylelint --fix

Release: kby-button-link
  branch/kby-button-link/404.html
  branch/kby-button-link/index.html
  branch/kby-button-link/styles.116530ea7afd58e5.css
Due: prettier --write

linebreak dlt
  apps/cookbook/src/app/showcase/label-showcase/label-showcase.component.html
Due: prettier --write

Release: kby-3918-housekeeping-improve-docs-on-when-to-use-kir
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/404.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/index.html
  branch/kby-3918-housekeeping-improve-docs-on-when-to-use-ki/main.fed59e1bd5282c90.js
Due: prettier --write

Reverted package-lock.
  package-lock.json
Due: prettier --write

Release: kby-button-link
  branch/kby-button-link/2910.6b485640a5382570.js
  branch/kby-button-link/3rdpartylicenses.txt
  branch/kby-button-link/404.html
  branch/kby-button-link/6837.aa3b2cb43fd28dc8.js
  branch/kby-button-link/index.html
  branch/kby-button-link/main.86ac431bf6c8bc99.js
  branch/kby-button-link/polyfills.cdf6649b370f5b30.js
  branch/kby-button-link/runtime.f81620c569c854d8.js
Due: prettier --write

adjustments
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/slides-example/examples/_shared.scss
  apps/cookbook/src/app/examples/slides-example/examples/advanced.ts
  apps/cookbook/src/app/examples/slides-example/examples/custom-heading.ts
  apps/cookbook/src/app/examples/slides-example/examples/height.ts
  apps/cookbook/src/app/examples/slides-example/examples/simple.ts
  apps/cookbook/src/app/examples/slides-example/slides-code-snippets.ts
  apps/cookbook/src/app/examples/slides-example/slides-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-example.component.ts
  apps/cookbook/src/app/showcase/_showcase.shared.scss
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

advExComponent readded
  apps/cookbook/src/app/examples/slides-example/slides-code-snippets.ts
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-3858-enhancement-allow-custom-heading-markup-for-
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/404.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/6533.7cf71e8c1f159c1c.js
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/index.html
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/main.bbc6c36e2aa6e612.js
  branch/kby-3858-enhancement-allow-custom-heading-markup-for/runtime.4248b5d5ce59bbeb.js
Due: prettier --write

Wrap example in paragraph
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
Due: prettier --write

Global Styles: added class for styling buttons as links (#3945)
  apps/cookbook/src/app/examples/button-example/button-example.component.html
  apps/cookbook/src/app/examples/button-example/button-example.component.ts
  apps/cookbook/src/app/examples/button-example/examples/button-link.ts
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.html
  apps/cookbook/src/app/showcase/button-showcase/button-showcase.component.ts
  apps/cookbook/src/app/showcase/link-showcase/link-showcase.component.html
  libs/core/src/scss/_global-styles.scss
  libs/core/src/scss/base/_link.scss
  libs/extensions/angular/.storybook/tsconfig.json
  libs/extensions/angular/jest.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-button-link
  branch/kby-button-link/404.html
  branch/kby-button-link/index.html
  branch/kby-button-link/main.d334c548c6ab4145.js
Due: prettier --write

advanced example template added
  apps/cookbook/src/app/examples/slides-example/examples/_shared.scss
  apps/cookbook/src/app/examples/slides-example/examples/advanced.ts
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/slide/src/slides.component.scss
Due: prettier --write, eslint --fix, stylelint --fix
