Repository kirbydesign/designsystem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

using a more direct parent->child token system
  libs/designsystem/card/src/card.component.scss
  libs/designsystem/item/src/item.component.scss
  libs/designsystem/list/src/list.component.scss
Due: prettier --write, stylelint --fix

Release: kby-4447-bug-hover-on-items-in-a-card-gives-rounded-c
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/404.html
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/chunk-4TQFKAF4.js
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/chunk-7IB5GNC6.js
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/chunk-ECKGTA5R.js
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/chunk-HXHH7Q5A.js
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/chunk-IPDAJAAD.js
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/chunk-OTIZHVI6.js
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/chunk-QJVQHEN3.js
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/index.html
  branch/kby-4447-bug-hover-on-items-in-a-card-gives-rounded/main-N5TMTV75.js
Due: prettier --write

Badge: Cap text resize at threshold (#4463)
  libs/designsystem/badge/src/badge.component.scss
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.scss
Due: prettier --write, stylelint --fix

Replace newly added unit tests for section header heading levels with stories
  libs/designsystem/section-header/src/section-header.component.spec.ts
  libs/designsystem/section-header/src/section-header.component.stories.ts
Due: prettier --write, eslint --fix

Release: kby-3586-resize-text-accessibility-success-criterion
  branch/kby-3586-resize-text-accessibility-success-criterion/404.html
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/blocked.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/checklist.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/collection.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/pause.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/payment-change.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/pregnancy.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/send.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/assets/kirby/icons/svg/subscription.svg
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-4BK22ZFV.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-DAGC6XTK.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-DRMP5N26.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-EESA2APF.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-JK6HALN3.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-LFRWWKAD.js
  branch/kby-3586-resize-text-accessibility-success-criterion/chunk-RB33WDW3.js
  branch/kby-3586-resize-text-accessibility-success-criterion/index.html
  branch/kby-3586-resize-text-accessibility-success-criterion/main-QUTZBBUN.js
  branch/kby-3586-resize-text-accessibility-success-criterion/styles-56JKDIQQ.css
Due: prettier --write

Handle hwo to clear, and restructure the code
  libs/extensions/angular/combobox/src/combobox.component.html
  libs/extensions/angular/combobox/src/combobox.component.spec.ts
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
  libs/extensions/angular/combobox/src/combobox.component.ts
Due: prettier --write, eslint --fix

clearer pr
  libs/extensions/angular/combobox/src/combobox.component.ts
Due: prettier --write, eslint --fix

update documentation text
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

change structure and add card
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/default.scss
  apps/cookbook/src/app/examples/loading-overlay-example/examples/default.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/service.ts
  apps/cookbook/src/app/examples/loading-overlay-example/loading-overlay-example.component.html
  apps/cookbook/src/app/examples/loading-overlay-example/loading-overlay-example.component.scss
  apps/cookbook/src/app/examples/loading-overlay-example/loading-overlay-example.component.ts
  apps/cookbook/src/app/examples/loading-overlay-example/loading-overlay-service-code-snippets.ts
  apps/cookbook/src/app/examples/loading-overlay-example/service/loading-overlay-service-example.component.html
  apps/cookbook/src/app/examples/loading-overlay-example/service/loading-overlay-service-example.component.ts
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.html
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/blocked.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/checklist.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/collection.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/pause.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/payment-change.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/pregnancy.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/send.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/assets/kirby/icons/svg/subscription.svg
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-3V4RK636.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-7AGPTCLZ.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-G4FTA4U3.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-KZ36AKXM.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-LSQQCAPC.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-NO6H6YWW.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-ZKCCQ4P3.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-7EBAT4OM.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/styles-ZFU27PQA.css
Due: prettier --write

adjust button text
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
  nx.json
Due: prettier --write, eslint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-3VOT356D.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-5KAWXYL4.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-LBTKBL7S.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-UUJKP4VX.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-4QEH5E6X.js
Due: prettier --write

Moved documentation text
  libs/extensions/angular/combobox/src/combobox.component.stories.ts
Due: prettier --write, eslint --fix

fix timeout bug
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/default.ts
Due: prettier --write, eslint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-KLUF6Z2R.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-KNJHP4UE.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-ORVFDI7Z.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-ZF27I4F3.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-C7TPJCBE.js
Due: prettier --write

typo adjustment
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/default.ts
Due: prettier --write, eslint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-2WREMPHY.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-BZHIBBVS.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-LDXQLHNZ.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-Q5I7373B.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-HYMLOVOO.js
Due: prettier --write

Release: kby-update-dependency-workflows
  branch/kby-update-dependency-workflows/404.html
  branch/kby-update-dependency-workflows/index.html
  branch/kby-update-dependency-workflows/styles-CD7FS5GE.css
Due: prettier --write

review changes
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/default.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/loading-overlay-example.shared.scss
  apps/cookbook/src/app/examples/loading-overlay-example/examples/service.ts
  apps/cookbook/src/app/examples/loading-overlay-example/loading-overlay-example.component.html
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.html
Due: prettier --write, eslint --fix, stylelint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-NX6QH7TN.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-U5HBUILE.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-VZ47D5PE.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-YMZU2SNN.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-K5VFCLTX.js
Due: prettier --write

implemented backdrop example
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
Due: prettier --write, eslint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-4FVHWJOQ.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-4SHO4UYU.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-HCBUJQSO.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-YDQZXR6M.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-IRWA7KY3.js
Due: prettier --write

extract overloading logic to base
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/default.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/shared-loading-overlay.ts
Due: prettier --write, eslint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-6DIG6XZA.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-LYHQVM35.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-QRB4CWL6.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-XAMZ7DQS.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-QBBKFCMV.js
Due: prettier --write

changed position on card overlays
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
Due: prettier --write, eslint --fix

adjust documentation
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.html
Due: prettier --write

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-GT6AFQ2W.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-LJMV7NVM.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-ULE3UCLU.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-YRULO33T.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-W7DHXQAI.js
Due: prettier --write

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-6K6VKKXV.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-6QVOBYSW.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-7TAYMWZR.js
Due: prettier --write

signals instead of changedetector
  apps/cookbook/src/app/examples/loading-overlay-example/examples/card.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/default.ts
  apps/cookbook/src/app/examples/loading-overlay-example/examples/shared-loading-overlay.ts
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.html
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.ts
Due: prettier --write, eslint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-QVDWPKBK.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-S7HIF3OL.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-UX56656M.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-YEWR6WRA.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-O2TMJEI2.js
Due: prettier --write

code snippet changes
  apps/cookbook/src/app/examples/loading-overlay-example/examples/service.ts
  apps/cookbook/src/app/showcase/loading-overlay-showcase/loading-overlay-showcase.component.html
Due: prettier --write, eslint --fix

Release: kby-4388-bug-kirbyloadingoverlay-bleed-through
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/404.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-3S6EFVJC.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-A25B2BEN.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-UCDZ23D3.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/chunk-ZH2DQYGF.js
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/index.html
  branch/kby-4388-bug-kirbyloadingoverlay-bleed-through/main-LM4VY72G.js
Due: prettier --write

Release: kby-update-dependency-workflows
  branch/kby-update-dependency-workflows/404.html
  branch/kby-update-dependency-workflows/index.html
Due: prettier --write

state adjustments
  apps/cookbook/src/app/examples/toggle-example/examples/toggle-examples.shared.scss
  apps/cookbook/src/app/showcase/toggle-showcase/toggle-showcase.component.html
Due: prettier --write, stylelint --fix

added automatic hyphenation to sidebar items titles
  libs/extensions/angular/sidebar-menu/src/components/menu-item/menu-item.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
